
@{
    ViewData["Title"] = "CentraliNucleariSottoAssedio";
    Layout = "_Layout";
    ViewData["Descrizione"] = "";
    ViewData["Keywords"] = "";
}
    <p class="text-right">
        14 Aprile 2021
    </p>
    
    <br />
    <br />
    <div class="container text-center">
        <h1 class="text-primary">Centrali nucleari sotto assedio: il nuovo obiettivo degli hacker</h1>
        <br />
        <br />
        <div class="container text-left">
            <p class="font-italic">
                Spesso capita di sentire parlare di celebrità il cui account Facebook o Instagram viene hackerato
                e sfruttato per screditare il personaggio o per guadagnare qualche bitcoin.
                Quando però ad essere hackerata è una centrale nucleare la faccenda si fa più seria (e pericolosa).
            </p>
        </div>
        <br />
        <br />
        <div class="container text-left">
            <p>
                <i class="fa fa-share text-primary"></i>
                L’11 aprile 2021 la centrale nucleare sotterranea Natanz (Iran) è stata colpita da un attacco hacker che ha provocato un blackout prolungato con conseguente danneggiamento di alcune turbine necessarie per l’arricchimento dell’uranio. A causa dell’assenza di corrente si è sviluppato un incendio e si sono verificate varie esplosioni che hanno comportato un danno non indifferente, che andrà a ritardare il piano iraniano per la produzione di energia nucleare di molti mesi
                <br />
                <br />
                <i class="fa fa-share text-primary"></i>
                La centrale era già stata vittima di altri attacchi, uno nel 2010, conosciuto come lo “Stuxnet attack” che faceva uso di un virus informatico denominato “Stuxnet” sviluppato da Israele che era stato in grado di compromettere più di mille centrifughe, e uno a giugno del 2020, quando un incendio di origine sconosciuta era stato in grado di danneggiare parzialmente il tetto della centrale.
                <br />
                <br />
            </p>
        </div>
        <img src="~/PolitiTech/CentraliNucleariSottoAssedio/CentraleNucleareNatanz.jpeg" alt="Centrale Nucleare Natanz" class="bigImagePolitiTech" />
        <figcaption class="font-italic">Centrale Nucleare Natanz</figcaption>
        <br />
        <div class="container text-left">
            <p>
                <i class="fa fa-share text-primary"></i>
                Il Ministro degli Esteri Iraniano ha accusato Israele di aver condotto questo e i precedenti attacchi con lo scopo di
                rallentare lo sviluppo del programma della Atomic Energy Organization of Iran (AEOI) che mira a produrre energia pulita
                tramite la fissione nucleare. Sebbene Israele non abbia rivendicato l’attacco, i media Israeliani hanno ampiamente pubblicizzato
                la notizia e hanno sottolineato quanto l’attacco abbia avuto conseguenze devastanti per la centrale.
                Ma come avviene un cyberattacco di questa entità?
                <br />
                <br />
                <i class="fa fa-share text-primary"></i>
                Secondo una fonte di Trtworld, l’attacco avrebbe utilizzato un virus simile allo Stuxnet, che era stato creato
                appositamente per danneggiare la centrale di Natanz. A differenza di altri programmi simili, questo virus è in grado
                di compromettere il funzionamento delle apparecchiature e contemporaneamente manipolare i sensori, impedendo che i
                malfunzionamenti vengano rilevati. In questo caso particolare avrebbe spinto le turbine a ruotare a velocità e per
                periodi molto maggiori di quelle normali, causando malfunzionamenti e danni rilevanti.

                Virus di questo tipo generalmente fanno uso di un “errore umano” per infettare il loro bersaglio, spesso ricorrendo
                al phishing oppure al “furto”
                delle credenziali attraverso e-mail contenenti allegati o link infetti.
                <br />
                <br />
            </p>
        </div>
        <img src="~/PolitiTech/CentraliNucleariSottoAssedio/Hacking.jpeg" alt="Hacking" class="bigImagePolitiTech" />
        <figcaption class="font-italic">
            Negli ultimi anni gli attacchi hacker si stanno basando molto di più sul “social hacking” che sull’attacco di hardware,
            facendo dell’errore umano la chiave per accedere a contenuti protetti
        </figcaption>
        <br />
        <div class="container text-left">
            <p>
                <i class="fa fa-share text-primary"></i>
                Sebbene quindi, secondo quanto riportano le autorità Iraniane, non vi siano state vittime, la pericolosità che il
                nucleare racchiude è indubbia e il ricordo delle tragedie del passato è ancora troppo fresco per prendere alla leggera
                attacchi del genere. Per questo la sicurezza informatica deve essere una priorità assoluta in situazioni come questa, dove a essere in
                gioco non sono poche foto in un account Facebook, ma migliaia di vite.
                <br />
                <br />
            </p>
        </div>
    </div>
