
@{
    ViewData["Title"] = "Due miliardi Di crypto rubate";
    Layout = "_Layout";
    ViewData["Descrizione"] = "Il sito web della azienda di exchange di criptovalute “Thodex” è offline ormai da molti giorni e il CEO della compagnia ha fatto perdere le sue tracce e ora quasi 400.000 utenti temono di aver perso il loro “oro digitale”";
    ViewData["Keywords"] = "theodex, politixitalia, politix italia, crypto, hacker, attacco informatico, bitcoin";
}


<div class="container text-center">
    <p class="text-right">
        28 Aprile 2021
    </p>
    <br />
    <br />
    <h1 class="text-primary">Who wants to be a bilionare? La truffa da 2 miliardi di cryptodollari </h1>
    <br />
    <br />
    <div class="container text-left">
        <p class="font-italic">
            Il sito web della azienda di exchange di criptovalute “Thodex” è offline ormai da molti giorni e il CEO della compagnia ha fatto perdere le sue tracce e ora quasi 400.000 utenti temono di aver perso il loro “oro digitale”
        </p>
    </div>
    <br />
    <br />
    <div class="container text-left">
        <p>           
            Thodex è un’azienda con sede in Turchia che offre la possibilità di acquistare, depositare e scambiare attraverso il proprio portafoglio digitale vari tipi di cryptocurrencies. Il sito conta più di 400.000 utenti, di cui circa 390.000 impegnati attivamente nella gestione dei propri fondi.
        </p>
    </div>
    <img src="~/PolitiTech/DueMiliardiDiCryptoRubate/Theodex.jpeg" alt="theodex" class="bigImagePolitiTech" />
    <figcaption class="font-italic">Logo della azienda Thodex in una immagine riportata sulla pagina Facebook ufficiale</figcaption>
    <br />
    <div class="container text-left">
        <p>         
            La situazione per queste migliaia di user è però cambiata il 20 aprile, quando la piattaforma ha annunciato una
            manutenzione del sito che avrebbe reso impossibile la fruizione dei normali servizi a causa di un processo di vendita non ben definito. Generalmente la manutenzione di un sito web sarebbe un avvenimento normale, quello che però non è convenzionale è il completo blocco degli “wallet” appartenenti agli utenti alla piattaforma. A causa di questo blocco infatti le operazioni ordinarie di accesso al proprio portafoglio sono state rese
            impossibili e molti hanno iniziato a sospettare una possibile truffa su larga scala.
        </p>
    </div>
    <img src="~/PolitiTech/DueMiliardiDiCryptoRubate/Crypto.jpeg" alt="Crypto" class="bigImagePolitiTech" />
    <figcaption class="font-italic">
        Immagine che rappresenta alcune delle criptovalute più conosciute, da sinistra Litecoin, Ethereum e Bitcoin. Ovviamente essendo valute puramente virtuali non hanno una controparte fisica e le monete mostrate
        in figura non hanno alcun valore reale.
    </figcaption>
    <br />
    <div class="container text-left">
        <p>
            La successiva notizia della scomparsa del CEO di Thodex Faruk Fatih Özer che, secondo alcune fonti locali, avrebbe lasciato la Turchia, ha avvalorato ancora di più la paura che ci si trovasse di fronte a un “exit scam”.
            <br />
            <br />
            Un exit scam è una truffa in cui un’azienda conosciuta e fidata smette di portare a termine il proprio servizio ma continua a ricevere il pagamento degli utenti che, proprio in virtù della affidabilità della azienda, impiegano molto tempo prima di accorgersi che ci sia qualcosa che non va. Un ambito in cui questo scam viene spesso perpetuato è negli ordini online, dove un’azienda continua a far ordinare prodotti ai propri utenti senza mai spedirli e poi prova a far perdere le proprie tracce.
            <br />
            <br />
            Vista la fuga di Özer , la polizia turca ha emesso un mandato di cattura internazionale verso il CEO di Thodex e uno di arresto per 80 dipendenti della Compagnia sospettati di aver contribuito alla truffa, 68 dei quali sono già stati già arrestati.
            <br />
            <br />
            Molti utenti invece hanno richiesto rimborsi alla piattaforma e alcuni si sono uniti in una causa legale contro Özer che è accusato di truffa e di aver “fondato una società criminale”.
            <br />
            <br />
            La società ha respinto tutte le accuse e ha affermato che la chiusura è stata dovuta a un “cyberattacco” che avrebbe interessato soltanto 30.000 dei 400.000 user. Inoltre secondo quanto riportato sul sito ufficiale Özer ritornerà presto in Turchia per collaborare con le autorità.
        </p>
    </div>
    <img src="~/PolitiTech/DueMiliardiDiCryptoRubate/Contratto.jpeg" alt="Contratto" class="bigImagePolitiTech" />
    <figcaption class="font-italic">
        Immagine della dichiarazione presente sito ufficiale Thodex.com (tradotto automaticamente dal turco)
    </figcaption>
    <br />
    <div class="container text-left">
        <p>
            Questa vicenda avviene in un momento particolarmente critico in Turchia per quanto riguarda le criptovalute. Il paese ha infatti l’intenzione di bandire l’utilizzo delle monete virtuali per l’acquisto di beni e servizi prima della fine di aprile. Nonostante questo, le criptovalute hanno subito un incremento di fruizione non indifferente in Turchia, dove molti le hanno viste come alternative decentralizzate per far fronte al crescente indebolimento della lira turca.
            <br />
            <br />
            Per quanto le criptovalute offrano la possibilità di ottenere guadagni rapidi anche con investimenti contenuti, la loro volatilità le rende una scelta molto rischiosa, non solo per la possibilità che eventi del genere si ripetano, ma anche per la potenziale perdita di valore che la moneta scelta potrebbe subire. Quindi, se si dovesse decidere di intraprendere un investimento in questo ambito, andrebbe fatto con la consapevolezza che, per quanto possano essere in crescita adesso, tutti i nostri risparmi potrebbero svanire in un batter d’occhio al minimo capriccio del mercato.
            <br />
            <br />
        </p>
    </div>
</div>