@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="card-deck text-center">
        <a asp-controller="PolitiTech" asp-action="CentraliNucleariSottoAssedio" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiTech/CentraliNucleariSottoAssedio/CentraliNucleariSottoAssedio.jpeg" class="card-img-top" alt="Centrali Nucleari Sotto Assedio" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">CentraliNucleariSottoAttacco</h5>
            </div>
        </a>
        <a asp-controller="PolitiTech" asp-action="LaNascitaDiUnaNuovaRealta" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiTech/LaNascitaDiUnaNuovaRealta/LaNascitaDiUnaNuovaRealta.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">La nascita di una nuova realtà.</h5>
            </div>
        </a>
        <a asp-controller="PolitiTech" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
            </div>
        </a>
    </div>
</div>