  @{
        Layout = "_Layout";
        ViewData["Title"] = "La nascita di una nuova realtà";
    }

<div class="container text-center">
    <p class="text-right">
        31 Marzo 2021
    </p>
    <h1 class="text-primary">La nascita di una nuova realtà</h1>
    <br />
    <br />
    <p class="font-italic">
        Con l’intero pianeta chiuso in casa a causa della pandemia globale, la realtà virtuale ha subito una crescita senza precedenti sia in popolarità che in applicazioni effettive. Scopriamo come il fenomeno della “Virtual Reality” sta
        rivoluzionando interi ambiti dell’industria, della medicina e dell’intrattenimento.
    </p>
    <div class="container text-left">
        <p>
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Il Coronavirus ha scosso profondamente il mondo moderno, rivoluzionando profondamente le prassi che eravamo abituati ad attuare in moltissimi ambiti prima del suo avvento.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Con il mondo chiuso in casa e la distanza tra le persone diventata oramai una normalità, la realtà virtuale è diventata sempre più uno strumento attraverso cui poter provare a sostituire le interazioni sociali ed esercitare attività impraticabili in questo momento. Questo, unito ad un’offerta crescente di nuovi visori sempre più portenti e meno costosi, ha comportato un aumento esponenziale del numero di utenti e settori dell’industria che fanno uso questa tecnologia.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Secondo una statistica di Steam, tra il 2019 e il 2020 il numero di utenti che hanno utilizzato un “headset”, termine con cui si indica un visore per la realtà aumentata (o visore VR), è aumentato dal 1.29% a quasi il 2% del totale. Presi fuori contesto numeri di questo ordine di grandezza possono sembrare irrilevanti, ma è necessario considerare che la userbase di Steam comprende più di un miliardo di account e circa 120 milioni di user attivi mensilmente, dunque un aumento anche di pochi punti percentuali corrisponde a variazioni dell’ordine delle centinaia di migliaia.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Oltre al numero di utilizzatori, anche la quantità di persone che semplicemente conosce questa tecnologia è aumentata notevolmente, come mostrato nel grafico sottostante.
            <br />
            <br />
        </p>
    </div>
    <br />
    <br />
    <img src="~/PolitiTech/GraficoABarre.jpeg" alt="" class="bigImagePolitiTech" />
    <figcaption class="font-italic">Sondaggio sulla popolarità della realtà virtuale svolto nel periodo Agosto – Novembre 2020</figcaption>
    <br />
    <br />
    <div class=" container text-left">
        <i class="fa fa-share text-primary"></i>
        Come si può notare, il principale ostacolo all’acquisto di un visore per la realtà virtuale rimane il costo, scoglio che sembra destinato a scomparire nel futuro grazie all’aumento della domanda e all’ingresso nel settore di compagnie come Facebook, Htc, Samsung e Microsoft
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Abbiamo avuto la conferma di come i big del tech possano contribuire alla popolarità del settore con l’uscita del Quest, il visore della Oculus (acquistata da Facebook nel 2014), che dal suo lancio nel 2019 ha già venduto più di 800 mila unità. Il Quest è stato infatti uno dei primi visori “standalone”, ossia che può funzionare autonomamente senza bisogno di un Pc potente, di cavi o sensori esterni. Questo, unito al costo di soli 299$ dollari, prezzo estremamente basso in confronto ad altri headset presenti sul mercato, lo ha reso un vero best seller nell’industria della realtà aumentata
        <br />
        <br />
    </div>
    <br />
    <br />
    <img src="~/PolitiTech/VR.jpeg" alt="" class="bigImagePolitiTech" />
    <figcaption class="font-italic">Immagine promozionale dell’Oculus quest</figcaption>
    <br />
    <br />
    <div class=" container text-left">

        <i class="fa fa-share text-primary"></i>
        Oltre al diffondersi tra i consumatori, la realtà virtuale sta avendo un enorme sviluppo nell’industria, nella istruzione e nella medicina.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ad esempio, secondo Dr.Kim Bullok di Stanford Medicine, il trattamento di pazienti attraverso la realtà virtuale può portare risultati promettenti in vari campi ed è stato usato per l’apprendimento di nuove skill, per l’educazione del paziente, per effettuare “Exposure Terapy” simulando esperienze potenzialmente stressanti per il paziente in un ambiente controllato (ad esempio se si ha paura della autostrada è possibile esercitarsi a guidare in realtà virtuale, oppure se si temono i ragni è possibile simulare una stanza dove ve ne è presente uno, in modo da potersi abituare alla vista e non averne più paura se incontrati nel mondo reale) e infine come una pura e semplice distrazione per pazienti che hanno appena affrontato un intervento o per coloro che stanno cercando di liberarsi da dipendenze da droghe o alcol.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La dottoressa ha inoltre aggiunto che l’utilizzo della realtà virtuale durante la pandemia potrebbe aiutare a combattere lo stress e la mancanza di energia che molti affermano di star percependo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Oltre a poter essere applicata in campo medico, la tecnologia della realtà virtuale è sviluppata anche nell’ambito della difesa, dove viene utilizzata per simulare situazioni potenzialmente pericolose senza mettere in pericolo la vita del personale che sta affrontando l’addestramento.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Un altro fenomeno che si è sviluppato moltissimo durante la pandemia è stato il turismo virtuale, con monumenti storici come la Dulwich Picture Galery e la Valle dei Templi di Agrigento che hanno offerto la possibilità di effettuare visite da casa utilizzando un hedset, garantendo una esperienza totalmente immersiva grazie alla speciale registrazione dei filmati, effettuata con telecamere a 360° che catturano e permettono di osservare tutto l’ambiente circostante.
        <br />
        <br />
    </div>
    <br />
    <br />
    <img src="~/PolitiTech/GraficoATorta.jpeg" alt="" class="bigImagePolitiTech" />
    <figcaption class="font-italic">Previsione della Market Size per il 2025 della industria Vr e Ar</figcaption>
    <br />
    <br />
    <div class=" container text-left">
        <i class="fa fa-share text-primary"></i>
        Sebbene quindi la tecnologia sia ancora ai suoi albori, vista le moltissime applicazioni possibili e la costante crescita del numero di utenti, non è improbabile ma è anzi auspicabile che nel futuro la realtà virtuale diventi uno dei settori di investimento più redditizi.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Quello che però non ci è ancora dato sapere è se le realtà virtuali da noi create si limiteranno ad essere un nostro strumento o se finiranno per diventeranno una “oasi” dove vivere la nostra vita evitando il mondo reale, prigionieri di una realtà perfetta ma fittizia, proprio come nel film “Ready Player One” di Steven Spielberg.
        <br />
        <br />
    </div>
    <img src="~/PolitiTech/PersonaConVR.jpeg" alt="" class="bigImagePolitiTech" />
    <figcaption class="font-italic">Scena dal film “Ready player One”</figcaption>
</div>