@{
    Layout = "_Layout";
    ViewData["Title"] = "La tua prossima macchina sarà elettrica";
    ViewData["Keywords"] = "covid, auto, automobili, elettrico, elettricità, sociale, ambiente, energia, 2020, sostenibilità, macchine, auto elettriche, soldi, politix";
    ViewData["Descrizione"] = "percentuale di utilizzo di auto elettriche in continua ascesa, ma vale davvero la pena acquistarne una ? ";
}
<div class="container text-center">
    <p class="text-right">
        12 Aprile 2021
    <p />
    <h1 class="text-primary">La tua prossima macchina sarà elettrica</h1>
    <br />
    <h6>
        <span class="font-italic">
            Negli ultimi anni la concezione del pubblico di un’auto elettrica è passata dalla macchinina per giocare a golf o girare il campeggio,
            alle super car di Tesla e di altri produttori internazionali. Con la percentuale di utilizzo di auto elettriche in continua ascesa, i
            veicoli a benzina presto spariranno dalla circolazione. Ma vale davvero la pena acquistarne una?
            <br />
        </span>
    </h6>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Uno dei più grandi ostacoli che si frappongono tra il consumatore medio e l’acquisto di una auto elettrica è senza dubbio il prezzo che, specialmente nei primi anni di diffusione su larga scala, è stato, e continua ad essere, superiore a quello di una macchina tradizionale. Un report di Bloomberg afferma però che il trend di adozione delle auto elettriche in costante crescita porterà il loro prezzo a calare fino a raggiungere quello di un’auto a benzina entro il 2027. Questo le porrà dunque in una posizione non solo di diretta competizione, ma di maggiore convenienza rispetto alla loro controparte non elettrica.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Questa riduzione di prezzo non è una sorpresa, se si considera che negli 10 ultimi anni il costo di produzione delle batterie utilizzate nelle macchine elettriche è diminuito dell’88% ed è previsto che andrà a crollare ulteriormente fino a scendere, entro il prossimo decennio, di un altro 58%.
        <br />
        <br />
        <div class="container">
            <img src="~/PolitiTech/ProssimaMacchinaElettrica/elettro2.jpeg" alt="elettro2" class="bigImagePolitiTech" />
        </div>
    </p>
    <p class="text-left">
        <span class="font-italic">
            Grafico che mostra la curva seguita dal prezzo di auto elettriche (blu) e auto a benzina (grigio). Come si nota il prezzo delle auto elettriche sarà, secondo le proiezioni, inferiore entro il 2027        <br />
        </span>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Anche attualmente, dove la differenza di prezzo è ancora piuttosto accentuata con un costo medio di una macchina elettrica che ammonta a 33.300 €, circa 15.000 € in più rispetto a una a benzina (18.600€), vi sono varie ragioni che giustificano la loro adozione, a partire dall’interesse per l’ambiente.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Sebbene infatti l’impatto della produzione di una macchina elettrica sia maggiore paragonato a una tradizionale per le maggiori difficoltà nella realizzazione delle batterie, la vera differenza si nota sul lungo termine, con emissioni totali nettamente inferiori da parte degli “E-Vehicle" rispetto alle auto a benzina.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Questo divario aumenta ancora di più se consideriamo la possibilità delle macchine elettriche di sfruttare energie completamente rinnovabili che permetterebbero un utilizzo a emissioni zero una volta contate quelle dovute alla produzione della macchina stessa. Emissioni che sono destinare a diminuire drasticamente con l’evoluzione delle tecniche di manufacturing e la produzione su larga scala dovuta alla maggiore diffusione.
        <div class="container">
            <img src="~/PolitiTech/ProssimaMacchinaElettrica/Elettro1.jpeg" alt="Contratto" class="bigImagePolitiTech" />
        </div>
    </p>
    <p class="text-left">
        <span class="font-italic">
            Differenza nelle emissioni totali (durante l’intera “vita” del veicolo) di una macchina a gas e di una macchina elettrica, per la quale sono rappresentate sia l’utilizzo di fonti completamente rinnovabili, sia l’utilizzo di fonti non rinnovabili
        </span>
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Oltre a questo, l’assenza di un motore che sfrutta la combustione all’interno delle macchine elettriche le rende molto più silenziose e il loro utilizzo su larga scala ridurrebbe notevolmente l’inquinamento acustico nei centri urbani. Per questo motivo e per l’assenza di emissioni molte città hanno già iniziato a incentivare il loro utilizzo nei centri storici.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Per quanto vi sia ancora una differenza piuttosto rilevante a livello di prezzo, i vantaggi di una auto elettrica sono sostanziali rispetto a una a benzina e, con la differenza tra i due costi destinata assottigliarsi sempre di più fino a invertirsi, è naturale che nel futuro le auto elettriche saranno il pinnacolo di una mobilità sempre più green.
    </p>
        <br />
</div>