@{
    Layout = "_Layout";
    ViewData["Title"] = "PolitiCult";
}

<div class="container text-center">
    <h1 class="text-primary">Giulio Andreotti</h1>
    <br />
    <img src="~/ImagesJpg/GiulioAndreotti.jpg" alt="immagine non trovata" />
</div>
<br />
<div class="container text-left">
    <p>
        <i class="fa fa-flag"></i>
        Giulio Andreotti, una figura contorta ed accentratrice: tanto famoso quanto discusso
        per il suo genio politico e la sua presunta collusione in tutti i più grandi misteri
        d’Italia. Ciò che affascina della sua figura è proprio il chiaroscuro: da una parte l’ombra
        della malizia,
        dall’altra la sagacia brillante, incarnata al meglio dai suoi storici aforismi.
    </p>

    <br />
    <p>
        <i class="fa fa-flag"></i>
        Con una carriera così lunga e densa è quasi impossibile spremere
        un riassunto
        soddisfacente, allora come al solito proveremo
        ad affrontare il tema a grandi linee offrendovi nel caso uno
        spunto d’approfondimento personale.
    </p>
    <br />
    <p>
        <i class="fa fa-flag"></i>
        Nato a Roma il 14 gennaio 1919 e laureato in giurisprudenza approda al Parlamento
        come deputato democristiano,
        dove darà inizio ad un dominio della scena politica durato quasi 50 anni!
    </p>
    <br />
    <p>
        <i class="fa fa-flag"></i>
        Non a caso la frase più iconica che gli viene attribuita
        recita <span class="citazione">“Il potere logora chi non ce l’ha”.</span>
    </p>
    <br />
    <p>
        <i class="fa fa-flag"></i>
        Nel palmares delle sue cariche abbiamo: 7 cariche di presidente del Consiglio,
        8 da ministro della Difesa, 5 da ministro degli Esteri, 2 da ministro delle
        Finanze,
        una volta ministro del Tesoro e una ministro dell'Interno,
        Senatore a vita dal 1991 e mai fuori dal Parlamento dopo esserci entrato
        appunto nel 1945.
    </p>
    <br />
    <p>
        <i class="fa fa-flag"></i>
        Centrale nella sua carriera sarà il caso Aldo Moro, che analizzeremo in un'altra
        puntata;
        in cui Andreotti si rifiutò di mediare con le Brigate Rosse per il suo rilascio,
        causandone la morte. C’è chi dice che lo fece proprio consapevole del fatto che così
        Aldo Moro, scomodo politicamente, sarebbe stato eliminato; Andreotti smentirà sempre
        tali accuse, ma è dura non citarlo anche questa volta, dato che lui stesso in tempi
        non sospetti affermò che <span class="citazione">"A pensare male degli altri si fa peccato, ma spesso si indovina”.</span>
    </p>
    <br />

    <p>
        <i class="fa fa-flag"></i>
        Dopo questa bufera si defilerà per qualche anno, fino al governo Craxi, quando assume la
        carica di ministro degli Esteri, in cui attraverso la sua esperienza di equilibri di
        geopolitica distenderà molte delle tensioni internazionali italiane. Tornerà Presidente
        del Consiglio solo nel 1989 tramite il di ferro con Craxi e Forlani (CAF, dalle iniziali
        dei tre). Ancora una volta si riconferma l’uomo da battere, facendo valere la storica
        frase
        <span class="citazione">“Sono consapevole dei miei limiti, ma sono anche sicuro di non essere circondato da giganti”.</span>
    </p>
    <br />
    <p>
        <i class="fa fa-flag"></i>
        Terminerà tre anni dopo per via dello scandalo DC di Tangentopoli (altro futuro episodio
        di
        PolitiCult!).
    </p>
    <br />
    <p>
        <i class="fa fa-flag"></i>
        Andreotti non entra nelle indagini, ma a metà degli anni '90 viene processato da due
        procure: quella di Perugia e quella di Palermo. I magistrati umbri lo accusano di essere
        il mandante dell'omicidio del giornalista Mino Pecorelli, che avrebbe ricattato Andreotti,
        tra l'altro, proprio per le verità del memoriale Moro. Assolto poi "per non aver
        commesso il fatto" con la presenza però di dubbi non risolti, al chè viene da utilizzare
        un altro suo aforisma: <span class="citazione">
            “Perché la stupenda
            frase «la giustizia è uguale per tutti» è scritta alle spalle e non davanti ai magistrati?”.
        </span>
    </p>
    <br />
    <p>
        <i class="fa fa-flag"></i>
        Eppure, gli scandali non finiscono qua, dato che verrà accusato anche di collusione mafiosa.
        La notizia fa il giro del mondo e, se provata, darebbe un duro colpo all'immagine dell'Italia:
        per cinquant'anni la Repubblica sarebbe stata guidata da un politico mafioso. Secondo
        i magistrati Andreotti avrebbe favorito la mafia nel controllo degli appalti in Sicilia,
        a riprova la testimonianza di alcuni pentiti fra cui Balduccio Di Maggio, che racconta agli
        inquirenti di aver visto Andreotti baciare Totò Riina (nel gergo mafioso il gesto significa
        che fra i due c'è un rapporto di conoscenza e stima reciproca). Anche qua, facendo valere la
        sua influenza, ne emergerà che "il fatto non sussiste”, a riprova del fatto,
        come lui stesso diceva che “Non basta avere ragione: bisogna avere anche qualcuno che te
        la dia”.
    </p>
    <br />
    <p>
        <i class="fa fa-flag"></i>
        Risolte le questioni giudiziarie, si toglierà qualche sassolino dalla scarpa affermando che<span class="citazione">
            “A
            parte le guerre puniche, mi viene attribuito veramente tutto”.
        </span>
    </p>
    <br />
    <p>
        <i class="fa fa-flag"></i>
        A oltre ottant'anni, il "Divo Giulio" ritorna in politica senza grossi esiti;
        nonostante questo manterrà una personalità brillante fino ai 94 anni, quando il
        6 maggio 2013 si è spento nella sua abitazione a Roma. Gli aforismi si sprecano
        e ne abbiamo raccolti solo alcuni, chiudiamo allora in onore con uno dei più
        significativi: <span class="citazione">
            “La cattiveria dei buoni è pericolosissima. Gli altri la distribuiscono
            in dosi giornaliere, mentre chi la concentra ne fa strumenti esplosivi”.
        </span>
    </p>
    <br />
    
    <!--PROVA MODIFICA-->
</div>
