@{
    Layout = "_Layout";
    ViewData["Title"] = "Autarchia";
    ViewData["Keywords"] = "politici, politixitalia, politix italia, politica, draghi, inglese, lingua, parole, lessico, aitarchia";
    ViewData["Descrizione"] = "il Presidente del Consiglio Draghi si è interrotto qualche secondo per una considerazione personale improvvisata";
}

<div class="container text-center">
    <p class="text-right">
        19 Marzo 2021
    </p>
    <h1 class="text-primary">Autarchia</h1>
    <br />
    <h6>
        <span class="font-italic">
            Ci mancavano le parole di Draghi, e finalmente eccolo riapparire in pubblico per una visita al
            centro vaccinale anti-Covid dell’Aeroporto di Fiumicino, dopo la quale ha anche rilasciato un
            intervento sulla situazione attuale. Proprio durante il discorso, parlando di baby-sitting e
            smartworking, il Presidente del Consiglio si è interrotto qualche secondo per una
            considerazione personale improvvisata: "... Chissà perché dobbiamo sempre usare tutte
            queste parole inglesi...".
        </span>
    </h6>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        L’inciso ironico sugli anglicismi che ormai invadono il nostro lessico ha fatto esultare i social,
        soprattutto se detto da lui, l’uomo della BCE e dell’Europa, con un inglese tanto impeccabile
        da far tremare un londinese doc.
        <br />
        <br />
        <i class="fa fa-share  text-primary"></i>
        Tutta musica anche per il presidente della Crusca, Claudio Marazzini: "Sono molto contento
        che il presidente Draghi, in questo momento difficile per il Paese, abbia toccato questo
        argomento con leggerezza e con una battuta, ma si capiva la sua posizione". Poi aggiunge:
        "Normalmente quando si critica l'uso eccessivo dei termini inglesi scatta l'accusa di
        provincialismo. Nel caso di Draghi è difficile farla scattare, dato che lui per anni ha fatto
        discorsi in inglese, ma quando parla in italiano si pone il problema di usare i termini
        appropriati nella nostra lingua". E ancora: "Baby sitter ormai è un'espressione difficile da
        sostituire - osserva Marazzini - ma per lo smart working l'Accademia ha indicato da anni il
        termine lavoro agile. Il problema è che con la pandemia sono entrate tantissime nuove
        parole inglesi, quindi l'osservazione del presidente del Consiglio mi sembra un segnale
        chiaro, al di là' del termine al quale lui intendesse riferirsi".
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Insomma un modo simpatico per esortarci a recuperare le nostre radici, ammonendo sé
        stesso in primis. Il nazionalismo linguistico non è certo un argomento nuovo, ed anzi sta alla
        base dell’autarchia.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Come saprete, ad oggi il termine di autarchia si riferisce quasi sempre a quella serie di
        manovre economiche (teorizzate per prime da Colbert nel regno di Luigi XIV) che inducono
        uno stato all’autosufficienza e all’indipendenza produttiva dai paesi esteri; un protezionismo
        per intendersi simile a quella dell’amministrazione Trump in USA (dazi, investimenti nelle
        aziende nazionali e lotte sanguinose contro quelle europee o peggio asiatiche...).
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ovviamente Draghi non potrebbe essere più lontano da questo tipo di politica economica,
        dato che ha sempre svolto la funzione di paladino dell’unità in Europa; ma allora cosa
        c’entra l’autarchia con il suo discorso? Dovete sapere che il termine ha un’altra accezione,
        anzi precedente a quella economica, e riguarda l’etica stoica del “bastare a sé stesso” come
        individuo; il ché, trasposto sul piano linguistico, ci consiglia di utilizzare l’italiano in ogni sua
        forma, non cedendo ai forestierismi ma ricordando anzi che la lingua è mutevole ed in
        continua trasformazione, e che quindi anche laddove non esistono parole per definire alcuni
        concetti si possono inventare da zero!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Questa filosofia era molto sentita in particolare durante il Ventennio Fascista (che a dire il
        vero abbracciava tutte le sfumature dell’autarchia, non solo quella linguistica) e portò ad una
        vera e propria campagna di italianizzazione;essa venne perseguita seguendo nelle intenzioni il
        modello francese, attraverso vere e propri provvedimenti legislativi (come l'italianizzazione della
        toponomastica, dei nomi propri e la chiusura di scuole bilingui) ed un gran numero di disposizioni
        alla stampa ed alle case editrici, invitate ad evitare termini e nomi stranieri, preferendogli i
        corrispondenti italiani o italianizzati; molti intellettuali accolsero favorevolmente l'iniziativa:
        speravano infatti che questo giovasse anche all’eccessiva frammentazione della lingua in dialetti,
        così da poter finalmente diventare una Nazione vera e propria oltre che uno Stato.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        D alla padella nella brace direte voi: ci spieghi che Draghi non è autarchico come Trump e
        poi lo accosti all’autarchia di Mussolini...ebbene avete ragione, ma vi potrei stupire con la
        quantità di parole di uso comune inventate dai Fasci, che prima neanche esistevano o che
        erano solo in lingua straniera; ad esempio: albergo, primato, allenatore, pellicola, regista,
        cornetto, sciacquone, autista…Potrei andare avanti all’infinito, davvero.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Oggi però non siamo qui per esaltare i vincitori, bensì per onorare i caduti; tra i tanti
        esperimenti di italianizzazione infatti solo pochi uscirono bene, molti altri, gracili e cacofonici,
        non uscirono mai dalla bocca di nessuno, ecco una piccola lista:
        <br />
        <br />
        <span class="font-weight-bold">-</span>  bar = quisibeve
        <br />
        <br />
        <span class="font-weight-bold">-</span>  sandwich = traidue (solo dopo rivisto da D’Annunzio in tramezzino)
        <br />
        <br />
        <span class="font-weight-bold">-</span>  bunker = fossadisabbia
        <br />
        <br />
        <span class="font-weight-bold">-</span>  Buenos Aires = Buona Aria
        <br />
        <br />
        <span class="font-weight-bold">-</span>  brioche = brioscia
        <br />
        <br />
        <span class="font-weight-bold">-</span>  bidet = bidé
        <br />
        <br />
        <span class="font-weight-bold">-</span>  cocktail = polibibita / bevanda arlecchino
        <br />
        <br />
        <span class="font-weight-bold">-</span>  buffet = tavolafredda
        <br />
        <br />
        <span class="font-weight-bold">-</span>  toast = pantosto
        <br />
        <br />
        <span class="font-weight-bold">-</span>  bordeaux = color barolo
        <br />
        <br />
        <span class="font-weight-bold">-</span>  dessert = peralzarsi
        <br />
        <br />
        <span class="font-weight-bold">-</span>  panorama = tuttochesivede
        <br />
        <br />
        <span class="font-weight-bold">-</span>  insalata russa = insalata tricolore
        <br />
        <br />
        <span class="font-weight-bold">-</span>  champagne = sciampagna
        <br />
        <br />
        <span class="font-weight-bold">-</span>  pic-nic = pranzoalsole
        <br />
        <br />
        <span class="font-weight-bold">-</span>  flirt = amoretto
        <br />
        <br />
        <span class="font-weight-bold">-</span>  flirtare = fiorellare
        <br />
        <br />
        <span class="font-weight-bold">-</span>  parquet = tassellato
        <br />
        <br />
        <span class="font-weight-bold">-</span>  playboy = vitaiolo
        <br />
        <br />
        <span class="font-weight-bold">-</span>  gulasch = spezzatino all’ungherese
        <br />
        <br />
        <span class="font-weight-bold">-</span>  tennis = pallacorda
        <br />
        <br />
        <span class="font-weight-bold">-</span>  puré = poltiglia
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Cosicché, se le malaugurate avessero avuto invece successo, adesso potremmo sentire
        frasi del genere:
        <br />
        “Stamattina sono sceso al quisibeve sotto casa, ero indeciso sul pantosto ma alla fine ho
        mangiato una brioscia alla crema. Poi ho raggiunto i miei amici al parco per un pranzoalsole,
        avevano preparato dei traidue all’insalata tricolore, e quindi per smaltire ci siamo fatti una
        partita a pallacorda. Alla fine ho passato la serata ad una festa organizzata dietro piazza
        Buona Aria, un attico con un tuttochesivede mozzafiato, tassellato in ogni stanza e una
        tavolafredda da urlo piena di polibibite e spezzatini all’ungherese con poltiglia; con quelle
        bevande arlecchine mi sono proprio spaccato, fin quando ho notato una tipa vestita barolo a
        cui ho offerto una sciampagna per fiorellare. Arrivati finalmente ai peralzarsi l’ho invitata da
        me, e ha accettato dicendomi che sono un vero vitaiolo: mi sa che è nato un amoretto!”
        <br />
    </p>
</div>