
@{
    Layout = "_Layout";
    ViewData["Title"] = "Guerra Freddolina";
    ViewData["Keywords"] = "politix italia, politixitalia, biden, trump, governo, russia, putin, capitalismo, comunismo, usa, america";
    ViewData["Descrizione"] = "conflitto tra Biden e Putin: Joe contro Vladimir, USA contro Russia, capitalismo contro “comunismo”.";
}

<div class="container text-center">
    <p class="text-right">
        25 Marzo 2021
    </p>
    <h1 class="text-primary">Guerra Freddolina</h1>
    <br />
    <br />
    <h6>
        <span class="font-italic">
            “Marzo pazzerello guarda il sole e prendi l’ombrello”
        </span>
    </h6>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Spesso i detti popolari, pur senza fondamenta scientifiche, nascondono verità sacre.
        E’ questo il caso di marzo appunto, che da sempre ci regala giornate pazze ed imprevedibili;
        attenzione a non farsi ingannare dalla Primavera incombente: confidando troppo nell’arrivo
        del sole si rischia una bella doccia fredda di temporali!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        A poco quindi serve il fior fiore di meteorologi che cercano di interpretare mappe delle
        perturbazioni ed analisi isobariche quando basta una folata di vento a mischiare le carte nel
        mazzo. Ma lo stesso vale per la politica a dirla tutta; stavamo intravedendo la luce in fondo
        al tunnel della pandemia di Covid, quando ecco sbucare fuori uno di quegli attriti
        internazionali che non vorresti mai vedere. Proprio da pelle d’oca anzi, sia perché
        spaventoso, sia perché ricordo di tempi ben più freddi; una folata di vento tra le scapole in
        un pomeriggio d’agosto che per una frazione di secondo mette tutti i peli sull’attenti e ti fa
        tornare alle mattinate fredde di novembre.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Immagino abbiate capito di che conflitto parlo, quello tra Biden e Putin: Joe contro Vladimir,
        USA contro Russia, capitalismo contro “comunismo”.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Altro che Avengers EndGame o galline di Pordenone vs carroarmato, qui si rispolvera una
        dicotomia leggendaria che ha segnato la storia del mondo intero per quasi mezzo secolo…
        Prima però riassumiamo il fatto per i più distratti: durante un'intervista di Abc a Biden, il
        giornalista ha chiesto al presidente americano se considerasse Putin un killer: la sua
        risposta? “Yes, I do” (“Sì, lo penso”), e non solo, ha anche promesso che il leader del
        Cremlino "pagherà un prezzo" per aver tentato di influenzare le elezioni presidenziali del
        2020 tra Biden e Trump, in favore del secondo. Un'affermazione durissima alla quale Mosca
        ha reagito prima richiamando l'ambasciatore dagli States, poi con una dichiarazione dello
        stesso Putin: “Io assassino? Chi lo dice sa di esserlo”, ci mancava solo lo
        “specchio-riflesso-se-ti-muovi-sei-un-cesso”.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Fatto sta che il braccio di ferro non accenna a fermarsi, e i ricordi (con le dovute proporzioni
        ovviamente) della Guerra Fredda arrivano d’istinto.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        “Guerra, fredda”, due parole insignificanti di per sé, che una volta accostate però rimandano
        da sole a tutta la contrapposizione politica , ideologica e militare che venne a crearsi intorno
        al 1947 tra USA e URSS, ovvero le due potenze vincitrici della S econda Guerra Mondiale .
        Finita quest’ultima infatti, nel giro di poco l' Europa si divise nelle due sfere di influenza
        contrapposte, creando veri e propri blocchi internazionali ostili: da una parte l’ Occidente (gli
        Stati Uniti e gli altri membri della NATO ), dall’altra l’ Oriente (l'Unione Sovietica e i membri del
        Patto di Varsavia ), e nel mezzo a panino i Paesi non allineati .
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        L'espressione era stata usata già nel 1945 da George Orwell che riflettendo sulla bomba
        atomica preconizzava uno scenario in cui le due grandi potenze, non potendo affrontarsi
        direttamente per il rischio di distruzione mutua assicurata avrebbero finito per dominare e
        opprimere tutti gli altri. Nel 1947 fu ripresa dal consigliere presidenziale statunitense Bernard
        Baruch e dal giornalista Walter Lippmann per descrivere l'emergere delle tensioni tra i due
        Alleati della seconda guerra mondiale .
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Questo schieramento influenzò fortemente per decenni l' opinione pubblica mondiale,
        emblematica fu la divisione della Germania in Ovest ed Est , separate dal muro di Berlino e
        da quella figura retorica che prese il nome di " cortina di ferro " (coniata per la prima volta da
        Winston Churchill nel 1946).
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        A dire il vero poi questa guerra non si concretizzò mai in un conflitto militare diretto, da cui il
        termine "fredda" usato per descrivere un'ostilità che non sembrava più risolvibile attraverso
        una guerra frontale tra le due superpotenze, dato il pericolo per la sopravvivenza
        dell'umanità rappresentato da un eventuale ricorso alle armi nuclear i.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Essa vide però infiniti scontri e competizioni nei campi più disparati: dal militare allo sportivo
        passando per la tecnologia; contribuendo senza dubbio allo sviluppo della società mondiale
        come mai nessuna guerra prima di allora, arrivando fino alle porte della terza rivoluzione
        industriale . Come scordare il botta e risposta tra le due potenze in ambito spaziale? Laika
        (primo essere vivente nello spazio nel 1957) e Gagarin (primo uomo nel 1961) contro
        Armstrong Aldrin e Collins (primo allunaggio nel 1969).
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Tra le molte sfide a distanza si rischiò davvero di riscaldare la temperatura con qualche
        bomba, e forse a torto ce ne scordiamo. In particolare, le fasi più critiche e potenzialmente
        pericolose della guerra fredda furono due: la prima, compresa fra gli anni cinquanta e gli
        sessanta , tra Nixon e Kennedy, che ricorda per esempio la Rivoluzione cubana e l’ Invasione
        della Baia dei porci ; e la seconda, circoscritta alla prima metà degli anni ottanta , soprattutto
        nell’amministrazione Reagan, spettatore della guerra in Afghanistan.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        In entrambi i casi si arrivò ad un soffio da premere il bottone rosso della valigetta atomica...
        Ad ogni modo la fine della Guerra Fredda viene convenzionalmente fatta coincidere con la
        caduta del muro di Berlino (9 novembre 1989 ), e la successiva dissoluzione dell'Unione
        Sovietica (26 dicembre 1991 ), che distese definitivamente il clima e scongiurò la Terza
        Guerra Mondiale.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Insomma, cediamo volentieri gli occhiali da sole e vestiamoci pure a cipolla, basta
        assicurarsi di non dover rispolverare il piumino.
        <br />
        <br />
    </p>
    <h6>
        <span class="font-italic">
            “Vento di Marzo non termina presto”.
        </span>
    </h6>
</div>