    @{
         Layout = "_Layout";
         ViewData["Title"] = "Hic Sunt Dracones";
         ViewData["Descrizione"] = " Oggi parliamo di Mario Draghi, il “profilo alto” che il nostro Presidente della Repubblica, Sergio Mattarella, ha incaricato per prendere le redini del Paese con un governo tecnico.";
         ViewData["Keywords"] = "politixitalia, politix italia, draghi, governo, conte, crisi, europa, governo cade, banche, economia, 2016";
     }

    <div class="container text-center">
        <h1 class="text-primary">Hic sunt dracones</h1>
        <br />
        <br />
        <p class="text-left">
            <i class="text-orange fa fa-share"></i>
            La locuzione latina “hic sunt dracones”, traducibile in "qui ci sono i draghi", si trova spesso utilizzata ai margini
            delle cartine geografiche dal 1200 in poi, per tutto il periodo che caratterizzerà l'esplorazione europea del globo,
            per terra e per mare. Questo termine poneva i limiti della scoperta umana, ammonendo chi fosse venuto in futuro a non
            spingersi oltre quei territori: per paura, impraticabilità, o che altro; in ogni caso se si fosse superato quel solco
            misterioso dato dalla cartina si sarebbe andati in pasto ai draghi, in senso metaforico o anche letterale, secondo le
            credenze del tempo.
            <br />
            <br />
            <i class="text-orange fa fa-share"></i>
            Oggi parliamo di Mario Draghi, il “profilo alto” che il nostro Presidente della Repubblica, Sergio Mattarella,
            ha incaricato per prendere le redini del Paese con un governo tecnico.
            Perché proprio lui? Cosa ha fatto per meritarsi questa chiamata dall’alto scavallando il voto popolare e ogni gavetta politica?
            Lo spieghiamo subito, questa volta andando a ritroso invece che in avanti!
            <br />
            <br />
            <i class="text-orange fa fa-share"></i>
            Per tutto il testo potrei, a forza di epiteti, non nominare mai il suo nome, tanti sono gli appellativi che lo circondano.
            Di soprannomi infatti gliene sono sempre stati dati tanti: SuperMario, l’Americano, l’Atermico, il signor Altrove,
            il Prussiano, il Rettiliano. Lui li odia tutti. Li ha sempre odiati.
            <br />
            <br />
            <i class="text-orange fa fa-share"></i>
            Prima di tutto: come mai SuperMario? Mario Draghi ricevette questo soprannome durante il suo incarico più importante,
            al comando della Banca Centrale Europea (BCE) dal 1° novembre 2011 fino al 31 ottobre 2019, perché capace di coniugare,
            come il protagonista della Nintendo, italianità e superpoteri da eroe.
            <br />
            <br />
            <i class="text-orange fa fa-share"></i>
            Di superpoteri si parla da quando nel luglio 2012, a seguito di ripetuti crolli e traballamenti del sistema finanziario
            europeo, Draghi spazzò via tutti i detrattori (che, ad onor di cronaca, erano tanti e pronti a cibarsi della carcassa
            dell’euro, scommettendo velenosamente sul crollo della moneta unica) con un discorso da pelle d’oca, capace di
            rassicurare i timorosi e punire chi ormai aveva puntato contro di lui. Ciò che ancora rimbomba nelle aule della conferenza
            di Londra, in cui si svolgeva il suo intervento (non a caso nella bocca degli euroscettici, ovvero gli inglesi,
            che poco dopo infatti usciranno dall’eurozona con la Brexit, costata tantissimo in periodo Covid19) da quel giorno
            sono tre parole, che ormai conoscerete tutti: <span class="font-weight-bold">“Whatever it takes”</span>,
            ovvero <span class="font-weight-bold">“Costi quel che costi”</span>. E ancora subito dopo,
            che a me scombussola ogni vertebra per l’emozione, il passo successivo, meno ricordato ma ancora più d’impatto,
            ovvero <span class="font-weight-bold">“and believe me: it will be enough”, “e credetemi: sarà abbastanza”</span>.
            Fu abbastanza davvero, dato che il giorno dopo la fiducia degli investitori schizzò alle stelle e Draghi mantenne la
            promessa rimpolpando l’economia dei vari stati con una botta da 60 miliardi di euro al mese.
            <br />
            <br />
            <i class="text-orange fa fa-share"></i>
            Ebbe una freddezza unica, che già era nota ai suoi collaboratori, e che ben si coniugava anche con la sua storica
            abitudine di non portare il cappotto, reminiscenza degli studi a Cambridge, in cui nessuno lo portava, anche col freddo,
            come simbolo di rottura nei confronti delle élite ed invece di rivendicazione popolare: in qualsiasi clip o foto troviate
            Mario Draghi, non avrà mai il cappotto (ecco allora il Prussiano, l’Atermico eccetera).
            Il suo sangue freddo lo portò prima ancora della BCE a fare il Governatore della Banca d’Italia, dal 2005 al 2011,
            in cui nacquero le peggiori bassezze complottiste sulla sua appartenenza alla razza superiore ed aliena dei rettiliani,
            arrivati sulla Terra per governarci.
            <br />
            <br />
            <i class="text-orange fa fa-share"></i>
            Scherzi a parte, nessuno ha mai dubitato dell’intelletto assoluto di Mario, né alla Banca d’Italia né alla Goldman
            e Sachs, dal 2002 al 2005, né prima ancora nel ruolo istituzionale di Direttore Generale del Ministero del tesoro,
            carica che gli venne riconfermata per ben dieci anni, dal 1991 al 2001, in 10 governi diversi!
            <br />
            <br />
            <i class="text-orange fa fa-share"></i>
            Insomma, non basterebbe una vita per raccontare tutti gli incarichi e gli aneddoti della sua carriera, considerato
            anche che, soffrendo di fortissima insonnia e dormendo solo 3 ore a notte, ha probabilmente vissuto il doppio di una
            vita normale. Però ci sentiamo di lasciarci con un ultimo racconto; che poi è anche il motivo per cui siamo andati a
            ritroso invece che in avanti: per giustificarvi tutti i soprannomi e le caratteristiche di questo Uomo, con la U maiuscola.
            <br />
            <br />
            <i class="text-orange fa fa-share"></i>
            Mario Draghi nasce a <span class="font-weight-bold">Roma</span> nel <span class="font-weight-bold">1947</span>. 
            Il padre Carlo, padovano ed economista; la madre, Gilda campana e farmacista.
            Famiglia calda,  felice e benestante, Mario è il primo di tre fratelli: lui Andreina e Marcello. All'età di 15 anni,
            a breve distanza l'uno dall'altra, Mario <span class="font-weight-bold">perde entrambi i genitori</span>. Si troverà a prendersi cura di sé stesso e dei
            fratelli col solo aiuto di una zia. Racconta, in una delle poche se non l’unica intervista personale, il ritorno dalle
            vacanze con gli amici, in cui loro trovavano i genitori ad accoglierli, e lui le bollette da pagare sul tavolo.
            Non c’è da stupirsi della sua rigidità e del suo senso del dovere, non è altro che la corazza che un ragazzo si è
            dovuto fare per reagire alla morte con la vita, al dolore con il coraggio. Evitiamo la retorica, non ci piace e infatti
            non ne facciamo mai, ma Mario è davvero l’uomo senza paura. La paura è prerogativa dei molti, quasi di tutti; la paura è
            insita nell’uomo come istinto di sopravvivenza; ma esiste anche chi riesce a combatterla. La storia infatti, per fortuna,
            è piena di uomini speciali, capaci di combattere il tremolio alle gambe che implorano di fermarsi e invece continuare a
            spingersi oltre, e portarsi sulle spalle il destino di tutti: la fortuna aiuta gli audaci.
            <br />
            <br />
            <i class="text-orange fa fa-share"></i>
            E in definitiva se siamo tutti qui, nella massima espressione della globalizzazione, è perché c’è stato qualcuno che
            le colonne d’Ercole le ha sempre attraversate. Le locuzioni latine di cui parlavamo all’inizio ghermivano tutte le
            cartine in lungo e in largo, su ogni estremo, come fossero una cornice; eppure alla fine, grazie ai singoli esploratori
            animati dalla curiosità, a forza di superare quegli ammonimenti si scoprì che la terra era un globo rotondo, e che
            partendo da casa propria a forza di andare avanti ci si poteva ritornare, passando per dovunque si volesse. Forse molti
            hanno paura proprio di questo, di fare la fine opposta a Colombo: salpare sognando l’America delle opportunità per poi
            capitolare invece nella solita India del fallimento Monti. A chi teme il futuro di un altro governo tecnico dico questo
            però: tranquilli, di draghi non ce ne sono tanti, uno solo in realtà, è il plurale del cognome che confonde; che poi,
            anche fossero due o cento, chi è audace non guarda in faccia nessuno, stringe il timone e va avanti, costi quel che costi.
            <br />
            <br />
            <blockquote class="font-italic font-weight-bolder">«Whatever it takes. And believe me: it will be enough.».</blockquote>
        </p>
    </div>