 @{
        Layout = "_Layout";
        ViewData["Title"] = "Il canale di Nostrez";
     }

<div class="container text-center">
    <p class="text-right">
        2/4/2021
    </p>
    <h1 class="text-primary">Il canale di Nostrez</h1>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Il caso della nave Ever Given incagliata nel canale di Suez ha fatto il giro del mondo.Oltre che a poter ispirare una deluxe dell’album Evergreen di Calcutta, le foto della mastodontica portacontainer bloccata come il copri-spazzolino nella tubatura del lavandino hanno fatto riflettere su quanto strategico e vulnerabilesia quella “piccola” scorciatoia che permette di saltare completamente tutta la circumnavigazione dell’Africa.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Dallo stretto transita il 7% dell’economia globale:ogni giorno che il cargo rimaneva fermo venivano buttati al vento 9 MILIARDI di dollari. Tanto fondamentale quanto tirato via: com'è possibile che non abbiano pensato prima ad incidenti del genere? Potevano allargarlo prima!Ebbene se anche voi vi siete fatti questa domanda dovete sapere che la risposta è semplice:il canale di Suez nella sua progettazione e costruzione fisica è in buona parte italiano.Come ogni singola iniziativa italiana che si rispetti ovviamente funziona male: è il nostro marchio di fabbrica e ne dobbiamo andare fieri. Inun mondo alla ricerca della perfezione noisiamo il caos, lasciamo quindi progetti efficientie funzionali a quegli automi dei tedeschi, noisiamo di un’altra categoria!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Tornando a noi, dovete sapere che tutto ha inizio nel Sedicesimo secolo, con le grandi scoperte geografiche delle repubbliche marinare e di spagnoli e portoghesi.I primi a concepire l’idea furono i veneziani, che una volta saputo che le carovane portoghesi avevano trovato una via africana verso le Indie, si dovettero attrezzare per proteggere il loro monopolio sulla merce orientale (che veniva prelevata proprio dai veneziani a Caffa, in Crimea) chiedendo al sultano d’Egitto di tagliare il lembo di terra sopra al Mar Rosso.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Le molte proposte caddero nel dimenticatoio, e si dovette aspettare il finire del Settecento per riprendere in mano il discorso, quando nel 1796,un patriota napoletano, Matteo Galdi,nel riflettere sul ruolo dell’Italia nel Mediterraneolo collega alla «apertura sempre tentata invano dell’Istmo di Suez». Finalmente dopo molte spinte l’idea del canale viene ripresa, in modo deciso e adeguato, nel quadro della spedizione napoleonica in Egitto. Il progetto fu affidato all’ingegnere francese Lepère, che nel suo rapporto proponeva complessi progett iper superare il problema del dislivello tra Mar Rosso e Mar Mediterraneo (credenza popolare assolutamente inesistente), radicalmente confutata nel 1820 dall’ingegnere bolognese Gaetano Ghedini, a servizio di Mohammed Ali, a sua volta promotore di indagini sul possibile taglio dell’istmo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Gli studiosi e i tecnici continuarono frattanto il loro lavoro e nel novembre 1846 costituirono a Parigi la Società di studi per il canale, al cui interno si costituirono tre gruppi: uno austriaco(detto così per rappresentanza ma infoltito nelle fila da molti italiani), un altro francese ed uno inglese. Il primo gruppo era indubbiamente il più strutturato e più attivo: fra i dieci membri (numero massimo per ogni gruppo) figuravano il Comune e la Borsa di Trieste, le Camere di commercio di Venezia; insomma, alla faccia dell’ “austriaco”.Questa società venne poi agglomerata in un’unica commissione internazionale di cui fecero parte Luigi Negrelli (austriaco ma nato e cresciutoin italia) e Pietro Paleocapa, ministro dei Lavori Pubblici del Piemonte.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La Commissione, riunitasi a Parigi il 30 ottobre 1855,si recò immediatamente dopo in Egitto,ed arrivati sul posto, subito dopo la prima seduta,decise di seguire il progetto di Negrelli. Da lì in poi la febbre del canale infetto tutto lo Stivale: non si parlava d’altro che dell’enorme beneficio che ne avrebbe tratto il Paese, completamente affacciato sul Mediterraneo e quindi protagonista delle nuove rotte!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nell’animosa atmosfera che si venne a creare, ordedi manovalanti semplici si proposero per andare in Egitto e lavorare al cantiere. Le braccianon bastavano mai, così in molti si imbarcarono davvero; tra i tanti, piccola chicca curiosa,anche il padre di Ungaretti, che dopo aver lavorato al canale di Suez si trasferì definitivamente ad Alessandria d’Egitto, città natia
        del famoso poeta. Il grande consenso portò ad una realizzazione abbastanza breve, e per suggellare l’italianità del progetto, ai festeggiamenti dell’Opera del Cairo venne rappresentato il “Rigoletto” di Giuseppe Verdi.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Proprio in quell’occasione il sultano chiese al grande compositore di comporre un’altra opera: sarà l’Aida, la cui prima avvenne al Cairo il 24 dicembre 1871 .Il trionfo italiano nella creazione del canale nonverrà purtroppo ricompensato con gli adeguati compensi di percentuali sui guadagni doganali,che infatti Mussolini nel Ventennio fascista userà come benzina per la sua spinta imperialista.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La II GM andò come tutti sappiamo, e non si sentì più parlare di vendette folli; quel che è certo è che un po’ di Italia in quello stretto rimarrà per sempre, sia per intelletto che pervolontà, senza contare i molti italiani di terza o quarta generazione ancora in Egitto.Che poi se vogliamo dirla tutta senza sminuirci come al solito, la Ever Given è stata trainata fuori dalla secca grazie anche al rimorchiatore Carlo Magno, prodotto tutto in casa nostra:alla faccia dei tedeschi!
        <br />
        <br />
    </p>
</div>