@{
    ViewData["Title"] = "Il conflitto bianco-nero";
    Layout = "_Layout";
    ViewData["Descrizione"] = " Siamo immersi in un mondo ormai volubile, fugace e passeggero. Ogni notizia ed ogni fatto emerge, sale sulla cresta dell'onda, e immediatamente dopo sprofonda nell'abisso del dimenticatoio. Ma se vi dicessi che c'è qualcosa che non passa mai di moda, perfino in un momento in cui i riferimenti sono praticamente scomparsi? ";
    ViewData["Keywords"] = "politix, politix italia, israele, palestina, conflitto, onu";
}


<div class="container text-center">
    <p class="text-right">
        14 Maggio 2021
    </p>
    <br />
    <br />
    <h1 class="text-primary">Il conflitto bianco-nero</h1>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Siamo immersi in un mondo ormai volubile, fugace e passeggero. Ogni notizia ed ogni fatto emerge, sale sulla cresta dell'onda,
        e immediatamente dopo sprofonda nell'abisso del dimenticatoio. Ma se vi dicessi che c'è qualcosa che non passa mai di moda,
        perfino in un momento in cui i riferimenti sono praticamente scomparsi?
        Ebbene sì, "certe guerre" non riescono ad uscire di scena, e ciclicamente tornano a farsi sentire, ammesso abbiano mai smesso di farlo.
        Quella in questione è una vera e propria guerra in cui le vittime civili continuano a salire vertiginosamente, con
        tutto l’Occidente che resta a guardare l’evoluzione di un conflitto in cui abbiamo anche noi
        molte colpe…<br />
        Come al solito, per capire il presente dobbiamo camminare a mo’ di gambero indietro nel
        tempo, ripartendo dal principio.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La zona del Medio Oriente è praticamente un materasso imbottito d’oro: i giacimenti
        petroliferi del suo sottosuolo guidano l’economia globale e anche la politica, gli interessi
        sono altissimi.
        Fino alla fine della Prima Guerra Mondiale questi territori erano dell'Impero Ottomano sotto
        forma di grande scatolone di sabbia, una volta crollato però la zona venne divisa tra le
        grandi potenze europee: principalmente UK e Francia.

        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Proprio alla Gran Bretagna viene affidata la Palestina insieme a Giordania ed Iraq.
        In contemporanea alla spartizione della torta anche il movimento politico del sionismo, che
        incitava gli ebrei di tutto il mondo a creare uno stato ebraico in Palestina; a trovare cioè un
        territorio dove poter finalmente mettere radici dopo i secoli di vagabondaggio. Perché la
        Palestina? Per loro era la terra promessa, il posto da cui furono scacciati nella prima
        stagione della Bibbia, ed è per questo che come in ogni grande serie che si rispetti il cerchio
        va chiuso tornando al luogo d’inizio. Metteteci di mezzo tre quattro stagioni da 20 episodi tra
        cui anche quella sulla Seconda Guerra Mondiale e capirete. Gli ebrei emigrarono in massa
        verso questi territori ma si produsse l’effetto “una poltrona per due”, per il quale gli arabi
        palestinesi che vivevano lì ormai da secoli non presero proprio bene i nuovi coinquilini.


        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 1945 nasce addirittura la Lega Araba, proprio una coalizione di stati arabi con l’obiettivo
        di rafforzare la presenza araba evitando il dominio occidentale (ed ebreo appunto). Dopo
        molti scontri la contesa arabi-ebrei passò direttamente in mano all'Onu, che decise di
        dividere la Palestina in due nei territori: uno stato ebraico ed uno stato arabo, con
        l’eccezione per Gerusalemme, cara ad entrambe e quindi lasciata in mano al controllo
        internazionale. Nel 1948 gli ebrei proclamano tutti i territori che erano stati dati loro dall'Onu
        e nei quali vivevano ancora tutti i palestinesi arabi, Stato d'Israele; questo fu considerato un
        affronto dalla Lega Araba, che decise quindi di attaccare il neo-stato.
        <br />
        <i class="fa fa-share text-primary"></i>
        Questo primo conflittodurò circa un anno e terminò con la vittoria di Israele: solo una minoranza di palestinesi
        decise di rimanere nel nuovo stato prendendo la cittadinanza israeliana, la maggior parte
        invece fu caldamente invitata a sloggiare e 900 mila profughi palestinesi “decisero” di
        emigrare verso i paesi arabi confinanti.
        Nel 1949 venne imposto un armistizio tra la Lega Araba e Israele indicendo la Green Line,
        ovvero una confine di pace tra i due territori.
        Ma gli scontri del ‘48 non furono di certo gli ultimi, tra questi la Guerra dei Tre Giorni nel
        1967, la Guerra del Kippur nel ‘73 e chi più ne ha più ne metta.
        Nel 1974 per reagire alla costante ascesa israeliana venne fondata l’OLP, l’organizzazione
        per la liberazione della Palestina, riconosciuta dalla Lega Araba come una sorta di
        autogoverno palestinese.

        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nonostante l’OLP, tutti i conflitti vennero comunque sempre viti da Israele, che grazie agli
        appoggi statunitensi (in cui vi sono storicamente molte famiglie ebraiche) conquistarono
        anche territori della Lega Araba.
        Più si ingrandiva Israele e più insofferenti diventavano i palestinesi, tanto da far brulicare
        molti movimenti di liberazione per lo più violenti, o decisamente non stile hippie comunque.
        Questi movimenti armati erano a loro volta appoggiati dall’Unione Sovietica per opporsi agli
        USA; dobbiamo infatti rimanere consapevoli del clima al contorno in piena Guerra Fredda.
        L’aiuto americano è molto ingente, Israele diventa una grande potenza e si arricchisce molto
        proprio grazie a quella “scatola di sabbia” che ha sotto i piedi, e da cui il petrolio sgorga che
        è una meraviglia. Il benessere è seguito da un boom demografico tra nascite e immigrazione
        di altri ebrei, tanto da sovraffollare le città e scacciare i palestinesi, ridotti a campi profughi
        Onu in condizioni tremende.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Non che siano dei pezzi di pane anche loro, i palestinesi in tutto questo periodo avevano
        intrapreso molti attacchi terroristici convinti che fosse il modo migliore per controbilanciare la
        potenza militare di Israele; ad esempio nel 1972 ci fu un grande attentato durante le
        Olimpiadi di Monaco e vennero uccisi 11 atleti israeliani.
        “E noi siamo stati a guardare?” chiederete voi. Sni, tra moglie e marito non mettere il dito,
        però questi erano e sono due piaghe globali, magari qualcosa in più sarebbe stato possibile.
        Tentativi di pace ci sono stati per carità, ma per esempio tra questi ricordiamo gli accordi di
        Camp David nel 1978, per cui l’Egitto riconobbe lo Stato di Israele in cambio della
        riconsegna di alcuni territori che gli aveva sottratto: alla faccia della pace, proprio genuino e
        disinteressato questo atto di gentilezza!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 1993 ci sono stati anche gli Accordi di Oslo, a mettere in contatto l’OLP e Israele, la
        verità però è che la rivolta palestinese non si è mai fermata: alla fine degli anni ottanta anzi
        nascono nuovi movimenti di liberazione sotto l’onda dell’intifada (= risveglio, rivolta), con
        nuovi atti di terrorismo, o peggio ancora nuove resistenze organizzate come appunto il
        movimento di Hamas nella Striscia di Gaza.
        Non preoccupatevi però: i colpi delle resistenze organizzate e dei terroristi a briglia sciolta
        non sono mai passati inosservati, Israele non porge l’altra guancia, preferisce sopprimere i
        rivoltosi con raid aerei a tappeto su tutta la popolazione, cattivi terroristi o innocenti civili che
        fossero.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        A dimostrazione della buona fede israeliana, nel 2002 gli ebrei iniziarono a costruire un muro
        gigante nella Cisgiordania, a separare i territori dello stato di israele da quelli palestinesi: 8
        metri per 700 chilometri, Trump in confronto in Messico ha fatto una barriera con gli astucci e
        gli zaini…
        Il muro oggi sembra essere il segno dell'impossibilità di comunicazione tra questi due popoli;
        ma tutto il Medio Oriente in realtà si trova in un periodo di tensione mai sperimentato:profughi e vittime aumenteranno sempre di più se l’Occidente unito non interviene, qualcosa
        deve cambiare e deve cambiare da noi, non da loro.
    </p>
</div>