@{
    Layout = "_Layout";
    ViewData["Title"] = "IlFebbraioPerfetto";
    ViewData["Descrizione"] = " Nel caso non ve ne foste accorti, tra pochi giorni entreremo nel mese perfetto: il Febbraio 2021. Questo evento occorre solo ogni 28 anni, quindi dobbiamo risalire al 1993, prima ancora al 1965, al 1937 e così via per ritrovare una coincidenza del genere.";
    ViewData["Keywords"] = "politixitalia, politix italia, febbraio, russia, politicult, rivoluzione russa, lenin, anno, ventotto";
}

<div class="container text-center">
    <h1 class="text-primary">Il febbraio perfetto</h1>
    <br />
    <br />
    <p class="text-left">
        <h6>
            Parliamo sempre di illegalità o tragedie, e per questo motivo oggi vogliamo essere più soft.
            Eh già, le dispute politiche possono essere combattute anche a colpi di date! “Date?” direte voi,
            ebbene sì…
        </h6>
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Nel caso non ve ne foste accorti, tra pochi giorni entreremo nel mese perfetto: il Febbraio 2021.
        Questo evento occorre solo ogni 28 anni, quindi dobbiamo risalire al 1993, prima ancora al 1965,
        al 1937 e così via per ritrovare una coincidenza del genere. In ogni caso sempre di febbraio
        si parla; unico mese di 28 giorni capace, in quanto multiplo di sette, di incarnare alla perfezione
        ogni giorno della settimana. In parole povere si aprirà con un lunedì e si chiuderà con una domenica,
        in maniera impeccabile (cosa che non succederà per intero a marzo poiché composto da 31 giorni);
        un orgasmo cerebrale per gli ossessivi compulsivi insomma.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        A partire da questa stupida sincronia però possiamo riflettere su un aneddoto storico di valore,
        dato che non tutti i paesi adottano il caro e vecchio calendario gregoriano: è difficile infatti
        pensare che nel 2021 ci sia ancora qualche stato che fa di testa sua, tanto più se occidentale!
        In molti paesi islamici ci si basa da sempre sul calendario lunare, a partire dall’Egira di Maometto;
        ma cosa stupisce è che nella vicina Russia, grande potenza mondiale, ancora si tenda a rimanere
        attaccati alle tradizioni rispetto alla globalizzazione uniformante.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Mettiamo le mani avanti: in Russia, soltanto le festività cristiane si calcolano ancora secondo
        calendario giuliano, per la vita quotidiana utilizzano il calendario gregoriano come noi, sia chiaro.
        Ma il fatto che usino il nostro calendario non è affatto scontato, ed anzi fu un vero e proprio braccio
        di ferro, che tutt’ora persiste, dato che vengono ancora mantenute le festività secondo data ortodossa.
        Stiamo parlando di un braccio di ferro tra religione e politica, i due poteri assoluti che da sempre
        si contendono il dominio sul popolo.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        La secolarizzazione ha colpito tutti, quindi la Chiesa russa (che ricordiamo essere ortodossa appunto)
        si è indebolita inevitabilmente come tutte le altre, trasformando il braccio di ferro in una lotta di
        sopravvivenza ormai asimmetrica rispetto al volere dei vari uomini politici, anche se a dire il vero
        di tutte le chiese del mondo forse rimane una delle più salde e rocciose. Se da una parte la contesa
        va avanti, dall’altra i cittadini possono gioire, perché in Russia si festeggia due volte il Natale e
        due volte Capodanno, prima come festività capitalistica di scambio di regali e bottiglie di spumante,
        dopo come feste religiose e spirituali.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Tutto questo per via di quel doppio calendario di cui parlavamo, a partire dal 31 gennaio
        (giuliano, il nostro 13 febbraio) di più di cento anni fa, per la precisione nel 1918.
        Sono passati tre mesi dalla fine della rivoluzione bolscevica (smatto clamoroso da studiare per via
        appunto della confusione tra date: “La Rivoluzione di Ottobre” e poi me la fanno a novembre, vabbé…),
        e Lenin si sveglia nel suo letto mezzo di sudore: come fanno i proletari di tutto il mondo ad unirsi
        se non hanno nemmeno lo stesso calendario? Ci diamo appuntamento a casa della nonna per domenica alle
        una e magari questi mi arrivano il mercoledì nemmeno di quella settimana ma del mese successivo!
        No dai, non si può fare così, dobbiamo risolvere al più presto.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Sollevato il problema, un manipolo di scienziati e studiosi pone davanti al nostro caro Vladimir due opzioni:
        <br />
    </p>
    <p class="text-left">
        –Allora, se vuole scaglioniamo quei tredici giorni di differenza spalmandoli uno per ogni anno,
        ed in 13 anni senza troppa confusione abbiamo risolto in modo pulito, ci sembra una buona idea...
        <br />
    </p>
    <p class="text-left">
        –Oppure?
        <br />
    </p>
    <p class="text-left">
        –Oppure, cosa che le sconsigliamo, tagliamo quei 13 giorni oggi e domani siamo al 14 febbraio;
        ma le ripetiamo, non sarebbe funzionale; tutti avranno problemi a trovare il regalo di San Valentino,
        farà lasciare un sacco di coppie signore.
        <br />
    </p>
    <p class="text-left">
        <i class="text-orange fa fa-share"></i>
        Quindi Lenin, che non aveva la tipa e rosicava, decise di fare le cose così, de botto, senza senso; e in pieno stile bolscevico si impose sulla tradizione in favore dell’ammodernamento brusco, che il giorno successivo fece svegliare tutti i russi in notevole confusione:
        <br />
    </p>
    <p class="text-left">
        –Mamma mia, quando si invecchia il tempo passa troppo veloce, mi sembrava ieri che eravamo a fine gennaio…
        Quella confusione che abbiamo tutti noi in lockdown.
        <br />
    </p>
    <p class="text-left">
        <i class="text-orange fa fa-share"></i>
        Scherzi a parte, questa decisione si inserisce nel generale approccio bolscevico finalizzato alla rottura
        con l’epoca precedente, aspirando alla distruzione della vecchia statualità, della vecchia cultura
        tradizionale, delle vecchie abitudini e delle norme del diritto formale e comune, per costruire uno
        stato con valori nuovi, in scontro a viso aperto contro l’egemonia della tradizione ortodossa.
        In realtà la riforma era stata proposta già a partire dall’Ottocento, ma l’impero e la famiglia regnante,
        molto fedeli e legati al sostegno della Chiesa russa, si erano rifiutati categoricamente, ritenendo
        la proposta offensiva rispetto alla storia del paese. Una commissione istituita dallo stesso zar
        rispose alle richieste nero su bianco “gli Stati ortodossi e tutti i popoli ortodossi dell’est e
        dell’ovest respingono tutti i tentativi dei rappresentanti del cattolicesimo di introdurre il calendario
        gregoriano in Russia”. In altre parole, il calendario era percepito come una sorta di sabotaggio cattolico
        diretto contro la Chiesa ortodossa. E la posizione degli integralisti ortodossi era di fondamentale
        importanza.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Qualche anno dopo con la fine della Prima Guerra Mondiale, purtroppo per loro, persero la difesa politica 
        dello zar, e non riuscirono ad imporsi nuovamente alla riforma, questa volta  dei bolscevichi, con cui le 
        relazioni erano tesissime. Nonostante le forti pressioni, preferirono la lotta estrema all’ubbidienza: 
        essi non vollero cedere né alle influenze occidentali né agli atei di casa propria, e per questo motivo mantennero 
        la loro indipendenza religiosa fino ad oggi.
    </p>
</div>