@{ 
    Layout = "_Layout";
    ViewData["Title"] ="Il grande segreto della spagnola";
    ViewData["Keywords"] = "politix italia, politixitalia, epidemia, spagnola, covid-19, virus, coronavirus, ";
    ViewData["Descrizione"] = "Un secolo fa, nel 1918, il mondo venne investito da un’altra grande pandemia. Ma che segreto custodisce gelosamente la cosiddetta 'Spagnola' ?";
    }

<div class="container text-center">
    <h1 class="text-primary">Il grande segreto della spagnola</h1>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Un secolo fa, nel 1918, il mondo venne investito da un’altra grande pandemia. La gente tossiva,
        scottava di febbre e faceva fatica a respirare. Non si avevano le competenze scientifiche per sintetizzare un vaccino; non si riusciva neanche a debellare il virus una volta preso; e tanto meno ad arginarne anche
        solo i sintomi, come quelli da polmonite. Una vera tragedia.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Insomma avrete capito a cosa mi sto riferendo, se ne parla sempre in apposizione al nostro caro COVID19;
        stiamo parlando dell’influenza spagnola. Il paragone è presto fatto: i sintomi sono estremamente simili e
        lo stesso vale per le modalità di diffusione, per questo motivo
        anche le due curve di contagio si presentano praticamente come sovrapponibili.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La grande influenza, fu la prima influenza mortale ad invadere il mondo del ventesimo secolo fra il1918​ e il ​1920​. Arrivò
        a infettare circa 500 milioni di persone in tutto il mondo, inclusi alcuni abitanti di remote isole dell'​Oceano Pacifico​ e del ​Mar Glaciale Artico​, provocando il decesso di 50 milioni di persone
        su una ​popolazione mondiale​ di circa 2 miliardi. La mortalità totale le valse la definizione dipiù grave forma di ​pandemia​ della ​storia dell'umanità​: ha infatti
        causato più vittime della terribile peste nera​ del ​XIV secolo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La malattia ridusse notevolmente (di quasi 12 anni!) l'​aspettativa di vita della popolazione,
        perché al contrario della SARS-CoV e di tutte le altre epidemie di virus, colpiva prevalentemente giovani
        e adulti sanissimi, non gli anziani o i malati. Ad infioccare il pacco regalo il clima, che in quel periodo, con un'anomalia ciclica, rese ancora più favorevole l’ambiente per il proliferare della spagnola.
        Ma adesso arriviamo al nocciolo del discorso: <span class="font-weight-bold text-orange">perché segreto?</span>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Che mistero nasconde la spagnola tanto gelosamente? Non vedo l’ora di svelarvi il segret..ma almeno sapete
        perché esistono le pandemie? Come si fa a regalare una
        confidenza del genere a chi non ha neanche idea di cosa si parli? Le perle ai porci!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Le epidemie nascono per un motivo molto più semplice di quanto crediate: l’evoluzione. Non solo la loro, certo anche
        , si sviluppano col solo scopo di migliorare le loro possibilità di infettare un corpo ospitante, infimi esseri,
        che siano batterici o virali poco importa, brutte bestie uguale.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Comunque,l’evoluzione a cui mi stavo riferendo è la nostra, sì esatto. Gli uomini sono animali sociali,
        diceva Aristotele, e in quanto tali, più si evolvono e più creano connessioni tra loro; questo è il miracolo
        della globalizzazione! “Miracolo”? Le fantastiche navi genovesi, prodigio tecnologico, spinsero alla globalizzazione i propri mercanti, capaci di fondare colonie ovunque, inclusa la bellissima Kaffa,
        enorme base d’appoggio alle porte dell’oriente, che meraviglia.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Fu solo grazie alla fondazione di Kaffa se i mongoli, affascinati dall'imponenza della roccaforte, decisero di conquistarla con l’ausilio di catapulte che lanciavano direttamente dentro alle mura i cadaveri degli infetti: ecco la peste bubbonica in Europa. Ne volete un altro? Le caravelle di Colombo!
        Il vaiolo portato dai colonizzatorispagnoli gli indigeni delle americhe più delle armi, loro non avevano mai visto quella malattia,
        e purtroppo nemmeno il loro sistema immunitario.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Allora si spiega bene il COVID-19, nato dalla profonda rete commerciale del mondo intero, ormai
        indissolubile e anzi sempre più fitta. E di conseguenza anche il motivo del lockdown, espressione
        massima dell’antisocialità, che può essere  tamponata ma mai azzerata. Vi chiederete cosa c’entri questo con la nostra spagnola, ecco la rivelazione: la spagnola NON è nata in Spagna né è in Spagna che si è manifestata
        con più violenza.La spagnola si chiama così per un semplice motivo politico.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        In realtà l’origine geografica è tutt’oggi motivo di controversia. Forse proveniente anch'esso dall’Asia,
        o quasi sicuramente colpa dello sbarco americano nel Vecchio Continente per via della Grande Guerra; anche
        se molti storiografi e virologi ipotizzano che il vero sviluppo fosse avvenuto in campi militari francesi
        ed inglesi, e che solo
        dopo la malattia sconosciuta sarebbe stata ricollegata all’epidemia spagnola.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ipotesi a parte, la verità che tutti aspettavate è che all'influenza fu dato il nome di "spagnola" poiché la sua
        esistenza fu riportata soltanto dai giornali spagnoli: la Spagna non era coinvolta nella prima guerra mondiale e
        la sua stampa non era soggetta alla ​censura​ di guerra; mentre nei paesi belligeranti la rapida diffusione della
        malattia fu nascosta dai mezzi d'informazione per volere della classe politica,
        interessata a mantenere la stabilità dei governi e del popolo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        I media infatti tendevano a parlarne come di un'epidemia circoscritta alla Spagna, facendo forza sul fatto che
        addirittura il re ​Alfonso XIIIl’avesse contratta. La malattia intanto, non credendo alle fake news, continuava
        sotto il naso di tutti a diffondersi in larga scala,
        imperversava tragicamente in Europa ed oltre.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Queste le capacità manipolative del quarto potere: la comunicazione di massa. Col tempo essa diventerà sempre
        più fondamentale per guidare gli Stati e non,
        arrivando fino ai giorni nostri, ormai principale forma di controllo politico.
        <br />
    </p>
</div>