
@{
    Layout = "_Layout";
    ViewData["Title"] = "Il Manuale Cencelli";
    ViewData["Keywords"] = "politix italia, politixitalia, cencelli, manuale, governo, draghi, maggioranza, opposizione, parlamento";
    ViewData["Descrizione"] = " Manuale Cencelli: l’hai mai sentito dire? Ormai si tratta di espressione cult nel mondo del giornalismo, soprattutto in questo particolare momento di transizione politica; forse però non a tutti è noto il suo significato, quindi oggi ve lo spieghiamo noi! ";
}

<div class="container text-center">
    <p class="text-right">
        19 Febbraio 2021
    </p>
    <h1 class="text-primary">Il Manuale Cencelli</h1>
    <br />
    <br />
    <h6>
        <span class="font-italic">
            Manuale Cencelli: l’hai mai sentito dire? Ormai si tratta di espressione cult nel mondo del
            giornalismo, soprattutto in questo particolare momento di transizione politica; forse però non
            a tutti è noto il suo significato, quindi oggi ve lo spieghiamo noi!
        </span>
    </h6>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Questa espressione, spesso usata in modo tagliente ed ironico, allude all'assegnazione di
        ruoli politici con spartizioni di convenienza molto misurate.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Essa nasce, come tutte le cose indelebili della nostra storia, nella Prima Repubblica, più
        precisamente nel 1967, durante la crisi del governo Moro III. Eredita il nome dal padre
        biologico: Massimiliano Cencelli, un funzionario della Democrazia Cristiana , che lo ideò a
        seguito della fondazione dei “pontieri” (i costruttori di ieri per intendersi, che dovevano
        mediare tra DC e sinistra). Cencelli raccolse in questo manuale scritto a mano, di cui si
        vocifera esistano solo altre 7 copie in carta carbone al mondo, delle semplici considerazioni
        sulla distribuzione delle cariche politiche in base al peso specifico di voti ottenuti, similmente
        ad un’azienda privata, in cui alle azioni possedute corrisponde un certo quantitativo di potere
        esercitato.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Oltre all’assegnazione dei posti, il manuale affrontava anche il delicatissimo problema della
        ridistribuzione post crisi, nel passaggio tra un governo e l’altro di una stessa legislatura
        (proprio come è successo adesso a noi). Ad esempio, sosteneva che al Presidente del
        Consiglio uscente spettasse di diventare Ministro degli Esteri, un ruolo autorevole ma
        abbastanza defilato, così da non incombere sulle scelte politiche del successore.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Tanto fu oculato da essere riutilizzato negli anni a seguire e anche dopo la scomparsa della
        DC; ogni ruolo aveva un valore, ed ogni attribuzione veniva calcolata su strette e precise
        basi aritmetiche, come fosse un formulario politico a tutti gli effetti!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Sono sicuro che durante gli anni di studio, a molti di voi la matematica avrà fatto perdere
        capelli e speranze nel futuro, ma non a Mario Draghi, economista sopraffino.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        C’era da aspettarselo, come non andare a parare sull’attualità quando si parla di spartizione
        oculata...Si direbbe che questo nuovo governo sia la massima espressione di Manuale
        Cencelli giusto? E diresti bene, anzi, ormai le chiavi della politica sono nelle tue mani, una
        vera volpe politica dopo questa intuizione, altro che Machiavelli...e invece no.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        L’apparenza inganna, e dove molti hanno visto una mera discesa a patti di SuperMario (sai
        perché si chiama così? Leggi lo scorso episodio di PolitiCult!), in pochi si sono accorti della
        sua astuzia. Mettiamo le mani avanti: non neghiamo che i ruoli siano stati assegnati davvero
        tramite equazioni algebriche a più incognite, in pieno stile Cencelli; un governo di così larga
        intesa non sarebbe stato concesso a nessun altro, né partiti né altri singoli; la sola idea di
        raccimolare una tale varietà di poltrone solo per andare al governo avrebbe fatto rovesciare
        lo stomaco a chiunque, e se i cittadini si sono anzi mostrati favorevoli è solo grazie alla
        nomea del Presidente del Consiglio.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Eppure a soffermarcisi sopra, scavando sotto la
        superficie concreta e pratica della divisione equa di cariche, notiamo in realtà che mancano i
        valori, le intenzioni e la teoria di quella guida firmata DC.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ci troviamo paradossalmente
        davanti ad un ribaltamento completo del Manuale: invece che per unire, la spartizione pare
        piuttosto separare e frammentare il governo, catalogandolo in piccole aree per tenere lontani
        i partiti.  <span class="font-weight-bold">Divide et impera</span>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Draghi ha scelto in modo oculato quali ministeri tenere per sé (ad esempio quello delle
        relazioni con l’Europa, solitamente fuori dal controllo del Presidente del Consiglio) e quali
        commissariare ai suoi tecnici; per poi centellinare il resto in modo da rendere tutti gli altri utili
        ma non necessari. Siamo fuori dagli schemi classici, Draghi non è un Presidente del
        Consiglio standard; infatti non è un primus inter pares, non è un coordinatore e non è un
        mediatore; o meglio è anche questo, ma sta un gradino sopra a tutti e comanda in solitaria,
        a mezzo tra la presidenza del consiglio e quella della repubblica, un vero e proprio “Premier”
        (parola erroneamente abusata in Italia dato che i due ruoli da noi sono appunto divisi) in stile
        europeo, a richiamare Boris Johnson, Macron o la Merkel.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Sarà lui a dare una direzione, salvo poi delegare quando crede, senza dipendere da
        consensi popolari, alleati di governo e pagine di giornale.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        A dire il vero ancora sappiamo poco sulla sua direzione, e di formule ne appare solo una:
        23 ministri = 8 tecnici + 15 politici, di cui 4 M5S + 3 Lega + 3 PD + 3 Forza Italia + 1 Italia
        Viva + 1 LeU
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Torneranno i conti? Speriamo Draghi ci sappia fare davvero con la matematica...
        <br />
        <br />
</div>