@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Il piu grande Esodo Della storia";
    ViewData["Keywords"] = "emigrazione, immigrazione, esodo, sacco, vanzetti, america, usa, storia";
    ViewData["Descrizione"] = "Il più grande esodo della storia non avvenne in Egitto, quando gli ebrei guidati da Mosè decisero di attraversare il deserto del Sinai, prendendosela bella comoda tra l’altro, dato che il tempo di percorrenza a piedi della tratta viene stimata da Google Maps a poco più di 24ore...";
}

<div class="container text-center">
    <h1 class="text-primary">Il più grande esodo della storia</h1>
    <br />
    <img src="~/PolitiCult/IlPiuGrandeEsodoDellaStoria/IlPiuGrandeEsodoDellaStoria.jpg" alt="Il più grande esodo della storia" class="immaginePolitiCult"/>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Il più grande esodo della storia non avvenne in Egitto, quando gli ebrei guidati da Mosè decisero di attraversare
        il
        deserto del Sinai, prendendosela bella comoda tra l’altro, dato che il tempo
        di percorrenza a piedi della tratta viene stimata da Google Maps a poco più di 24 ore...
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il più grande esodo della storia non sta avvenendo neanche adesso, quando nel giro di una decina di
        anni
        sono arrivati in Europa circa (stime molto approssimative) 2 milioni di sfollati.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il più grande esodo della storia è avvenuto a partire dal 1861 in Italia, quando il miraggio del sogno americano
        si infiltrò nella nostra cultura. In totale fino quasi all’inizio del Novecento vennero registrate ventiquattro MILIONI
        di partenze, aspettate che ve lo scrivo in numeri almeno vi rende meglio: 24 000 000 !
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ora, per spiegarvi ancora più accuratamente cosa questo dato significhi, porterò un confronto diretto: all’ingresso
        nella Prima Guerra Mondiale,quando la moda dell’emigrazione iniziò ad affievolirsi, nel Bel Paese eravamo 35
        milioni, quindi
        chi salpò oltre l’Atlantico avrebbe rappresentato due quinti dell’intera Nazione.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Dal 1900 alla fine della guerra il primato migratorio venne conquistato dalle regioni del Sud: le sole Campania,
        Calabria e Sicilia in meno di vent’anni fecero contare circa 3 milioni di esuli, dei 9 totali registrati in tutta Italia. Ma il dato più interessante,
        ed ironico, è quello precedente all’inizio del secolo, dato che tra 1861 e 1900, Friuli, Veneto e Piemonte
        fornirono la metà degli esuli totali di questo lasso di tempo, un po’ più di 7 milioni.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Senza arte né parte questi poveri disgraziati partirono alla volta della terra delle opportunità sfamandosi solo di speranze:
        l’unica cosa che gli rimaneva da addentare tra due fette di pane secche; erano perlopiù contadini che lasciavano le loro famiglie
        senza braccia con la promessa di un riscatto futuro che in molti casi
        non arrivò mai, aumentando la fame dei parenti e invogliando anche essi a partire.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Eravamo rifugiati, chi per un motivo chi per un altro. Guerra, fame o motivi politici che fossero, come poteva importare?
        Eppure importava, non a noi ma agli USA, che misero in atto delle iniziative, anche legislative, atte a frenare il fenomeno. Esempi di tali restrizioni furono,
        negli Stati Uniti, l'Emergency Quota Act del 1921 e l'Immigration Act del 1924.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Anche l'Italia della dittatura fascista mise in atto iniziative, negli anni venti e trenta, per frenare l'emigrazione,
        costringendo il popolo a sottostare al regime.  Come conseguenza della massiccia emigrazione dalla penisola, iniziarono
        a nascere molti pregiudizi contro gli italiani​ (fenomeno che è all'antitesi dell'​italofilia​,
        che invece è l'ammirazione, la stima e l'amore verso gli ​italiani​ e l'​Italia​).
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Questo fenomeno di discriminazione ​​etnica​ contro gli italiani e l'Italia è attestato ancora oggi
        soprattutto nei Paesi del ​Nordameric​a. Degni di nota, tra gli episodi di violenza contro gli italiani
        perpetrati nel mondo, sono il ​linciaggio di New Orleans​ (1891), durante il quale vennero ​linciati​ undici
        italiani, quasi tutti siciliani, accusati di aver ucciso il capo della polizia urbana della città statunitense; 
        ma soprattutto il processo agli ​anarchici​ italiani ​Sacco e Vanzetti​, avvenuto a Boston​ nel 1927, durante il quale
        la Paura Rossa si mischiò al pregiudizio contro gli immigrati​ italiani, 
        che emerse con chiarezza e contribuì alla loro ingiusta condanna a morte.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Eravamo poveri e deboli, il perfetto capro espiatorio; per questo non vi 
        stupite se all’estero siamo considerati solo mafia, pizza, mandolino...c’è stato un periodo in cui non ci rimaneva ché quello, 
        insieme alla speranza, messa tra due fette di pane secche.
        <br />
        <br />
    </p>
</div>