@{
    ViewData["Title"] = "IlPresidenteAzzurro";
    Layout = "_Layout";
    ViewData["Descrizione"] = "il 5 Giugno 1947, George Marshall, annunciò il progetto USA di aiuto economico-finanziario per l'Europa; chiamato European Recovery (ERP), prese poi il nome per convenzione storiografica di Piano Marshall";
    ViewData["Keywords"] = "piano, marshall, 1947, usa, guerra, accordo, economia, rapporti internazionali, estero, politica, comunismo";
}


<div class="container text-center">
    <h1 class="text-primary">Il Presidente Azzurro</h1>
    <br />
    <img class="IlPresidenteAzzurro" src="~/PolitiCult/IlPresidenteAzzurro.jpeg" />
    <br />
    <br />
    <div class="text-left">
        <p>
            <i class="fa fa-flag"></i>
            Con la morte di Paolo Rossi ci lascia un pezzo di Italia: cancellando uno spicchio di quel
            cielo azzurro che fu il Mondiale del 1982. Oggi parliamo di un’altro di quegli spicchi di cielo,
            anche lui scomparso, e che pur non essendo sceso in campo insieme a Pablito non può non
            andarvi a braccetto. Due leggende capaci di emozionare col ricordo, far tornare la pelle d’oca,
            e riempire i cuori d’azzurro.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            L’azzurro è il colore della nostra Nazione, che è diversa dallo Stato.
            La Nazione è l’insieme di persone che vivono sotto lo stesso confine territoriale, mentre lo
            Stato è il tipo di organizzazione politica che lo regola: la Nazione quindi è il popolo e lo Stato
            l’istituzione. Il presidente di cui parleremo oggi, era per l’appunto, come anticipato nel titolo,
            azzurro; in un quadruplo gioco di parole per così dire. Come mai?
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            Da una parte l’allusione al principe azzurro, poiché capace di far innamorare chiunque, ma
            davvero. Dall’altra proprio per esprimere il concetto che abbiamo appena sottolineato, lui era
            azzurro, non tricolore: non rivestiva soltanto la carica di capo di Stato, era qualcosa di più, un
            vero e proprio leader carismatico della Nazione intera, di noi persone; un uomo piccolo solo
            fisicamente ma gigante per autorevolezza, ben diversa dall’autorità.
            Ma andiamo con ordine: sapete il motivo per cui, quando giochiamo nel mondo, qualsiasi
            sport esso sia, indossiamo l’azzurro e non il verde/bianco/rosso?
            Semplice, per via dei Savoia, casa regnante d’Italia, prima del referendum costituzionale; il
            cui colore era proprio il Blu Savoia, un azzurro molto acceso.
            Questo per via del suo significato, in quanto simbolo di creatività, pacatezza e coesione,
            insieme ai suoi due valori costituenti: lealtà ed idealismo. Lealtà ed idealismo cadono a
            pennello infatti per il nostro protagonista mascherato, o per meglio dire occhialuto. Facciamo
            un recap di ciò che abbiamo fatto trapelare: piccolo e con gli occhiali, non esattamente un
            simbolo di forza direte voi...Beh e invece vi sbagliate, perché forse con quel sorriso semplice
            è stato il presidente più importante della nostra storia. Insomma, spero abbiate già capito di
            chi stiamo parlando: Sandro Pertini.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            Nato a Stella, in provincia di Savona, il 25 settembre 1896. Durante la prima guerra
            mondiale combatté sul fronte dell'Isonzo e per diversi meriti sul campo gli fu conferita una
            medaglia d'argento al valor militare nel 1917 . Nel primo dopoguerra aderì al Partito
            Socialista Unitario di Filippo Turati e si distinse per la sua energica opposizione al fascismo .
            Perseguitato per il suo impegno politico contro la dittatura di Mussolini , nel 1925 fu
            condannato a otto mesi di carcere, e quindi costretto all' esilio in Francia . Continuò la sua
            attività antifascista anche all'estero e per questo, dopo essere rientrato sotto falso nome in
            Italia nel 1929 , fu arrestato e condannato all’ergastolo.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            Solo nel 1943 , alla caduta del regime fascista , fu liberato. Contribuì a ricostruire il vecchio
            PSI fondando insieme a Pietro Nenni e Lelio Basso il Partito Socialista Italiano di Unità
            Proletaria . Il 10 settembre 1943 partecipò alla battaglia di Porta San Paolo nel tentativo di
            difendere Roma dall'occupazione tedesca, dove fu catturato dalle SS e condannato a morte;
            riuscì a salvarsi evadendo dal carcere di Regina Coeli . Nell'aprile 1945 partecipò agli eventi
            che portarono alla liberazione dal nazifascismo , organizzando l'insurrezione di Milano e
            votando il decreto che condannò a morte Mussolini e gli altri gerarchi fascisti.
            Insomma, non basterebbe una giornata per raccontare tutte le imprese di resistenza incredibili
            che fece quell’ometto quattr’occhi…
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            Nell' Italia repubblicana fu eletto deputato all' Assemblea Costituente per i socialisti, quindi
            senatore nella prima legislatura e deputato in quelle successive, sempre rieletto dal 1953 al
            1976 . Ricoprì per due legislature consecutive, dal 1968 al 1976 , la carica di presidente della
            Camera dei deputati , infine fu eletto presidente della Repubblica Italiana l'8 luglio 1978 ,
            rimanendo in carica fino al 29 giugno 1985 .
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            E’ qui che entrò delicato nell’immaginario popolare, con la sua umiltà, la sua diligenza, e la
            sua gentilezza. Pertini non fu un presidente, bensì un uomo, nel vero senso della parola; e non
            come si cerca di ostentare adesso la vicinanza alla gente, con demagogia e populismo,
            assolutamente no. Pertini era un uomo perché si comportava da uomo: nella rigidità del ruolo
            impostogli trovava sempre sprazzi genuini di umanità. L’esempio per antonomasia fu quello
            dei mondiali dell’82, grazie al quale, come dicevamo, divenne spicchio di quel cielo
            nazionale.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            Finale di Coppa del Mondo, Italia 1 - Germania 0, cerchiamo l’affondo per chiudere la
            partita ma i tedeschi continuano il pressing asfissiante. Siamo al 69esimo minuto in area
            tedesca; il passaggio sfila nella maglia difensiva fino ad arrivare sui piedi di Tardelli; sullo
            stop alza la palla in aria ma riesce comunque a colpirla in allungo: si gonfia la rete e l’Italia
            raddoppia. Viene giù il Santiago Bernabeu, l’esultanza in corsa di Tardelli infatti diverrà
            storica; ma a rimanere ancora più impresso a ferri infuocati sulle retine degli italiani sarà
            proprio Pertini. Dalla tribuna d’onore, in un gesto allora mai visto per una carica politica del
            suo calibro, si alzò in piedi, senza riuscire a contenersi dall’emozione, lanciando le braccia al
            cielo; quel cielo che stava finalmente diventando nostro: “Non ci prendono più!”. Eh già
            presidente, non ci presero più...
        </p>
        <br />
    </div>
</div>
