 @{ 
     Layout = "_Layout";
     ViewData["Title"] = "Il Trasformismo e De Pretis";
     ViewData["Descrizione"] = " Non abbiamo fatto in tempo a sperare in tempi migliori con l’arrivo del vaccino, che siamo piombati in una crisi di governo paradossale. Le prospettive aprono anche a scenari che ripropongono una disciplina in cui noi italiani siamo fortissimi: il trasformismo.";
     ViewData["Keywords"] = "politixitalia, politix italia, trasformismo, de pretis, conte, conte ter, governo, governo cade";
 }

<div class="container text-center">
    <h1 class="text-primary">Il trasformismo e De Pretis</h1>
    <br />
    <br />
    <p class="text-left">
        <i class="text-orange fa fa-share"></i>
        Dobbiamo dircelo: nell’ultima settimana abbiamo vissuto uno scenario eclatante. Non abbiamo fatto in tempo a sperare in tempi migliori con l’arrivo del vaccino, che siamo piombati in una crisi di governo paradossale. Ad essere assurdo non è solo lo sfondo di questo momento storico, ma anche i motivi del putiferio scatenato (il 50% degli italiani ammette di non sapere neanche cosa stia accadendo: non temete, ve ne parleremo a brevissimo!).
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        E così si aprono le porte per infinite possibilità potenziali: con o senza elezioni; con o senza questa coalizione; e soprattutto con o senza Conte. Per molti versi sembra essere lui il problema per Renzi ed Italia Viva. Nei tempi non sospetti del primo mandato, il nostro antieroe, al secolo professore uscente di diritto privato, era stato scelto anzi per la sua pacatezza un po’ scialba, cosicché potesse mediare ed attenuare le sfumature tra il giallo ed il verde.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Poi, nel secondo mandato Conte-bis, qualcosa è scattato, trasformandolo nell’antitesi del piccolo ed umile professore: ecco Giuseppi Thanos, capace di prendere in pugno la situazione, come calzasse  il guanto dell’infinito targato Marvel. E’ stato proprio questo suo accentramento a far storcere il naso a molti; e se da una parte adesso sembra gli possa essere fatale, dall’altra potrebbe ancora rivelarsi un vantaggio. Come direte voi? Beh, la popolarità del premier supera quella di qualsiasi altro leader italiano che si ricordi, nel bene e nel male: non esiste cattiva pubblicità, ma solo pubblicità.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Per molti versi Conte avrebbe ancora la capacità di incarnare il giusto mezzo (verrebbe da dire ormai super partes) tra le innumerevoli variabili schierate da un lato o dall’altro: ecco allora l’ipotesi Conte-ter. Si sa, tre è il numero perfetto; come ogni pokemon serio che si rispetti, potrebbe quindi evolversi ancora cambiando qualche attributo, anche se, ad essere onesti, per riuscire a stupire ancora dopo tutto quello che ha fatto, dovrebbe come minimo cambiare connotati…
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Scherzi a parte, Giuseppe non è stato e non sarebbe il primo a fare questi salti; prima di lui abbiamo una pletora di cambia casacche; la nostra nazione, da sempre, è patria di quel fenomeno che prende il nome di trasformismo. Ok, ho tirato fuori questa parola giusto qualche riga dopo aver parlato di cambiare i connotati, quindi qualcuno di voi potrebbe essersi spaventato, ma tranquilli: non sto dicendo che la nostra classe politica abbia tradizione di transgenderismo, anche se Marrazzo (cercatevelo se siete curiosi, queste quattro mura di foglio non mi sembrano appropriate) gradirebbe.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Cos’è quindi il “trasformismo”?  Nel gergo parlamentare, esso consistente nel formare di volta in volta maggioranze parlamentari intorno a singole personalità e su programmi contingenti, superando le tradizionali distinzioni tra destra e sinistra. Ad oggi in particolare, ha assunto in tono non esattamente positivo l’arrivismo spregiudicato di chi cerca in tutti i modi di rimanere attaccato alla poltrona ricorrendo, invece che al corretto confronto parlamentare, a manovre di corridoio, a compromessi, a clientelismi, senza più alcuna coerenza ideologica con la linea del partito.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Bisogna dire però che di base la pratica non sarebbe neanche eticamente sbagliata, ed il primo a colladuarla fu il famosissimo Agostino Depretis dal 1876. Il premier della Sinistra liberale auspicò che gli esponenti più progressisti della Destra entrassero nell'orbita della Sinistra, creando allora un nuovo schieramento centrista moderatamente riformatore, che bloccava l'azione delle ali progressiste del Partito Radicale Italiano presenti in Parlamento.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Il trasformismo in realtà trova antenati alla lontana addirittura durante la rivoluzione francese nel gruppo della Pianura (la “Palude”, come veniva chiamata in modo dispregiativo), cioè il centro moderato tra montagnardi e girondini. Eppure senza andare troppo lontani da casa, anche con Cavour nel 1852 si ebbe quell’accordo di mezzo che venne nominato Il Connubio. Insomma, tra primati e predecessori, come dicevamo il vero trasformismo arrivò con Depretis; il 25 marzo 1876 si insediò il suo primo governo della Sinistra storica, deboluccio di fisico però, data la presenza di soli uomini di sinistra.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        In questo caso il nuovo presidente del Consiglio diede una dimostrazione della propria abilità politica riuscendo ad acquisire l'appoggio di alcuni elementi di Destra, cui promise la cancellazione del progetto di nazionalizzazione delle ferrovie, argomento che aveva creato polemiche interne allo schieramento moderato.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Tale provvedimento tuttavia spaccò al suo interno il raggruppamento di Sinistra. La conseguenza obbligata furono le elezioni, indette per il 5 novembre 1876, che confermarono Depretis come leader della maggioranza insieme ad un governo minestrone di sinistra, grandi industrie e forze regie di Vittorio Emanuele II.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Agostino ci prese così gusto che stette al governo fino al luglio 1887 (11 anni!), con due sole brevi interruzioni di Benedetto Cairoli.
        <br />
        <br />
        <i class="text-orange fa fa-share"></i>
        Chiudiamo quindi con una sua citazione da marpione politico, che potete riutilizzare quando volete come giustificazione per eventuali desideri di poligamia:
        <blockquote class="font-italic font-weight-bolder">«Se qualcheduno vuole entrare nelle nostre file, se vuole accettare il mio modesto programma, se vuole trasformarsi e diventare progressista, come posso io respingerlo?».</blockquote>
        <br />
    </p>
</div>