@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container">
    <div class="card-deck text-center">
        <a asp-controller="PolitiCult" asp-action="NildeIotti" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/NildeIotti.jpeg" class="card-img-top" alt="Nildeiotti" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Nilde Iotti: la donna che serve oggi</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="IlManualeCencelli" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/IlManualeCencelli.jpeg" class="card-img-top" alt="Il Manuale Cencelli" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il Manuale Cencelli</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="HicSuntDracones" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/HicSuntDracones.jpeg" class="card-img-top" alt="HicSuntDracones" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Hic sunt dracones</h5>
            </div>
        </a>

    </div>

    <div class="card-deck text-center">
        <a asp-controller="PolitiCult" asp-action="IlFebbraioPerfetto" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/IlFebbraioPerfetto.jpeg" class="card-img-top" alt="IlFebbraioPerfetto" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il febbraio perfetto</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="ScilipotiECariddi" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/ScilipotiECariddi.jpeg" class="card-img-top" alt="Scilipoti e Cariddi" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Scilipoti e Cariddi</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="IlTrasformismoEDePretis" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/IlTrasformismoEDePretis.jpg" class="card-img-top" alt="Il trasformismo e De pretis" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il trasformismo e De Pretis</h5>
            </div>
        </a>


    </div>

    <div class="card-deck text-center">
        <a asp-controller="PolitiCult" asp-action="SetteGennaio" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/SetteGennaio.jpeg" class="card-img-top" alt="Sette Gennaio" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il sette gennaio</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="IlPresidenteAzzurro" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/IlPresidenteAzzurro.jpeg" class="card-img-top" alt="Il Presidente Azzurro" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il Presidente Azzurro</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="IlGrandeSegretoDellaSpagnola" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/IlGrandeSegretoDellaSpagnola.jpeg" class="card-img-top" alt="Il grande segreto della spagnola" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il Grande segreto della Spagnola</h5>
            </div>
        </a>


    </div>

    <div class="card-deck text-center">
        <a asp-controller="PolitiCult" asp-action="ManiPulite" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/ManiPulite.jpeg" class="card-img-top" alt="Mani Pulite" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Mani pulite (e l'igienista più famoso della storia italiana)</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="LItalianaUrsula" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PolitiCult/UrsulaVonDerLayen.jpeg" class="card-img-top" alt="Ursula Von der Layen" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">L'italiana Ursula</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="IlPiuGrandeEsodoDellaStoria" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/IlPiuGrandeEsodoDellaStoria.jpeg" class="card-img-top" alt="Il più grande esodo della storia" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il più grande esodo della storia</h5>
            </div>
        </a>


    </div>

    <div class="card-deck text-center">
        <a asp-controller="PolitiCult" asp-action="LilianaSegre" class=" card cardnumber3 cardhover p-1 text-decoration-none" style="width:100%;">
            <img src="/ImagesJpg/LilianaSegre.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Liliana Segre</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="MonarchiaRepubblica" class="card cardnumber3 cardhover p-1 text-decoration-none" style="width: 100%;">
            <img src="~/ImagesJpg/MonarchiaRepubblica.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Monarchia-Repubblica: la grande partita</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="PianoMarshall" class="card cardnumber1 cardhover p-1 text-decoration-none" style="width: 100%;">
            <img src="~/ImagesJpg/PianoMarshallQuadratoMara.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body text-decoration-none">
                <h5 class="card-title nomepartitocard text-dark">Il Piano Marshall in pillole</h5>
            </div>
        </a>
    </div>
    <div class="card-deck text-center">
        <a asp-controller="PolitiCult" asp-action="Andreotti" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/GiulioAndreottiGiovaneQuadrato.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Giulio Andreotti in 6 aforismi</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
            </div>
        </a>
        <!--


         -\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-
        CODICE PER SLOT VUOTO CON IMMAGINE COMING SOON
        -\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-


        <a asp-controller="PolitiCult" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
        <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
        <div class="card-body">
        <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
        </div>
        </a>









            div class="card-deck text-center">

        <a asp-controller="PolitiCult" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
            </div>
        </a>
        <a asp-controller="PolitiCult" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
            </div>
        </a>
    </div>

        -->
    </div>
    
</div>