@{
    ViewData["Title"] = "LilianaSegre";
    Layout = "_Layout";
}

<div class="container text-center">
    <h1 class="text-primary">Liliana Segre</h1>
    <br />
    <img src="~/ImagesJpg/LilianaSegreFotoArticolo.jpg" class="immagineLilianaSegre" alt="immagine non trovata" />
    <br />
    <br />
    <div class="text-left">
        <p>
            <i class="fa fa-share text-primary"></i>
            Tutti conosciamo Liliana Segre, se non per nome quantomeno di vista: una signora minuta ed umile che, detto tra noi,
            sembra la sorella illegittima di Mattarella. No a parte gli scherzi; sul serio, ti prego vai a guardare è scandaloso,
            da quando ho fatto questa associazione non la vedo più come prima...
            <br />
            <br />
            <i class="fa fa-share text-primary" "></i>
            A parte questa piccola digressione personale che dovevo fare assolutamente come sfogo da ossessione compulsiva,
            Liliana Segre per molti significa altro rispetto alla parentela col Presidente della Repubblica; significa emancipazione femminile,
            determinazione, acume italiano e soprattutto, suo malgrado, olocausto.
            <br />
            <br />
            <i class="fa fa-share text-primary" "></i>
            Nata a Milano in una famiglia ebraica, visse col padre ed i nonni paterni poiché orfana di madre ad appena un anno. La famiglia era
            laica, ma come successe a quasi tutte le famiglie ebree, a fregarli fu il cognome: Liliana realizzò per la prima volta cosa significasse
            essere ebrea attraverso il dramma delle leggi razziali fasciste del 1938,
            in seguito alle quali venne espulsa dalla scuola che frequentava.
            <br />
            <br />
            <i class="fa fa-share text-primary" "></i>
            Dopo l'intensificazione della persecuzione degli ebrei italiani, suo padre la nascose presso degli amici,
            utilizzando documenti falsi. Il 10 dicembre 1943 provò, assieme al padre e duecugini, a fuggire a Lugano, in Svizzera: i
            quattro furono però respinti dalle autorità del paeseelvetico. Il giorno dopo, Liliana Segre venne arrestata a Selvetta
            di Viggiù, in provincia diVarese, all'età di tredici anni. Dopo sei giorni in carcere a Varese, fu trasferita a Como e poi a
            San Vittore a Milano, dove fu detenuta per quaranta giorni.
            <br />
            <br />
            <i class="fa fa-share text-primary" "></i>
            Il 30 gennaio 1944 venne deportata dal binario 21 della stazione di Milano Centrale alcampo di concentramento di Auschwitz-Birkenau, che
            raggiunse dopo sette giorni di viaggio.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Alla selezione, Liliana ricevette il numero di matricola 75190, che le venne tatuato sull'avambraccio. Dopo un anno di prigionia,
            lavori forzati e selezioni, alla fine di gennaio del 1945 i
            tedeschi se la portarono dietro nella loro evacuazione, così insieme ad altri migliaia venne sfollata con la morte nel cuore fino a
            Malchow, sottocampo di Ravensbrück, liberato solo il 1° maggio 1945 dall'Armata rossa.
            Dei 776 bambini italiani di età inferiore ai 14 anni che furono deportati ad Auschwitz, Liliana fu tra i 25 sopravvissuti.
            <br />
            <br />
            <i class="fa fa-share text-primary" "></i>
            Il resto della sua nuova vita fu affrontata da combattente, all'insegna della libertà umana,qualunque essa fosse; con l’impegno
            particolare verso la memoria, soprattutto nell’ultimoperiodo, in cui sono venuti meno la maggior parte dei più famosi testimoni
            dell’olocausto.
            Il ricordo è ancora vivido in Liliana, seppur 90enne.
            <br />
            <br />
            <i class="fa fa-share text-primary" "></i>
            A distanza di 76 anni dalla Shoah, il 9 ottobre 2020, ha tenuto il suo ultimo discorso pubblico prima del ritiro ufficiale a
            sola vita privata. Lo ha fatto parlando prima di tutto a scuole e giovani, alla Cittadella della Pace
            vicino ad Arezzo, all’inaugurazione dell’Arena di Janine: una giovane amica della Segre che purtroppo
            non riuscì a salutare prima di vederla dirigersi verso le camere a gas...
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Ha concluso con una nota amara Liliana, che non possiamo fare a meno di riportare, e che anzi farà da conclusione al nostro articolo,
            cosicché rimanga impressa a chiunque:
            “Mi chiedono sempre se ho perdonato e io rispondo di no. Non ho mai perdonato, non ci riesco”.
        </p>
    </div>
</div>