@{ 
    Layout = "_Layout";
    ViewData["Title"] = "L'italiana Ursula";
    ViewData["Descrizione"] = "politixitalia, politix italia, ursula, italia, italiana, politica, eu, von der layen";
    ViewData["Keywords"] = "";
}

<div class="container text-center">
    <h1 class="text-primary">L'italiana Ursula</h1>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Parliamo spesso di Unione Europea in senso altro, straniero, ed esterno; come se l’Europa non fossimo
        noi ma un Grande Fratello astratto e malizioso. Beh, sapete che c’è? Ecco una sorpresa: noi siamo, con ogni nostra
        fibra muscolare ed ogni pelo nel naso, letteralmente, l’UE. Come noi, altri milioni di individui, volenti o nolenti,
        sono cittadini europei. Eh già, l’Europa è fatta di uomini fatti di ciccia, persone concrete, che occupano un volume
        nello spazio e pensano come noi. Uno di questi uomini, per la precisione una donna, rappresenta però ancora più di
        tutti il nostro legame: Ursula von der Leyen. Sì perché si parla sempre di first ladies e possibili future presidentesse
        USA, senza ricordarci che il primato sull’emancipazione ce lo abbiamo noi! La prima donna a capo dell’organizzazione
        sovrastatale più imponente del mondo: Ursula, dal suo appartamento in Rue de la Loi, 155 a Bruxelles, davanti alla
        scrivania (sulla quale immagino abbia la tazza basic “best mum” o nella variante più dolce “live laugh love”) fa il
        bello ed il cattivo tempo di 27 Paesi e di rimbalzo poi su tutti gli altri.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Da una politica internazionale, per di più tedesca, ci immaginiamo una personalità glaciale, perentoria e decisa;
        invece andando a spulciare il suo curriculum vitae possiamo notare quanto di stereotipicamente italiano ci sia in
        lei! Avete sentito bene, Ursula è una di noi, che ci crediate o no. Non a caso, immediatamente dopo la gaffes della
        presidentessa BCE Lagarde, che ad inizio pandemia con la sola Italia colpita in tutta l’UE, con la solita simpatia
        affabile che solo i francesi possono avere (comparabile ad un comodo bagno in una vasca piena di chiodi ardenti ed
        arrugginiti), ammoniva negando ogni possibile sconto di pena sullo spread; fu la von der Leyen a riprendere il timone
        e rassicurare gli italiani, il giorno immediatamente dopo, attraverso un tweet. Le parole erano confortanti e sincere,
        non ipocrite; il messaggio era un video, non un algido paragrafo di 
        Times New Roman; ma soprattutto era in italiano. <span><a href="https://www.youtube.com/watch?v=MqwXtIhe7IA">Guarda il video</a></span>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Può sembrare un’inezia, ma Ursula von der Leyen parlava in italiano. Poliglotta fluente in tedesco, inglese e francese,
        Ursula si era prodigata per
        imparare il suo discorso a memoria in una lingua che non era la sua, solo per starci vicina…
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Anche questo forse riesce a darci il metro della sua italianità, insieme alle ulteriori scuse fatte pubblicamente ad aprile
        tramite lettera
        a La Repubblica, o più concretamente con Recovery Fund e tanto discusso MES. Prima però parlavo di CV: come mai?
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ursula è sì di nazionalità tedesca ma è nata l’8 ottobre 1958 a Ixelles, un comune nei sobborghi di Bruxelles, sede del Parlamento
        europeo; poiché il padre Ernst Albrecht, dal 1964 al 1971 fu a capo dell’ufficio privato di Hans von der Groeben, uno
        dei due membri tedeschi della Commissione europea appena creata. In quegli anni Ursula Albrecht ha frequentato la Scuola
        europea della capitale belga e ha imparato la lingua francese. Poi sono rientrati in Germania, ad Hannover, per assumere
        la direzione di un’azienda alimentare. Così Ursula, conseguita la maturità scientifica, si
        troverà a dover scegliere tra le facoltà proposte dall’università di Hannover.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ecco cominciare una storia come tante altre, di una ragazza incerta sul futuro come tante altre; se non fosse che lei non è
        come tante altre. Iniziò con Archeologia ma dopo un solo anno, poco convinta, preferì passare all’Università di Gottinga e
        Münster per studiare Economia. Sono gli anni del terrorismo rosso e von der Leyen riceve una minaccia di rapimento dalla Banda
        Baader-Meinhof. Per un anno studia presso la London School of Economics and Political Science sotto il nome di Rose Ladson. Ecco
        l’ennesima incertezza nel 1980 quando si iscrisse alla facoltà di Medicina e Chirurgia, tornando in famiglia ad Hannover dove si
        è poi laureata nel 1987, non con lode medica ma con lode italiana: infatti si scoprirà solo anni dopo che la tesi fu completamente
        copiaincollata;
        dio mio Ursula quanto cavolo sei italiana, mi fai quasi piangere.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Cavolate a parte si è specializzata in ginecologia ed ha anche cominciato la carriera in uno studio; ma non era quello il
        suo destino. Evidentemente, questa predisposizione al caos e all’improvvisazione, non cessò qui: la sua carriera politica ebbe
        inizio nel 2001, quando ottiene un mandato locale presso la regione di Hannover, che abbandonerà tre anni dopo. Il 2 febbraio
        2003 è eletta deputata al Landtag della Bassa Sassonia. Il 4 marzo 2003 diventa Ministro degli Affari Sociali, delle Donne,
        della Famiglia e della Salute della Bassa Sassonia. Due anni dopo, nel novembre del 2005, è scelta dalla Cancelliera Angela
        Merkel per diventare Ministro della Famiglia (cosa c’è di più italiano della famigghia!!?). La medicina è solo un ricordo,
        ormai Ursula è lanciata.
        Nel 2009 è confermata prima come Ministro della Famiglia, poi nominata Ministro del lavoro e degli Affari Sociali.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel dicembre del 2013 diventa Ministro della Difesa, diventando così la prima donna in Germania a occupare questo incarico.
        Qualche ruzzolone su accuse di nepotismo e corruzione (basta Ursola sei talmente italiana che ti diamo la cittadinanza)
        rallenteranno la sua ascesa di qualche anno; tutto fino al 2019, quando il 2 luglio, è stata designata dal Consiglio europeo
        alla carica di presidente della
        Commissione. Bel risultato per un’indecisa col cuore italiano...
        <br />
    </p>
    <br />
</div>