
@{
    ViewData["Title"] = "LoggiaP2";
    Layout = "_Layout";
    ViewData["Descrizione"] = "";
    ViewData["Keywords"] = "politixitalia, politix italia, p2, loggia, massoneria, politica";
}


<div class="container text-center">
    <p class="text-right">
        7 Maggio 2021
    </p>
    <br />
    <br />
    <h1 class="text-primary">La Loggia P2</h1>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Da qualche giorno non si parla d’altro: la vittoria dell’Inter e lo scandalo della Loggia
        Ungheria. E data la febbre da pallone tutta italiana che ha portato ormai a speculare
        addirittura su quanti scarpini abbia indossato Lukaku in stagione, a noi resta la Loggia
        Ungheria...
        Per adesso a dire il vero solo accuse, su cui la procura di Perugia sta indagando.
        Si tratterebbe di un’associazione segreta di stampo massonico che attraverso piaceri e
        favori avrebbe influenzato nomine politiche e giuridiche dall’interno del Consiglio superiore di
        magistratura (Csm) ovvero il vertice della giustizia italiana. All’interno della stessa ci
        sarebbero infatti politici, magistrati, avvocati, imprenditori e chi più ne ha più ne metta.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ma ripetiamo: solo accuse campate in aria finché non arriverà una conferma dalla procura.
        Ciò che però non è campato in aria è il ricordo che balza alla memoria dei più quando si
        parla di logge massoniche: la Loggia Propaganda 2, cosiddetta P2.
        “Se c’è una P2 ci sarà anche una P1 no?” - ti chiederai. Ebbene non ti sfugge nulla,
        partiamo quindi dall’origine della Loggia Propaganda!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Essa è nata nel 1877 col nome di “Propaganda massonica”, affiliata come molte altre logge
        al Grande Oriente d’Italia (GOI), l’istituzione massonica più antica e famosa d’Italia.
        Ricordiamo che il GOI per la Repubblica Italiana è un’associazione come tante e quindi
        legalmente lecita, e come tante ha diritto a tenere nascosto il nome degli associati.
        Questo anche dentro la singola loggia, infatti la caratteristica principale della loggia
        “Propaganda massonica” fu quella di garantire un'adeguata copertura e segretezza agli
        iniziati di maggior importanza, sia all'interno che al di fuori dell'organizzazione massonica.
        Nel 1925 però, sotto impulso del regime fascista, furono temporaneamente sciolte tutte le
        logge massoniche. Solo in seguito al Ventennio alcune logge si rimisero in attività, e tra
        queste proprio la loggia Propaganda, ribattezzata “Propaganda 2”.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Essa è nata nel 1877 col nome di “Propaganda massonica”, affiliata come molte altre logge
        al Grande Oriente d’Italia (GOI), l’istituzione massonica più antica e famosa d’Italia.
        Ricordiamo che il GOI per la Repubblica Italiana è un’associazione come tante e quindi
        legalmente lecita, e come tante ha diritto a tenere nascosto il nome degli associati.
        Questo anche dentro la singola loggia, infatti la caratteristica principale della loggia
        “Propaganda massonica” fu quella di garantire un'adeguata copertura e segretezza agli
        iniziati di maggior importanza, sia all'interno che al di fuori dell'organizzazione massonica.
        Nel 1925 però, sotto impulso del regime fascista, furono temporaneamente sciolte tutte le
        logge massoniche. Solo in seguito al Ventennio alcune logge si rimisero in attività, e tra
        queste proprio la loggia Propaganda, ribattezzata “Propaganda 2”.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Subito dopo nel 1975, ormai affermato, Gelli mise a punto uno «Schema R», che trasmise al
        Presidente della Repubblica Giovanni Leone, senza ottenere riscontri. Nel documento il
        massone aretino propugnava l'instaurazione della Repubblica presidenziale.
        Poco meno di un anno dopo, alcune indagini della magistratura condussero all'arresto nel
        nuovo segretario organizzativo della loggia P2; cosa di cui Gelli approfittò per chiedere al
        Gran Maestro la sospensione ufficiale di tutte le attività della P2, così da permettergli di non
        evitare le rielezioni per la sua carica di “maestranza venerabile”, continuando a dirigere la
        loggia a tempo indeterminato ufficialmente fuori dal GOI ma di fatti sempre nella sua orbita.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il 5 ottobre 1980 Gelli, per propagandare il suo «Schema R», rilasciò un'intervista a Maurizio
        Costanzo (membro della P2) per il Corriere della Sera, all'epoca diretto da Franco Di Bella
        (anch'esso tesserato P2), per farvi capire il livello di profondità della loggia.
        L’intervista fece molto scalpore, e il 17 marzo 1981, per via di un’inchiesta su tutt’altro
        (presunto rapimento dell’avvocato Sindona) vennero perquisiti tutti gli immobili di Gelli, da
        cui si rinvenne la lista dei quasi mille iscritti alla loggia P2. Il GOI affermò che non sapeva più
        nulla della loggia dal suo scioglimento formale nel 1976, che i tesserati erano tutti massoni
        ordinari non più legati alla P2, e che la responsabilità era totalmente di Gelli, già latitante
        all’estero.
        <span><a asp-controller="PoliticandoOggi" asp-action="RiformaBrunetta">l'ultimo articolo di PoliticandoOggi</a></span>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Venne costituita una apposita commissione parlamentare d'inchiesta presieduta da Tina
        Anselmi, e successivamente nel 1982 la loggia venne definitivamente sciolta e venne
        sancita l'illegalità della costituzione di associazioni segrete con analoghe finalità,
        denunciandola come una vera e propria "organizzazione criminale" ed "eversiva".
        Ad oggi dopo molte ricerche si è giunti ad affermare che tra i vari crimini attribuibili
        potenzialmente alla P2 si possano citare la strage dell'Italicus, la strage di Bologna, lo
        scandalo del Banco Ambrosiano, l'assassinio di Roberto Calvi, il depistaggio sul rapimento
        di Aldo Moro, l'assassinio di Carmine Pecorelli e alcune affiliazioni con lo scandalo di
        Tangentopoli.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ma adesso la meritata chicca per chi arriva in fondo, una lista dei più famosi personaggi
        tesserati P2:
        <ul class="list-group-flush text-left">
            <li class="list-group-item">Silvio Berlusconi </li>
            <li class="list-group-item"> Massimiliano Cencelli (hai letto l’articolo sul <a asp-controller="PolitiCult" asp-action="IlManualeCencelli">manuale Cencelli?</a></li>
            <li class="list-group-item">Franco Di Bella (direttore del Corriere della Sera) </li>
            <li class="list-group-item"> Maurizio Costanzo (non possessore di collo)</li>
            <li class="list-group-item"> Angelo Rizzoli (presidente dell’editoria Rizzoli)</li>
            <li class="list-group-item">Artemio Franchi (presidente UEFA) </li>
            <li class="list-group-item">Vittorio Emanuele di Savoia (figlio di Umberto II, ultimo re d’Italia) </li>
        </ul>
        
        
    </p>
</div>
