
@{
    ViewData["Title"] = "LOLIPoliticiCheVorremmo";
    Layout = "_Layout";
    ViewData["Descrizione"] = "";
    ViewData["Keywords"] = "";
}


<div class="container text-center">
    <p class="text-right">
        16 Aprile 2021
    </p>
    <br />
    <br />
    <h1 class="text-primary">LOL- I politici che vorremmo</h1>
    <br />
    <br />
    <p claass="font-italic">
        DISCLAIMER: nell’articolo NON ci sono spoiler ma solo riferimenti generici alla serie
        televisiva di Amazon Prime che possono essere reperiti da qualsiasi trailer. Possono quindi
        leggere l’articolo in serenità anche coloro che non se la sono vista; per una fruizione ottimale
        consigliamo però di recuperarsela!
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        LOL è la serie del momento, talmente sulla bocca di tutti che è finita anche sulla nostra: non
        possiamo non parlarne. Ma come parlare di una serie comico-demenziale in chiave politica?
        Semplice! ipotizzando una versione parallela svolta in un bel salone di Palazzo del Quirinale
        con Mattarella in regia vestito di camicia leopardata alla Fedez, affiancato alla console da
        Giovanni Grasso, il suo addetto stampa. Sì sì avete capito bene, quello di “Giofanni
        nemmeno io vado dal barbiere”.
        Ma se da una parte abbiamo i giudici imparziali, a scontrarsi nella stanza ci devono essere
        per forza dei politici di professione adatti al contesto comico.
        Sull’onda dei protagonisti del vero LOL allora ecco a voi i partecipanti:
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        1) Antonio Razzi  <br />
        L'ex senatore Antonio Razzi è un campione delle gaffe. Ex Italia dei Valori, poi passato tra le
        fila di Forza Italia, è diventato virale a forza di cringiate. Tra i suoi cavalli di battaglia per far
        ridere i colleghi potrebbe citare le sue innumerevoli uscite fuori luogo, come quella volta che
        in occasione del taglio dei vitalizi messo a punto a giugno 2018 dal governo giallo verde di
        Conti-Di Maio-Salvini, intervenne per dire che dalla sua era una vittima: “Così prendo 2600
        euro netti. Devo morire di fame dopo 70 anni di lavoro?“. Oppure come quella volta che
        attaccò il povero sopravvissuto ai campi di concentramento in Corea del Nord, poi scappato
        per testimoniare: “Ma mi faccia il piacere, mi faccia il piacere come dice Totò. Tutto
        inventato, sono sette anni che vado lì. I lager c’erano negli anni ’40. Dove sono oggi questi
        lager? Non ci sono. Questo vuole fare i soldi alle spalle della gente”. Ma oltre il capitolo
        “simpatia nordcoreana” potremmo continuare all’infinito con il neologismo “uomini sessuali” o
        per l’appunto con i suoi Tik Tok da arresto tra balletti e giochi di prestigio, impossibile non
        compararlo a Lillo…
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        2) Luigi Di Maio  <br />
        Se parliamo di tip tap avrete già capito a chi accostiamo il Ministro degli Esteri Giggino:
        come non paragonarlo al mitico Elio!
        Due mostri sacri del no-sense, quasi fratelli: uno canticchia cose a caso e l’altro minaccia
        Mattarella di impeachment senza fondamenta. Elio si è presentato vestito da Monnalisa,
        notoriamente situata al Louvre in Francia, terra amata da Di Maio per la sua “millenaria
        democrazia” confondendo il 1792 con il 1000 d.C. praticamente nel mezzo del Medioevo…
        Ma gli assi nella manica di Giggino non finiscono qui: da quella volta che soprannominò
        “Ping” il presidente cinese a quando disse che la Russia era un Paese Mediterraneo,
        passando addirittura per Pinochet, il dittatore “venezuelano” invece che cileno.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        3) Silvio Berlusconi  <br />
        Berlusconi ne avrebbe fin troppe da raccontare di storie e barzellette, vere e finte… Se
        proprio dovessimo accostarlo ad un comico di LOL sarebbe sicuramente Katia Follesa per
        l’approccio softporn sistematico. Non dubitiamo che avrebbe fatto un pensierino anche sulla
        Barbie interpretata dalla Follesa, d’altra parte ha fatto le sue gaffes con tutte le first lady delmondo praticamente; se non altro siamo sicuri che avrebbe offerto una sedia d’onore se
        avesse ospitato la Von Der Leyen, altro che Erdogan, Silvio è un cavaliere. Scherzi a parte,
        il suo portafoglio comico non finisce qui: Romolo e “Remo”, la barzelletta sul tassista e la
        escort , e così via...
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        4) Roberto Fico  <br />
        Per il ruolo di Ciro serviva una persona pacata che pure fosse in grado di stacchetti epici, ed
        il volto giusto era il compatriota Roberto Fico. Anche il nostro Presidente della Camera infatti
        viene da Napoli, e proprio come Ciro coi The Jackal si è saputo destreggiare da solo e in
        gruppo con performance eccellenti. In solitario cadde sull’infimo vocabolo di égida (che
        significa difesa, protezione) rinominandolo egidìa, con errore d’accento e aggiunto di vocale
        per dare colore. Ma è in team che lavora meglio, ce lo ricordiamo a fare la spalla durante
        una seduta della Camera servendo la battuta sul piatto d’argento: dando la parola al
        deputato Giacomoni sbagliò a leggere chiamandolo “Giacomini”, al che l’interessato rispose
        prontamente “Grazie presidente Fica” con una delle battute che rimarrà negli annali della
        Repubblica anche a detta dello stesso Roberto Fico.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        5) Renato Brunetta  <br />
        Da un membro dei The Jackal all’altro, prima Ciro poi Fru. Brunetta potrebbe sostituirlo
        benissimo nello sketch di discesa dalle scale dietro il divano: se non riesce ad abbassarsi lui
        fino al pavimento chi altri… Brunetta negli anni ha fatto molteplici scivoloni, ma per fortuna
        non si è mai fatto male da quell’altezza. Si dice che più sono grossi e più fanno rumore
        quando cadono, nel caso di Brunetta non vale però dato che nonostante le cadute sulle
        varie riforme, pur essendo piccolo, ha fatto sempre un sacco di rumore! Se non sapete di
        cosa sto parlando leggete 
        <span><a asp-controller="PoliticandoOggi" asp-action="RiformaBrunetta">l'ultimo articolo di PoliticandoOggi</a></span>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        6) Vincenzo De Luca  <br />
        Dopo essersi giocati Di Maio e Roberto Fico la domanda sorge spontanea: chi fa Frank
        Matano? Serve per forza un altro politico proveniente dalla Campania, e allora la scelta è
        servita su un piatto d’argento: il presidente della Regione De Luca! Accento napoletano
        imponente e sketch divertenti in ogni conferenza stampa della Regione; il governatore De
        Luca potrebbe far ridere gli altri politici raccontando di quando minacciò di bruciare col
        lanciafiamme chi faceva le feste di laurea in lockdown o quando mise alla gogna i
        “cinghialoni” della sua età per aver fatto attività sportiva fuori dai dintorni di casa propria.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        7) Giorgia Meloni  <br />
        La leader di Fratelli d’Italia è sempre stata incline alla risata, ma soprattutto al far ridere.
        Durante il governo Conte II fece ridere l’allora premier Giuseppe Conte con un intervento in
        aula sulla proroga dello stato di emergenza; una risata ironica direte voi, ma vale pur
        qualcosa, perlomeno per Conte che venne sommerso di accuse.
        Che poi diciamocelo francamente, in un governo di quasi Unità Nazionale con tutti i partiti
        alla maggioranza la leader di FdI in opposizione fa la figura della pecora nera, un po’ come
        Michela Giraud tra gli altri comici: simpatica ma sempre accantonata. Ad entrambe poi piace
        ballare, le vedremmo bene con sotto il pezzo techno “Io sono Giorgia, sono una donna, sono
        italiana”, con cui senz’altro lascerebbe spazio al tip tap di un altro concorrente…
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        8) Matteo Renzi  <br />Caterina Guzzanti era una comica difficile da accostare alla politica, per fortuna i suoi sketch
        in inglese ci hanno permesso di accostarla all’anglofono più amato d’Italia: il padre di Shish
        e Shock Because Matteo Renzi! Diciamocelo chiaramente: tutti abbiamo ascoltato in loop
        almeno un centinaio di volte i video in cui si cimenta in interviste internazionali più traballanti
        dei Governi in Italia, che tra l’altro molto spesso fa crollare lui...Dentro al teatro di LOL
        verrebbe linciato dopo due secondi da qualsiasi altro collega, non gli resterebbe che evitare
        il dolore fisico eliminandosi da solo a suon di sorrisi alla Mr Bean
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        9) Matteo Salvini  <br />
        Da un Matteo all’altro arriviamo a Salvini, tifoso del Milan proprio come Angelo Pintus.
        Entrambi hanno fatto una lunga gavetta: Pintus come animatore di villaggi turistici e Salvini
        partendo dal PSI per poi finire nella Lega per Salvini Premier, partito costruito ad hoc per
        cancellare i 49 milioni di debiti della vecchia Lega Nord.
        Il leader della Lega ha fatto talmente tante gaffes da far coniare alla Treccani un neologismo
        in suo onore: la “salvinata”.
        Forse il suo cavallo di battaglia potrebbe essere la riproposizione del video in cui Giovanni
        Floris a DiMartedì gli spiega che non può stare senza mascherina mentre fa le foto con la
        gente e lui risponde “Ma non posso? Ah no?”, altro che “hai cagato?”, tempi comici anni luce
        avanti. Ma come questa altre mille, l’ultima sfornata pochi giorni fa riguardo la vaccinazione
        in Lazio dei carcerati prima di altre categorie, definita “Roba da matti”, peccato che nella sua
        Lombardia e in Veneto,entrambe regioni leghiste, lo fanno da tre mesi…
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        10) Danilo Toninelli  <br />
        Infine non possiamo non far scendere in campo l’ex ministro dei trasporti Danilo Toninelli nei
        panni di Luca Ravenna. Entrambi lombardi, ed entrambi molto sulle loro. Più che sulle loro
        Toninelli è proprio nel suo mondo, non ha mai capito davvero dove fosse finito finché non
        l’hanno sbattuto fuori per sfinimento. Resta comunque in assoluto il ministro più osannato
        della storia, la lista delle uscite è praticamente infinita: il tunnel del Brennero, i suoi progetti
        per il nuovo ponte Morandi, l’acquisto di Suv benzina dopo aver dichiarato di usare solo
        elettrico
        <br />
        <br />
    </p>
</div>
