@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Mani Pulite";
    ViewData["Keywords"] = "mani pulite, politixitalia, politix italia, politica, igiene, craxi, di pietro";
    ViewData["Descrizione"] = " Oggi quindi parliamo dell'igienista più famoso della storia italiana. Ah e non è un virologo, mi dispiace Burioni, se ti consola tu vieni subito dopo.";
}

<div class="container text-center">
    <h1 class="text-primary">Mani Pulite</h1>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Ce lo ripetiamo in testa ogni volta che usciamo di casa: “mi devo lavare le mani”, “ora mi disinfetto” e
        ancora “le avrò pulite per grattarmi il naso? Oddio quanto mi pizzica, sisi sono pulite dai” eccetera.
        <br />
        <br />
        <i class="fa fa-share  text-primary"></i>
        Oggi quindi parliamo dell'igienista più famoso della storia italiana.
        Ah e non è un virologo, mi dispiace Burioni, se ti consola tu vieni subito dopo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il nostro personaggio misterioso iniziò a preoccuparsi di mani pulite proprio in Lombardia, a Milano, nel 1991; se solo ci
        fosse ancora lui a salvare la popolazione dai vari Gallera, Fontana e compagnia bella…
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Era un vero segugio: scovava ogni mano sporca nascosta in tasca e la lavava senza pietà, altro che Mastrolindo.
        Mi riferisco ad Antonio di Pietro, ex magistrato e politico. Proprio nella prima parte di carriera, in seguito ad
        un'esperienza lavorativa in Germania, divisa tra la lucidatura di metalli in una fabbrica di mattina e
        il lavoro in segheria il pomeriggio, tornò in Italia per studiare giurisprudenza.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Laureato e dopo qualche anno di gavetta, nel 1985 passò alla Procura di Milano per l’appunto, dove iniziò
        ad occuparsi di reati contro la pubblica amministrazione. Ed è qui che divenne appassionato di igiene.
        Scoprì di odiare lo sporco ostinato più di nessun altro; detestava gli acari nascosti nelle più lugubri
        e oscure pieghe, e non
        sopportava l’idea che qualcuno si potesse permettere di fare porcate senza essere redarguito.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Poi diciamocelo onestamente, gli riusciva anche bene; avendo conseguito precedentemente un diploma in perito di
        telecomunicazioni, iniziò ad emergere per la sua velocità di pulizia: laddove un’impresa di pulizie standard
        impiegava due settimane a
        spazzare, Antonio con l’aspirapolvere in mezza giornata aveva finito.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Essendo più rapido degli altri, presto alzò la testa dal pavimento e si rese conto che la polvere arrivava ovunque;
        nel 1991 in un’intervista shock, rivelò che la tangente data al politico dall'imprenditore in cambio
        dell'appalto costituiva un sistema così pervasivo da rappresentare la norma, nella Milano degli anni
        novanta; la tangente, che egli chiamava «dazione ambientale», a suo parere veniva ormai data talmente
        per scontata che praticamente non era necessario né chiederla né proporla: era automatica, «ambientale»,
        appunto. Ma non era rupofobico lui, niente
        paranoie, la polvere c’era davvero; nevicava a fiotti ininterrottamente dal soffitto!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Le prove di quanto affermato in quell'articolo arriveranno con l'arresto di Mario Chiesa proprio da parte del
        nostro “Svelto” Di Pietro: il primo tassello di un gigantesco effetto domino che dette l'avvio alla fine della
        I Repubblica. Perché? Perché insieme a lui altri appassionati di pulizie iniziarono a scovare i disonesti.
        Più diventavano famosi e più il fango usciva dalle pareti: nel mondo dell’imprenditoria e della politica
        c’erano più calimeri che pulcini bianchi, servivano litri su litri di candeggina Ava.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Sbatterono ogni tappeto, che dico, strapparono le assi del parquet, trapanarono il pavimento fino a
        scalcinare le fondamenta,
        arrivando al Segretario del PSI bettino Craxi, il quale scappò in Tunisia per fuggire dalla legge.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Erano quasi al nocciolo, un’ultima cenciata per terminare il lavoro, quando il 6 dicembre del 1994,
        poco prima che si riuscisse a tenere alla Procura di Milano l'interrogatorio (previsto per il 26 dicembre), dell'allora Presidente
        del Consiglio Silvio Berlusconi, indagato per corruzione, si dimetterà dalla magistratura.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Varie versioni negli anni proprio dallo stesso Di Pietro. All’inizio a suo dire per evitare che venisse
        danneggiata l’immagine della Procura; successivamente lamentò come ragione scatenante la fuga di notizie
        sull'avviso di garanzia a Berlusconi, reso noto durante la conferenza di Napoli sul
        crimine transnazionale mentre Di Pietro si trovava a Parigi per rogatorie internazionali.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Si pensò anche a diverse pressioni da parte di Paolo Berlusconi e Cesare Previti per le sue dimissioni, che
        cadranno poiché a quanto pare
        aveva già scelto di ritirarsi, anche se Di Pietro smentirà contestando proprio quest’anno.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nessuno sa davvero cosa spinse Antonio a smettere di pulire; sappiamo solo che lo sporco porta sporco, e 
        che la seconda Repubblica è ad oggi tanto lurida quanto allora, si nascondono meglio, tutto qua...
        <br />
        <br />
    </p>
</div>