@{ 
    ViewData["Title"] = "MonarchiaRepubblica";
    Layout = "_Layout";
    ViewData["Descrizione"] = "La nascita della Repubblica Italiana avvenne il 2 giugno 1946, in seguito ai risultati del referendum istituzionale indetto quel giorno per determinare la forma di governo dopo la fine della Seconda guerra mondiale." ;
    ViewData["Keywords"] = "italia, storia, repubblica, monarchia, referendum, voto, 1946, guerra, dopoguerra";
}

<div class="container text-center">
    <h1 class="text-primary">Monarchia-Repubblica: la grande partita</h1>
    <br />
    <h5>
        La nascita della Repubblica Italiana avvenne il 2 giugno 1946, in seguito ai risultati del referendum
        istituzionale indetto quel giorno per determinare la forma di governo dopo la fine della Seconda guerra mondiale.
        Ma cosa succederebbe se l’evento fosse narrato da Pierluigi Pardo o Caressa?
        <br />
        Ne verrebbe fuori una roba del genere:
    </h5>
    <br />
    <div class="text-left">

        <p>
            Benvenuti a tutti, siamo qui allo stadio Olimpico di Roma per assistere allo scontro tra ideologie nazionali Monarchici – Repubblicani,
            con i primi 
            in casa allenati da Mister Vittorio Emanuele III.
        </p>
        <p>
            Ricordiamo essere stata organizzata il 1º marzo dal governo De Gasperi, che crea il disegno di legge per il referendum 
            istituzionale con domanda chiara e tonda (altro che piattaforma Rousseau!): "monarchia o repubblica". Poi convalidato il 
            12 marzo per confermare la data del match al 2 e 3 giugno, 
            sembra davvero la finale di Champions League.
        </p>
        <p>
            Eccoci allora ai fatti di cronaca che riguardano i giorni a noi più vicini, quando il 16 marzo Umberto II accetta la sfida, poiché
            in contemporanea lo stesso giorno vengono rese pubbliche alcune dichiarazioni di Vittorio Emanuele III, che annuncia di 
            voler abdicare dalla panchina dell’Italia.
        </p>
        <p>
            <i class="fa fa-flag"></i>
            9 maggio - Vittorio Emanuele III abdica e lascia l'Italia partendo da Napoli, in nave. La partenza segue un lungo incontro con Umberto,
            forse a colloquio tattico per la finalissima “ma almeno lo sai cos’è il fuorigioco?”
            sembra aver detto il padre con le mani tra i capelli.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            10 maggio – Umberto, che ora conosce quantomeno il fuorigioco, annuncia l'avvenuta abdicazione di Vittorio Emanuele III e la propria
            elevazione a re d'Italia, CT della Nazionale.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            2 giugno - Primo giorno di votazioni per il referendum istituzionale e per l'Assemblea Costituente.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            3 giugno - Secondo giorno di votazioni.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            4 giugno - Il ministro dell'interno tramite lavagnetta luminosa trasmette al Presidente del Consiglio De Gasperi i primi dati
            : monarchia sopra 1 – 0. Pure Papa Pio XII, nello SkyBox, riceve da bordo campo fonti vicine ai carabinieri,
            stesso risultato, si stima la vittoria della vecchia guardia.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            5 giugno – Siamo all’ottantesimo di gara, a spoglio ormai avanzato; colpo di scena in tackle duro c’è la scavallata
            sulla fascia dei repubblicani e con cross nel mezzo la definitiva incornata registrata da L'Unità, la quale esce con
            un titolo che dà i repubblica in netta rimonta, 1 a 1 ma ora sono sull’onda dell’entusiasmo. Poche ore dopo, De Gasperi
            è ricevuto al Quirinale, direttamente a sedersi sulla panchina avversaria, e sbeffeggiando il re lo informa del
            considerevole vantaggio della repubblica, leggendogli i dati ancora provvisori; praticamente gli fa il “Ma va ma
            vieni ma chi sono io” di Giovanni in Tre uomini e una gamba. Gesto di stizza di Umberto che, senza neanche provare
            una sostituzione, gli comunica la volontà di lasciare il paese ed esprime il desiderio di rivolgere un messaggio
            d'addio alla Nazione tramite conferenza stampa mentre ancora i suoi giocano. De Gasperi acconsente. In serata, il
            Ministero dell'interno, sulla base dei dati in suo possesso, annuncia ufficiosamente la vittoria della repubblica.
            2 a 1 remuntada completata, tutti sotto la doccia al triplice fischio dell’arbitro.
            Tutta la famiglia reale fa le valigie da Coverciano diretti Portogallo.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            7 giugno – Post partita accalorato, membri dello staff tecnico monarchico, tra cui un gruppo di professori dell'Università di
            Padova, sollevano presso la Corte di Cassazione un primo ricorso sui risultati, chiedono alla FIGC di riguardare il VAR a
            partita finita insomma. Umberto però è depresso, non ci credeva nemmeno lui in sto ricorso, ha già fatto tanto ad insaccar
            e una rete, manco sapeva chi sono i guardalinee: si reca in
            Vaticano e si congeda da Papa Pio XII.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            10 giugno - La Corte di Cassazione secondo quanto attestato dai verbali, proclama i risultati del referendum, e cioè: 12
            672 767 voti per la repubblica, e 10 688 905 per la monarchia, riservandosi di rendere pubblici i risultati definitivi e
            il giudizio definitivo su contestazioni, proteste e reclami per il successivo 18 giugno. Gli ultras monarchici però,
            soprattutto al sud dove le curve sono più accalorate, creano cortei e proteste coi fumogeni, vengono dispersi dalla
            forza pubblica lasciando anche alcuni morti sul terreno.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            11 giugno – Alcide De Gasperi, CT repubblicano, diventa finalmente mister della Nazionale indiscutibilmente, l’ex allenatore
            Umberto II si riserva di aspettare il giorno seguente
            a benedire il successore con la sua firma.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            12 giugno - Il re scrive al Presidente del Consiglio dei Ministri di non acconsentire al trasferimento immediato dei poteri
            di Capo dello Stato ma che
            avrebbe rispettato il 18 per vedere il verdetto VAR.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            13 giugno - Dopo una riunione notturna, il governo delibera che, a seguito della proclamazione dei risultati data il 10 giugno,
            c’erano pochi cazzi ed il Capo provvisorio era a tutti gli effetti il Presidente del Consiglio Alcide De Gasperi, nonostante il
            rinvio della comunicazione dei dati definitivi e il parere contrario del re. Umberto di Savoia, dopo aver rivolto un proclama
            agli italiani in cui contesta la decisione del governo, parte volontariamente
            in aereo per Lisbona dichiarando di voler evitare una guerra civile.
            <br />
            <br />
            <i class="fa fa-flag"></i>
            18 giugno - La Corte di cassazione conferma la vittoria repubblicana con 12 717 923 voti favorevoli contro 10 719 284 voti
            favorevoli alla monarchia e 1 498 136 voti nulli. 
            Nulla da fare per la monarchia, l’Italia è ora una Repubblica!
            <br />
            <br />        
        </p>
        
    </div>

</div>
