@{
    Layout = "_Layout";
    ViewData["Title"] = "Nilde Iotti";
    ViewData["Keywords"] = "politici, politixitalia, politix italia, politica, nilde iotti, iotti, donne, festa della donna, 8 Marzo, sessismo";
    ViewData["Descrizione"] = " Oggi quindi parliamo dell'igienista più famoso della storia italiana. Ah e non è un virologo, mi dispiace Burioni, se ti consola tu vieni subito dopo.";
}

<div class="container text-center">
    <p class="text-right">
        5 Marzo 2021
    </p>
    <h1 class="text-primary">Nilde Iotti: la donna che serve oggi</h1>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Tra tre giorni sarà l’8 Marzo, Festa della Donna, e proprio di Donne con la D maiuscola
        parleremo oggi. Sento già fischiare le orecchie: “ma la donna va festeggiata tutti i giorni!”. Verissimo, però questa volta ce n’è proprio bisogno.
        <br />
        <br />
        <i class="fa fa-share  text-primary"></i>
        Come saprete, oggi in politica il tema
        femminile è più che caldo, incandescente direi. L’attuale Presidente del Consiglio Mario
        Draghi infatti, insieme ai partiti di maggioranza (PD di Zingaretti sopra a tutti), è stato messo
        alla gogna mediatica per la poca attenzione prestata verso la parità di genere; oltre al
        problema in sé, risolto alla meno peggio con l’assegnazione delle sottosegreterie, in realtà
        sono tornati alla ribalta tutti i temi femministi: dalle quote rosa al ruolo delle donne
        nell’amministrazione pubblica. Proprio di questa faccenda ci siamo occupati nell’ultimo
        podcast di PolitiCup (vallo ad ascoltare se te lo sei perso!), incentrandoci sulla forte diatriba
        che aleggia intorno alle quote rosa; invece qui analizzeremo l’altro aspetto appunto, quello
        delle figure femminili nella storia del nostro Paese.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Che ci crediate o no, la Repubblica Italiana è costellata di astri rosa da sempre, anzi da
        prima ancora che nascesse la Repubblica stessa, e addirittura da quando neanche
        potevano votare, perché l’istinto per la politica è insito nell’uomo, senza distinzione di
        genere. Tina Anselmi, Lina Merlin, Emma Bonino e chi più ne ha più ne metta; ma c’è una
        donna in particolare che forse le rappresenta tutte, una pioniera che le ha ispirate e
        motivate: <span class="font-weight-bold">Leonilde Iotti</span>.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Leonilde nasce a Reggio Emilia il 10 Aprile 1920, figlia di Egidio Iotti, un ferroviere e
        sindacalista socialista. Proprio per via del suo impegno politico, venne licenziato poco dopo
        con l’ascesa del regime fascista, portando “Nilde”, come iniziò ad essere soprannominata, a
        trascorrere un’adolescenza fatta di forti difficoltà economiche. Nel 1934, come se non
        bastasse, perse il padre a soli 14 anni, riuscendo a proseguire gli studi solo grazie ad alcune
        borse di studio che premiarono la sua determinazione. Queste le permisero di iscriversi alla
        facoltà di lettere nell’Università Cattolica di Milano, laureandosi infine nel 1942.
        Nonostante le radici ideologiche, fu costretta ad iscriversi nello stesso anno al Partito
        Nazionale Fascista per poter esercitare la professione di insegnante pubblica in alcune
        scuole tecniche, il tutto fino al 1946.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Mentre insegnava infatti, Ilde si avvicinò alla politica sulle orme del padre, legandosi al PCI
        ed alla Resistenza partigiana: svolgeva inizialmente la funzione di staffetta portaordini, poi
        prese addirittura le redini di alcuni progetti, aderendo ai Gruppi di difesa della donna.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Con la caduta del Regime nel 1946, si trasformò definitivamente: come abbiamo detto
        abbandonò l’insegnamento per candidarsi come presidentessa dell' Unione Donne Italiane di
        Reggio Emilia , di cui venne eletta. Nella primavera dello stesso anno entrò anche nel
        consiglio comunale della città di Reggio Emilia, prima come indipendente, poi come
        esponente del PCI. Pochi mesi dopo, a Giugno, venne candidata ed eletta membro
        dell' Assemblea Costituente , nella quale fece parte della Commissione dei 75 , incaricata
        della stesura della Costituzione .
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La forza di Leonilde non finisce di certo qui, come ebbe il coraggio di lottare contro il
        fascismo, lo ebbe anche per lottare contro i pregiudizi morali: sempre nel 1946 iniziò la sua
        relazione con il Segretario Nazionale del PCI, Palmiro Togliatti (di 27 anni più anziano), il
        quale era già padre e marito. All’amore non si comanda, poco importava il giudizio altrui: due
        anni dopo Togliatti ruppe con Rita Montagnana per legarsi a Nilde, in contingenza con
        l’attentato che lo stesso Togliatti subì proprio nel ‘48. I due insieme chiesero e ottennero
        l'affidamento di una bambina orfana, Marisa Malagoli, sorella minore di uno dei sei operai
        uccisi a Modena da agenti della Celere il 9 gennaio 1950 , nel corso di una manifestazione
        operaia.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Oltre a rimanere membro della Camera dal 1948 fino al 1999 ininterrottamente, fu anche la
        prima presidentessa donna, tra l’altro per tre volte consecutive, dal 1979 al 1992 : 13 anni!
        Tanto per rendere l’idea ancora nessuno nella storia d'Italia ha ancora raggiunto il suo
        primato…
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 1956 , entrò a far parte del comitato centrale del Partito e nel 1962 della direzione
        nazionale. Rieletta nel 1963 alla Camera, fu membro della Commissione Affari
        Costituzionali , incentrando la sua attività sulla rilevanza del ruolo femminile nel mondo del
        lavoro e delle relazioni familiari.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 1969 fece anche parte della prima delegazione comunista al Parlamento Europeo.
        Il suo impegno principale risultò essere la riforma delle norme civili: in Italia infatti introdusse
        il divorzio nell'ordinamento giuridico per poi mantenerlo col referendum abrogativo del 1974.
        Nel 1987 ottenne un incarico di governo con mandato esplorativo da parte del Presidente
        della Repubblica Cossiga che si concluse senza esiti; fu la prima donna e la prima
        esponente comunista ad arrivare tanto vicino alla Presidenza del Consiglio.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 1991 , a seguito di indiscrezioni secondo le quali lo stesso Cossiga voleva nominarla
        senatrice a vita , fece sapere di non essere interessata, preferendo rimanere presidente della
        Camera.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 1992 fu inoltre la candidata di sinistra alla Presidenza della Repubblica , non vinse, ma
        nel IV scrutinio ottenne 256 voti, ancora oggi il più alto numero di consensi ottenuti da una
        donna nel collegio elettorale.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ottenne poi un’infinità di altre cariche, che dovette abbandonare nel 1999 a causa di gravi
        problemi di salute; la Camera dei deputati accolse le sue dimissioni con un lunghissimo
        applauso; il futuro presidente della Repubblica Giorgio Napolitano , suo vecchio compagno di
        partito, scrisse nell'occasione una lettera pubblica (tornando a citarla anche nel suo discorso
        di insediamento per la Presidenza della Repubblica).
        <br />
        Morì pochi giorni dopo le sue dimissioni, il 4 dicembre 1999 , per arresto cardiaco ; venne
        onorata coi funerali di Stato: lasciò la politica solo in quel momento...
        <br />
        <br />
    </p>
</div>