@{ 
    ViewData["Title"] = "PianoMarshall";
    Layout = "_Layout";
}


<div class="container text-center">
    <h1 class="text-primary">Il piano Marshall</h1>
    <br />
    <img class="immaginePianoMarshall" src="~/ImagesJpg/PianoMarshall.jpg" />
    <br />
    <br />
    <div class="text-left">
        <p>
            <i class="fa fa-flag"></i>
            All’alba del dopoguerra, il 5 Giugno 1947, George Marshall, annunciò il progetto USA di
            aiuto economico-finanziario per l'Europa; chiamato European Recovery (ERP), prese poi il
            nome per convenzione storiografica di “Piano Marshall”, dal nome del suo ideatore appunto,
            che al
            tempo rivestiva la carica di segretario di Stato per il presidente Henry Truman.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            Per sua stessa parola, quegli aiuti avrebbero preservato il vecchio continente da deterioramenti delle
            condizioni politiche, economiche e sociali
            che altrimenti lo avrebbero messo in ginocchio definitivamente.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            L'idea di Marshall, già precedentemente comunicata agli inglesi, venne positivamente accolta
            dalla Francia, che però chiese di estendere gli incontri preparatori anche all'Unione Sovietica,
            mostratasi interessata all’inizio ma poi  tanto diffidente da rifiutare di partecipare al negoziato,
            obbligando anche tutti i paesi del blocco orientale e i paesi baltici a fare altrettanto.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            Alla fine dei negoziati vennero stanziati più di 14 miliardi di dollari (con
            valuta odierna stimati a 110 miliardi!) per un periodo di quattro anni, di cui
            all’Italia andò la discreta fetta di 1204 milioni in tre anni.. Per assicurarsi
            che questi soldi venissero ben spesi, venendo a fare i conti in tasca agli stati
            europei, gli USA crearono anche l' “Organization for European Economic Cooperation”
            (OEEC, in italiano OECE), organismo sostanzialmente tecnico in cui i programmatori
            inviati da Washington cercarono di spingere non tanto per il risanamento delle crisi
            momentanee quanto più per avviare un processo di trasformazione strutturale dell'economia
            dei nostri Paesi. Nonostante questo, senza ascoltare gli amministratori, i vari Stati europei
            chiesero di poter investire tali aiuti in generi di prima necessità, prodotti industriali,
            combustibile e, solo in minima parte, macchinari e mezzi di produzione. A questo punto però,
            concessi gli aiuti, centinaia di consiglieri economici statunitensi furono inviati in Europa
            per insegnare, ed altrettanti studiosi europei in America a visitare impianti industriali e
            corsi d'istruzione finanziari. L’obiettivo degli Stati Uniti erano sì quelli di ricostruire
            materialmente le zone distrutte dalla guerra, ma, come possiamo immaginare, non essendo solo
            un ingenuo donatore dal cuore d’oro, mirava anche e soprattutto a rimuovere le barriere
            commerciali, migliorare la prosperità europea e prevenire la diffusione del comunismo. Il
            Piano Marshall, infatti, per essere attuato richiedeva una riduzione delle barriere doganali
            tra Stati, una diminuzione di molte normative burocratiche, una forte spinta produttiva e
            l’adozione di procedure commerciali più moderne e veloci. Insomma, gli USA crearono a tutti
            gli effetti un sistema capitalista e consumista che fece di tutta l’Europa un
            affidabile partner commerciale a cui vendere i prodotti “made in usa”.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            l Piano terminò nel 1951, come originariamente previsto. I tentativi di prolungarlo per qualche tempo
            non ebbero effetto a causa dello scoppio della guerra di Corea e della vittoria dei repubblicani nelle
            elezioni per il Congresso dell'anno precedente. il Piano consentì all'economia europea di superare un
            momento di indubbia crisi e favorì una ripresa che già nel 1948 era evidente, consentendo ai Paesi
            beneficiari di superare l'indice di produzione prebellico già nel
            momento in cui il flusso di aiuti terminò.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            I risultati furono poi senza dubbio positiv, almeno nell'ottica degli Stati Uniti e dei
            sostenitori dell'economia di mercato: entrarono finalmente in Europa concetti quali la "
            libera impresa", lo "spirito imprenditoriale", il "recupero di efficienza", l'"esperienza
            tecnica" e la "tutela della concorrenza", allora in alcuni Paesi quasi del tutto assenti.
            Inoltre, esso indicò agli europei che l'interdipendenza poteva costituire una soluzione alle
            tensioni ed ai conflitti, che da sempre avevano caratterizzato la loro storia. Sul piano interno,
            poi, l'aiuto statunitense consentì alle fragili democrazie occidentali di rilassare le politiche
            di austerità e di migliorare
            le condizioni di vita delle popolazioni.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            Tuttavia, il ruolo del Piano Marshall nella ripresa rapida dell’Europa è stato discusso. La maggior parte
            degli storici rifiuta l’idea che la ripresa europea si dovette al Piano, poiché una ripresa generale era già
            in corso. In ogni caso, il Piano, funzionante o meno, risultò una minaccia per l’URSS, che
            specularmente diede vita al Piano Molotov per il blocco orientale. Lo stesso segretario Marshall
            si convinse a un certo punto che Stalin non aveva alcun interesse a contribuire al ripristino
            della salute economica nell’Europa occidentale.
        </p>
        <br />
        <p>
            <i class="fa fa-flag"></i>
            Ad ogni modo il comunismo diventerà davvero solo un pensiero lontano in Europa Occidentale:
            questo legame di fiducia creatosi con gli USA si mostrò essenziale per le fondamenta del Patto
            Nord Atlantico, che durando per tutto il periodo della Guerra Fredda servì da pretesto per creare
            basi americane in tutto il continente e confermare ancora di più la loro egemonia da leader
            mondiali; mica poco per
            essere un atto di semplice e pura “carità”…
        </p>
        <br />
    </div>
</div>