@{
    ViewData["Title"] = "Com'è nato il primo maggio?";
    Layout = "_Layout";
    ViewData["Descrizione"] = "Fammi indovinare: domani guarderai il concertone del primo Maggio indignandoti coi cantanti che salgono sul palco firmati e ingioiellati senza manco sapere perché è la Festa del Lavoro ? ";
    ViewData["Keywords"] = "politixitalia, politix italia, primo maggio, festa nazionale, lavoratori";
}


<div class="container text-center">
    <p class="text-right">
        30 Aprile 2021
    </p>
    <br />
    <br />
    <h1 class="text-primary">Com'è nato il primo maggio?</h1>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Fammi indovinare: domani guarderai il concertone del primo Maggio indignandoti coi
        cantanti che salgono sul palco firmati e ingioiellati senza manco sapere perché è la Festa
        del Lavoro? Per carità continua pure ad indignarti coi cantanti ma almeno fallo con stile
        passando da acculturato con amici e parenti!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        In questa data si riassumono tutte le lotte che, durante i secoli, i lavoratori hanno combattuto
        per poter veder riconosciuti i propri diritti. Per farla breve se hai il diritto allo studio gratuito
        fino ai 19 anni invece di dover sgobbare a lavoro è grazie a chi ti ha preceduto; e se questo
        esempio non ti convince mettiamoci pure che senza di loro adesso tra uni e liceo faresti più
        di dieci ore al giorno di scuola, facendo ciao ciao con la manina alla domenica feriale.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Alla base della festa i moti rivendicativi del proletariato: nel 1855 in Australia, era stato
        coniato il motto “Otto ore di lavoro, otto di svago, otto per dormire”, slogan che fece da
        scintilla per l’idea di trovare un giorno all’anno che fungesse da possibilità di incontro e
        affermazione dei diritti lavorativi. Ad oggi tra i visionari si pensa già di di rimodellare questa
        frase-manifesto in: “Otto ore scroll Insta, otto ore scroll TikTok, sette per dormire e una per
        leggere PolitiXitalia!”.

        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Scherzi a parte la festa fu istituita al Congresso Internazionale di Parigi del 1889 (che diede
        il via alla Seconda Internazionale) per il giorno 1º maggio, dichiarato ufficialmente come la
        Festa Internazionale dei Lavoratori, adottata da molti paesi nel mondo.Ma perché proprio
        quella data? Fu una scelta simbolica, per ricordare lo sciopero indetto negli USA l’1 Maggio
        di tre anni prima, durato addirittura quattro giorni, per culminare infine in un evento
        tremendo. Ma questa è un’altra storia...
        <br />
        <i class="fa fa-share text-primary"></i>
        Torniamo a noi, perché un anno dopo, il primo maggio 1890, a Parigi venne festeggiata per
        la prima volta la Festa Internazionale dei Lavoratori, che registrando un’altissima adesione
        rese l’evento “festa nazionale” in quasi tutti i paesi.

        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Se al “ma questa è un’altra storia” non hai chiuso il pezzo allora ti meriti di sapere che non è
        affatto un’altra storia, ma che anzi quella tragedia è la parte più interessante del racconto.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Le proteste del 1886 guidate dall'Associazione dell'Ordine dei Cavalieri del Lavoro americani
        (i Knights of Labor) furono solo le ultime di una serie andate avanti per anni in un clima di
        massima tensione che vedeva scontrarsi imprenditori e operai, lo Stato Liberale classico
        contro lo Stato Sociale.

        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Infatti già trent’anni prima, nel 1866, fu approvata a Chicago la prima legge delle otto ore
        lavorative giornaliere. La notizia si diffuse in tutto il territorio statunitense fino all’ Europa, che
        abbracciò l’iniziativa perché ben disposta dalla allora recente nascita della Prima
        Internazionale a Londra nel 1964, molto vicina ai primi movimenti socialisti e marxisti
        dell'epoca
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Tornando al 1º maggio 1886, in occasione del 19º anniversario dell'entrata in vigore della
        legge dell'Illinois sulle otto ore lavorative, fu deciso dalla Federation of Organized Trades
        and Labour Unions come il giorno di scadenza limite per estendere tale legge in tutto il
        territorio americano, pena l'astensione dal lavoro, con uno sciopero generale a oltranza.

        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        In quel giorno, nonostante fossero già in possesso del diritto, anche i proletari di Chicago
        parteciparono allo sciopero generale per difendere i colleghi degli altri Stati. In particolare a
        protestare con più veemenza fu la fabbrica di mietitrici McCormick, dove la polizia, chiamata
        a reprimere l'assembramento, sparò sui manifestanti, uccidendone due e ferendone diversi
        altri. Per protestare contro la brutalità delle forze dell'ordine, gli anarchici locali
        organizzarono una manifestazione per tre giorni dopo da tenersi nell'Haymarket Square, la
        piazza che normalmente ospitava il mercato delle macchine agricole. Il 4 maggio però,
        nonostante l’invito alla calma dei capi operai, da una strada traversa fu lanciata una bomba
        che provocò la morte di sei poliziotti e il ferimento di una cinquantina. A quel punto la polizia
        sparò sui manifestanti: undici morti di cui sette poliziotti feriti dal fuoco amico. I feriti gravi
        che non morirono sul colpo ma a casa loro scappati per paura di essere arrestati furono a
        decine: nessuno ha mai saputo né il numero preciso di vittime totali né chi sia stato a
        lanciare la bomba. Fu il primo attentato alla dinamite nella storia degli Stati Uniti.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il 20 agosto 1887 fu emessa la sentenza del tribunale: sette i condannati a morte, tutti gli
        organizzatori della protesta. L'11 novembre 1887, i condannati furono tutti impiccati a
        Chicago. Le ultime parole pronunciate da Spies, uno dei condannati, furono:
        <span class="font-italic">
            «Salute, verrà il giorno in cui il nostro silenzio sarà più forte delle voci che oggi soffocate con
            la morte!»
        </span>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        L'allora presidente degli Stati Uniti d'America, Grover Cleveland, ritenne che il giorno 1º
        maggio avrebbe potuto costituire un'opportunità per commemorare i sanguinosi episodi di
        Chicago. Successivamente, temendo che la commemorazione potesse rafforzare
        eccessivamente il nascente socialismo, spostò l'oggetto della festività sull'antica
        Organizzazione dei Cavalieri del Lavoro. Tuttavia, già pochi giorni dopo il sacrificio dei
        cosiddetti Martiri di Chicago, gli stessi lavoratori della città statunitense tennero
        un'imponente manifestazione a lutto, prova che le idee socialiste non erano affatto morte.
        Da lì in poi la data, come già detto, venne ripresa in tutto il mondo: il resto è storia!
        <br />
    </p>
</div>
