@{ 
    ViewData["Title"] = "Quando la terra trema";
    Layout = "_Layout";
    ViewData["Keywords"] = "politix italia, politixitalia, terremoto, terra, trema, accise, sisma, ricostruzione, carburanti";
    ViewData["Descrizione"] = " Il 6 Aprile a L’Aquila si sono svolte le celebrazioni per il 12esimo anniversario del terremoto Trecentonove rintocchi delle campane, in memoria delle 309 vittime, hanno echeggiato nel silenzio" +
                " della notte: è ormai la seconda volta che manca la fiaccolata della memoria a causa del Covid.";
}

<div class="container text-center">
    <p class="text-right">9 Aprile 2021</p>
    <h1 class="text-primary">Quando la terra trema</h1>
    <br />
    <br />
    <div class="container">
        <p class="text-left">
            <i class="fa fa-share text-primary"></i>
            Il 6 Aprile a L’Aquila si sono svolte le celebrazioni per il 12esimo anniversario del terremoto.
            Trecentonove rintocchi delle campane, in memoria delle 309 vittime, hanno echeggiato nel
            silenzio della notte: è ormai la seconda volta che manca la fiaccolata della memoria a causa
            del Covid. Un vigile del fuoco con tanto di mascherina ha però acceso almeno lo storico
            braciere, ad illuminare la Chiesa di Santa Maria del Suffragio in Piazza Duomo, simbolo
            della ricostruzione.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Dodici anni da quel lontano 2009, quando alle 3.32 di notte crollò il mondo di centinaia di
            persone. Subito dalle prime luci della mattina si divise il piano emergenziale in tre fasi:
            <br />
            <br />
            </p>
    </div>
    <div class="container text-left">
        <ul class="list-group-flush">
            <li class="list-group-item">
                una prima fase costituita dagli immediati e successivi soccorsi ai coinvolti
            </li>
            <li class="list-group-item">
                una fase costituita dalla realizzazione e gestione delle tendopoli e delle case
                provvisorie
            </li>
            <li class="list-group-item">
                e in ultimo quella della messa in sicurezza degli edifici lesionati e della successiva
                ricostruzione
            </li>
        </ul>
    </div>
    <div class="container text-left">
        <p>
        <i class="fa fa-share text-primary"></i>
        Fu dichiarata l’emergenza nazionale dal Governo, che attribuì la qualifica di Commissario
        per l'Emergenza a Guido Bertolaso (proposto recentemente anche per il commissariamento
        della regione Calabria in ambito Covid), allora capo della Protezione Civile. La Protezione
        Civile raccomandò a tutti di non mettersi in viaggio verso le zone interessate per non
        intralciare i mezzi di soccorso, e in più lanciò anche un’allerta sismica della durata di 4
        settimane, sconsigliando alle popolazioni colpite di rientrare durante questo lasso di tempo
        nelle abitazioni rimaste indenni o leggermente lesionate, per la possibilità di repliche di
        eguale o addirittura superiore potenza.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        I primi ad arrivare sul posto furono il presidente della Regione Giovanni Chiodi e lo stesso
        Bertolaso insieme ad alcuni automezzi della Protezione Civile. Nel pomeriggio arrivarono il
        Presidente del Consiglio Silvio Berlusconi, il ministro dell'Interno Roberto Maroni e il ministro
        delle Infrastrutture e dei Trasporti Altero Matteoli.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La ragione di questo tempestivo arrivo di tutte le figure di riferimento fu merito della
        vastissima diffusione mediatica che ebbe l’evento. Si tratta verosimilmente dell'evento
        sismico meglio seguito e documentato in Italia in tal senso grazie anche all'ampia diffusione
        di notizie, filmati, interviste, report fotografici via web grazie alla rete Internet.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Tutta questa documentazione mediatica fece molto scalpore, riuscendo a smuovere gli animi
        dell’opinione pubblica e riscuotendo successo in molte campagne di raccolte fondi. Oltre a
        queste, il Governo varò il Decreto Abruzzo, che comprendeva il blocco del pagamento delle
        imposte da parte dei residenti dell'area colpita, un sussidio per l'autonoma sistemazione per
        chi aveva perso la casa, e un sussidio di disoccupazione per la perdita del lavoro.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Dopo Berlusconi arrivarono Monti, poi Letta, ancora Renzi e infine Gentiloni. Tutti tentarono
        con risultati più o meno buoni di risollevare l'economia locale appoggiandosi il più possibile
        ad aziende e cooperative locali per la fornitura di materiali e opere utili alla ricostruzione.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nonostante i molti passi avanti, ancora oggi rimane ancora tanto da fare. Cosa fa più rabbia
        soprattutto è vedere la città che si muove a velocità diverse: da un lato i beni statali e
        dall’altro le case dei cittadini. I palazzi restaurati del centro storico, splendidi nei loro ritrovati
        decori barocchi, convivono da anni ormai con appartamenti e case sfigurate e piene di
        macerie. I beni pubblici sono senza dubbio importanti, ma la vita delle persone dovrebbe
        passare avanti, e invece 6.300 persone vivono ancora in container e prefabbricati di
        emergenza.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ad imporre questa scelta di esclusione però non è stata la mancanza di fondi, oltre i tanti
        aiuti internazionali ed europei infatti gli italiani stessi contribuiscono tutt’ora con circa 4
        miliardi di euro all’anno alle ricostruzioni dei territori colpiti da catastrofi ambientali.
        Come? Grazie alle cosiddette “accise” sui carburanti. Per accisa, in economia politica si
        intende una tassa sulla fabbricazione e vendita di prodotti di consumo, in questo caso la
        benzina gas o diesel. Per rendervi l’idea del peso di questa tassa, ad oggi l'ammontare delle
        accise per la benzina corrispondono al 48% del prezzo totale per un litro, praticamente la
        metà del prezzo…
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Le accise sul carburante sono giustificate dalla necessità di fondi per le emergenze più
        disparate, parlando di terremoti sono 5 gli eventi storici negli ultimi 40 anni che hanno
        ricevuto aumento della tassa sui carburanti:
        Valle del Belice (1968) col Governo Moro / Friuli (1976) sempre con un esecutivo presieduto
        da Aldo Moro / Irpinia (1980) col Governo di Arnaldo Forlani / Abruzzo (2009) con Berlusconi
        / Emilia Romagna (2012) con l’esecutivo presieduto da Mario Monti.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il risultato è che gli italiani da quando ci sono le accise hanno versato 145 miliardi di euro.
        Ma il Consiglio Nazionale degli Ingegneri stima che il totale delle ricostruzioni già fatte in
        questi cinque luoghi dal ‘68 ad oggi si aggiri intorno ai 70,4 miliardi di euro.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Questo significa che di quei 145 presi dalle tasche degli italiani solo la metà sono stati
        davvero usati per le ricostruzioni. Ma se fino ad un certo punto possiamo giustificare questo
        spreco cosa dire invece delle accise sulla guerra in Abissinia del 1935, per la crisi di Suez
        del 1956, per il disastro del Vajont del 1963 e per l’alluvione di Firenze del 1966? Alcune di
        queste non potremmo cancellarle? La parola a voi!
        <br />
        <br />
        </p>
    </div>
</div>