 
@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Scilipoti E Cariddi";
    ViewData["Keywords"] = "politix italia, politixitalia, scilipoti, cariddi, ";
    ViewData["Descrizione"] = " In questi giorni il nome più evocato (e memato) è stato Ciampolillo. Noi però vi sveliamo una figura della storia politica italiana ancora superiore. ";
}

<div class="container text-center">
    <h1 class="text-primary">Scillipoti e Cariddi</h1>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Le parole della settimana sono tante: responsabili, costruttori, volenterosi, fiduciari e
        chi più ne ha più ne metta. Insomma epiteto più o epiteto meno, comunque li si voglia chiamare,
        questi parlamentari sono tutti puntellatori del governo,
        piccoli pezzi di scotch per tenere insieme un vaso quanto mai a pezzi.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Abbiamo già parlato di cambia casacca nell'articolo precedente (“Il trasformismo e Depretis”, nel caso non avessi letto recupera, ne vale la pena!), ma questa volta più che sul povero Conte ci concentriamo appunto sui suoi salvatori, arrivati di volata per salvarlo dall’oblio. Quando si parla di “volata” non si intende metaforicamente, ma in modo letterale; basti pensare all’ormai celebre senatore Ciampolillo, protagonista della serata del voto di fiducia.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Arrivato al fotofinish correndo in affanno addirittura dopo la seconda chiamata, e costringendo di conseguenza la presidentessa Casellati a verificare con la moviola che fosse entrato con il piede in Senato prima che lei avesse pronunciato la fatidica frase “sessione chiusa”; il tutto in pieno stile VAR di Serie A: vorremmo fosse una battuta ma non lo è, davvero.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ciampolillo, con la sua fiducia alla maggioranza (relativa) è entrato nell’almanacco delle leggende politiche italiane. La sua gaffes, con le dovute proporzioni, lo ha inserito in quell’olimpo di personalità imbarazzanti che costella la nostra storia. E proprio di una di queste parleremo oggi, che a suo tempo, similmente a Ciampolillo, riuscì ad unire in un solo uomo le due figure di cui stavamo parlando: il senatore cambia casacca ed il senatore passato alla storia. Introduciamo la nostra figura mitologica per l’appunto con una leggenda sul suo conto.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La leggenda narra che Scilla all’inizio fosse una ninfa bellissima, e mi viene da dire anche piena di valori ed ideali, ma questo lo aggiungo io. Tanto affascinante che Glauco Di Pietro, semidio marino mezzo magistrato e mezzo politico,  se ne innamorò subito, quando una sera la vide giocare innocente nelle acque della politica. Non state capendo? Ma che impazienza che avete! Almeno fatemi finire la storia che poi mi spiego...Dove ero rimasto?
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ecco sì, al loro incontro: Scilla giocava allegramente nel mare di Glauco, ma quando vide il mostro dichiararele il suo amore e la sua onestà, fu talmente inorridita da scappare via. Ferito ma determinato, Glauco Di Pietro si recò ad Arcore dalla maga/cavaliera dell’economia Circe per un filtro d'amore; ma questa, desiderando il dio per sé, gli propose invece di unirsi a lei, quale figura mitologica fissata col sesso.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Glauco si rifiutò di tradire il suo amore per Scilla, e Circe, furiosa, si vendicò preparando una pozione malefica, fatta con pezzi di poltrone e mazzette. Versò la pozione dentro lo specchio d’acqua dell’Italia dei Valori mentre Scilla faceva il bagno, e così la povera ninfa si trasformò in un mostro tentacolare con teste di cane attaccate alla vita. Per l'orrore Scilla si gettò in mare e andò a vivere nella cavità di uno scoglio vicino alla grotta dove abitava anche Cariddi.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ovviamente solo di leggenda si parla, se non fosse che proprio vicino a quel canale di mare di Scilla e Cariddi, ovvero lo stretto di Messina, abitasse nel piccolo paese di Barcellona Pozzo di Gotto (provincia proprio di Messina) il nostro eroe Domenico Scilipoti. Cosa unisce Scilla e Scilipoti a parte la profonda Sicilia ed il nome? Ma tutto! Ora ti chiarisco la leggenda di Scilla parlandoti della biografia del nostro Scilipoti, almeno fai ordine in testa.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Domenico Scilipoti nasce medico e agopuntore, il ché sembra un dato superfluo ma non lo è: dovete sapere che l’agopuntura è una medicina alternativa non scientifica e non verificata, e che a Domenico non andava giù che fosse considerata una cinesata da creduloni, nonostante lo sia a tutti gli effetti...Tenetelo bene a mente.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Dopo anni di dubbia carriera medica Scilipoti decise di entrare in politica a fianco di Antonio Di Pietro nel suo partito “Italia dei Valori”, che aveva da poco lasciato l’incarico di magistrato nella lotta alla corruzione (leggi il nostro articolo “Mani pulite”!). L’Italia dei Valori aveva una sola nemesi, di nome Silvio Berlusconi, che vedeva alla stregua del diavolo in terra. Caso volle che dopo la sua elezione parlamentare, nel dicembre 2010, a pochi giorni dalla mozione di sfiducia al governo Berlusconi IV, Scilipoti decise di uscire dal partito di Di Pietro, il quale dopo averlo pregato di rimanere realizzò cosa si stava per compiere.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        l 14 dicembre del 2010 Scilipoti attese la seconda chiamata per vedere se il loro voto sarebbe stato determinante (e così fu), decidendo allora di votare per il SI’. Lo stesso giorno, poco dopo il voto, in piazza San Silvestro sfilarono davanti alle telecamere dei TG una ventina di immigrati con degli striscioni di sostegno alle decisioni di Scilipoti.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Identificati dalla polizia, dichiararono di essere lì per lavoro in quanto pagati dallo stesso deputato per far credere che esistesse un consenso sulle sue scelte. Di Pietro chiese l’avvio per un'inchiesta della magistratura che non arrivò mai; arrivarono però tra le tante leggi varate del governo Berlusconi IV varie certificazioni per la pratica dell’agopuntura...Ce ne sarebbero mille ancora da raccontare, come quella volta che copiò testualmente molteplici frasi del Manifesto degli intellettuali fascisti per il suo manifesto del nuovo gruppo a sostegno del governo di Berlusconi “Iniziativa Responsabile”.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        E inutile anche dire che a fine mandato venne rieletto senatore nel 2013 per Forza Italia, non per voto popolare ma per nomina personale del grande Silvio. Stendiamo un velo pietoso.
        <br />
        <br />
</div>