@{
    Layout = "_Layout";
    ViewData["Title"] = "7 Gennaio";
    ViewData["Keywords"] = "7 gennaio, politix italia, politixitalia, charlie hebdo";
    ViewData["Descrizione"] = " Sei anni fa, il 7 Gennaio del 2015, avvenne l’attentato a Charlie Hebdo";
}

<div class="container text-center">
    <h1 class="text-primary">Il 7 di Gennaio</h1>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Sei anni fa, il 7 Gennaio del 2015, avvenne l’attentato a Charlie Hebdo: dodici morti. Il tutto per dell’ironia, poiché come tutti sappiamo furono alcune vignette satiriche raffiguranti Maometto ad istigare la vendetta. La situazione francese è sicuramente intrigante, per questo ti suggeriamo la lettura di un nostro precedente approfondimento del Politicando Oggi “Francia, cosa sta succedendo in 3 minuti”.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Quello di Charlie Hebdo fu solo il primo dei molteplici eventi, tristemente noti, che caratterizzarono una vera e propria stagione del terrore; una scossa sismica con epicentro in quella serie di controversie a cui fanno capo Primavera Araba e guerra civile in Siria, che infatti col tempo avrebbero aperto un vero e proprio vaso di Pandora.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Dal Bataclan ai mercatini di Berlino, passando per i crimini in Africa Settentrionale e Medio Oriente, che purtroppo interessano l’opinione pubblica sempre meno rispetto alle vicende occidentali. Mille riflessioni sono state fatte e probabilmente altre mille ne faremo insieme a tempo debito, ma oggi siamo qua per farti una domanda: perché in Italia no?
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Oltre ai colpi già nominati in Francia e Germania, abbiamo visto tragedie anche in Spagna (per esempio sulla Rambla di Barcellona), Belgio (all'aeroporto) e Inghilterra (Manchester, concerto di Ariana Grande). Eppure mai in Italia.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ma sì, pensateci un attimo; il fulcro assoluto ed universale di tutta la religione cristiana si trova nel cuore del nostro Paese, nella capitale della nazione stessa, Roma; questo la dice lunga sulla storia che ci lega alla Chiesa, diciamocelo chiaramente: volenti o nolenti, credenti o meno, noi tutti, in quanto cittadini italiani, siamo la quintessenza del tipico cattolico tanto odiato da tutte le organizzazioni jihadiste, ovvero, secondo significato letterale della parola, “riconducibile o ispirato alla guerra santa dei musulmani contro gli infedeli”.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Pellegrinaggi da tutto il mondo giungono fino a San Pietro, in casa nostra, solo per volontà di fede, se non è questa la meta preferita per qualche attentato non so voi.
        Nell’Ottobre 2014 infatti, in tempi ancora non sospetti, Dabiq, il giornale online dell’Isis, promise col tempo di radere al suolo la Santa Sede, cosa che fino ad adesso non è mai successa.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ritorniamo alla domanda: come mai? Beh, ad essere onesti i fattori sono molti ed incerti; allora andremo ad analizzarne giusto qualcuno, mantenendo la consapevolezza che non esiste nessun calcolo matematico o nessuna formula che possa realmente rispondere a questa domanda, dato che molto è frutto del puro ed incalcolabile caso; cercare di risolvere l’incognita sarebbe un po’ come cercare di comprendere in modo razionale quali siano questi benedetti 21 parametri per determinare i colori delle regioni: molti fattori, tante roulette giocate da Conte e compagni.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Parentesi tragicomica a parte, il primo motivo potrebbe essere anche solo prettamente demografico: checché se ne dica, in Italia la quantità di immigrati è bassa rispetto al resto d’Europa, dove invece i figli di stranieri, la cosiddetta “seconda generazione”, sono intrinsecamente parte del quadro sociale; infatti integrare ed amalgamare tra loro diverse etnie non è un gioco da ragazzi, col rischio di escludere qualcuno e portarlo ad un ripudio verso lo stato ospitante, con atti di rigetto anche estremi come l’arruolamento nei Foreign Fighters radicalizzati, ovvero credenti (solitamente occidentali) che decidono, tramite reclutamento di rabbini o guru affiliati al sedicente stato islamico dell’Isis, di andare in lotta per la fede.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ci tengo adesso a fare un appunto fondamentale: il rischio più grande che si possa correre parlando di questi temi è quello di fare di tutta l’erba un fascio; NON tutti i musulmani sono radicalizzati, ANZI, essi sono una minoranza effimera, e tra questi ancora meno sono i collegati all’Isis, che però sono riusciti a monopolizzare con malizia lo spazio mediatico sufficiente ad inglobare dentro si sé tutto il mondo islamico, A TORTO.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Proprio parlando di popolo e cultura, un secondo motivo è certamente quello sociologico della religione di Stato: l’Italia è un paese ufficialmente laico, ma la stragrande maggioranza delle famiglie ha forti radici di credenza cattolica, il ché preventiva le conversioni religiose in modo netto; basti pensare allo scalpore fatto per Silvia Romano: nel caso non ne conosceste la storia, andatevi ad ascoltare il nostro podcast, episodio 3!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Infine un terzo motivo, ancora più importante, e che in realtà c’entra di più coi temi che trattiamo, ovvero il contesto storico-politico.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel ventennio 70/80 del ventesimo secolo, la Repubblica Italiana vide nascere il fenomeno delle Brigate Rosse, un'organizzazione terroristica italiana di estrema sinistra costituitasi nel 1970 per propagandare e sviluppare la lotta armata rivoluzionaria per il comunismo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Approfondiremo meglio il tema in un articolo futuro, ma a rievocare quel periodo basta l’imponente nome di Aldo Moro, ucciso proprio dalle BR il 9 Maggio del 1978, in seguito a ricatti e bracci di ferro con l’allora neogoverno DC di Andreotti. Oltre al caso Moro, gli attentati avvenuti furono tanti, e ancora di più quelli sventati: nel tempo l’Esercito italiano divenne sempre più abile ed esperto nel campo dello spionaggio, riuscendo ad entrare nelle maglie delle varie organizzazioni criminali per prevederne in maniera minuziosa e affidabile i movimenti prossimi.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Possiamo dire quindi che le Brigate Rosse, per restare in tema d’attualità, furono un vero e proprio vaccino per il futuro: nonostante i tragici atti a cui dovemmo assistere, col senno di poi si stavano formando le ossa di uno dei reparti di difesa di stato più efficienti del mondo. Facciamocelo un complimento ogni tanto; ci lamentiamo sempre di tutto (con motivi più che giusti per carità), ma in questo ambito nevralgico e fondamentale della sicurezza pubblica possiamo dire di essere una vera e propria eccellenza a livello globale.
        <br />
        <br />
    </p>
</div>