@{
    Layout = "_Layout";
    ViewData["Title"] = "Campania";
}

<div class="container text-center">
    <h1 class="text-primary">Elezioni Regionali in Campania</h1>
    <h5> In Campania domenica 20 Settembre (7:00-23:00) e lunedì 21 Settembre (7:00-15:00) si terranno le elezioni regionali.</h5>
    <br />
    <h3 class="text-primary">Come è fatta la scheda elettorale</h3>
    <img src="~/ImmaginiSchedaElettorale/ImmagineSchedaELettoraleCampania.png" alt="immagine scheda elettorale" class="immagineSchedaElettorale" />
    <br />
    <br />
    <a class="btn btn-primary btn-sm" href="~/ImmaginiSchedaElettorale/ImmagineSchedaELettoraleCampania.png" download="SchedaElettoraleCampania.png">Scarica il fac-simile della scheda elettorale</a>
    <br />
    <br />
    <h3 class="text-primary">Come si vota?</h3>
    <ul class="list-group text-left listaregioni">
        <li class="list-group-item">Il numero di consiglieri regionali da eleggere è 50</li>
        <li class="list-group-item">
            Per scegliere i consiglieri regionali si possono indicare fino a due preferenze (all’interno di una
            stessa lista), una per un uomo e una per una donna
        </li>
        <li class="list-group-item">Si può esprimere anche una sola preferenza</li>
        <li class="list-group-item">
            Non si possono invece esprimere due preferenze per candidati dello stesso sesso, pena
            l’annullamento della seconda preferenza (quella che arriva dopo nell’elenco).
        </li>
        <li class="list-group-item">
            L’elettore può esprimere, nelle apposite righe della scheda, uno o due voti di preferenza, scrivendo
            almeno il cognome dei due candidati consiglieri compresi nella lista stessa
        </li>
    </ul>
    <br />
    <h5>Preferenze e voto disgiunto</h5>
    <ul class="list-group text-left">
        <li class="list-group-item">
            Si può tracciare una “X” solo sul simbolo della lista scelta. In questo caso il voto alla lista viene
            automaticamente trasferito al candidato presidente sostenuto da quella lista
        </li>
        <li class="list-group-item">
            È possibile anche barrare soltanto il nome del candidato presidente, e in quel caso il voto non andrà
            a nessuno dei partiti che lo sostengono
        </li>
        <li class="list-group-item">
            E’ possibile barrare sia il simbolo della lista scelta che il nome del candidato sostenuto da quella
            lista
        </li>
        <li class="list-group-item">
            La legge elettorale campana consente anche il cosiddetto voto disgiunto. Ogni elettore può cioè
            votare il candidato presidente di uno schieramento e un partito di una diversa coalizione
        </li>
    </ul>
    <br />
    <h3 class="text-primary">La legge elettorale</h3>
    <h5>In Campania l’attuale legge elettorale funziona nel seguente modo:</h5>
    <ul class="list-group text-left">
        <li class="list-group-item">Vince il candidato che ottiene semplicemente più voti </li>
        <li class="list-group-item">
            Per garantire la governabilità della Regione è previsto un premio di maggioranza del 60% dei 50
            seggi a disposizione che vengono ripartiti su base provinciale
        </li>
    </ul>
    <br />
    <h5>Soglie di sbarramento per accedere alla ripartizione dei seggi:</h5>
    <br />
    <ul class="list-group text-left">
        <li class="list-group-item">
            Una lista a livello provinciale deve superare la soglia di sbarramento del 3%, a meno che non faccia
            parte di una coalizione capace di ottenere almeno il 10%
        </li>
    </ul>

    <br />
    <h3 class="text-primary">I Candidati Governatori</h3>
    <h5>I candidati in campo sono 7. Di seguito i nomi dei candidati che rimandano ai loro siti o profili ufficiali. Sotto la rispettiva lista che li sostiene.</h5>
    
    <br />
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/fmbperlindipendenza/?ref=page_internal" target="_blank">Sergio Angrisano </a>
        <br />
        <span class="font-weight-normal"> Idee in Movimento - Terzo Polo</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="http://www.caldoropresidente.it/" target="_blank">Stefano Caldoro</a>
        <br />
        <span class="font-weight-normal">
            Adc - Alleanza Popolo e Territorio, Unione di Centro, Forza Italia, Fratelli d’Italia,
            Identità Meridionale - Macroregione Sud, Lega
        </span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.valeriaciarambino.com/" target="_blank">Valeria Ciarambino</a>
        <br />
        <span class="font-weight-normal">Movimento 5 Stelle</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/Dr.seduction" target="_blank">Giuseppe Cirillo</a>
        <br />
        <span class="font-weight-normal">
            Partito delle Buone Maniere
        </span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://vincenzodeluca.it/" target="_blank">Vincenzo De Luca</a>
        <br />
        <span class="font-weight-normal">
            - Campania Libera, Centro Democratico, Davvero Sostenibilità e Diritti – Partito
            Animalista, De Luca Presidente, Democratici e Progressisti , Europa Verde Campania – Demos, Fare
            Democratico –Popolari , Italia Viva , Lega per l’Italia – Partito Repubblicano, Liberaldemocratici e
            Moderati, Noi Campani, Partito Democratico, Per – Per le persone e la comunità, Psi + Campania in
            Europa
        </span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://poterealpopolo.org/tag/giuliano-granato/" target="_blank">Giuliano Granato</a>
        <br />
        <span class="font-weight-normal">Potere al Popolo </span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/LucaSaltalamacchiaTERRA/">Luca Saltalamacchia</a> 
        <br />
        <span class="font-weight-normal">Terra</span>
    </h6>
</div>
 