@{
    Layout = "_Layout";
    ViewData["Title"] = "Liguria";
}

<div class="container text-center">
    <h1 class="text-primary">Elezioni Regionali in Liguria</h1>
    <h5> In Liguria domenica 20 Settembre (7:00-23:00) e lunedì 21 Settembre (7:00-15:00) si terranno le elezioni regionali.</h5>
    <br />
    <h3 class="text-primary">Come è fatta la scheda elettorale</h3>
    <img src="~/ImmaginiSchedaElettorale/ImmagineSchedaElettoraleLiguria.png" alt="immagine scheda elettorale" class="immagineSchedaElettorale" />
    <br />
    <br />
    <a class="btn btn-primary btn-sm" href="~/ImmaginiSchedaElettorale/ImmagineSchedaElettoraleLiguria.png" download="SchedaElettoraleLiguria.png">Scarica il fac-simile della scheda elettorale</a>
    <br />
    <br />
    <h3 class="text-primary">Come si vota?</h3>
    <ul class="list-group text-left listaregioni">
        <li class="list-group-item">Il numero di consiglieri regionali da eleggere è 30</li>
        <li class="list-group-item">
            Per scegliere i consiglieri regionali si possono indicare fino a due preferenze (all’interno di
            una stessa lista), una per un uomo e una per una donna; questo non vieta però la possibilità
            di esprimere anche una sola preferenza
        </li>
        <li class="list-group-item">
            Non si possono invece esprimere due preferenze per candidati dello stesso sesso, pena
            l’annullamento della seconda preferenza (quella che arriva dopo nell’elenco)
        </li>
        <li class="list-group-item">
            L’elettore può esprimere, nelle apposite righe della scheda, uno o due voti di preferenza,
            scrivendo almeno il cognome dei due candidati consiglieri compresi nella lista stessa

        </li>
    </ul>
    <br />
        <h5>Preferenze e voto disgiunto</h5> 
        <ul class="list-group text-left">         
        <li class="list-group-item">
            Si può tracciare una “X” solo sul simbolo della lista scelta. In questo caso il voto alla lista
            viene automaticamente trasferito al candidato presidente sostenuto da quella lista
        </li>
        <li class="list-group-item">
            È possibile anche barrare soltanto il nome del candidato presidente, e in quel caso il voto
            non andrà a nessuno dei partiti che lo sostengono
        </li>
        <li class="list-group-item">
            E’ possibile barrare sia il simbolo della lista scelta che il nome del candidato sostenutoda
            quella lista
        </li>
        <li class="list-group-item">
            Vi è infine l'ulteriore possibilità del cosiddetto voto disgiunto: ogni elettore può cioè votare
            il candidato presidente di uno schieramento e un partito di una diversa coalizione
        </li>
    </ul>

    <br />
    <h3 class="text-primary">La legge elettorale</h3>
    <h5>
        In Liguria, si vota con un sistema elettorale del 1995, modificato però dalla maggioranza di
        centrodestra lo scorso Luglio. Ecco come funziona:
    </h5>
    <ul class="list-group text-left">
        <li class="list-group-item">
            Essendo la legge elettorale a turno unico, vince le regionali il candidato governatore che
            molto semplicemente ottiene più voti
        </li>
        <li class="list-group-item">
            Per quanto riguarda i 30 seggi (più il presidente eletto), essi sono ripartiti per l’80% in base
            a un sistema proporzionale su liste provinciali, dove è possibile esprimere le preferenze in
            merito ai candidati consiglieri; mentre il restante 20% dei seggi non vengono più assegnati
            tramite il listino regionale bloccato, ma in maniera variabile: come premio di maggioranza
            se il candidato vincitore ha ottenuto meno di 18 seggi, oppure ripartito tra le liste non
            collegate al candidato vincitore se ha ottenuto più di 18 seggi
        </li>
        <li class="list-group-item">
            Per poter accedere alla ripartizione dei seggi, una lista provinciale deve superare la soglia di
            sbarramento del 3% salvo non siano collegate a una lista regionale che è riuscita a ottenere il
            5%
        </li>
    </ul>

    <br />
    <h3 class="text-primary">I Candidati Governatori</h3>
    <h5>I candidati in campo sono 10. Di seguito i nomi dei candidati che rimandano ai loro siti o profili ufficiali. Sotto la rispettiva lista che li sostiene.</h5>

    <br />
    <br />

    <h6 class="font-weight-bold">
        <a href="https://it-it.facebook.com/carlo.carpi.3" target="_blank">Carlo Carpi </a>
        <br />
        <span class="font-weight-normal">Lista Carpi</span>
    </h6>

    <br />
    <h6 class="font-weight-bold">
        <a href="https://it-it.facebook.com/marika.cassimatis" target="_blank"> Marika Cassimatis </a>
        <br />
        <span class="font-weight-normal">Base Costituzionale</span>
    </h6>

    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.giacomochiappori.it/" target="_blank">Giacomo Chippori </a>
        <br />
        <span class="font-weight-normal">Grande Liguria</span>
    </h6>

    <br />
    <h6 class="font-weight-bold">
        <a href="https://twitter.com/faustomassardo" target="_blank">Aristide Fausto Massardo </a>
        <br />
        <span class="font-weight-normal">Italia Viva - +Europa - PSI - PVU</span>
    </h6>

    <br />
    <h6 class="font-weight-bold">
        <a href="#" target="_blank">Gaetano Russo</a>
        <span class="font-weight-light">
            grusso.sp@libero.it
        </span>
        <br />
        <span class="font-weight-normal">Il Popolo della Famiglia - Democrazia Cristiana</span>
    </h6>

    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.alicesalvatore.it/chi-sono/" target="_blank">Alice Salvatore </a>
        <br />
        <span class="font-weight-normal">Il Buonsenso</span>
    </h6>

    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.ferrucciosansa.it/" target="_blank">Ferruccio Sansa </a>
        <br />
        <span class="font-weight-normal">
            Partito Democratico - Movimento 5 Stelle - Europa Verde-DemoS-Centro
            Demicratico - Sansa Presidente - Linea Condivisa
        </span>
    </h6>

    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/giovatoti/" target="_blank"> Giovanni Toti </a>
        <br />
        <span class="font-weight-normal">Lega - Fratelli d’Italia - Forza Italia - Unione di Centro - Toti Presidente</span>
    </h6>

    <br />
    <h6 class="font-weight-bold">
        <a href="http://riconquistarelitalia.it" target="_blank">Davide Visigalli </a>
        <br />
        <span class="font-weight-normal"> Riconquistare l’Italia</span>
    </h6>

    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/RispettopertuttigliAnimali/" target="_blank">Riccardo Benetti </a>
        <br />
        <span class="font-weight-normal">Ora rispetto per tutti gli animali</span>
    </h6>
   
</div>
