@{

    Layout = "_Layout";
    ViewData["Title"] = "Marche";

}


<div class="container text-center">
    <h1 class="text-primary">Elezioni Regionali nelle Marche</h1>
    <h5> Nelle Marche domenica 20 Settembre (7:00-23:00) e lunedì 21 Settembre (7:00-15:00) si terranno le elezioni regionali.</h5>
    <br />
    <h3 class="text-primary">Come è fatta la scheda elettorale</h3>
    <img src="~/ImmaginiSchedaElettorale/ImmagineSchedaElettoraleMarche.png" alt="immagine scheda elettorale" class="immagineSchedaElettorale" />
    <br />
    <br />
    <a class="btn btn-primary btn-sm" href="~/ImmaginiSchedaElettorale/ImmagineSchedaElettoraleMarche.png" download="SchedaElettoraleMarche.png">Scarica il fac-simile della scheda elettorale</a>
    <br />
    <br />
    <h3 class="text-primary">Come si vota?</h3>
    <ul class="list-group text-left listaregioni">
        <li class="list-group-item">Il numero di consiglieri regionali da eleggere è 30</li>
        <li class="list-group-item">
            Per scegliere i consiglieri regionali si possono indicare fino a due preferenze (all’interno di
            una stessa lista), una per un uomo e una per una donna; questo non vieta però la possibilità
            di esprimere anche una sola preferenza
        </li>
        <li class="list-group-item">
            Non si possono invece esprimere due preferenze per candidati dello stesso sesso, pena
            l’annullamento della seconda preferenza (quella che arriva dopo nell’elenco)
        </li>
        <li class="list-group-item">
            L’elettore può esprimere, nelle apposite righe della scheda, uno o due voti di preferenza,
            scrivendo almeno il cognome dei due candidati consiglieri compresi nella lista stessa
        </li>
    </ul>

    <br />


    <h5>Preferenze e voto disgiunto</h5>
    <ul class="list-group text-left azzeramentopaddinsinistrolisteflush">
        <li class="list-group-item">
            Si può anche tracciare una “X” solo sul simbolo della lista scelta. In questo caso il voto alla
            lista viene automaticamente trasferito al candidato presidente sostenuto da quella lista
        </li>
        <li class="list-group-item">
            Nel caso invece si barri soltanto il nome del candidato presidente, il voto sarà allora da
            intendere validamente espresso anche a favore della coalizione alla quale il candidato a
            presidente votato è collegato
        </li>
        <li class="list-group-item">
            E’ possibile barrare sia il simbolo della lista scelta che il nome del candidato sostenuto da
            quella lista
        </li>
        <li class="list-group-item">
            NON è invece possibile esercitare il cosiddetto voto disgiunto (cioè votare il candidato
            presidente di uno schieramento e un partito di una diversa coalizione) PENA annullamento
            della scheda
        </li>
    </ul>

    <br />
    <br />

    <h3 class="text-primary">La legge elettorale</h3>
    <h5>
        Nelle Marche, si vota con un sistema elettorale del 2015, cambiato proprio alla vigilia delle scorse
        elezioni regionali. Eccone il funzionamento:
    </h5>
    <ul class="list-group text-left">
        <li class="list-group-item">
            Essendo un sistema proporzionale a turno unico, vince le regionali il candidato governatore
            che molto semplicemente ottiene più voti
        </li>
        <li class="list-group-item">
            Per quanto riguarda i 30 seggi (più il presidente eletto), essi sono ripartiti appunto in modo
            proporzionale, il ché significa un numero ben preciso di consiglieri per ogni circoscrizione
            (corrispondenti alle cinque province) in base alla sua rispettiva popolazione:
            Ancona 9 seggi / Pesaro 7 seggi / Macerata 6 seggi / Ascoli 4 seggi / Fermo 4 seggi
        </li>
        <li class="list-group-item">
            Per garantire la governabilità, al candidato vincitore verrà assegnato un premio di
            maggioranza pari a 16 seggi con una percentuale tra il 34% e il 37%, 17 seggi tra il 37% e il
            40% e 18 seggi se oltre il 40%
        </li>
        <li class="list-group-item">
            Per poter accedere alla ripartizione dei seggi, una coalizione deve superare la soglia di
            sbarramento del 5% salvo se un gruppo di liste che la compongono abbia preso almeno il
            3% a livello regionale
        </li>
    </ul>

    <br />

    <h3 class="text-primary">I Candidati governatori</h3>
    <h5>I candidati in campo sono 8. Di seguito i nomi dei candidati che rimandano ai loro siti o profili ufficiali. Sotto la rispettiva lista che li sostiene.</h5>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/francescoacquarolifdi/">Francesco Acquaroli</a>
        <br />
        <span class="font-weight-normal">
            Lega - Fratelli d’Italia - Forza Italia - Unione di Centro - Movimento per
            le Marche - Civici con Acquaroli
        </span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="http://www.sabrinabanzato.it/">Sabrina Banzato</a>
        <br />
        <span class="font-weight-normal">Vox Populi</span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://it-it.facebook.com/alessandra.contigiani.3">Alessandra Contigiani</a>
        <br />
        <span class="font-weight-normal">
            Riconquistare l’Italia
        </span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.movimento3v.it/2020/03/05/la-dott-ssa-anna-rita-iannetti-e-la-candidata-a-presidente-delle-marche/">Anna Rita Iannetti</a>
        <br />
        <span class="font-weight-normal">Movimento 3V</span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.dipendedanoi.it/">Roberto Mancini</a>
        <br />
        <span class="font-weight-normal">Dipende da Noi</span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://mauriziomangialardi.com/">Maurizio Mangialardi</a>
        <br />
        <span class="font-weight-normal">
            Partito Democratico - ItaliaViva- PSI - DemoS - CiviciMarche - Rinasci
            Marche -Le Nostre Marche & il Centro - Lista Mangialardi Presidente - Marche Coraggiose
        </span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/mercorelli.m5s/">Gian Mario Mercorelli</a>
        <br />
        <span class="font-weight-normal">Movimento 5 Stelle</span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/PasquinelliPerLeMarche/">Fabio Pasquinelli</a>
        <br />
        <span class="font-weight-normal">Partito Comunista</span>
    </h6>
    <br />
</div>