@{
    Layout = "_Layout";
    ViewData["Title"] = "Puglia";
}

<div class="container text-center">

    <h1 class="text-primary">Elezioni Regionali in Puglia</h1>
    <h5> In Puglia domenica 20 Settembre(7:00 - 23:00) e lunedì 21 Settembre(7:00 - 15:00) si terranno le elezioni regionali.</h5>
    <br />
    <h3 class="text-primary">Come è fatta la scheda elettorale</h3>
    <br />
    <img src="~/ImmaginiSchedaElettorale/ImmagineSchedaElettoralePuglia.jpeg" alt="Alternate Text" class="immagineSchedaElettorale" />
    <br />
    <br />
    <a class="btn btn-primary btn-sm" href="~/ImmaginiSchedaElettorale/ImmagineSchedaElettoralePuglia.jpeg" download="SchedaElettoralePuglia.jpeg">Scarica il fac-simile della scheda elettorale</a>
    <br />
    <br />
    <h3 class="text-primary">Come si vota?</h3>

    <ul class="list-group text-left listaregioni">
        <li class="list-group-item">Il numero di consiglieri regionali da eleggere è 50</li>
        <li class="list-group-item">
            Per scegliere i consiglieri regionali si possono indicare fino a due preferenze (all’interno di
            una stessa lista), una per un uomo e una per una donna; questo non vieta però la possibilità
            di esprimere anche una sola preferenza
        </li>
        <li class="list-group-item">
            Non si possono invece esprimere due preferenze per candidati dello stesso sesso, pena
            l’annullamento della seconda preferenza (quella che arriva dopo nell’elenco)
        </li>
        <li class="list-group-item">
            L’elettore può esprimere, nelle apposite righe della scheda, uno o due voti di preferenza,
            scrivendo almeno il cognome dei due candidati consiglieri compresi nella lista stessa
        </li>
    </ul>

    <br />
    <h5>Preferenze e voto disgiunto</h5>
    <ul class="list-group text-left azzeramentopaddinsinistrolisteflush">
        <li class="list-group-item">
            Si può tracciare una “X” solo sul simbolo della lista scelta. In questo caso il voto alla lista
            viene automaticamente trasferito al candidato presidente sostenuto da quella lista
        </li>
        <li class="list-group-item">
            È possibile anche barrare soltanto il nome del candidato presidente, e in quel caso il voto
            non andrà a nessuno dei partiti che lo sostengono
        </li>
        <li class="list-group-item">
            E’ possibile barrare sia il simbolo della lista scelta che il nome del candidato sostenuto da
            quella lista
        </li>
        <li class="list-group-item">
            Vi è infine l'ulteriore possibilità del cosiddetto voto disgiunto: ogni elettore può cioè votare
            il candidato presidente di uno schieramento e un partito di una diversa coalizione
        </li>
    </ul>
    <br />

    <h3 class="text-primary">La legge elettorale</h3>
    <h5>In Puglia, si vota con una legge elettorale del 2015, modifica di una precedente datata 2005. Ecco come funziona:</h5>
    <ul class="list-group text-left">
        <li class="list-group-item">
            Essendo la legge elettorale a turno unico, vince le regionali il candidato governatore che
            molto semplicemente ottiene più voti
        </li>
        <li class="list-group-item">
            Per quanto riguarda i 50 seggi (più il presidente eletto), 23 sono ripartiti proporzionalmente
            tra le 6 circoscrizioni (le 6 province) mentre gli altri 27 tramite sede di Collegio Unico
            Regionale (C.U.R.)
        </li>
        <li class="list-group-item">
            A pescare dai 23 seggi delle circoscrizioni poi si possono venire a creare dei premi di
            maggioranza; al gruppo o alla coalizione di gruppi collegati al Presidente proclamato eletto
            vengono complessivamente assegnati:
            <ul class="list-group-flush text-left">
                <li class="list-group-item"> • 29 seggi qualora la percentuale di voti validi raggiunta sia pari o superiore al 40%   </li>
                <li class="list-group-item"> • 28 seggi qualora la percentuale di voti validi raggiunta sia tra 35% e 40%    </li>
                <li class="list-group-item"> • 27 seggi qualora la percentuale di voti validi raggiunta sia inferiore al 35%     </li>
            </ul>
        </li>
        <li class="list-group-item">Se ottiene tra il 40% e il 45% avrà 23 seggi</li>
        <li class=list-group-item>
            Per poter accedere alla ripartizione dei seggi, le coalizioni di gruppi ed i singoli gruppi non
            collegati ad altri devono ottenere almeno l'8% dei voti nell'intera regione e anche i gruppi
            che, anche se uniti in coalizione ad altri, non hanno individualmente superato la soglia del
            4% dei voti validi conseguiti nella regione
        </li>
    </ul>
    <br />
    <h3 class="text-primary">I Candidati governatori</h3>
    <h5>I candidati in campo sono 8. Di seguito i nomi dei candidati che rimandano ai loro siti o profili ufficiali. Sotto la rispettiva lista che li sostiene.</h5>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/FiammaTricolorePuglia/"> Pierfranco Bruni </a>
        <br />
        <span class="font-weight-normal">Fiamma Tricolore</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.risorgimentosocialista.it/index.php/2020/08/17/lavoro-ambiente-costituzione-in-puglia-lista-unitaria-rs-pci-prc/"> Nicola Cesaria </a>
        <br />
        <span class="font-weight-normal">Lavoro Ambiente Costituzione</span>
    </h6>
    <h6 class="font-weight-bold">
        <a href="https://www.marioconca.it/chi-sono/">Mario Conca</a>
        <br />
        <span class="font-weight-normal">Cittadini Pugliesi - Conca Presidente</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="http://riconquistarelitalia.it/riconquistare-litalia-partecipa-alle-elezioni-regionali-di-liguria-marche-e-puglia/">Andrea D’Agosto </a>
        <br />
        <span class="font-weight-normal"> Riconquistare l’Italia</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/fittoraffaele/">Raffaele Fitto</a>
        <br />
        <span class="font-weight-normal">
            Lega - Fratelli d’Italia - Forza Italia - Unione di Centro - Nuovo PSI - La Puglia
            Domani
        </span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.micheleemiliano.it/">Michele Emiliano</a>
        <br />
        <span class="font-weight-normal">
            Partito Democratico - Italia in Comune - Emiliano Sindaco di Puglia -
            Senso Civico - Con Emiliano - Popolari con Emiliano - Puglia Verde e Solidale - DavveroEcologia e Diritti-PAI - Pensionati e Invalidi - Partito del Sud - Indipendenti del Sud -
            Democrazia Cristiana - Liberali - Sinistra Alternativa
        </span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.antonellalaricchiapresidente.it/"> Antonella Laricchia</a>
        <br />
        <span class="font-weight-normal">Movimento 5 Stelle - Puglia Futura</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.ivanperlapuglia.it/?utm_source=organic&utm_medium=ispessite&utm_campaign=sidebar"> Ivan Scalfarotto</a>
        <br />
        <span class="font-weight-normal">Italia Viva - Scalfarotto Presidente - +Europa - Futuro Verde</span>
    </h6>
   
    <br />
    <br />

</div>