@{
    Layout = "_Layout";
    ViewData["Title"] = "Toscana";
}

<div class="container text-center">

    <h1 class="text-primary">Elezioni Regionali in Toscana</h1>
    <h5> In Toscana domenica 20 Settembre(7:00 - 23:00) e lunedì 21 Settembre(7:00 - 15:00) si terranno le elezioni regionali.</h5>
    <br />
    <h3 class="text-primary">Come è fatta la scheda elettorale</h3>
    <br />
    <img src="~/ImmaginiSchedaElettorale/ImmagineSchedaElettoraleToscana.jpeg" alt="Alternate Text" class="immagineSchedaElettorale" />
    <br />
    <br />
    <a class="btn btn-primary btn-sm" href="~/ImmaginiSchedaElettorale/ImmagineSchedaElettoraleToscana.jpeg" download="SchedaElettoraleToscana.jpeg">Scarica il fac-simile della scheda elettorale</a>
    <br />
    <br />
    <h3 class="text-primary">Come si vota?</h3>

    <ul class="list-group text-left listaregioni">
        <li class="list-group-item">Il numero di consiglieri regionali da eleggere è 40</li>
        <li class="list-group-item">
            Per scegliere i consiglieri regionali si possono indicare
            fino a due preferenze (all’interno di una stessa lista), una per un uomo e una per una donna
        </li>
        <li class="list-group-item">Si può esprimere anche una sola preferenza</li>
        <li class="list-group-item">
            I nomi dei candidati alla carica di consigliere regionale sono
            stampati sulla scheda:
            non serve quindi ricordarne il cognome e scrivere di proprio pugno la preferenza,
            basta barrare con una X il quadrato a fianco dei nomi dei candidati scelti
        </li>
    </ul>

    <br />

    <h5>Preferenze e voto disgiunto</h5>
    <ul class="list-group text-left azzeramentopaddinsinistrolisteflush">
        <li class="list-group-item">
            Si può tracciare una “X” solo sul simbolo della lista scelta (dire "lista", equivale a dire "partito").
            In questo caso il voto alla lista viene automaticamente
            trasferito al candidato presidente sostenuto da quella lista
        </li>
        <li class="list-group-item">
            È possibile anche barrare soltanto il nome del candidato presidente,
            e in quel
            caso il voto non andrà a nessuno dei partiti che lo sostengono
        </li>
        <li class="list-group-item">
            E’ possibile barrare sia il simbolo della lista scelta che il nome
            del candidato sostenuto da quella lista
        </li>
        <li class="list-group-item">
            La legge elettorale toscana consente anche il cosiddetto voto disgiunto.
            Ogni elettore può cioè votare il candidato presidente
            di uno schieramento e un partito di una diversa coalizione
        </li>
    </ul>
    <br />
    <br />
    <a href="https://www.youtube.com/watch?v=0s9_hmTIQQ0" target="_blank" class="btn btn-primary">Vai al tutorial della regione</a>
    <br />
    <br />
    <h3 class="text-primary">La legge elettorale</h3>
    <h5>In Toscana l’attuale legge elettorale, ribattezzata Toscanellum funziona nel seguente modo:</h5>
    <ul class="list-group text-left">
        <li class="list-group-item">Vince il candidato che ottiene più voti e che ottiene più del 40% delle preferenze</li>
        <li class="list-group-item">
            A differenza di tutte le altre regioni, in Toscana è previsto un eventuale ballottaggio (senza
            possibilità di fare apparentamenti) nel caso nessuno dei candidati dovesse riuscire a ottenere al
            primo turno almeno il 40% dei voti
        </li>
        <li class="list-group-item">
            Se un candidato al primo turno ottiene almeno il 45% dei voti a questi vengono assegnati 24 dei 40
            seggi in totale
        </li>
        <li class="list-group-item">Se ottiene tra il 40% e il 45% avrà 23 seggi</li>
    </ul>
    <br />

    <h5>Ci sono 3 soglie di sbarramento diverse per accedere alla ripartizione dei seggi:</h5>
    <ul class="list-group text-left">
        <li class="list-group-item">il 10% per le coalizioni di partito</li>
        <li class="list-group-item">il 3% per le liste all’interno delle coalizioni</li>
        <li class="list-group-item">il 5% per le liste che non fanno parte di coalizioni </li>
    </ul>

    <br />
    <br />

    <h3 class="text-primary">I Candidati governatori</h3>
    <h5>I candidati in campo sono 8. Di seguito i nomi dei candidati che rimandano ai loro siti o profili ufficiali. Sotto la rispettiva lista che li sostiene.</h5>
    <br />  

    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/marco.barzanti.31">Marco Barzanti</a>
        <br />
        <span class="font-weight-normal">Partito Comunista Italiano</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="http://ilpartitocomunista.it/wp-content/uploads/CATELLO-Salvatore-CV.pdf"> Salvatore Catello </a>
        <br />
        <span class="font-weight-normal">Partito Comunista</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.susannaceccardi.it/">Susanna Ceccardi -</a>
        <br />
        <span class="font-weight-normal">Lega - Fratelli d’Italia - Forza Italia - Toscana Civica</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.tommasofattori.it/">Tommaso Fattori</a>
        <br />
        <span class="font-weight-normal">
            Sì Toscana a Sinistra
        </span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.movimento5stelletoscana.it/homepage-newspaper/chi-siamo/consiglieri-regionali/irene-galletti/">Irene Galletti</a>
        <br />
        <span class="font-weight-normal">
            Movimento 5 Stelle
        </span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.eugeniogiani.it/wp/">Eugenio Giani</a>
        <br />
        <span class="font-weight-normal">
            Partito Democratico - Italia Viva - +Europa - Europa Verde - Sinistra Civica Ecologista -
            Orgogio Toscana - Svolta!
        </span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="http://www.pattoperlatoscana.it/">Roberto Salvini</a>
        <br />
        <span class="font-weight-normal">Patto per la Toscana</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.movimento3v.it/2020/07/15/lavv-tiziana-vigni-e-la-candidata-a-presidente-della-toscana/">Tiziana Vigni</a>
        <br />
        <span class="font-weight-normal">
            Movimento 3V
        </span>
    </h6>

    


</div>

