@{
    Layout = "_Layout";
    ViewData["Title"] = "Veneto";
}

<div class="container text-center">

    <h1 class="text-primary">Elezioni Regionali in Veneto</h1>
    <h5> In Veneto domenica 20 Settembre(7:00 - 23:00) e lunedì 21 Settembre(7:00 - 15:00) si terranno le elezioni regionali.</h5>
    <br />
    <h3 class="text-primary">Come è fatta la scheda elettorale</h3>
    <br />
    <img src="~/ImmaginiSchedaElettorale/ImmagineSchedaElettoraleVeneto.jpeg" alt="Alternate Text" class="immagineSchedaElettorale" />
    <br />
    <br />
    <a class="btn btn-primary btn-sm" href="~/ImmaginiSchedaElettorale/ImmaSchedaElettoraleToscana.png" download="SchedaElettoraleVeneto.jpeg">Scarica il fac-simile della scheda elettorale</a>
    <br />
    <br />
    <h3 class="text-primary">Come si vota?</h3>

    <ul class="list-group text-left listaregioni">
        <li class="list-group-item">Il numero di consiglieri regionali da eleggere è 49</li>
        <li class="list-group-item">
            Per scegliere i consiglieri regionali si possono indicare fino a due preferenze (all’interno di
            una stessa lista), una per un uomo e una per una donna; questo non vieta però la possibilità
            di esprimere anche una sola preferenza
        </li>
        <li class="list-group-item">
            Non si possono invece esprimere due preferenze per candidati dello stesso sesso, pena
            l’annullamento della seconda preferenza (quella che arriva dopo nell’elenco)
        </li>
        <li class="list-group-item">
            L’elettore può esprimere, nelle apposite righe della scheda, uno o due voti di preferenza,
            scrivendo almeno il cognome dei due candidati consiglieri compresi nella lista stessa
        </li>
    </ul>

    <br />
    <h5>Preferenze e voto disgiunto</h5>

    <ul class="list-group text-left azzeramentopaddinsinistrolisteflush">
        <li class="list-group-item">
            Si può tracciare una “X” solo sul simbolo della lista scelta. In questo caso il voto alla lista
            viene automaticamente trasferito al candidato presidente sostenuto da quella lista
        </li>
        <li class="list-group-item">
            È possibile barrare soltanto il nome del candidato presidente, ma il voto andrà comunque
            alla coalizione che lo sostiene
        </li>
        <li class="list-group-item">
            E’ possibile barrare sia il simbolo della lista scelta che il nome del candidato sostenuto da
            quella lista
        </li>
        <li class="list-group-item">
            Indicando una singola preferenza nominativa per la carica di consigliere regionale, il voto
            andrà direttamente anche alla lista appartenente e al candidato presidente di tale lista
        </li>
        <li class="list-group-item">
            Vi è infine l'ulteriore possibilità del cosiddetto voto disgiunto: ogni elettore può cioè votare
            il candidato presidente di uno schieramento e un partito di una diversa coalizione
        </li>
    </ul>
    <br />
    <br />
    <h3 class="text-primary">La legge elettorale</h3>
    <h5>
        In Veneto, si vota con una legge elettorale del 2012 che è stata in parte modificata nel maggio 2018:
        rinominato "Zaiatellum" in onore dell'omonimo Luca Zaia, attuale governatore di regione. Ecco
        come funziona:
    </h5>
    <ul class="list-group text-left">
        <li class="list-group-item">
            Essendo la legge elettorale a turno unico, vince le regionali il candidato governatore che
            molto semplicemente ottiene più voti
        </li>
        <li class="list-group-item">
            Per quanto riguarda i 51 seggi (49 + presidente eletto + candidato presidente arrivato
            secondo), prima si stabilisce i seggi che spettano alla lista vincitrice con premio di maggioranza
            che contempla due opzioni, nel caso in cui un candidato ottenga almeno il 40% dei voti essi
            si trasformeranno quindi nel 60% dei seggi (29 seggi), altrimenti, nel caso la coalizione
            vincente ottenesse meno del 40% dei voti, allora il premio di maggioranza verrebbe ridotto
            al 55% (27 seggi); in seguito tramite proporzionale si redistribuiscono i seggi rimanent
        </li>
        <li class="list-group-item">
            La soglia di sbarramento è posta al 5% in caso di coalizione, per le liste singole invece è posta al 3%
        </li>
        <li class="list-group-item">
            Per i consiglieri regionali è infine stato annullato il vincolo massimo di due mandati
            consecutivi
        </li>
    </ul>
    <br />

    <h3 class="text-primary">I Candidati governatori</h3>
    <h5>I candidati in campo sono 9. Di seguito i nomi dei candidati che rimandano ai loro siti o profili ufficiali. Sotto la rispettiva lista che li sostiene.</h5>
    <br />

    <h6 class="font-weight-bold">
        <a href="http://patriziabartelle.com/"> Patrizia Bartelle</a>
        <br />
        <span class="font-weight-normal">Veneto Ecologia Solidarietà</span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.solidarietaambientelavoro.it/paolo-benvegnu-presidente/"> Paolo Benvengù</a>
        <br />
        <span class="font-weight-normal">Solidarietà Ambiente Lavoro</span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/cappelletti.m5s/">Enrico Cappelletti</a>
        <br />
        <span class="font-weight-normal">Movimento 5 Stelle</span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.movimento3v.it/elezioni-veneto/">Paolo Girotto</a>
        <br />
        <span class="font-weight-normal">Movimento3V</span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="http://www.antonioguadagnini.eu/">Antonio Guadagnini</a>
        <br />
        <span class="font-weight-normal">
            Partito dei Veneti
        </span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.arturolorenzoni.it/chi-sono/">Arturo Lorenzoni </a>
        <br />
        <span class="font-weight-normal">Partito Democratico - +Veneto in Europa - Volt - Europa Verde - Sanca </span>
    </h6>
    <br />

    <h6 class="font-weight-bold">
        <a href="https://www.simonettarubinato.it/">Simonetta Rubinato</a>
        <br />
        <span class="font-weight-normal">Per le Autonomie</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.danielasbrollini.it/">Daniela Sbrollini</a>
        <br />
        <span class="font-weight-normal">Italia Viva</span>
    </h6>
    <br />
    <h6 class="font-weight-bold">
        <a href="https://www.facebook.com/zaiaufficiale/">Luca Zaia</a>
        <br />
        <span class="font-weight-normal"> Lega - Forza Italia - Fratelli d’Italia - Zaia Presidente - Lista Veneta Autonomia</span>
    </h6>
    
</div>