@{
    Layout = "_Layout";
    ViewData["Title"] = "Agenda 2030";
    ViewData["Keywords"] = "covid, agenda, economia, blm, politica, sociale, ambiente, anno, 2020, pandemia, virus, soldi, politix, povertà, ecologia, sostenibilità";
    ViewData["Descrizione"] = "Nel 2015 infatti i 193 governi dell’Onu hanno approvato un programma di 17 punti da raggiungere entro il 2030.";
}
<div class="container text-center">
    <h1 class="text-primary">Agenda 2030</h1>
    <br />
    <h6>
        <span class="font-italic">
            Chi di noi non si pone degli obiettivi nella vita? Magari anche cose banali, come bere 2 L di
            acqua al giorno o di fare quel certo numero di passi. Forse non lo saprai, ma anche le
            Nazioni Unite hanno dei traguardi da raggiungere e sicuramente non sono tra i più irrilevanti.
        </span>
    </h6>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Nel 2015 infatti i 193 governi dell’Onu hanno approvato un programma di 17 punti da
        raggiungere entro il 2030. Questo programma, proprio per questo è stato chiamato Agenda
        2030 per lo Sviluppo Sostenibile. Ma cosa prevedono questi 17 punti? Sono degli obiettivi
        che pongono una particolare attenzione a tre principali sfere: quella economica, quella
        sociale e quella ambientale.
        <br />
    </p>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Si punta quindi ad un mondo senza più povertà, senza diseguaglianze di ogni tipo e senza
        più emergenza climatica.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ovviamente sono obiettivi difficilissimi da raggiungere, anche per il fatto che serve una mano
        da parte di tutti per arrivare a vedere un mondo così ideale. C’è bisogno di enormi quantità
        di denaro sia da parte delle nazioni, dei privati e della comunità internazionale.
    </p>
    <br />
    <br />
    <div class="container">
        <img src="~/PoliticandoOggi/SLide1.jpg" alt="Dati1" class="bigImagePolitiCult" />
    </div>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Sicuramente è molto interessante come si stia parlando molto dei tre macro obiettivi
        principali: economia, disuguaglianze, ambiente. Non a caso, infatti sono queste le
        emergenze che il mondo è chiamato ad affrontare in questo decennio.
        Proviamo a analizzare tre di questi obiettivi per ogni sfera, da quella sociale a quella
        ambientale e infine economica.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        In questi giorni si è parlato molto dell’uguaglianza di genere, anche in occasione della
        giornata internazionale della donna.
        <br />
        Secondo i dati delle Nazioni Unite, in circa due terzi dei paesi in via di sviluppo si è raggiunta
        la parità di genere a livello di istruzione primaria, mentre nell’Africa Subsahariana ancora
        molte bambine trovano ostacoli all’accesso a questo tipo di istruzione. Per quanto riguarda il
        campo lavorativo l’occupazione di posti di lavoro nei settori secondari e terziari è di gran
        lunga minore per quanto riguarda le donne, mentre in ambito politico in 46 paesi le donne
        detengono il 30% dei seggi nei parlamenti nazionali in almeno una camera.
        <br />
        I traguardi che ci si aspetta di raggiungere entro il 2030 sono, tra molti altri la totale
        uguaglianza di donne e ragazze nei confronti del genere maschile, eliminare ogni tipo di
        violenza, garantire piena ed effettiva partecipazione femminile e pari opportunità di
        leadership ad ogni livello decisionale in ambito politico, economico e della vita pubblica;
        garantire salute sessuale e riproduttiva.
        <br />
        <br />
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Un altro tema importantissimo a cui dobbiamo dare una speciale attenzione quotidiana è il
        cambiamento climatico. A questo tema le Nazioni Unite hanno dedicato ben 8 obiettivi
        all’interno dell’agenda 2030. Come per tutte queste finalità, anche per quanto riguarda il
        cambiamento climatico l’ONU ci fornisce dei dati rilevanti, come il fatto che dal 1880 al 2012
        la temperatura media globale è aumentata di 0,85°C, oppure il dato assolutamente
        allarmante dell’innalzamento dei mari di 19 cm dal 1901 al 2010. Si prevede che il livello del
        mare possa salire di altri 40-65 cm entro il 2100.
        <br />
        I rimedi che vengono proposti sono per esempio l’integrazione di misure di cambiamento
        climatico nelle politiche, strategie e pianificazione nazionali, oppure la promozione di
        meccanismi effettivi per aumentare la capacità effettiva di pianificazione e gestione di
        interventi inerenti al cambiamento climatico nei paesi meno sviluppati, con particolare
        attenzione alla sensibilizzazione dei giovani.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Secondo le Nazioni Unite quasi 2,2 miliardi di persone ancora vivono al di sotto della
        soglia di 2 dollari al giorno e che la disoccupazione globale è salita da 170 milioni nel
        2007 a quasi 202 milioni nel 2012; di questi, circa 75 milioni sono giovani donne e
        uomini. Per questo motivo le Nazioni Unite si impegnano a garantire entro il 2030
        un’occupazione piena e produttiva e un lavoro dignitoso per donne e uomini, compresi i
        giovani e le persone con disabilità, e un’equa remunerazione per lavori di equo valore,
        proteggere il diritto al lavoro e promuovere un ambiente lavorativo sano e sicuro per tutti
        i lavoratori, inclusi gli immigrati, in particolare le donne, e i precari. Si punta dunque a
        incentivare lo sviluppo in ogni ambito lavorativo, ponendo una particolare attenzione al
        fattore dell’ecosostenibilità e della riduzione delle disuguaglianze anche in ambito
        lavorativo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ovviamente abbiamo analizzato solo una piccola parte degli obiettivi che le Nazioni
        Unite hanno elaborato. Una questione molto importante che però si sentono di sollevare
        è che il cambiamento non può avere atto senza che noi, semplici cittadini del mondo,
        facciamo la nostra parte. Per questo motivo l’ONU ha elaborato una “guida per persone
        pigre su come salvare il mondo” (in inglese the lazy person’s guide to saving the world),
        che racchiude tutti i consigli, che mi sento di definire quasi come doveri, per contribuire
        al cambiamento. Sì, esatto anche tu dal tuo divano puoi prendere parte al grosso
        cambiamento di cui la nostra società ha bisogno. Sarai tu la prossima superstar del
        divano?
    </p>
    <div class="container">
        <img src="~/PoliticandoOggi/Divano.jpeg" alt="Dati1" class="bigImagePolitiCult" />
    </div>
</div>