@{
    Layout = "_Layout";
    ViewData["Title"] = "Come avere soldi gratis";
    ViewData["Descrizione"] = "In un’intervista Sassoli (presidente dell’europarlamento) ha proposto la cancellazione dei debiti contratti dai paesi per il covid. cerchiamo di capire se davvero possiamo ottenere tutti quei soldi gratis. ";
    ViewData["Keywords"] = "politix italia, politixitalia, soldi gratis, sassoli, soldi, debito";
}
<div class="container text-center">
    <h1 class="text-primary">Come avere soldi gratis</h1>
    <br />
    <h6>
        In un’intervista a repubblica Sassoli (presidente dell’europarlamento) ha proposto la cancellazione dei debiti
        contratti dai paesi per il covid. Questa proposta è stata molto discussa e strumentalizzata in questi giorni.
        Facciamo chiarezza e cerchiamo di capire se davvero possiamo ottenere in un sol colpo tutti quei soldi gratis.
    </h6>
    <br />
    <br />
    <h4 class="text-primary">Il debito pubblico italiano</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Secondo Bankitalia il debito pubblico italiano ad ottobre 2020 ha raggiunto la cifra mostruosa di 2582 miliardi di euro.
        <span class="text-danger font-weight-bold">2.582.000.000.000€ !</span>
        <br />
        <br />
        <i class="fa fa-share  text-primary"></i>
        Da fine 2019 ad oggi è cresciuto di circa 170 miliardi di euro. In gran parte a causa dell’emergenza covid che ha richiesto
        risorse economiche gigantesche sia per contrastare e gestire l’avanzata del virus sia per supportare tutte le persone,
        le famiglie e le categorie di lavoratori che il virus ha colpito duramente.  <a href="https://www.soldionline.it/notizie/macroeconomia/debito-pubblico-italiano-2020">CLicca qui per approfondire</a>
        <br />
        <br />
        <i class="fa fa-share  text-primary"></i>
        Il nostro paese è al terzo posto al mondo per indebitamento pro capite ( debito pubblico/numero di abitanti )
        con 62.700$ a testa circa. Prima di noi vengono solo Giappone (90.000$) e Stati Uniti (65.000$).
        <br />
        <br />
        <i class="fa fa-share  text-primary"></i>
        È come se ogni nuovo nato in Italia avesse già un debito sulle spalle di circa 53.000€
        <br />
        <br />
        <i class="fa fa-share  text-primary"></i>
        Questa situazione era già molto pesante sull’Italia ben prima dell’emergenza covid che tuttavia l’ha aggravata ancora.
        <br />
        <br />
        <i class="fa fa-share  text-primary"></i>
        Ma chi detiene il nostro debito? (Chi ci presta i soldi?)
    </p>
        <ul class="list-group-flush text-left">
            <li class="list-group-item">Investitori stranieri 28%</li>
            <li class="list-group-item">Operatori italiani (banche ed assicurazioni) 47%</li>
            <li class="list-group-item">Banca Centrale Europea e Banca d’Italia 20% </li>
            <li class="list-group-item">Famiglie e privati italiani circa 5%</li>
        </ul>
        <p class="text-left">
            <br />
            <i class="fa fa-share text-primary"></i>
            <a href="http://www.rgs.mef.gov.it/VERSIONE-I/bilancio_aperto/index.html">Clicca qui per seguire il bilancio statale</a>
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Soluzioni? (Non vale nascondere i debiti sotto al tappeto). E allora i miei soldi gratis? Ecco un errore ricorrente.
            <br />
            <br />
            <h4 class="text-primary">Perché non possiamo stampare quanti soldi vogliamo per pagare il debito e metterci l’anima in pace?</h4>
            <br />
            <i class="fa fa-share text-primary"></i>
            In primis l’Italia non ha più la sovranità monetaria perché aderendo all’euro l’abbiamo ceduta alla Banca Centrale Europea. Anche se tornassimo alla lira per attuare questa strategia però ci sarebbero tre conseguenze catastrofiche.
            <br />
            <br />
        </p>
        <ul class="list-group-flush text-left">
            <li class="list-group-item">Otterremmo un’inflazione (diminuzione del valore d’acquisto della moneta) altissima</li>
            <li class="list-group-item">Otterremmo l’effetto contrario ed il debito pubblico esploderebbe </li>
            <li class="list-group-item">Saremmo vulnerabili agli attacchi speculativi dei mercati </li>
        </ul>
        <p class="text-left">
            <i class="fa fa-share text-primary"></i>
            <a href="https://osservatoriocpi.unicatt.it/cpi-pachidermi-e-pappagalli-si-puo-finanziare-il-debito-stampando-moneta">Clicca qui per approfondire il tema</a>
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Ok ma quindi?
            <br />
            <br />
            <h4 class="text-primary ">La proposta di Sassoli</h4>
            <br />
            <i class="fa fa-share text-primary"></i>
            Il presidente dell’euro parlamento David Sassoli in un’intervista ha dichiarato: “L’Europa deve cancellare i debiti per il covid”.
            La frase ha suscitato un grande dibattito intorno a questo tema. Molti hanno accolto con gioia queste parole vedendole come una
            possibile soluzione ai problemi di indebitamento che accomunano molti paesi nella UE. Altri hanno negato la possibilità che una
            cosa del genere possa accadere, addirittura affermando che tale eventualità
            potrebbe perfino rivelarsi dannosa per la stessa stabilità economica.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            La presidente della BCE Christine Lagarde ha risposto che tale proposta andrebbe contro i trattati, precisando inoltre che lei
            rispetta tali trattati. Lo stesso ministro italiano per gli affari economici, Gualtieri, ha ribadito (come molti altri economisti)
            che la soluzione migliore al problema del debito è quella della crescita economica mediante riforme strutturali e
            riduzione progressiva così da far tornare nel tempo il debito sostenibile. Ahimè niente soldi gratis...
            <br />
            <br />
            <h4 class="text-primary ">Altre “cancellazioni” in atto</h4>
            <br />
            <i class="fa fa-share text-primary"></i>
            l Fondo Monetario Internazionale ha approvato ad aprile la riduzione del debito per 25 dei suoi Paesi membri. Il taglio ammonta a
            500 milioni di dollari e li aiuterà ad affrontare meglio la grande crisi economica dovuta al Coronavirus. L’intento infatti
            è quello di consentire alle nazioni più povere di concentrare le scarse risorse sulla lotta alla pandemia per i prossimi 6 mesi.
            “Questo fornisce sovvenzioni ai nostri Paesi membri più vulnerabili per coprire i loro obblighi di debito verso il Fmi per una
            fase iniziale nei prossimi 6 mesi e li aiuterà a incanalare le loro scarse risorse finanziarie verso gli sforzi per l’emergenza
            medica vitale e di altri soccorsi“,
            ha spiegato Kristalina Georgieva, direttore generale del Fmi.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            I soldi vengono prelevati dal Catastrophe Containment and Relief Trust, il Fondo per il contenimento delle catastrofi, ed i primi
            a beneficiarne saranno Afghanistan, Benin, Burkina Faso, Repubblica Centrafricana, Ciad, Comore, Congo, D.R., Gambia, Guinea,
            Guinea-Bissau, Haiti, Liberia, Madagascar, Malawi, Mali, Mozambico, Nepal, Niger, Ruanda, Sao Tome’
            e Principe, Sierra Leone, Isole Salomone, Tagikistan, Togo e Yemen.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Perché l'Italia non è nella lista? Innanzitutto perché questi paesi sono in una situazione economica molto diversa da quella italiana,
            ed nel caso italiano
            il taglio di  500 milioni di dollari sarebbe molto basso, se non addirittira irrilevante.
            <br />
            <br />
        </p>
</div>