@{
    Layout = "_Layout";
    ViewData["Title"] = "Draghi a UE, PNRR ha lasciato il nido, passo";
    ViewData["Keywords"] = "politix italia, politixitalia, cultura, politicando oggi, attualità, 2020, draghi, pnrr, economia, europa";
    ViewData["Descrizione"] = "il PNRR è il programma di investimenti che l'Italia deve presentare alla Commissione europea per rispondere alla crisi pandemica provocata dal Covid 19.";
}

<div class="container text-center">
    <p class="text-right">
        27 Aprile 2021
    <p />
    <h1 class="text-primary"> "Draghi a UE, PNRR ha lasciato il nido, passo" </h1>
    <br />
    <p class="text-left">
        <span class="font-weight-bold">Cos'è il PNRR?</span>
        <br />
        <br />
        “Il Piano nazionale di ripresa e resilienza (PNRR) è il programma di investimenti
        che l'Italia deve presentare alla Commissione europea nell'ambito del Next
        Generation EU, lo strumento per rispondere alla crisi pandemica provocata dal
        Covid-19.” (Governo italiano, dipartimento per le politiche europee).1 In pratica
        è l’elenco degli investimenti e delle riforme nelle quali verranno investiti i soldi
        messi a disposizione per l’Italia dall’Unione Europea per uscire dalla crisi
        economica generata dalla pandemia.
        <br />
        <br />
        <span class="font-weight-bold">Quanti soldi sono?</span>
        <br />
        <br />
        Tanti, anzi, tantissimi! Il Recovery Fund, ovvero il fondo con il quale l’Europa
        finanzierà le iniziative di ripresa dei singoli stati membri, mette a disposizione
        dell’Italia 191,5 miliardi di euro. Altri 30 miliardi sono stati aggiunti al piano dal
        governo italiano, sono il cosiddetto Fondo complementare e sono stati finanziati
        con l’ultimo scostamento di bilancio (a debito in parole povere). Chiariamo, i
        soldi del piano non vengono regalati, dei 191,5 miliardi 68,9 arriveranno sotto
        forma di trasferimenti, cioè a fondo perduto, e 122,6 come prestiti con tassi
        molto agevolati (interessi bassi e fissi, come nelle pubblicità). A questi si
        aggiungono i fondi (13 miliardi di euro) del Pacchetto di Assistenza alla Ripresa
        per la Coesione e i Territori d’Europa (REACT-EU). Per ulteriori info sulla
        struttura del piano ecco il documento ufficiale.2
        <br />
        <br />
        <span class="font-weight-bold">
            Iter legislativo
        </span>
        (è noioso, se vi interessa leggete altrimenti skippatevi il paragrafo (; )

        <br />
        <br />
        “La proposta di Linee guida per la definizione del Piano nazionale di ripresa e
        resilienza è stata approvata nei suoi contenuti essenziali dal Comitato
        interministeriale per gli affari europei del 9 settembre scorso, in coordinamento
        con tutti i Ministeri e le rappresentanze delle Regioni e degli Enti locali, e
        trasmessa alle Camere il 16 settembre 2020.
        La Camera e il Senato hanno approvato il 13 ottobre le risoluzioni delle
        Commissioni sulla proposta di Linee guida. "il Governo è pronto per cominciare
        il dialogo informale con Bruxelles", ha dichiarato il Ministro Amendola in
        una nota. I colloqui con la Commissione europea prendono il via il 15 ottobre. Il
        piano definitivo sarà presentato nel 2021.
        Il 17 settembre 2020, la Commissione ha presentato gli orientamenti per i Piani
        di ripresa e resilienza degli Stati membri e un modello standard per la
        presentazione di tali piani. Il termine per la presentazione dei Piani nazionali di
        ripresa e resilienza è il 30 aprile 2021. Gli Stati membri sono tuttavia incoraggiati
        a presentare i loro progetti preliminari di piani a partire dal 15 ottobre 2020.
        Il 12 gennaio 2021, il Consiglio dei Ministri ha approvato la proposta di Piano
        nazionale di ripresa e resilienza. Il documento deve essere inviato al
        Parlamento al fine di acquisirne le valutazioni.” (Governo italiano, dipartimento
        per le politiche europee). Tra il 23 ed il 24 aprile, nell’ultimo consiglio dei ministri
        il piano è stato approvato nella sua versione finale. Oggi, lunedì 26 aprile sarà
        in esame al Parlamento per essere approvato anche dalle camere. Nonostante
        ci siano state tante richieste di chiarimenti ed alcune esitazioni da parte degli
        uffici tecnici di Bruxelles l’ok informale della UE è già arrivato, tramite
        interlocuzioni telefoniche tra Draghi e la presidente della Commissione
        Europea Ursula von der Leyen. La consegna ufficiale agli uffici della UE
        dovrà avvenire entro il 30 aprile.
        <br />
        <br />
        <span class="font-weight-bold">
            Come saranno spesi i soldi?
        </span>
        <br />
        <br />
        Lo sforzo di rilancio dell’Italia delineato dal Piano si sviluppa intorno a tre assi strategici condivisi a livello
        europeo: digitalizzazione e innovazione, transizione ecologica, inclusione sociale.
        Il Piano si articola in sedici Componenti, raggruppate in sei Missioni:
        <br />
        <br />
        •   Missione 1 - Digitalizzazione, innovazione, competitività e cultura (3 componenti): sostiene la
        transizione digitale del Paese, nella modernizzazione della pubblica amministrazione, nelle
        infrastrutture di comunicazione e nel sistema produttivo. Ha l’obiettivo di garantire la copertura di
        tutto il territorio con reti a banda ultra-larga, migliorare la competitività delle filiere industriali,
        agevolare l’internazionalizzazione delle imprese. Investe inoltre sul rilancio di due settori che
        caratterizzano l’Italia: il turismo e la cultura.
        <br />
        <br />
        •   Missione 2 - Rivoluzione verde e transizione ecologica (4 componenti): è volta a realizzare la
        transizione verde ed ecologica della società e dell’economia per rendere il sistema sostenibile e
        garantire la sua competitività. Comprende interventi per l’agricoltura sostenibile e per migliorare la
        capacità di gestione dei rifiuti; programmi di investimento e ricerca per le fonti di energia
        rinnovabili; investimenti per lo sviluppo delle principali filiere industriali della transizione ecologica
        e la mobilità sostenibile. Prevede inoltre azioni per l’efficientamento del patrimonio immobiliare
        pubblico e privato; e iniziative per il contrasto al dissesto idrogeologico, per salvaguardare e
        promuovere la biodiversità del territorio, e per garantire la sicurezza dell’approvvigionamento e la
        gestione sostenibile ed efficiente delle risorse idriche.
        <br />
        <br />
        •   Missione 3 - Infrastrutture per una mobilità sostenibile (2 componenti): si pone l’obiettivo di
        rafforzare ed estendere l’alta velocità ferroviaria nazionale e potenziare la rete ferroviaria
        regionale, con una particolare attenzione al Mezzogiorno. Potenzia i servizi di trasporto merci
        secondo una logica intermodale in relazione al sistema degli aeroporti. Promuove l’ottimizzazione e
        la digitalizzazione del traffico aereo. Punta a garantire l’interoperabilità della piattaforma logistica
        nazionale (PNL) per la rete dei porti.
        <br />
        <br />
        •   Missione 4 - Istruzione e ricerca (2 componenti): punta a colmare le carenze strutturali,
        quantitative e qualitative, dell’offerta di servizi di istruzione nel nostro Paese, in tutto in ciclo
        formativo. Prevede l’aumento dell’offerta di posti negli asili nido, favorisce l’accesso all’università,
        rafforza gli strumenti di orientamento e riforma il reclutamento e la formazione degli insegnanti.
        Include anche un significativo rafforzamento dei sistemi di ricerca di base e applicata e nuovi
        strumenti per il trasferimento tecnologico, per innalzare il potenziale di crescita.
        <br />
        <br />
        •   Missione 5 - Inclusione e coesione (3 componenti): investe nelle infrastrutture sociali, rafforza le
        politiche attive del lavoro e sostiene il sistema duale e l’imprenditoria femminile. Migliora il sistema
        di protezione per le situazioni di fragilità sociale ed economica, per le famiglie, per la genitorialità.
        Promuove inoltre il ruolo dello sport come fattore di inclusione. Un’ attenzione specifica è riservata
        alla coesione territoriale, col rafforzamento delle Zone Economiche Speciali e la Strategia nazionale
        delle aree interne. Potenzia il Servizio Civile Universale e promuove il ruolo del terzo settore nelle
        politiche pubbliche.
        <br />
        <br />
        •   Missione 6 – Salute (2 componenti): è focalizzata su due obiettivi: il rafforzamento della
        prevenzione e dell’assistenza sul territorio, con l’integrazione tra servizi sanitari e sociali, e
        l’ammodernamento delle dotazioni tecnologiche del Servizio Sanitario Nazionale (SSN). Potenzia il
        Fascicolo Sanitario Elettronico e lo sviluppo della telemedicina. Sostiene le competenze tecniche,
        digitali e manageriali del personale del sistema sanitario, oltre a promuovere la ricerca scientifica in
        ambito biomedico e sanitario. Tutte le iniziative del Piano seguono precise milestone di attuazione,
        con orizzonti differenti nell’arco temporale 2021-2026.
        <br />
        <br />
        Ecco la tabella
        ufficiale del
        piano per
        evidenziare quali
        e quanti soldi
        saranno spesi
        per ogni
        missione e
        componente.
    </p>
    <div class="container">
        <img src="~/PoliticandoOggi/DraghiPnrr/Tab1.jpeg" alt="Tabella1" class="bigImagePolitiCult" />
    </div>
    <div class="container">
        <img src="~/PoliticandoOggi/DraghiPnrr/Tab2.jpeg" alt="Tabella2" class="bigImagePolitiCult" />
    </div>
    <br />
    <p class="text-left">
        Novità rilevanti nel piano:
        <br />
        <br />
        •   Stop a quota 100 a fine 2021 – c’è l’indicazione di nuove misure a sostituitlo come strumento
        di pensione anticipata agevolata, mirate però a categorie con mansioni logoranti.
        <br />
        <br />
        •   salta l’intervento da circa 5 miliardi a sostegno dell’operazione cashback per favorire i pagamenti
        digitali.
        <br />
        <br />
        •   Non ci sono i fondi per la proroga del Superbonus edilizio 110%, il governo ha promesso però che
        verranno inseriti nella prossima legge di bilancio.
        <br />
        <br />
        •   Come previsto nella missione 1 ci saranno gli incentivi fiscali del piano Transizione 4.0 con 18,5
        miliardi e la banda ultralarga che viene ulteriormente ampliata e portata a 5,3 miliardi di cui 4 per
        progetti nuovi.
        <br />
        <br />
        •   Ci sono anche questioni trasversali: disuguaglianza di genere, inclusione giovanile, divari territoriali.
        In questo senso circa il 40% dei soldi sarà speso per il sud Italia nel tentativo di appianare lo storico
        divario.
        <br />
        <br />
        •   Riforme (le buttiamo là così tutte insieme ma ognuna rappresenta piani complessi, svolte decisive e
        di lungo periodo): rendere efficiente la Pubblica Amministrazione (si aggiungerà alle <a href="https://www.orizzontescuola.it/wp-content/uploads/2021/04/TESTO-RNPPRAPPROVATO.pdf"> Riforme già avviate da Brunetta </a>); riformare e velocizzare il sistema della Giustizia; favorire sburocratizzazione e
        concorrenza; interventire sul Codice degli Appalti; incrementare la produzione di Rinnovabili.
        <br />
        <br />
        Per ogni possibile dettaglio, tabella o chiarimento
        <br/>
        <a href="https://www.orizzontescuola.it/wp-content/uploads/2021/04/TESTO-RNPPRAPPROVATO.pdf">PNRR, aprile 2021</a>
    </p>
</div>