@{ 
    ViewData["Title"] = "Elezioni Usa: riassunto immediato e veloce sulla sfida che oppone Trump a Biden";
    Layout = "_Layout";
    ViewData["Descrizione"] = "Il 4 Novembre si terranno le elezioni presidenziali in usa. Ecco un riassunto semplice, immediato e veloce della sfida che oppone" +
                "Trump a Biden";
    ViewData["Keywords"] = "usa, trump, biden, elezioni, Stati Uniti, riassunto, presidenziali, presidenziali americane, democratici, repubblicani";
}

<div class="container text-center">
    <h1 class="text-primary">Elezioni USA</h1>
    <br />
    <h5>
        Il 4 Novembre si terranno le elezioni presidenziali americane.
        Ecco alcuni schemi riassuntivi di questa importantissima tornata elettorale.
    </h5>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>CANDIDATI</th>
            <th>joe Biden</th>
            <th>Donald Trump</th>

        </tr>
        <tr>
            <td>PARTITO CHE LI SOSTIENE</td>
            <td>Democratici</td>
            <td>Repubblicani</td>
        </tr>
    </table>

    <br />

    <div class="text-left">
        <h3 class="text-primary">BIO - <span class="text-danger">Donald Trump</span></h3>
    </div>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Donald John Trump Senior nasce a New York il 14 giugno del 1946.
        <br />
        <i class="fa fa-share text-primary"></i>
        Si laurea in economia e finanza nel ‘68.
        <br />
        <i class="fa fa-share text-primary"></i>
        Gestisce l’azienda immobiliare del padre da questa inizia la sua ascesa economica e sociale.
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 1977 sposò la modella cecaIvana Zelníčková, che gli diede tre figli e dalla quale divorziò nel 1992.
        <br />
        <i class="fa fa-share text-primary"></i>
        Il primo grande affare di Trump a Manhattan fu la rivitalizzazione del Grand Hyatt Hotelnel 1978.
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 1983 Trump completò lo sviluppo della Trump Tower.
        <br />
        <i class="fa fa-share text-primary"></i>
        Tra l’84 e gli anni novanta Trump espande la sua attività con altri hotel e casinò.
        <br />
        <i class="fa fa-share text-primary"></i>
        Tra il 1991 e il 2009 sei sue aziende (hotel e casino) dichiarano bancarotta.
        <br />
        <i class="fa fa-share text-primary"></i>
        Trump diversifica l’attività tra sport, concorsi di bellezza e produzioni TV.
        <br />
        <i class="fa fa-share text-primary"></i>
        Trump si interessa alla politica dagli anni 2000, schierandosi con il partito repubblicano.
        <br />
        <i class="fa fa-share text-primary"></i>
        Diventa presidente USA nel 2016.
        <br />

    </p>
    </p>
    <br />
    <div class="text-left">
        <h3 class="text-primary">BIO - <span class="text-dark">Joe Biden</span></h3>
    </div>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Joseph Robinette Biden Jr. (Joe Biden) nasce aScrantonil 20 novembre1942.
        <br />
        <i class="fa fa-share text-primary"></i>
        Si laurea in scienze politiche nel ’65 poi si specializza in legge.
        <br />
        <i class="fa fa-share text-primary"></i>
        Sposa Neilla Hunternel ’66, avranno 3 figli.
        <br />
        <i class="fa fa-share text-primary"></i>
        Lavora come procuratore.
        <br />
        <i class="fa fa-share text-primary"></i>
        Da sempre attivo in politica, prima ricopre la carica di consigliere nella contea del Delaware, poi diventa senatore.
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel ’72 Neilla muore in un incidente, con lei anche un figlio,e gli altri due rimangono feriti. Terrà il giuramento da senatore accanto al loro letto d'ospedale.
        <br />
        <i class="fa fa-share text-primary"></i>
        Si sposa con Jill Tracy Jacobsda cui avrà una figlia.
        <br />
        <i class="fa fa-share text-primary"></i>
        Insegna legge.
        <br />
        <i class="fa fa-share text-primary"></i>
        È stato 2 volte vicepresidente USA con Obama.
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 2015 muore di tumore al cervello il figlio Boe.
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 2019 si candida per la carica di presidente.
       
    <br />
    <div class="text-left">
        <h3 class="text-primary">Punti fondamentali dei loro programmi</h3>
    </div>

    <br />

    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 sfondo angolismussati text-left ">
                <i class="fa fa-flask fa-2x text-white align-bottom"></i>
                <h4 class="font-weight-bold d-inline text-white align-middle">Emergenza Covid-19</h4>
            </div>
        </div>
        <div class="row border-light">
            <div class="col-md-12 p-0">
                <ul class="list-group list-unstyled">
                    <li class="list-group-item p-0">
                        <span class="text-danger font-weight-bold">Donald Trump</span><br />Trump ha adottato una posizione sul tema
                        che ha suscitato molte critiche. Ha ammesso di aver minimizzato la pericolosità del virus, ma mantiene un atteggiamento
                        ambiguo sull'uso delle mascherine. Dopo una prima fase di scetticismo, ha consigliato di indossare mascherine e protezioni individuali. Per quanto riguarda
                        provvedimenti contro il virus,
                        preferisce lasciare ai singoli Stati federali la decisione sulle regole per contrastare la pandemia in modo locale. Trump ritiene fondamentale il mantenimento del pieno ritmo produttivo ed economico
                        del paese, e dunque è restio a lockdown generalizzati.
                    </li>
                    <li class="list-group-item p-0">
                        <span class="text-dark font-weight-bold">Joe Biden</span><br />Biden ritiene che il presidente debba assumersi la responsabilità e
                        l’onere di imporle anche a livello nazionale. Biden vorrebbe gestire la diagnostica a livello
                        centrale e aumentarne l’intensità. Quanto all’uscita degli Usa dall'Organizzazione mondiale della
                        sanità minacciata da Trump, il candidato Dem ha già dichiarato ufficialmente che
                        ribalterebbe la decisione di Trump il primo giorno di (eventuale) insediamento.
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 sfondo angolismussati text-left">
                <i class="fa fa-usd fa-2x text-white"></i>
                <h4 class="font-weight-bold d-inline text-white align-middle">Economia</h4>
            </div>
        </div>
        <div class="row border-light">
            <div class="col-md-12 p-0">
                <ul class="list-group list-unstyled">

                    <li class="list-group-item p-0">
                        <span class="text-danger font-weight-bold">Donald Trump</span><br />Il risultato principale in politica economica della
                        presidenza Trump è stato il taglio delle tasse del 2017, che ha drasticamente ridotto i tassi per le imprese e i cittadini.
                        Tuttavia, questo taglio ha portato ovviamente ad un aumento del disavanzo del bilancio federale di quasi un trilione di dollari nel
                        2019. Tutto questo ha quindi rotto la promessa del Presidente di ridurre il deficit ed eliminare
                        il debito nazionale. Tuttavia gli effetti delle azioni di Trump sul mercato sono stati decisamente positivi, in quanto hanno
                        contribuito a un innalzamento record del mercato azionario, ed hanno portato
                        il tasso di disoccupazione di questi quattro anni (fino all'inizio della pandemia) ad una quota pari al 3,5%, il minimo da oltre 50 anni.
                    </li>
                    <li class="list-group-item p-0">
                        <span class="text-dark font-weight-bold">Joe Biden</span><br />Il programma di Biden, democratico moderato,
                        è progressista. I temi centrali sono la redistribuzione del carico tributario e l'aumento delle entrate per
                        finanziare nuove spese concentrate nei primi 4 anni (infrastrutture, sanità e assistenza, istruzione, ambiente).
                        Si pone come obiettivo la "ricostruzione della classe media".
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 sfondo angolismussati text-left">
                <i class="fa fa-book fa-2x text-white"></i>
                <h4 class="font-weight-bold d-inline text-white align-middle">Istruzione</h4>
            </div>
        </div>
        <div class="row border-light">
            <div class="col-md-12 p-0">
                <ul class="list-group list-unstyled">

                    <li class="list-group-item p-0">
                        <span class="text-danger font-weight-bold">Donald Trump</span><br />
                        Trump sostiene che nelle scuole debba essere rivisto il concetto di insegnamento della Storia Americana. 
                        Pensa dunque che la storia degli Stati Uniti, inteso come paese, sia unicamente quella posteriore alla data di costituzione degli Stati Uniti d'America, avvenuta nel 1776.
                        Motivo di questo suo interessamento alla storia è riuscire a separare le vicende dello schiavismo (in quanto avvenuto prima) dal concetto di Stati Uniti, in modo da eliminare future inutili tensioni interne al paese.
                    </li>
                    <li class="list-group-item p-0">
                        <span class="text-dark font-weight-bold">Joe Biden</span><br />Il candidato ha anche fatto propria la proposta
                        di rendere gratuito il
                        college per i giovani di famiglie con redditi bassi.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 sfondo angolismussati text-left">
                <i class="fa fa-paper-plane fa-2x text-white"></i>
                <h4 class="font-weight-bold d-inline text-white align-middle">Politica Estera</h4>
            </div>
        </div>
        <div class="row border-light">
            <div class="col-md-12 p-0">
                <ul class="list-group list-unstyled">
                    <li class="list-group-item p-0">
                        <span class="text-danger font-weight-bold">Donald Trump</span><br />Il Presidente si oppone alla globalizzazione e
                        agli scambi commerciali. Per questo ha intrapreso delle guerre commerciali con paesi da lui definiti “nemici” economicamente,
                        imponendo dazi
                        alle merci provenienti da queste nazioni. Un esempio ne è la guerra commerciale portata avanti a suon di dazi con la Cina, o quella con l'Europa.
                        Quest'ultima è stata scatenata da finanziamenti 
                        illeciti da parte europea al colosso aerospaziale privato Airbus,finanziamenti che secondo l'organizzazione mondiale del commercio e secondo
                        il governo americano hanno portato a concorrenza sleale e danneggiamento 
                        nei confronti della diretta concorrente americana: Boeing.
                    </li>
                    <li class="list-group-item p-0">
                        <span class="text-dark font-weight-bold">Joe Biden</span><br />In politica estera e migratoria Biden
                        propone di eliminare il Travel Ban che aveva sbarrato l’ingresso ai cittadini provenienti da Paesi a
                        maggioranza musulmana come la Siria e di eliminare le politiche di asilo messe in campo da Trump,
                        compresa la pratica che prevede la separazione delle famiglie di migranti irregolari al confine.
                        Biden propone inoltre una rinnovata
                        fiducia nella NATO e un rafforzamento della cooperazione con gli alleati.
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <br />
        <br />
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 sfondo angolismussati text-left">
                    <i class="fa fa-globe fa-2x text-white"></i>
                    <h4 class="font-weight-bold d-inline text-white align-middle">Ambiente</h4>
                </div>
            </div>
            <div class="row border-light">
                <div class="col-md-12 p-0">
                    <ul class="list-group list-unstyled">
                        <li class="list-group-item p-0">
                            <span class="text-danger font-weight-bold">Donald Trump</span><br />Durante la sua presidenza, Donald Trump
                            ha escluso gli Usa dall’accordo di Parigi del 2015. Con lui gli Stati Uniti non sono più stati i capifila della
                            lotta globale ai cambiamenti climatici. Trump ha incoraggiato l’esplorazione dell’Alaska alla ricerca di petrolio e gas, in quanto attualmente strategici da punto di vista economico per gli Usa. Qualora
                            fosse rieletto, Trump continuerebbe su questa strada per tutelare gli interessi di milioni di americani che lavorano nella produzione e distribuzione di energia fossile,
                            , fonte di energia per altro di cui gli Usa sono tutt'oggi dipendenti.
                        </li>
                        <li class="list-group-item p-0">
                            <span class="text-dark font-weight-bold">Joe Biden</span><br />Secondo Biden si potrà trasformare la minaccia
                            del riscaldamento globale in un’opportunità per rilanciare il settore energetico e dare impulso alla crescita
                            economica. Biden mira a rendere l’America una superpotenza energetica, sfruttando il sistema degli appalti
                            pubblici per arrivare ad alimentare la nazione interamente grazie ad energia
                            rinnovabile e promuovere la diffusione di veicoli elettrici. Queste proposte sono tuttavia difficili da implementare in tempi bravi, in quanto danneggerebbero una grande parte di americani, impegnati 
                            direttamente o non nei settori energetici tradizionali, di cui gli Usa sono uno dei maggiori produttori e consumatori.
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <br />
            <br />
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12 sfondo angolismussati text-left">
                        <i class="fa fa-bomb fa-2x text-white"></i>
                        <h4 class="font-weight-bold d-inline text-white align-middle">Armi</h4>
                    </div>
                </div>
                <div class="row border-light">
                    <div class="col-md-12 p-0">
                        <ul class="list-group list-unstyled">
                            <li class="list-group-item p-0">
                                <span class="text-danger font-weight-bold">Donald Trump</span><br />Dopo diverse sparatorie di massa negli USA, Donald Trump ha
                                condannato le azioni di violenza armata, tuttavia appellandosi al secondo emendamento costituzionale, non è intenzionato almeno a breve termine a imporre strette.

                            </li>
                            <li class="list-group-item p-0">
                                <span class="text-dark font-weight-bold">Joe Biden</span><br />Sul controllo delle armi, Biden sostiene con forza provvedimenti molto
                                stringenti sul loro utilizzo.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12 sfondo angolismussati text-left">
                        <i class="fa fa-heartbeat fa-2x text-white"></i>
                        <h4 class="font-weight-bold d-inline text-white align-middle">Sanità</h4>
                    </div>
                </div>
                <div class="row border-light">
                    <div class="col-md-12 p-0">
                        <ul class="list-group list-unstyled">
                            <li class="list-group-item p-0">
                                <span class="text-danger font-weight-bold">/>Donald Trump</span><br /><br />Trump ha fatto uscire gli Usa dall'Organizzazione mondiale
                                della sanità. Inoltre, ha firmato un ordine esecutivo per la cancellazione e
                                sostituzione dell’ACA, meglio noto come Obamacare.
                            </li>
                            <li class="list-group-item p-0">
                                <span class="text-dark font-weight-bold">Joe Biden</span><br /><br />Biden vuole ripartire dall’Obamacare (era vicepresidente quando
                                fu ratificato), proponendo un forte allargamento: dare la possibilità a ogni cittadino di scegliere un’opzione
                                di assistenza pubblica oltre che privata.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>