@{
    Layout = "_Layout";
    ViewData["Title"] = "Elogio alla politica";
    ViewData["Keywords"] = "politix italia, politixitalia, cultura, politicando oggi, attualità, 2020";
    ViewData["Descrizione"] = "Perché dovrebbe esistere PolitiX? Perché un gruppo di ragazzi che sta per affrontare la maturità 2020 nel bel mezzo dei primi terribili mesi di lockdown causati dalla pandemia si mette in testa di creare un sito sulla politica senza nessun tipo di guadagno?";
}

<div class="container text-center">
    <p class="text-right">
        29 Marzo 2021
    <p />
    <h1 class="text-primary">Elogio alla politica</h1>
    <br />
    <h6>
        <span class="font-italic">
            Perché dovrebbe esistere PolitiX? Perché un gruppo di ragazzi che sta per affrontare la maturità 2020 nel
            bel mezzo dei primi terribili mesi di lockdown causati dalla pandemia si mette in testa di creare un sito sulla
            politica senza nessun tipo di guadagno? Motivo uno, ritrovare un interesse ed uno svago in settimane prive
            di ogni libertà e passione che prima occupava il nostro tempo. Motivo due, fare esperienza nella gestione di
            siti web, pagine social, invenzione di grafiche, loghi e nella scrittura di contenuti, skills che rimarranno
            sicuramente utili. C’è di più però, c’è un motivo che prescinde gli altri e, più degli altri, ha acceso la nostra
            voglia di fare. La passione e l’amore verso l’attualità e la politica.
            <br />
        </span>
    </h6>
    <br/>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Ok, bello, ma perché proprio in quel momento così particolare e faticoso per tutti? La noia è cresciuta
        progressivamente nelle settimane di lockdown ma i primi giorni, le primissime settimane, erano tutto,
        purtroppo, fuorché noiose. Regnava il caos. Media, giornali e social traboccavano di nuove parole, ogni
        giorno il racconto di ciò che succedeva era stravolto, tra litigi dei virologi e urla di politici l’informazione ha
        visto giorni bui, causando danni a tutti coloro che erano influenzati e condizionati da quelle notizie, cioè
        noi. Anche tra ragazzi lo sport nazionale era diventato discutere sui gruppi whatsapp le varie interpretazioni
        ed i significati delle conferenze di Conte e delle dichiarazioni dei ministri. Tutto ciò è successo perché da un
        momento all’altro quei palazzi di potere, quella politica apparentemente lontana ed astratta, quei giochi di
        influenze, liti e campagne elettorali hanno iniziato a condizionare ogni aspetto della nostra vita. Dalla
        libertà di studiare in una scuola a quella di uscire la sera con i propri amici. La politica ci ha travolti e noi non
        la conoscevamo davvero. Così, con la presunzione di fare un po’ di chiarezza aiutandoci tra ragazzi, da
        questa necessità è nata l’idea di Politix.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Pandemia a parte, la politica non ci influenza di certo solo ora, siamo soltanto arrivati al caso limite, dove le
        libertà personali vengono decise a tavolino per gestire un’emergenza. Citando un meraviglioso monologo di
        Benigni sulla Costituzione: <span class="font-italic">
            “La politica è la cosa più alta del pensiero umano per costruire la nostra
            vita insieme, per organizzare la pace, la serenità ed il lavoro. C’è solo la politica, non c’è un’altra scienza”
        </span>.
        La politica è tutto ed è presente in ogni scelta della nostra vita che non riguardi solo ed
        esclusivamente noi. Dall’organizzare una partita di calcetto allo spostare un’interrogazione, dalla riunione
        di condominio al fare la spesa al supermercato. Ovunque si faccia una scelta, una parte della scelta sarà
        politica. Viene da chiederci allora come mai tante persone la disprezzino.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Chi, come noi di PolitiX, è nato nel 2001 (ma anche per tutti gli altri che più o meno sono nostri coetanei)
        ogni qualvolta abbia distrattamente sentito un telegiornale a partire dal 2008 (prima o seconda
        elementare) ha sentito solo parlare di crisi. Economica, sociale, politica, umanitaria, sanitaria, diplomatica,
        del debito, del credito… Questo è anche a causa di tanti politici che hanno fallito, che sono stati egoisti o
        presuntuosi, che sono stati incapaci. Allora è vero? La politica sta diventando un nemico?
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Tutto ciò accade anche, tornando a Benigni, per due grandi nemici della nostra democrazia. Due mostri che
        la minano creando i danni appena citati.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        “Non me ne intendo, non la seguo.” La politica non è uno sport, posso non seguire il basket o la Moto GP
        ma non seguire la politica è come lasciare agli altri la responsabilità di decidere se troverò un lavoro, se
        verrò curato quando mi ammalerò, se potrò vivere in pace dignitosamente. L’indifferenza è il male più
        grande per la politica. Non bisogna confondere chi fa politica, con la politica stessa. “Se un padre picchia
        tutto il giorno suo figlio la paternità non è terribile, quel padre è terribile” allo stesso modo se una classe
        politica ha creato ferite profonde nella società non è colpa della politica, ma di quelle persone. Dire che è
        colpa della politica significa addirittura scagionarle dalle loro responsabilità. “Tanto sono tutti uguali, non
        cambiano nulla se non per i loro interessi”. Non c’è modo migliore di premiare i politici peggiori che con
        una frase simile, è davvero ammettere di non saperli riconoscere e di non voler eliminare le erbacce per far
        fiorire il giardino. Anche nei momenti più bui, c’è sempre qualcuno che, per un motivo o per un altro, sarà
        migliore, il compito di un cittadino è trovarlo e sceglierlo per il suo bene o quello degli altri. Se accanto a noi
        altri avranno fatto una scelta diversa il confronto, il dibattito e l’informazione faranno nascere nuove idee e
        punti di vista.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il secondo nemico della politica è non votare, abbiamo più potere di quanto pensiamo e tirarsi fuori è quasi
        un crimine contro gli altri, noi stessi e la nostra società. Tutto ha un prezzo, quello della democrazia è
        scritto sulla Costituzione, il prezzo è recarsi alle urne. Siete liberi di non pagare ma fidatevi, è un vero
        affare. Siamo una goccia in mezzo alla folla, ma la folla, da sola, sceglie sempre Barabba.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Proprio adesso tra Myanmar, Cina, Russia, Turchia vediamo in televisione gli effetti di una democrazia
        fragile e calpestata. Non possiamo rischiare lo stesso e non possiamo neanche accettare che l’Italia e
        l’Europa non migliorino. Facciamo politica.
        <br />
        <br />
        <a href="https://www.youtube.com/watch?v=tnAE8qx9_d8">
            Video Benigni
        </a>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Per fare tutto questo basta poco, innanzitutto ci si deve informare, ci si devono fare delle idee. Da lì
        discuterne con i propri amici e familiari sarà un piacere, le notizie piano piano ci interesseranno una dopo
        l’altra come una ciotola di ciliegie e prendere posizione, se capiterà, ci sembrerà un privilegio e ci renderà
        fieri. Votare sarà emozionante. Ci saranno delusioni, momenti in cui ci si accorge di aver sbagliato o in cui
        ogni sforzo sarà sembrato vano ma già averci provato sarà stato un dono essenziale per la società tutta.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Per questo siamo fieri di fare la nostra parte con PolitiX e di amare la politica.
        <br />
        <br />
    </p>
    <p class="text-center">
        Dici:
        <br />
        per noi va male. Il buio
        <br />
        cresce. Le forze scemano.
        <br />
        Dopo che si è lavorato tanti anni
        <br />
        noi siamo ancora in una condizione
        <br />
        più difficile di quando
        <br />
        si era appena cominciato.
        <br />
        E il nemico ci sta innanzi
        <br />
        più potente che mai.
        <br />
        Sembra gli siano cresciute le forze. Ha preso
        <br />
        una apparenza invincibile.
        <br />
        E noi abbiamo commesso degli errori,
        <br />
        non si può negarlo.
        <br />
        Siamo sempre di meno. Le nostre
        <br />
        parole d’ordine sono confuse. Una parte
        <br />
        delle nostre parole
        <br />
        le ha stravolte il nemico fino a renderle
        <br />
        irriconoscibili.
        <br />
        Che cosa è errato ora, falso, di quel che abbiamo detto?
        <br />
        Qualcosa o tutto? Su chi
        <br />
        contiamo ancora? Siamo dei sopravvissuti, respinti
        <br />
        via dalla corrente? Resteremo indietro, senza
        <br />
        comprendere più nessuno e da nessuno compresi?
        <br />
        O contare sulla buona sorte?
        <br />
        Questo tu chiedi. Non aspettarti
        <br />
        nessuna risposta
        <br />
        oltre la tua.
        <br />
        <br />
        <span class="font-weight-bold">da Poesie di Svendborg, Bertolt Brecht</span>
    </p>
</div>
