@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Essere donna nel XXI secolo";
    ViewData["Keywords"] = "politix italia,politixitalia,donna,donne,ventunesimo secolo, 2020";
    ViewData["Descrizione"] = "";
}

<div class="container text-center">
    <h1 class="text-primary">Essere donna nel XXI secolo</h1>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        La situazione delle donne nel XXI secolo rispetto a quella di 100 anni fa è enormemente cambiata, ma sai cosa significa
        essere donne nel 2020? Il 25 novembre scorso è stata la giornata contro la violenza sulle donne, evento che quest’anno ha avuto più valore
        del solito per via del crescente
        numero di casi durante l’ultimo lockdown. La giornata ha mobilitato migliaia di italiani a commentare recenti episodi di violenza,
        come per esempio l’ultimo e famosissimo caso di revenge porn avvenuto a Torino.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il revenge porn è la condivisione di materiale intimo a terzi in via non consensuale,spesso per ragioni di “vendetta”
        come dice il termine stesso. In Italia un episodio di questo tipo è avvenuto molto recentemente con l’ormai conosciutissimo caso
        della maestra di Torino. Assieme al revenge porn dell’ormai ex-ragazzo della  maestra, abbiamo assistito anche ad un caso di slut-shaming, ovvero la denigrazione di una persona per atteggiamenti “poco consoni” alla società.
        A causa di questo, laragazza in questione ha perso il lavoro. Molti non sono arrivati
        a definire questo episodio “violenza”, ma si tratta proprio di denigrazione, un reato condannato dalla legge italiana.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Questa è purtroppo una sola delle tante problematiche che le donne sono costrette ad affrontare oggi. Una notizia che ha
        fatto molto scalpore tra il mondo femminile è stata una nuova legge in Scozia, dove è stata approvata la decisione di
        rendere gratuiti gli assorbenti per il ciclo mestruale, quando in Italia sono soggetti a iva pari a 22%.
        Gli assorbenti sono considerati beni di lusso e non di prima necessità.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Abbiamo visto quali successi hanno conquistato le donne in Scozia. Ma cosa sta succedendo
        intanto nel mondo? Sono sempre più costanti gli arresti e gli interventi da parte dell’esercito a Varsavia. Da vari giorni
        consecutivi molte donne e ragazze stanno manifestando per i nuovi restringimenti apportati alla legge contro l’aborto, già
        da prima molto rigida in Polonia. Adesso una donna polacca può abortire solo incaso di stupro o di
        pericolo di vita. In caso di malformazione del feto invece non è più possibile.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 2019 è stata approvata una legge per l’avvio del procedimento penale per alcuni reati, tra cui i maltrattamenti in
        famiglia, stalking, violenza sessuale. Tra questi anche il delitto di diffusione illecita di immagini o video sessualmente
        espliciti senza il consenso delle persone rappresentate (revenge porn). Questo reato è punibile con la reclusione da uno a
        cinque anni e la multa da 5 mila a 15 mila euro. Una grande garanzia per le donne italiane.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel 2020 ancora i diritti da conquistare sono molti, si assiste a episodi di discriminazione di genere sul
        lavoro e nella società, a casi di victim blaming (quando la vittima è incolpata per quello che le è successo),
        di violenza domestica. Anche con il diritto di voto risalente al 1946 e quello all’aborto del 1978 l’Italia si aggiudica 
        solo il 76esimo posto su 153 paesi per parità di genere secondo il GlobalGender Gap Report. Secondo questo studio per ottenere 
        la completa parità di 
        genere ci vorranno 99,5 anni, un obiettivo purtroppo ancora troppo lontano.
        <br />
        <br />
    </p>
</div>
