@{
    Layout = "_Layout";
    ViewData["Title"] = "Five minutes crisis";
    ViewData["Keywords"] = "politix italia,politixitalia, crisi, governo, renzi, draghi, parlamento, maggioranza, crisi di governo, pandemia";
    ViewData["Descrizione"] = "Non vedi l’ora di essere anche tu in tv tutti i giorni, di incontrare il Capo dello Stato e di decidere le sorti della nazione? Ecco come fare una crisi di governo in cinque minuti.";
}

<div class="container text-center">
    <h1 class="text-primary">Five minutes crisis</h1>
    <br />
    <br />
    <h5>
        Non vedi l’ora di essere anche tu in tv tutti i giorni, di incontrare il Capo dello Stato e di decidere le sorti
        della nazione? Ecco come fare una crisi di governo in cinque minuti.
    </h5>
    <p class="text-left">
        Ti serviranno i seguenti ingredienti per iniziare: un ruolo ed una certa forza nella maggioranza al governo,
        un casus belli (un motivo reale o inventato per litigare con i compagni di maggioranza) e tanta iniziativa,
        pazienza e retorica per gestire al meglio le trattative.
    </p>
        <br />
        <h4 class="text-primary">Step 0 - <span class="font-weight-bold">Capire cos’è una crisi di governo</span></h4>
        <div class="text-left">

            <i class="fa fa-share text-primary"></i>
            Informati bene su cosa sia e come funzioni. Inizia con questo riassunto. Per crisi di governo si intende
            generalmente il venire meno del rapporto di fiducia intercorrente tra il Governo e il Parlamento (Fiducia
            parlamentare), a cui consegue l’obbligo di dimissioni da parte del primo (art. 94, co. 1, Cost.).
            <br />
            <br />

            <i class="fa fa-share text-primary"></i>
            La crisi di governo viene a crearsi quindi quando si interrompe il rapporto di fiducia con il Parlamento.
            <br />
            Ne esistono in realtà di due tipi:
            <br />
            <br />
            <h5>
                Parlamentare
            </h5>
            </p>
            <ul class="list-group-flush text-left">
                <li class="list-group-item">
                    • Quando il Governo è colpito da una <span class="font-weight-bold">mozione di sfiducia da parte di una 
                    delle due Camere</span> (art. 94,co. 5, Cost.)
                </li>
                <li class="list-group-item">
                    • Quando il nuovo Governo <span class="font-weight-bold"> non riesce ad ottenere la fiducia 
                    iniziale </span>da parte di queste (dobbiamo infatti ricordare che quando si costituisce una maggioranza 
                    questa debba essere approvata dalla maggioranza dei parlamentari) (art. 94, co. 3, Cost.)
                </li>
                <li class="list-group-item ">
                    • In caso di <span class="font-weight-bold">
                        voto contrario da parte di una Camera quando il Governo abbia posto una questione di fiducia
                    </span>(viene posta la fiducia nelle questioni ritenute più importanti e di punta per le forze
                    politiche della maggioranza quelle imprescindibili spesso per motivi ideologici o di urgenza o di
                    importanza) (art. 161, co. 4, reg. Senato; art. 116 reg. Camera).
                </li>
            </ul>
            In uno di questi casi il presidente del Consiglio ha l’obbligo di dimettersi.
            <br />
            <br />
            <h5>
                Extraparlamentare
            </h5>
            <ul class="list-group-flush text-left">
                <li class="list-group-item">
                    • Tutti i casi non descritti sopra, quindi quando la crisi è essenzialmente politica - si parla, invece,
                    di crisi extraparlamentare.
                </li>
            </ul>
            <br />
            Esempio concreto:
            <br />
            La crisi che stiamo vivendo è del secondo tipo poiché Renzi, leader di Italia Viva, parte della maggioranza,
            ha fatto dimettere le due ministre del suo partito (fase di “pre-crisi” aperta solo dall’annuncio) e
            successivamente i parlamentari del suo partito si sono astenuti nel voto di fiducia. Il governo guidato da
            Conte ha comunque ottenuto una maggioranza debole e risicata in parlamento (motivo per cui non aveva
            l’obbligo di dimettersi) ma che non gli permette di governare realmente (motivo per cui ha voluto
            dimettersi).

        </div>
    <br />
    <h4 class="text-primary">Step 1 – <span class="font-weight-bold">Aprire la crisi di governo</span></h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Hai vari modi a seconda del momento, delle cause, delle divergenze politiche, delle relazioni nella
        maggioranza e della forza in Parlamento di chi la apre (te in questo caso).
        <br />
        Le vie classiche sono comunque elencate sopra, facciamo quindi un riassunto:
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        (parlamentare) – approvare mozione di sfiducia in una delle due Camere
        <br />
        (parlamentare) – Non fornire la fiducia iniziale
        <br />
        (parlamentare) – Voto contrario in una Camera in un voto di fiducia
        <br />
        (extraparlamentare) – Ritirare alcuni ministri
        <br />
        (extraparlamentare) – Vari metodi di comunicazione che implichino la rottura della maggioranza
        <br />
        <br />
        Esempi concreti:
        <br />
        Renzi ha aperto la crisi attuale con le dimissioni di due ministri dopo giorni di minacce e trattative, Salvini
        annunciò la fine del primo Conte da Milano Marittima iniziando quella che è diventata la “Crisi di
        ferragosto” poi seguita da una mozione di sfiducia in Parlamento, Entrambi i governi Prodi sono caduti a
        causa di voti di fiducia persi su singole risoluzioni. Dal primo luglio 1946 a oggi, l’Italia ha avuto 66 crisi di
        Governo.
        <br />
    </p>
    <br />
    <h4 class="text-primary">Step 2 – <span class="font-weight-bold">Nelle mani del Presidente della Repubblica</span></h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Quando apri la crisi di governo spetta al Presidente della Repubblica prendere le redini della situazione.
        Egli, in pratica, deve provare tutte le soluzioni possibili per evitare che il governo “cada”.
        Il Presidente della Repubblica deve ascoltare quindi i leader delle forze politiche e i capigruppo di Camera e
        Senato. In base agli esiti di questa ci sono varie soluzioni:
        <br />
        <ul class="list-group-flush text-left">
            <li class="list-group-item">
                - il <span class="font-weight-bold">rinvio alle Camere</span>, cioè far votare nuovamente sia in Senato 
                che in Camera dei deputati la fiducia
                al governo
            </li>
            <li class="list-group-item">
                - <span class="font-weight-bold">nominare un nuovo governo</span>, presieduto dallo stesso Presidente del 
                Consiglio, ma modificando l’assetto dei Ministri ed eventualmente dei Ministeri (definito spesso “rimpasto”).
            </li>
            <li class="list-group-item ">
                - nominare un<span class="font-weight-bold">
                    nuovo Presidente del Consiglio </span>all’interno della stessa maggioranza, oppure di una
                    maggioranza politica diversa.
            </li>
            <li class="list-group-item ">
                - formare un <span class="font-weight-bold">Governo tecnico o di scopo</span> con durata limitata al lasso di tempo che manca alle nuove
                elezioni e con lo scopo di fare le leggi necessarie in quel lasso di tempo
                Spesso prima di ritrovare la soluzione alla crisi ci si affida ad un mandato “esplorativo” a tempo
                limitato, ovvero un “presidente del consiglio” di qualche giorno che ha il compito di capire se si può
                formare una nuova maggioranza e in che modo.
            </li>
            <li class="list-group-item ">
                - <span class="font-weight-bold">andare ad elezioni</span> se non ci sono possibilità di formare una maggioranza
                Esempi concreti: Roberto Fico ha avuto il mandato esplorativo in questa crisi; il Conte Bis ha maggioranza
                diversa dal primo governo Conte ma con lo stesso Presidente del Consiglio, Letta e Monti sono stati due
                governi tecnici e il governo Gentiloni aveva un Presidente del Consiglio diverso dal precedente governo
                Renzi ma una maggioranza molto simile.
            </li>
        </ul>
    </p>
    <br />
    <h4 class="text-primary">Step 3 – <span class="font-weight-bold">Risolvere la crisi</span></h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        In base alla situazione cerca di trovare una nuova stabilità al tuo governo o, se preferisci, fai in modo di
        arrivare a nuove elezioni. È la fase più critica ed imprevedibile nella quale si sono bruciati molti tuoi
        predecessori. 
        <br />
        Non ci sono regole precise per raggiungere questi scopi e tutto sta nella tua abilità di analista
        politico e mediatore. Alza la posta in gioco, usa gli aggettivi giusti nei comunicati stampa, bleffa come un
        pokerista esperto e raggiungi finalmente il tuo obiettivo. Ricorda di mostrarti sempre affidabile al
        Presidente della Repubblica, appari come la soluzione ai mali del mondo per gli italiani e diventa l’unico
        appiglio per quei parlamentari che hanno già le lacrime agli occhi vedendo gli scatoloni di cartone nei loro
        uffici.
        <br />
        Strumenti utili in questa fase: ministeri e nomine da scambiare, pazienza, disponibilità a trattare, fascicoli
        delicati o scandali nel cassetto su vari parlamentari, disponibilità economiche per incentivare la fiducia (a
        mali estremi…).
        <br />
        <br />
        Ah un’ultima cosa, nel caso le trattative si prolunghino o rimangano incerte questi due step possono essere
        ripetuti per un numero illimitato di volte. Le 4 crisi di Governo più lunghe riguardano, in ordine
        cronologico: Governo Andreotti I (1972, 121 giorni), Andreotti V (1979, 126 giorni), Governo Dini (1996, 127
        giorni) e il sopracitato Prodi II (2008, 104 giorni).
        <br />
        <br />
        Adesso sei pronto, in bocca al lupo!
    </p>
    <br />
</div>

