@{
    ViewData["Title"] = "Che succede in Francia e cosa c'entra la Turchia, spiegato in 3 minuti";
    Layout = "_Layout";
    ViewData["Keywords"] = "francia, turchia, islam, politix italia, politix, news";
    ViewData["Descrizione"] = "La Francia è ormai tutti i giorni sui notiziari e sulle testate giornalistiche internazionali. Il paese sta " +
                "affrontando infatti enormi difficoltà dovute al coronavirus ma non solo: nei giorni scorsi la tensione tra Francia e Turchia è salita alle stelle e, come" +
                " se non bastasse, una serie di attentati terroristici di matrice islamica hanno sconvolto il paese. Cosa sta succedendo ? ";
 }
<div class="container text-center">
    <h1 class="text-primary">Che succede in Francia, e cosa c'entra la Turchia, spiegato in 3 minuti</h1>
    <h5 class="text-dark">La Francia è ormai tutti i giorni sui notiziari e sulle testate giornalistiche internazionali.
    Il paese sta affrontando infatti enormi difficoltà dovute al coronavirus ma non solo: nei giorni scorsi la tensione tra Francia e Turchia è salita alle stelle e, come se non bastasse, una serie di
    attentati terroristici di matrice islamica hanno sconvolto il paese. Cosa sta succedendo? </h5>
    <br />
    <h3 class="text-primary">Francia – Turchia: Una questione spinosa.</h3>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        In Francia l’Islam è la seconda religione con circa addirittura 2500 luoghi di culto. Questa presenza, come altrove, ha radici storiche nel colonialismo: la Repubblica infatti vantava il possesso di diversi territori musulmani, l’Algeria è stata addirittura un protettorato francese. Oltre, ma anche grazie, a questo varie migrazioni hanno portato nei decenni vari gruppi etnici (tra cui molti turchi) a stabilirsi nelle periferie delle città francesi, con tutti i problemi di integrazione ed accoglienza che questo implica (e che conosciamo fin troppo bene).
        <br />

        <i class="fa fa-share text-primary"></i>
        La Francia ha un concetto di stato laico molto più radicalizzato del nostro in Italia, questo in alcuni casi tende a scontrarsi e creare fratture con le comunità islamiche che intendono la fede anche come elemento di identità ed appartenenza (nonostante anche qui si dovrebbe distinguere tra chi vive un islamismo moderato e chi invece intende la sua fede in modo più radicale). Questo fenomeno è poi accentuato dalle disparità sociali ed economiche vissute nelle periferie. Tutto ciò è stato anche sempre più esacerbato ed estremizzato per scopi politici negli anni scorsi sui temi dei migranti ed, appunto, del terrorismo.
        <br />

        <i class="fa fa-share text-primary"></i>
        Questo non è successo solo in Europa, ma anche in Turchia dove la questione religiosa è stata cavalcata dal presidente turco Erdogan per costruire nemici esterni ed ottenere consenso popolare.
        <br />

        <i class="fa fa-share text-primary"></i>
        Già da tempo Macron sta lavorando all’attazione di riforme per delineare come vivere il proprio credo religioso nel paese: ha posto un limite ai fondi esteri che le associazioni religiose possono ricevere; creando programmi statali di formazione degli imam e leggi per lo smantellamento di gruppi radicalizzati. Macron ha giudicato duramente queste mosse prendendo le difese della libertà religiosa e dell’Islam. Ha più volte accusato un’Europa assente ed il sistema francese, da lui ritenuto razzista ed anti-islamico.
        <br />

        <i class="fa fa-share text-primary"></i>
        Dopo la decapitazione del professore Samuel Paty, dovuta all’aver mostrato in classe delle vignette sull’Islam di Charlie Hebdo, tutto ciò si è aggravato. La pubblicazione, da parte del settimanale, di nuove vignette contro il presidente turco è stato il casus belli che Erdogan ha sfruttato per lanciare un boicottaggio a tutti i prodotti francesi in Turchia ed in tutto il mondo islamico. Macron ha accusato Francia e Germania di essere “come il terzo reich” e ha dato di pazzo a Macron più volte.
        <br />

        <i class="fa fa-share text-primary"></i>
        Erdogan ha colto al volo questa spinta divisiva poiché Francia e Turchia sono in contrasto ovunque: nel Mediterraneo Orientale per il controllo dei pozzi petroliferi; nell’influenza che la Francia esercita su alcune ex colonie; in Libia dove i due paesi sono schierati su fronti opposti.
        <br />

        <i class="fa fa-share text-primary"></i>
        Le dure parole usate per agitare il popolo in questo scontro politico che viene sempre più estremizzato come scontro culturale hanno presto avuto effetto: oltre a grandi manifestazioni antifrancesi in Turchia, ci sono stati immediatamente attacchi al consolato francese in Arabia Saudita; ad Avignone la polizia ha ucciso un uomo sceso in strada armato di coltello; a Nizza però si è consumata la tragedia più grave. Un ragazzo di 25 anni si è recato presso la cattedrale di Notre-Dame di Nizza, ha ferito diverse persone con un coltello, ha ucciso un uomo e due donne (delle quali una sembra aver subito un tentativo di decapitazione). L’aggressore è stato arrestato. Non ci sono dubbi sulla matrice estremista islamica del gesto.
        <br />

        <i class="fa fa-share text-primary"></i>
        Erdogan, insieme a tutti gli altri leader europei e non, ha espresso le sue condoglianze per l’avvenuto. Resta grave però l’atteggiamento di lanciare il sasso e nascondere la mano, facendo finta che questi attacchi non abbiano collegamenti con le tensioni da lui stesso alimentate e che chiaramente avrebbero avuto un impatto sull’opinione pubblica (come la sua strategia di trasformare eventi irrilevanti in scontri nazionali: Charlie Hebdo è solo un giornale satirico e una sua vignetta non può portare addirittura a scenari di guerra fra due popoli).
        <br />
        <br />
    </p>
</div>