@{
    Layout = "_Layout";
    ViewData["Title"] = "Il 2020 in bianco e nero";
    ViewData["Keywords"] = "covid, razzismo, xenofobia, blm, usa, sociale, ambiente, anno, 2020, pandemia, virus, soldi, politix";
    ViewData["Descrizione"] = "Molti hanno definito il 2020 l’anno peggiore di sempre, sicuramente avrai sentito parlare delle cose brutte, ma sai cosa è successo di bello? Facciamo un sunto insieme.";
}
<div class="container text-center">
    <h1 class="text-primary"> Il 2020 in bianco e nero </h1>
    <br />
    <h6>
        Molti hanno definito il 2020 l’anno peggiore di sempre,
        sicuramente avrai sentito parlare delle cose brutte,
        ma sai cosa è successo di bello?
        Facciamo un sunto insieme.

    </h6>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Un tema sicuramente importantissimo è il cambiamento climatico.
        Lo sapevi che è stato istituito a Manhattan un orologio che segna quanto
        tempo rimane alla incontrovertibilità del cambiamento climatico? L’orologio in questione
        alla data della sua installazione, cioè a settembre 2020, segnava un tempo di poco inferiore a 8 anni.
        Questo dato non è certo dei più incoraggianti, ma ci sono anche buone notizie. Nell’arco di
        tutto l’anno infatti sono stati avvistati numerosi animali nelle città deserte a causa
        della pandemia, per non parlare del fatto che l’inquinamento quest’anno è diminuito del
        40% rispetto agli anni scorsi.
        <br />
    </p>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Chi non ha sentito parlare di Black Lives Matter, il movimento pacifico che nel 2020
        ha rubato la scena americana? Il movimento, nato nel 2013, ha trovato il suo emblema
        nella morte di George Floyd, avvenuta lo scorso 25 maggio. Le azioni del movimento si
        sono dimostrate sempre più supportate col passare del tempo ed è stato talvolta necessario
        l’intervento delle forze dell’ordine, provocando anche il temporaneo trasferimento del
        presidente Donald Trump in un bunker sotterraneo nella capitale Washington DC. Il movimento,
        abbreviato BLM è diventato così uno dei più importanti e discussi dai media.
        La loro è una lotta per i più basilari diritti umani, una richiesta di vivere in pace
        senza aver paura di rischiare la vita solo uscendo per strada. La morte di George Floyd
        non è stata la prima di queste ingiustizie, né purtroppo sarà l’ultima.
        Questo fa emergere i crescenti sentimenti di razzismo che ancora dilagano in America,
        fin dai tempi del Ku Klux Klan. Persino pochissimi giorni fa una ragazza nera di 25 anni
        è stata aggredita da un gruppo di manifestanti di estrema destra in pieno giorno a Los Angeles.
        Sicuramente un evento gravissimo e ingiustificabile.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Abbiamo parlato di covid per tutti questi mesi, ma pochi si sono soffermati su altri
        aspetti positivi che abbiamo visto. Per esempio, le conquiste femminili dell’ultimo anno.
        Molte si sono battute per cause come l’aborto, la violenza contro le donne e la tassa
        sugli assorbenti. La Scozia è il primo paese a garantire assorbenti gratis, mentre
        moltissime università si sono mobilitate per distribuirli a prezzi bassissimi. Anche
        se la disparità tra uomo e donna è ancora molto marcata, molte non si sentono più obbligate
        a porre la famiglia davanti alla carriera e l’aspirare ad avere un lavoro anche ad
        alti livelli per fortuna non è più una prospettiva così remota per le donne.
    </p>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Anche il movimento LGBTQ+  ha manifestato molto durante lo scorso anno e anche se
        da alcuni non è ancora tollerato, la società sta iniziando ad avere una mente sempre più aperta.
        Sicuramente l’evento tra i più incoraggianti è stato il coming out dell’attore
        Elliot Page, prima noto come Ellen Page, star di “Juno” e di “The Umbrella Academy”.
        «Non riesco a esprimere quanto sia straordinario amare finalmente chi sono abbastanza
        per perseguire il mio sé autentico. Grazie per il vostro coraggio, per la generosità
        e per il lavoro incessante che fate per rendere questo mondo un posto più inclusivo
        e compassionevole. Vi offrirò qualsiasi supporto possibile per continuare a lottare per una
        società più amorevole ed equa».
        <br />
        <br />
        <!-- TOGLIERE E PROVARE SE FA VVVVVVVVVVV-->
        
        Pur sempre con qualche paura, vivere in una società che ti permette di essere te
        stesso in qualsiasi momento è un grande passo avanti da non sottovalutare.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Chiudiamo il discorso con l’evento finora più discusso del 2021, anno di grandi aspettative:
        l’assalto al Congresso. Sicuramente un accaduto gravissimo, se si pensa che è stata una
        manifestazione non pacifica, che ha coinvolto anche le forze dell’ordine e ha causato
        persino morti. Oltre a un attentato alla democrazia americana, considerata da sempre
        il modello da cui prendere spunto, è stato anche l’evento che ci ha fatto comprendere
        di cosa sia fatta davvero la società americana, finora protetta da una sorta di velo di
        maya, il cosiddetto sogno americano. L’accaduto ha causato una perdita di credibilità
        consistente al presidente statunitense Donald Trump, che è stato addirittura bannato da
        Twitter e da molte altre app.
        <br />
        <br />
    </p>
    <p class="text-left">
        <br />
        Sicuramente non ci aspettavamo un inizio del 2021 segnato da
        eventi di questa portata, ma ogni anno è fatto in bianco e nero,
        caratterizzato da successi e sconfitte, da progressi e da arretratezze,
        proprio perché anche la vita è così.
        <br />
        <br />
</div>