@{
    Layout = "_Layout";
    ViewData["Title"] = "Recovery Fund: Vita morte e miracoli(forse)";
    ViewData["Keywords"] = "politix italia,politixitalia, recovery fund, recovery, bcc, europe, eu";
    ViewData["Descrizione"] = "Discusso da mesi adesso il recovery fund è finalmente approvato insieme al bilancio europeo. Ma in cosa consiste e come funziona ? ";
 }

<div class="container text-center">
    <h1 class="text-primary">Il recovery Fund: vita, morte e miracoli(forse)</h1>
    <br />
    <br />
    <h5>
        Se ne parla di continuo ed è il tema centrale di questo momento sia per il governo che nelle
        istituzioni europee. Discusso da mesi adesso il recovery fund è finalmente approvato
        insieme al bilancio europeo. Ma in cosa consiste e come funziona?
    </h5>
    <br />
    <h4 class="text-primary">Cos’è il Recovery Fund?</h4>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Il Recovery Fund, o Next generation EU come lo ha battezzato la Commissione europea, è un nuovo strumento europeo per la ripresa approvato, dopo quattro giorni di negoziato, dal Consiglio europeo straordinario del 21 luglio.
        <br />
        <br />

        <i class="fa fa-share text-primary"></i>
        I Capi di Stato e di governo europei hanno previsto di incrementare il bilancio su base temporanea tramite nuovi finanziamenti raccolti sui mercati finanziari per un ammontare pari a 750 miliardi di euro (390 di contributi a fondo perduto e 360 di prestiti).
        <br />
        <br />
    </p>
    <br />
    <h4 class="text-primary">Come si ottengono questi soldi?</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        I governi dovranno inviare alla Commissione europea i Piani di ripresa e di resilienza entro fine aprile 2021. L’esecutivo italiano ha anticipato che l’obiettivo è quello di inviarlo prima di quella scadenza, all’inizio del prossimo anno. La Commissione von der Leyen ha anche ricordato che i piani nazionali saranno negoziati con le autorità comunitarie e dovranno essere oggetto di un via libera passo passo.
        <br />
        <br />

        <i class="fa fa-share text-primary"></i>
        Una volta presentato alla Commissione europea il Piano nazionale per la ripresa e la resilienza (Pnrr),
        Bruxelles avrà a disposizione fino a 8 settimane per esaminare e proporre al Consiglio Ecofin (consiglio dell’economia
        e finanza) l’approvazione del Piano. L'Ecofin dovrà approvare quindi il piano a maggioranza qualificata entro 4 settimane.
        Dalla presentazione formale del piano potrebbero quindi passare mesi per l'approvazione che poi darà la possibilità di accedere subito al 10% del finanziamento globale. I vari organi però insistono sulla rapidità con cui tutti i passaggi dovranno essere
        effettuati, velocità necessaria per l’efficacia dell’intervento sulla ripresa.
        <br />
    </p>
    <br />
    <h4 class="text-primary">Ci sono delle condizioni?</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        La Commissione europea ha definito delle Linee guida che i governi dovranno prendere in considerazione
        nella stesura dei piani. Tra i criteri principali, la sostenibilità ambientale (in linea con l’European
        Green Deal), la produttività, l’equità e la stabilità macroeconomiche. La Commissione europea ha proposto
        che almeno il 20% degli investimenti provenienti dal Fondo per la Ripresa vada a finanziare la transizione
        digitale. La proposta è contenuta nelle linee-guida pubblicate dall'esecutivo comunitario e di cui i governi
        dovranno tenere conto nel preparare piani nazionali volti ad ottenere l'esborso del denaro. In tutto,
        a disposizione dei Paesi su questo specifico fronte, ci saranno 672,5 miliardi di euro. I piani nazionali
        dovranno inoltre prevedere non meno del 37% della spesa per il green. Sulla base di questi principi e
        delle raccomandazioni del 2019 e del 2020, Bruxelles valuterà i piani nazionali.
        <br />
    </p>
    <br />
    <h4 class="text-left">Cosa accade se non si rispetta la tabella di marcia?</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        L'elenco dei progetti e delle riforme da finanziare deve essere credibile e rispondere a tutte le richieste Ue, ma il calendario deve essere realistico perché, ha messo in evidenza il commissario Paolo Gentiloni, se non si rispetta la tabella di marcia i fondi saranno interrotti. Per l'Italia, è quindi arrivato il momento di mettere in
        cantiere le riforme che Bruxelles le ha raccomandato nel 2019 e 2020.
        <br />
    </p>
    <br />
    <h4 class="text-left">Come spenderemo i soldi?</h4>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        L’Italia punta tutto - o quasi - sul Recovery Fund come più volte rimarcato da Conte e dal ministro dell’Economia Gualtieri.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        In vista della presentazione in sede europea delle voci di spesa, questo è un primo prospetto - non ufficiale - elaborato da ministeri e Governo sulla destinazione dei fondi:
        <br />
        <ul class="list-group-flush text-left">
            <li class="list-group-item">75 miliardi di euro per progetti green;</li>
            <li class="list-group-item">40 miliardi di euro per digitalizzazione e banda larga;</li>
            <li class="list-group-item">20 miliardi di euro per infrastrutture come stazioni, strade, porti;</li>
            <li class="list-group-item">10 miliardi di euro per gestione della risorsa acqua;</li>
            <li class="list-group-item">10 miliardi di euro per la rigenerazione urbana</li>
        </ul>
        <br />
        <i class="fa fa-share text-primary"></i>
        I ministeri stanno lavorando intensamente per definire i progetti di propria competenza ai quali dare priorità attraverso le risorse del Recovery Fund.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il quadro completo sulla destinazione dei 209 miliardi si avrà nelle prossime settimane. Da inserire, nel dettaglio, ci sono ancora i capitoli di spesa per scuola, sanità, imprese, fisco e, nello specifico, mobilità verde, progetto ecobonus, dissesto idrogeologico
        <br />
    </p>
</div>

