@{
    ViewData["Title"]="ImmigrazioneParte2";
    Layout = "_Layout";
 }

<div class="container text-center">
    <h1 class="text-primary">IL grande tetris italiano, chiamato immigrazione (Pt.2)</h1>
    <br />
    <h5>Il decreto Immigrazione è stato approvato dal consiglio dei ministri il 5 ottobre 2020. Modifica 
    radicalmente i decreti sicurezza voluti dall’ex Ministro dell’Interno Matteo Salvini e passati con una 
    larghissima maggioranza parlamentare sotto il primo governo Conte. Adesso dovrà essere convertito in legge
    entro 60 giorni dal parlamento con eventuali 
    emendamenti. Ecco cosa cambia su immigrazione, asilo, soccorso in mare. </h5>
    <br />
    <div class="text-left">
        <p>
            <i class="fa fa-share text-primary"></i>
            Non è più previsto il sequestro delle navi delle organizzazioni non governative (ONG). L’idea di criminalizzare
            i soccorsi in mare dei precedenti decreti è superata nei fatti ma non in linea di principio: è sempre possibil
            negare l’accesso in acque italiane. Il divieto può essere deciso dal ministro dell’interno in accordo con il Ministro
            della Difesa e dei Trasporti ed informando il Presidente del Consiglio ma non può essere applicato se la nave
            ha rispettato le convenzioni internazionali e comunicato l’intervento alle autorità competenti. In caso di violazione
            resta la multa ma se con i decreti sicurezza arrivava ad un massimo di 1.000.000 di euro, adesso va da un minimo di 10000
            ad un massimo di 50.000 euro ma può essere fatta solo al termine di un processo penale. Oltre alla multa chi dovesse forzare
            un blocco navale disposto dalle autorità rischierebbe
            pene detentive fino a due anni secondo il codice della navigazione.
            Le ONG avrebbero voluto una discontinuità più netta con il passato.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            In merito all’accoglienza. Tra le novità principali c’è l’estensione del principio di non respingimento: sarà proibito rimandare i
            migranti in stati che violino sistematicamente i diritti umani ma anche rimpatriare chi abbia ormai una vita strutturata in Italia.
            I richiedenti potranno essere registrati presso le anagrafi comunali in modo da ottenere documenti di identità triennale ed accedere
            ai servizi. L’iscrizione anagrafica era vietata dal primo decreto Salvini. Ripristinato il permesso di soggiorno per motivi umanitari,
            ora denominato “protezione speciale”. Durerà 2 anni ed eviterà le espulsioni verso Stati dove ci sia il pericolo di subire torture,
            trattamenti inumani e degradanti, violazioni dei diritti rispetto alla vita privata e familiare. Questo permesso speciale sarà
            convertibile in permesso per motivi di lavoro, come pure i permessi per calamità, motivi religiosi, assistenza minori, attività
            sportiva o lavori di tipo artistico. Per titolari e richiedenti protezione internazionale nasce il SAI: Sistema di Accoglienza ed
            Integrazione. Questo recupera il meccanismo precedente dello SPRAR/SIPROIMI: l’accoglienza diffusa sul territorio e gestita dai comuni.
            Un esempio famoso: la Riace del sindaco Mimmo Lucano.La prima assistenza resta a carico dei centri governativi,
            poi il sistema segue due percorsi distinti:
            <ul class="list-group-flush">
                <li class="list-group-item">
                    • I servizi di primo livello come l’assistenza sanitaria e psicologica, accoglienza materiale,
                    mediazione linguistico culturaleper i richiedenti.
                </li>
                <li class="list-group-item">
                    • I servizi di secondo livello per chi sia già titolare di protezione internazionale. Quindi formazione
                    professionale,
                    orientamento al lavoro, integrazione.
                </li>
            </ul>
            <br />
            Per la cittadinanza i termini massimi di attesa scendono da quattro a tre anni.Resta la revoca della cittadinanza acquisita
            in presenza di unac ondanna definitiva per i reati legati al terrorismo. Ridotto da 180 a 90 giorni
            il termine massimo di trattenimento nei centri per il rimpatrio.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Il decreto inasprisce anche le misure per prevenire risse espaccio di droga. Pene più severe e daspo urbano rafforzato 
            per bandire dai locali pubblici chi sia stato denunciato o condannato anche in via non definitiva per atti di violenza. 
            Provvedimento pensato dopo il brutale assassinio del 21enne Willy Monteiro 
            Duarte ucciso la notte tra il 5 e 6 settembre 2020 a
            Colleferro per aver tentato di difendere un amico.
        </p>
    </div>
</div>