@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Immigrazione";
    ViewData["Keywords"] = "immigrazione, sicurezza, salvini, lega, ministro, interno, immigrati, sbarchi, migranti, difesa, politica" ;
    ViewData["Description"] = "In questo periodo il governo ha discusso ed apportato modifiche ai cosiddetti “Decreti sicurezza” voluti e realizzati principalmente dal Ministro dell’Interno dello scorso governo: Matteo Salvini." ;
}

<div class="container text-center">
    <h1 class="text-primary">Un tetris italiano, chiamato immigrazione</h1>
    <h5 class="text-dark text-left">
        In questo periodo il governo ha discusso ed apportato modifiche ai cosiddetti “Decreti sicurezza”
        voluti e realizzati principalmente dal Ministro dell’Interno dello scorso governo: Matteo Salvini.
        Per spiegare le modifiche che quei due testi avevano apportato in materia di immigrazione e come le
        cose cambiano adesso, abbiamo scelto di realizzare due diversi episodi di Politicando Oggi. In
        questa prima
        parte vedremo i principali contenuti dei due decreti sicurezza, mentre nella prossima ci soffermeremo sui cambiamenti che questi due decreti subiranno per opera del governo presente.
    </h5>
    <br />
    <h5 class="text-dark text-left">
        Prima delle novità introdotte dal governo “Giallo-Verde”, arrivato in Italia, un migrante, doveva
        effettuare una delle seguenti domande di protezione internazionale: rifugiato politico, protezione
        sussidiaria e protezione umanitaria. Dal 2014 al 2017, nella maggior parte dei casi esaminati, l’umanitaria,
        tra le tre forme di protezione, è stata quella più concessa. Un trend che si è confermato anche nel 2018,
        anche se a settembre
        dello stesso anno c’è stato un primo ridimensionamento.
    </h5>
    <br />
    <h2 class="text-primary">Il primo decreto</h2>
    <div class="text-left">
        <h5 class="text-left">Primo Punto</h5>
        <p>
            Con il decreto sicurezza, il governo Conte intervenne proprio
            su questa forma di protezione, perché richiesta a sproposito rispetto
            alle altre. Questo perché a loro dire essa possiede “contorni incerti,
            che lascia ampi margini ad
            una interpretazione estensiva”.<br />
            Con il decreto sicurezza, il governo Conte intervenne proprio su questa forma di
            protezione, perché richiesta a sproposito rispetto alle altre. Questo perché a
            loro dire essa possiede “contorni incerti, che lascia ampi margini
            ad una interpretazione estensiva”.
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            Per cure mediche: la durata è stabilita dal tempo attestato dalla certificazione
            sanitaria, ma comunque non deve superare l'anno. È rinnovabile se persistano le
            condizioni di salute di particolare
            gravità certificate.
            <br />
            <i class="fa fa-share text-primary"></i>
            Per le vittime di violenza o di grave sfruttamento con concreti pericoli per l'incolumità della persona.
            <br />
            <i class="fa fa-share text-primary"></i>
            Per le vittime di violenza domestica (che si verifica con violenza o abuso): ha la
            durata di un anno e consente l'accesso ai servizi assistenziali e allo studio ma anche
            l’iscrizione nell’elenco anagrafico previsto per i servizi alle
            persone in cerca di lavoro.
            <br />
            <i class="fa fa-share text-primary"></i>
            Per situazioni di contingente ed eccezionale calamità che non consentono
            alla persona il rientro e la permanenza nel Paese di provenienza in condizioni
            di sicurezza: la sua durata è di sei mesi (e può essere rinnovato per altri 6
            mesi) e consente di svolgere attività lavorativa ma non può essere convertito
            in permesso
            di soggiorno per motivi di lavoro.
            <br />
            <i class="fa fa-share text-primary"></i>
            In casi di particolare sfruttamento del lavoratore straniero che abbia
            presentato denuncia e cooperi nel procedimento penale contro il datore di
            lavoro: consente lo svolgimento di attività lavorativa e alla sua scadenza
            può essere
            convertito in permesso di soggiorno per lavoro.
            <br />
            <i class="fa fa-share text-primary"></i>
            Per atti di particolare valore civile (ad autorizzarne il rilascio è il
            Ministro dell'interno, su proposta del prefetto competente): ha durata di
            due anni ed è rinnovabile. Consente l’accesso allo studio e di svolgere
            attività lavorativa. Può essere convertito in permesso di
            soggiorno per motivi di lavoro.
            <br />
            <i class="fa fa-share text-primary"></i>
            Per i casi di non accoglimento della domanda di protezione internazionale e
            al contempo della non possibilità di espulsione e respingimento verso uno Stato
            in cui il richiedente possa essere oggetto di persecuzione per motivi di razza,
            di sesso, di lingua, di cittadinanza, di religione, di opinioni politiche, di
            condizioni personali o sociali (ovvero possa rischiare di essere rinviato verso
            un altro Stato nel quale non sia protetto dalla persecuzione) o ancora, verso un
            Stato per cui si abbiano fondati motivi di ritenere che egli rischi
            di esservi sottoposto a tortura.
            <br />
        </p>
        <br />
        <h5 class="text-left">Secondo Punto</h5>
        <p>
            l decreto inoltre aumenta il tempo di permanenza dello straniero nei Centri per i rimpatri (CPR, gli ex CIE).
            In questi centri vengono trasferiti i migranti che, una volta arrivati in Italia, non presentano domanda di asilo,
            risultano non avere
            i requisiti per proporla dopo i primi accertamenti,
            sono ritenuti un pericolo per l'ordine e la sicurezza pubblica (la valutazione tiene conto di eventuali condanne,
            anche con sentenza non definitiva) e sono in
            attesa della convalida del provvedimento di espulsione.
            Il provvedimento del governo porta il periodo massimo di trattenimento all’interno dei CPR da 90 giorni a 180 giorni.
        </p>
        <br />
        <h5 class="text-left">Terzo Punto</h5>
        <p>
            Idem per la destinazione di fondi già stanziati dal precedente governo per i rimpatri volontari assistiti (il ritorno 
            in patria dei migranti che non possono o non vogliono restare nel paese che li ospita). Con questo decreto si stabilisce 
            che questi fondi non siano per i soli rimpatri volontari assistiti. Per questo motivo i soldi 
            stanziati potranno essere destinati anche ad altre forme di rimpatrio.
        </p>
        <br />
        <h5 class="text-left">Quarto Punto</h5>
        <p>
            Il provvedimento amplia la lista dei reati che, in caso di condanna definitiva, comporta il diniego e la revoca della
            protezione internazionale. In precedenza, i soli reati previsti erano ad esempio l’associazione di tipo mafioso,
            l'associazione finalizzata al traffico di droga e al contrabbando di tabacchi, terrorismo, strage, omicidio e rapina aggravata. 
            Ora, a questi si aggiungono: resistenza a pubblico ufficiale, lesioni personali gravi, mutilazioni genitali
            femminili, lesioni personali gravi o gravissime a un pubblico ufficiale in servizio di ordine pubblico in 
            occasione di manifestazioni sportive, furto aggravato dal porto di armi o narcotici, furto
            in abitazione aggravato dal porto di armi o narcotici.
        </p>
        <br />
        <h5 class="text-left">Quinto Punto</h5>
        <p>
            Infine il decreto cambia anche la tipologia di stranieri che possono accedere al Sistema di Protezione per Richiedenti 
            Asilo e Rifugiati (SPRAR) che ha come funzione principale l’integrazione.
            Prima, potevano entrare i richiedenti asilo e coloro a cui era stata riconosciuta la domanda di protezione internazionale;
            dopo, solo chi aveva già ottenuto una protezione internazionale (rifugiato o sussidiaria), chi possedeva permessi di soggiorni
            “speciali”, chi era minore non accompagnato.
            Sono quindi esclusi i richiedenti asilo, cioè coloro che hanno presentato una domanda e sono in attesa di un responso.
        </p>
    </div>
    <br />
    <h2 class="text-primary">Decreto BIS</h2>
    <div class="text-left">
        <p>
            <span class="font-weight-bold">Ecco le novità del secondo decreto sicurezza del governo “Giallo-Verde”:  </span> 
            <br />
            <br />
            <i class="fa fa-share text-primary"></i>
            L’articolo 1 permette al ministro degli Interni, in accordo con quello dei Trasporti e della Difesa, di limitare o
            vietare l’ingresso, il transito o la sosta nel mare territoriale di navi “per motivi di ordine e sicurezza”, oppure
            quando si concretizzino
            violazioni delle leggi contro l’immigrazione irregolare
            <br />
            <i class="fa fa-share text-primary"></i>
            L’articolo 2 introduce invece le sanzioni amministrative pecuniarie nei confronti di chi non rispetta questo divieto:
            si va da un minimo di 150mila euro a un massimo di 1 milione di euro (originariamente partire da un minimo di 10mila
            euro
            a un massimo di 50mila).
            Prima estesa anche ad armatore e proprietario della nave, ora solo al comandante, considerato unico responsabile dell’illecito.
            <br />
            <i class="fa fa-share text-primary"></i>
            L’articolo 3 in pratica rende possibile svolgere intercettazioni preventive per l'acquisizione di notizie
            utili alla
            prevenzione di questo delitto anche nei casi di minore gravità.
            Vengono poi stanziati fondi pubblici – 500mila euro per il 2019, 1 milione di euro per il 2020 e 1 milione e
            mezzo di euro per il 2021 – per il
            potenziamento delle operazioni di polizia sotto copertura.
            <br />
            <i class="fa fa-share text-primary"></i>
            Il testo interviene anche sui rimpatri di stranieri con posizione irregolare sul territorio italiano, istituendo
            un
            fondo che punta a sostenere iniziative di cooperazione o intese bilaterali per
            la riammissione di queste persone nei loro paesi di origine.
            <br />
            <i class="fa fa-share text-primary"></i>
            Nella seconda parte vedremo i cambiamenti che adesso invece il governo attuale ha apportato a queste norme
            approvando un
            nuovo decreto in Consiglio dei
            ministri la scorsa settimana. Alla prossima!
        </p>
    </div>
    <br />
    <br />
    <a class="btn btn-primary bottone100percento" href="https://download.repubblica.it/pdf/2018/politica/articolato4102018.pdf">
        <i class="fa fa-search-plus fa-lg" style="padding-right: 5px;"></i>
        Decreto Sicurezza
    </a>
    <br />
    <br />
    <a class="btn btn-primary bottone100percento"href="https://www.meltingpot.org/IMG/pdf/schema_di_decreto_legge.pdf">
        <i class="fa fa-search-plus fa-lg" style="padding-right: 5px;"></i> 
    Decreto Sicurezza Bis
    </a>
    <br />

</div>