@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container">
    <div class="card-deck text-center">

        <a asp-controller="PoliticandoOggi" asp-action="ElezioniUSa" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/ElezioniUSA.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Elezioni USA</h5>
            </div>
        </a>

        <a asp-controller="PoliticandoOggi" asp-action="ImmigrazioneParte2" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/ImmigrazioneParte2.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il grande tetris italiano, chiamato immigrazione (Pt.2)</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="Immigrazione" class="card cardnumber3 cardhover p-1 text-decoration-none" style="width: 100%;">
            <img src="~/ImagesJpg/Immigrazione.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il grande tetris italiano, chiamato immigrazione (Pt.1)</h5>
            </div>
        </a>

    </div>

    <div class="card-deck text-center">

        <a asp-controller="PoliticandoOggi" asp-action="MES" class="card cardnumber1 cardhover p-1 text-decoration-none" style="width: 100%;">
            <img src="~/ImagesJpg/Mes.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body text-decoration-none">
                <h5 class="card-title nomepartitocard text-dark">Il Meccanismo di stabilità eueopea (MES)</h5>
            </div>
        </a>

        <a asp-controller="PoliticandoOggi" asp-action="LeggiELettorali" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/LeggiElettoraliIn4Minuti.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Le leggi elettorali spiegate in 4 minuti</h5>
            </div>
        </a>

        <a asp-controller="PoliticandoOggi" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In arrivo...</h5>
            </div>
        </a>
    </div>
</div>