@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container">

    <div class="card-deck text-center">
        <a asp-controller="PoliticandoOggi" asp-action="Riti" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/Riti/MiniaturaRiti.jpeg" class="card-img-top" alt="Riti" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">I riti della Repubblica</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="RedditWallStreet" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/RedditWallStreet/Miniatura.jpeg" class="card-img-top" alt="RedditWallStreet" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Come Reddit ha messo in ginocchio Wall Street</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="TecniciVsPolitici" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/TecniciVsPolitici.jpeg" class="card-img-top" alt="TecniciVsPolitici" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Tecnici Vs Politici</h5>
            </div>
        </a>
        

    </div>

    <div class="card-deck text-center">
        <a asp-controller="PoliticandoOggi" asp-action="FiveMinutesCrisis" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/FiveMinutesCrisis.jpeg" class="card-img-top" alt="FiveMinutesCrisis" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Five minutes crisis</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="UnAustraliaSenzaGoogle" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/UnAustraliaSenzaGoogle/Canguro.jpeg" class="card-img-top" alt="UnAustraliaSenzaGoogle" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Un'Australia senza Google</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="Il2020inbiancoenero" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/2020bianconero.jpeg" class="card-img-top" alt="il 2020 in bianco e nero" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il 2020 in bianco e nero</h5>
            </div>
        </a>

    </div>

    <div class="card-deck text-center">
        <a asp-controller="PoliticandoOggi" asp-action="LaFineDelContante" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/LaFineDelContante/LaFineDelContanteMiniatura.jpeg" class="card-img-top" alt="La Fine Del Contante" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">La Fine Del Contante</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="IlRecoveryFund" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/IlRecoveryFund.jpeg" class="card-img-top" alt="Il recovery Fund" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Recovery Fund: vita, morte e miracoli(forse)</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="LuciEOmbreDiAmazon" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/LuciEOmbreDiAmazon/LuciEOmbreDIAmazon.jpeg" class="card-img-top" alt="Luci e ombre di Amazon" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Luci e ombre di Amazon</h5>
            </div>
        </a>
        

    </div>

    <div class="card-deck text-center">
        <a asp-controller="PoliticandoOggi" asp-action="PagaLeTasseEVinci" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/PagaLeTasseEVinci.jpeg" class="card-img-top" alt="Lotteria degli scontrini" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Page le tasse e vinci!</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="EssereDonnaNelXXISecolo" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/EssereDonnaNelXXISecolo.jpeg" class="card-img-top" alt="Come Avere soldi gratis" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Essere donna nel XXI secolo</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="ComeAvereSoldiGratis" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/ComeAvereSoldiGratis.jpeg" class="card-img-top" alt="Come Avere soldi gratis" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Come avere soldi gratis </h5>
            </div>
        </a>
        

    </div>

    <div class="card-deck text-center">
        <a asp-controller="PoliticandoOggi" asp-action="TikTokVsAmerica" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/TikTokVsAmerica/TikTokVsAmerica.jpeg" class="card-img-top" alt="TikTok Vs America" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">TikTok Vs America</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="LeggeOmotransfobia" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/PoliticandoOggi/LeggeOmotransfobia.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Legge sulla omotransfobia</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="Francia" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/Francia.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Francia, cosa sta succedendo in 3 minuti</h5>
            </div>
        </a>
        

    </div>

    <div class="card-deck text-center">
        <a asp-controller="PoliticandoOggi" asp-action="ElezioniUSa" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/ElezioniUSA.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Elezioni USA</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="ImmigrazioneParte2" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/ImmigrazioneParte2.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il grande tetris italiano, chiamato immigrazione (Pt.2)</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="Immigrazione" class="card cardnumber3 cardhover p-1 text-decoration-none" style="width: 100%;">
            <img src="~/ImagesJpg/Immigrazione.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Il grande tetris italiano, chiamato immigrazione (Pt.1)</h5>
            </div>
        </a>
        
    </div>

    <div class="card-deck text-center">
        <a asp-controller="PoliticandoOggi" asp-action="MES" class="card cardnumber1 cardhover p-1 text-decoration-none" style="width: 100%;">
            <img src="~/ImagesJpg/Mes.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body text-decoration-none">
                <h5 class="card-title nomepartitocard text-dark">Il Meccanismo di stabilità eueopea (MES)</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="LeggiELettorali" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/LeggiElettoraliIn4Minuti.jpeg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">Le leggi elettorali spiegate in 4 minuti</h5>
            </div>
        </a>
        <a asp-controller="PoliticandoOggi" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
            </div>
        </a>
    </div>
</div>

<!--  codice per card COMING SOON:
<a asp-controller="PoliticandoOggi" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
    <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
    <div class="card-body">
        <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
    </div>
</a>        -->
