@{
    Layout = "_Layout";
    ViewData["Title"] = "IPianiDelNuovoGoverno";
    ViewData["Keywords"] = "governo, riti, repubblica, draghi, mattarella, politica, italia, quirinale, campanella, protocollo, ministri, conte";
    ViewData["Descrizione"] = "Sabato abbiamo assistito alla cerimonia del Giuramento del nuovo governo ed al “rito della campanella”. Queste cerimonie estremamente formali e in pompa magna sono sconosciute ai più ma hanno un gran fascino e molti significati simbolici per la nostra Repubblica. ";
}
<div class="container text-center">
    <p class="text-right">
        1 Marzo 2021
    </p>
    <h1 class="text-primary">I piani del nuovo governo</h1>
    <br />
    <h6>
        <span class="font-italic">
            Il governo Draghi è al completo con ministri, viceministri e sottosegretari. La squadra è ormai pronta e forte
            di una larghissima fiducia, adesso si tratta di scendere in campo e dimostrare davvero di essere il “governo
            dei migliori”, supportato da (quasi) tutti e capace di far crollare lo spread e risollevare la speranza solo
            grazie alla propria gravitas.
        </span>
    </h6>
    <br />
    <p class="text-left">
        La domanda quindi è: “Ma adesso?”.
        <br />
    </p>
    <h4 class="text-primary">Il programma del governo Draghi</h4>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Facciamo subito una distinzione: i programmi sono due. Uno di brevissimo periodo per gestire l’emergenza,
        l’altro, invece, con una visione più ampia sull’orizzonte temporale.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ecco alcuni punti considerati improrogabili:
    </p>
    <p class="text-left">
        •	<span class="font-weight-bold">il Recovery Plan</span>, definire quindi le procedure di gestione dei fondi e mettere finalmente
        un punto fermo sulla governance del piano. Se non hai chiaro di cosa stia parlando ---> <a asp-controller="PoliticandoOggi" asp-action="IlRecoveryFund"> Il Recovery Fund</a>
        <br />
        <br />
        •	<span class="font-weight-bold">Decidere sul blocco delle cartelle esattoriali</span>. Da mesi e mesi infatti vengono posticipati i
        pagamenti delle cartelle esattoriali per milioni di italiani. Questo serve ad aggravare ulteriormente
        il drammatico impatto della pandemia sulla ricchezza (si fa per dire) di centinaia di migliaia di
        famiglie. La situazione si era complicata ulteriormente a causa di una “sanatoria” di parte delle
        tasse non pagate negli anni passati che è stata sospesa proprio con la pandemia e che adesso
        incombe. Con il passaggio di governo ci sono stati rallentamenti sulle decisioni anche su questo
        fronte e dal primo marzo sarebbe partito l’invio delle tasse da pagare. Le prime notizie al riguardo
        sono arrivate per l’appunto ieri ed è stato reso noto che a brevissimo uscirà un decreto (forse sarà
        già stato rilasciato al momento della pubblicazione dell’articolo) con un ulteriore rinvio ed un piano
        per evitare che lo Stato rimanga ancora del tutto senza entrate.
        <br />
        <br />
        •	Affrontare le crisi di <span class="font-weight-bold">Alitalia ed ex Ilva</span>. Nota dolente del nostro Paese da svariati anni, queste due
        grandi aziende rimangono una spina nel fianco per i conti pubblici ma anche la spada di Damocle
        che pende sulle teste di migliaia di lavoratori che rischiano il licenziamento dev’essere eliminata
        una volta per tutte. Come? Ancora rimane un segreto ma già per Alitalia le voci parlano di un forte
        cambio di rotta.
        <br />
        <br />
        •	Decidere cosa fare dopo il 31 marzo con il <span class="font-weight-bold">blocco dei licenziamenti e proroga della Cassa integrazione</span>. Due temi correlati fra loro che necessitano di decisioni forti e grandi capacità per evitare di trasformarsi in una bomba sociale con decine di migliaia di licenziamenti in blocco.
        <br />
    </p>
    <p class="text-left">
        Altrettante ed altrettanto complesse sono le problematiche che porteremo avanti per mesi e che
        necessitano uno sviluppo ed un piano sul medio o lungo periodo.
    </p>
    <br />
    <p class="text-left">
        •	In primis troviamo <span class="font-weight-bold">il piano vaccinale</span>. Citato continuamente dai politici, tutti vogliono giustamente
        accelerarlo ma in pochi hanno realmente idea di come fare. Draghi ne ha dato un primo accenno
        nel suo discorso alle Camere (il suo unico discorso praticamente… per approfondire questo silenzio ---> <a asp-controller="PolitiCult" asp-action="L'assenza">L'assenza</a>.
        <br />
        L’obiettivo è una piattaforma di gestione nazionale ed
        arrivare ad una capacità di iniezione delle dosi al pari di 300000 al giorno grazie anche ai medici di
        famiglia e l’impiego di strutture private.
        <br />
        <br />
        •	<span class="font-weight-bold">Transizione ecologica</span>. Al centro dell’interesse già dalla prima bozza del recovery, il nuovo governo
        non ha nessuna intenzione di abbandonare questa strada ma anzi di perseguirla con ancora
        maggiore decisione. Il nuovo ministro Roberto Cingolani dovrà impostare la spesa di almeno 77
        miliardi di euro, il 37% del Recovery italiano: il suo nuovo ministero imperniato sulle competenze
        dell’Ambiente acquisirà deleghe dal Mise e forse anche dai Trasporti. E proprio insieme al neo
        ministro delle Infrastrutture Enrico Giovannini e al ministro Vittorio Colao, che si dovrà occupare
        della Transizione digitale del Paese, Cingolani dovrà impostare una strategia di lungo periodo di
        crescita sostenibile. Questi tre ministri avranno per le mani all’incirca il 90% dei fondi europei del
        piano di ripresa e resilienza.
        <br />
        <br />
        •	La transizione digitale è un tema decisivo su cui viene riposta un’attenzione senza precedenti.
        Addirittura da meritare un nuovo ministero apposito guidato dall’ex ad di Vodafone Vittorio Colao
        (per conoscere tutti i ministri ---> <a href="https://open.spotify.com/episode/2YHdJbS4YphrccdrM78pqG?si=iPBihtRKRly_NBwgQcSh5w"> Podcast: i Ministri </a>)
        <br />
        Nei piani di Colao sono centrali il completamento della rete a banda larga, complementare con
        l’infrastruttura mobile del 5G: un doppio binario che dovrebbe portare anche a modernizzare la
        Pubblica amministrazione, altra riforma chiave del governo Draghi, in testa alle richieste della
        Commissione europea insieme alla riforma della giustizia civile. Nei piani di Colao, già messi nero su
        bianco nel lavoro fatto dalla task force da lui coordinata, ci sono anche la digitalizzazione di tutti gli
        istituti scolastici e il cablaggio di tutte le aree del Paese.
        <br />
        <br />
        •	Rinnovato interesse strategico sul tema dell’<span class="font-weight-bold">istruzione</span> e dell’<span class="font-weight-bold">attenzione verso i giovani</span>. Si era
        prevista anche una riscrittura totale della parte dedicata dal Recovery plan all’istruzione con
        l’introduzione di riforme a costo zero come la valutazione degli insegnanti e l’introduzione di criteri
        di merito e di efficienza, oltre alla formazione digitale. Previsto anche un intervento sulle cattedre,
        erano 10.000 mila quelle vacanti all’inizio dell’anno scolastico
        <br />
        <br />
        •	Va fatta una riforma profonda nel campo della <span class="font-weight-bold">giustizia civile</span> che con le sue inefficienze una delle
        cause degli scarsi investimenti esteri nel nostro Paese, sarà una delle riforme principali a cui si
        dedicherà Marta Cartabia. Che allo stesso tempo avrà il compito di trovare subito una difficile
        mediazione in tema di prescrizione.
        <br />
        <br />
        •	Annunciata anche un’ampia <span class="font-weight-bold">riforma fiscale</span>, basata comunque sulla progressività dell’imposta.
        Servirà però una buona mediazione nella maggioranza anche in merito a questo tema.
        <br />
        <br />
        •	Un altro obiettivo è quello di <span class="font-weight-bold">sbloccare i cantieri</span>, ovvero le numerose grandi opere che devono
        essere attuate o portate avanti in tutta la penisola per migliorare il sistema di infrastrutture del
        Paese. È un settore che vive di continue modifiche e piccoli provvedimenti normativi. È arrivato il
        momento di una riforma complessiva.
        <br />
        <br />
    </p>
</div>