@{
    Layout = "_Layout";
    ViewData["Title"] = "La Fine Del Contante";
    ViewData["Keywords"] = "denaro, carte, banconote, Italia, economia, soldi, politix";
    ViewData["Descrizione"] = "Dalle monetine da pochi centesimi alle banconote da centinaia di euro, il denaro cartaceo è per noi Italiani una parte integrante degli acquisti quotidiani dal quale sembra impossibile separarsi. Ma è possibile una transizione verso una moneta completamente digitale?";
}
<div class="container text-center">
    <h1 class="text-primary"> La Fine Del Contante </h1>
    <br />
    <h6>
        Dalle monetine da pochi centesimi alle banconote da centinaia di euro,
        il denaro cartaceo è per noi Italiani una parte integrante degli acquisti quotidiani dal quale sembra impossibile separarsi.
        Sapete però che la Svezia sta muovendo i passi verso la transizione ad una moneta completamente digitale?
    </h6>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Che sia nella borsa, nel portafoglio o addirittura nella cover del cellulare,
        capita di rado alla maggior parte di noi
        di uscire di casa senza almeno un po’ di denaro cartaceo appresso.
        Nel periodo di pandemia globale da CoVID- 19, questo trend è andato però sempre più a declinare e,
        secondo un report di Banca D’Italia, durante i mesi di picco della emergenza sanitaria,
        mentre i pagamenti con banconote crollavano del 20%, quelli effettuati tramite carte
        hanno subito un decremento pari a soltanto il 4% dei valori pre- virus.
        Questa differenza sostanziale tra le due modalità di pagamento è indice di un radicale
        cambio di prospettiva da parte dei consumatori, che stanno iniziando a rendersi
        conto dei vantaggi che i pagamenti “cashless” comportano.
        <br />
    </p>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Prima di gridare ad una futura rivoluzione di payment digitale tutta italiana,
        è però necessario compararci con gli altri stati europei.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Sebbene nel 2019 il pagamento cartaceo sia stato finalmente spodestato
        dal pagamento “cashless” anche nel nostro paese (45% delle transazioni contro un 55%),
        noi italiani restiamo comunque in coda alle classifiche europee, con una media
        di soltanto 77 operazioni di pagamento digitali annui contro i 150 medi dell'eurozona.
    </p>
    <br />
    <div class="container">
        <img src="~/PoliticandoOggi/LaFineDelContante/LaFineDelContante1.jpeg" alt="Tik Tok downloads" class="bigImagePolitiCult" />
    </div>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Il fenomeno della crescente diffusione di alternative al denaro cartaceo non è
        inoltre isolato alla sola Italia, ma si è verificato in molti paesi europei,
        che hanno visto la circolazione di banconote e monete diminuire drasticamente
        anche in seguito all’avvento delle misure anti CoVID. I pagamenti con carta ne
        sono usciti invece praticamente inalterati nella maggior parte dei casi, segno
        di una crescente preferenza dei consumatori verso questa modalità di pagamento.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Un esempio particolarmente rilevante è la Svezia, che da molti anni vede il
        mondo dei pagamenti dominato con ampissimo margine dalle carte, le quali in
        questo periodo hanno ottenuto un ulteriore incremento percentuale.
        Attualmente infatti, poco meno del 10% delle transazioni totali sono effettuate
        con denaro fisico, risultato che attribuisce al paese scandinavo il primato
        di paese più “cashless” del mondo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il CoVID ha spinto ulteriormente il governo svedese ad investire nella
        digitalizzazione di gran parte dei pagamenti che avvengono all’interno del paese.
        La manovra potrebbe avvenire tramite la creazione di una moneta digitale sul modello
        di Bitcoin o Ethereum, ma dotata di una maggiore sicurezza e di una minore volatilità
        grazie al supporto statale.
        <br />
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/LaFineDelContante/LaFineDelContante2.jpeg" alt="Tik Tok downloads" class="bigImagePolitiCult" />
        </div>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il progetto guidato da Anna Kinberg Batra, presidente del comitato di
        controllo del sistema finanziario della Riksbank, è stato annunciato recentemente
        dal ministro delle finanze Per Bolund e dovrebbe essere definito e approvato
        entro il novembre 2022.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Una manovra di questa entità deve essere valutata con molta attenzione, 
        visto il potenziale impatto economico che potrebbe comportare, 
        ma per quanto possa rivelarsi una mossa rischiosa, vi sono già altri paesi 
        che sembrano intenzionati a seguire l’intuizione svedese: la Cina sta infatti 
        sperimentando l’utilizzo di uno “yuhan digitale” e ha già messo in circolazione 
        10 milioni di questi yuan elettronici per un valore di circa 1,5 milioni di 
        Dollari e anche la Banca Centrale Europea sta lavorando ad un “euro digitale” 
        che potrebbe affiancare la moneta fisica e facilitare la futura transizione 
        verso dei pagamenti sempre più digitali.
        <br />
    </p>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Dunque, per quanto il denaro fisico possa essere ancora molto rilevante 
        nella economia attuale, un futuro totalmente “cashless” non è da escludere, 
        ma è una realtà molto probabile e non così lontana. Come per il passaggio 
        dalla lira all’euro, la transizione potrà rivelarsi un po’ complicata per alcuni, 
        ma è inevitabile che le nostre amate monetine e banconote sono destinate a diventare un cimelio del passato.
    </p>
    <br />
</div>