@{ 
    Layout = "_layout";
    ViewData["Title"] = "Non solo Covid – La proposta di legge contro l’omofobia";
    ViewData["Descrizione"] = "Mercoledì 4 novembre è stata approvata alla Camera una nuova legge contro l'omotransfobia, la misoginia e le violenze contro le persone disabili";
}

<div class="container text-center">
    <h1 class="text-primary">Non solo Covid – La proposta di legge contro l’omofobia</h1>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Negli ultimi giorni abbiamo sentito parlare soltanto delle elezioni americane più assurde di
        sempre e del dramma del covid, che ci ha fatto ripiombare nel caos della scorsa primavera. Una
        notizia, però, è passata inosservata ai più: mercoledì 4 novembre è stato
        approvata alla Camera una nuova legge contro l’omofobia.
        <br />
        <br />
    </p>
    <h3 class="text-primary">Cos’è?</h3>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        È una proposta di legge (che dovrà poi essere approvata anche in senato) per contrastare l'omotransfobia,
        la misoginia e le violenze contro le persone disabili.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il testo, che prende il nome dal relatore Alessandro Zan (Pd), inizialmente conteneva misure
        di prevenzione e contrasto della discriminazione solo per motivi legati al sesso, all'orientamento sessuale e all'identità di genere. Durante l'esame in Assemblea le
        maggiori tutele sono state estese alla disabilità, con il consenso del centrodestra.
    </p>
    <br />
    <h3 class="text-primary">Cosa cambia?</h3>
    <br />
    <ul class="list-group-flush text-left">
        <li class="list-group-item">
            ● I reati di propaganda e istigazione a delinquere per motivi di
            discriminazione razziale, etnica e religiosa, punibili con la detenzione, esistevano già.
            A questi vengono aggiunti anche gli atti di violenza o incitamento alla violenza e alla
            discriminazione “fondati sul sesso, sul genere, sull'orientamento sessuale,
            sull'identità di genere o sulla disabilità”
        </li>
        <li class="list-group-item">
            ● Durante la discussione in aula il testo è stato modificato per inserire tra i reati
            di discriminazione anche quelli commessi contro i disabili
        </li>
        <li class="list-group-item">
            ● Il nuovo reato di omofobia è punito con la reclusione fino ad un
            anno e sei mesi o con la multa fino a 6.000 euro per chi propaganda idee fondate sulla
            superiorità o sull'odio razziale o etnico, ovvero istiga a commettere o commette atti di
            discriminazione per motivi razziali, etnici, nazionali o religiosi oppure fondati sul sesso,
            sul genere, sull'orientamento
            sessuale o sull'identità di genere e sulla disabilità.
        </li>
        <li class="list-group-item">
            ● È punito con la reclusione da sei mesi a quattro anni chi, in qualsiasi modo, istiga a commettere o commette violenza o atti di provocazione alla violenza per motivi razziali, etnici, nazionali o religiosi oppure fondati sul sesso, sul genere,
            sull'orientamento sessuale o sull'identità di genere e sulla disabilità
        </li>
        <li class="list-group-item">
            ● È istituita, il 17 maggio, la Giornata nazionale contro l'omofobia,
            la lesbofobia, la bifobia e la transfobia, al fine di promuovere la cultura del rispetto e dell
            'inclusione nonché di contrastare i pregiudizi, le discriminazioni e le violenze motivati dall
            'orientamento sessuale e dall'identità di genere,in attuazione dei principi di
            eguaglianza e di pari dignità sociale sanciti dalla Costituzione
        </li> 
        <li class="list-group-item">
            ● Si dispone lo stanziamento di 4 milioni di euro aggiuntivi all'anno per il Fondo
            per le politiche relative ai diritti e alle pari opportunità, al fine di finanziare
            politiche per la prevenzione e il contrasto della violenza per motivi legati all'
            orientamento sessuale e all'identità di genere e per il sostegno delle vittime.
        </li>
        <li class="list-group-item">
            ● Inoltre, viene istituito un programma per la realizzazione, in
            tutto il territorio nazionale, di centri contro le discriminazioni motivate da orientamento sessuale
            e identità di genere. I centri garantiscono adeguata assistenza legale, sanitaria, psicologica, di
            mediazione sociale e ove necessario
            adeguate condizioni di alloggio e di vitto alle vittime
        </li>
    </ul>
    <br />
    <h3 class="text-primary">Le citiche</h3>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Le critiche comunque non sono mancate. Al governo è stato rimproverato il fatto lavorare su certe questioni
        in un momento così tragico per lo stato e l'economia italiana: è infatti vero che
        molti cittadini e imprese non sono mai stati così in difficoltà come in questo periodo, e vorrebbero vedere 
        l'attenzione dei 
        politici puntata altrove.
        Inoltre contro la legge si è opposto sin dall'inizio il centrodestra,
        che giudica il provvedimento troppo lesivo della libertà di espressione e di pensiero. 
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Per questo è stata creata una “Clausola salva idee” ovvero una modifica al testo fatta durante
        l'esame in Aula del provvedimento nella quale, in sostanza, viene garantito e tutelato il 
        pluralismo delle idee e la libertà delle scelte. Si tratta di una norma inserita dopo una 
        mediazione all'interno della maggioranza e anche per rispondere alle molte critiche sollevate 
        non solo dalle opposizioni
        ma anche da una ampia sfera del mondo cattolico.
    </p>
    <br />
</div>