@{
    Layout = "_Layout";
    ViewData["Title"] = "LeggiElettorali";
}

<div class="container text-center">
    <h1 class="text-primary">Le leggi elettorali, spiegate in 4 minuti</h1>
    <br />
    <h5>
        Si distinguono innanzitutto sistemi diretti ed indiretti.
        Nell’elezione diretta l’elettore sceglie direttamente le persone da eleggere;
        è il sistema più diffuso; è adottato in Italia per l’elezione del Parlamento e
        dei Consigli Comunali. Nell’elezione indiretta, o a più gradi, l’elettore di
        primo grado sceglie un gruppo ristretto di elettori di secondo grado che
        procedono poi all’elezione dei rappresentanti politici o amministrativi:
        è il sistema in vigore per l’elezione del presidente degli U.S.A. o per
        l’elezione del Presidente della Repubblica in Italia (i cittadini eleggono
        i parlamentari che eleggono il presidente).
        <br />

    </h5>

    <h5>
        Un’ altra differenza, periodicamente al centro 
        del dibattito politico italiano, è quella tra 
        sistema maggioritario e proporzionale. Il primo
        premia il partito che ottiene più voti e, sulla carta,
        dovrebbe garantire maggiore stabilità governativa. Il secondo
        assegna i seggi in proporzione alle preferenze e dovrebbe invece 
        assicurare una maggiore rappresentanza alle varie forze politiche, 
        dando vita a un panorama di solito più frammentato. Sono le principali 
        differenze, in estrema sintesi, fra un sistema di voto maggioritario 
        e un sistema di voto proporzionale.
        <br />

    </h5>
    <br />
</div>
<br />
<hr class="lineaorizzontale" />
<br />
<div class="container text-center">
    <h1 class="text-primary"><span class="text-uppercase text-success">Pro</span> Maggioritario</h1>
    <br />
    <ul class="list-group text-left">
        <li class="list-group-item list-group-item-action">

            Dà più potere e stabilità a chi comanda

        </li>

        <li class="list-group-item list-group-item-action">

            Aiuta i partiti regionali (sostenuti prevalentemente da una certa zona geografica)

        </li>

        <li class="list-group-item list-group-item-action">

            Evita che i partiti piccoli possano diventare
            l’ago della bilancia ed imporre le proprie scelte 
            anche se hanno piccolissime percentuali di voti.

        </li>

        <li class="list-group-item list-group-item-action">

            In altre nazioni storicamente democratiche funziona bene (USA, Francia, Canada, UK...)

        </li>
    </ul>
</div>

<br />
<hr class="lineaorizzontale" />
<br />

<div class="container text-center">
    <h1 class="text-primary"><span class="text-success">PRO </span>Proporzionale</h1>
    <br />
    <ul class="list-group text-left">
        <li class="list-group-item list-group-item-action">

            Permette all'opposizione di fare politica attiva

        </li>

        <li class="list-group-item list-group-item-action">

            favorisce l’affluenza, poiché anche un individuo che
            ha ideologie estreme, troverà il partito per cui votare 
            con la sua piccola rappresentanza.

        </li>

        <li class="list-group-item list-group-item-action">

            Più adatto a livello strutturale per le Repubbliche Parlamentari

        </li>

        <li class="list-group-item list-group-item-action">

            Dà un’esatta fotografia della volontà dell’elettorato di una nazione
        </li>
    </ul>
</div>

<br />
<br />
<div class="container text-center">
    <h2 class="text-primary">
        Sistema Maggioritario in dettaglio
    </h2>
    <br />
    
    <p class="text-dark font-weight-normal text-left">
        <i class="fa fa-share text-primary"></i>
        I sistemi maggioritari per loro natura limitano o impediscono la
        rappresentanza della minoranza garantendo però una maggiore
        solidità alla maggioranza di governo.
        <br />
        <i class="fa fa-share text-primary"></i>
        Il maggioritario può essere basato su collegi uninominali o plurinominali.
        Il primo è il più utilizzato.
        <br />
        <i class="fa fa-share text-primary"></i>
        Nel sistema uninominale il territorio è diviso in tante zone,
        dette collegi, quanti sono i seggi da coprire, ed ogni partito
        propone un unico candidato.
        <br />
        <i class="fa fa-share text-primary"></i>
        Vince il candidato che ottiene la "maggioranza", che può essere di diversi tipi a seconda del tipo di sistema uninominale adottato.
        <br />
        <i class="fa fa-share text-primary"></i>
        In che modo un candidato può vincere le elezioni?
        <br />
        <i class="fa fa-share text-primary"></i>
        Con la Maggioranza relativa: Vince in un solo turno il candidato con più voti, a prescindere dal numero delle persone votanti
        (come in USA, UK e Canada).
        <br />
        <i class="fa fa-share text-primary"></i>
        Con la maggioranza assoluta invece vince chi prende almeno il 50%+1 dei voti. E se ciò non succede?
        <br />
        <i class="fa fa-share text-primary"></i>
        In questo caso si va al ballottaggio, ovvero si vota una seconda volta, potendo scegliere però solo tra i due candidati che al primo turno hanno ottenuto più voti (come in Francia).
        <br />
        <i class="fa fa-share text-primary"></i>
        Il sistema maggioritario uninominale, di solito, costituisce un vantaggio per i partiti che vincono con uno scarto di pochi voti in molti collegi, mentre sfavoriscono quelli che vincono con un gran numero di voti.
        <br />
        <i class="fa fa-share text-primary"></i>
        Il sistema plurinominale è il più antico.
        <br />
        <i class="fa fa-share text-primary"></i>
        Devono essere eletti più candidati, infatti i partiti possono proporne più d'uno.
        <br />
        <i class="fa fa-share text-primary"></i>
        Gli elettori possono esprimere tante preferenze quanti sono i candidati da eleggere.
        <br />
        <i class="fa fa-share text-primary"></i>
        Nelle schede elettorali i candidati sono raggruppati sulla base del partito di appartenenza.
        <br />
        <i class="fa fa-share text-primary"></i>
        L’insieme dei candidati di un partito si chiama lista o listino.
        <br />
        <i class="fa fa-share text-primary"></i>
        Se c’è la possibilità di esercitare il cosiddetto “voto disgiunto” si possono votare anche candidati di liste diverse.
        <br />
        <i class="fa fa-share text-primary"></i>
        Altrimenti si possono esercitare preferenze solo per i candidati della stessa lista.
        <br />
    </p>

</div>
<br />
<br />
<div class="container text-center">
    <h2 class="text-primary">
        Sistema Proporzionale in dettaglio
    </h2>
    <br />

    <p class="text-dark font-weight-normal text-left">
        <i class="fa fa-share text-primary"></i>
        Il sistema proporzionale mira a rappresentare tutti i
        partiti politici ed i loro elettori, anche le minoranze.
        <br />
        <i class="fa fa-share text-primary"></i>
        Viene spesso usato quando le fazioni politiche in
        gioco sono molteplici.

        <br />
        <i class="fa fa-share text-primary"></i>
        Nel sistema proporzionale, i seggi vengono distribuiti ai
        partiti o alle liste in proporzione, appunto, ai voti ottenuti.

        <br />
        <i class="fa fa-share text-primary"></i>
        Solitamente, nel proporzionale, si divide il numero dei voti
        validi per il numero dei seggi a disposizione, ottenendo in questo modo
        un “quoziente elettorale” che corrisponde a un seggio.

        <br />
        <i class="fa fa-share text-primary"></i>
        In base al quoziente si ottiene il numero di seggi spettanti
        a ogni partito
        o lista.
        Il territorio oggetto delle elezioni in questo caso viene 
        generalmente suddiviso
        in circoscrizioni plurinominali.

        <br />
        <i class="fa fa-share text-primary"></i>
        Il sistema proporzionale prevede anche una o più soglie di sbarramento sotto la
        quale non viene attribuito alcun seggio.

        <br />
        <i class="fa fa-share text-primary"></i>
        A differenza del maggioritario, il proporzionale può prevedere l'assegnazione di 
        un premio di maggioranza ai partiti o alle liste vincitrici della tornata elettorale.

        <br />
        <i class="fa fa-share text-primary"></i>
        Un meccanismo quest'ultimo per assicurare maggiore stabilità alla maggioranza. 
        Il proporzionale, infatti, se di per sé dovrebbe dar vita a governi più 
        rappresentativi ha contemporaneamente il limite di creare un esecutivo spesso instabile.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Esistono vari sistemi di tipo proporzionale:
        <br />
        <ul class="list-group-flush text-left">
            <li class="list-group-item">
                • Sistema Proporzionale a liste di partito
                In cui gli elettori votano una delle liste di candidati presentata da ogni
                partito. Si divide in forma a liste aperte, che permette all'elettore
                di scegliere individualmente i candidati di una singola lista; o liste
                bloccate, in cui è il partito a scegliere l'ordine,
                e i candidati più in cima alla lista avranno maggiori probabilità di
                essere eletti.
            </li>
            <li class="list-group-item">                
                • Voto Singolo Trasferibile (STV), che non dipende dai partiti o
                dalle liste.
                Gli elettori numerano i candidati in ordine di preferenza:
                se il loro candidato preferito riceve un numero insufficiente di voti,
                il voto si trasferisce alla seconda scelta e così via.
            </li>
            <li class="list-group-item ">       
                • Tra i vari sistemi semi-proporzionali (rari e complicati, dubitiamo
                ti interessino!) il Voto Singolo Non Trasferibile (SNTV) / il Voto Cumulativo / e il voto limitato.
            </li>
        </ul>
        <br />      
</div>
<br />
<br />
<div class="container text-center">
    <h1 class="text-primary">La storia italiana della legge elettorale</h1>
    <br />
    <p class="text-dark font-weight-normal text-left">
        <i class="fa fa-flag"></i>
        Il 17 Marzo 1861, giorno dell'Unità, il Regno d'Italia
        acquisì la normativa elettorale del
        Regno di Sardegna, modificata leggermente: che per
        l'elezione dei deputati prevedeva un sistema maggioritario
        uninominale a doppio turno per la Camera ed invece per il Senato la nomina
        regia, che
        rimase tale fino all'istituzione della Repubblica Italiana.
        <br />
        <br />

        <i class="fa fa-flag"></i>
        Nel 1882 fu introdotto invece il meccanismo plurinominale di lista.
        Tale sistema, tuttavia, contribuì notevolmente ad accrescere
        l'instabilità politica, cosicché nel 1891
        la legge venne emendata ripristinando i collegi uninominali.
        <br />
        <br />
        <i class="fa fa-flag"></i>
        Fino al 1919, quando venne scelto un sistema
        proporzionale puro, in cui le liste potevano
        essere
        aperte o bloccate.
        <br />
        <br />
        <i class="fa fa-flag"></i>
        Nel 1923 entrò in vigore la "Legge Acerbo", voluta da
        Mussolini per garantire al Partito Nazionale Fascista una solida maggioranza
        parlamentare. Il provvedimento prevedeva l'adozione di un sistema proporzionale
        con premio di maggioranza che concedeva alla lista più votata automaticamente
        2/3 dei seggi (eleggendo quindi tutti i candidati
        del partito vincitore) purché ricevesse almeno il 25% dei voti validi.
        <br />
        <br />
        <i class="fa fa-flag"></i>
        A seguito della caduta del regime fascista e
        della nascita della Repubblica Italiana, nel 1946 fu approvata la cosiddetta
        "legge proporzionale classica" che – con modifiche minime apportate nel corso
        del tempo – ha regolato lo svolgimento delle elezioni politiche italiane sino
        al 1993, ovvero per quasi cinquant'anni.
        <br />
        <br />

        <i class="fa fa-flag"></i>
        La legge Mattarella (nota come "il Minotauro" o "il Mattarellum"),
        approvata nel 1993 tramite referendum popolare, sancì la Seconda Repubblica introducendo per la
        prima volta in Italia un sistema elettorale misto: maggioritario uninominale a turno unico per i
        tre quarti dei seggi del Senato e i tre quarti dei seggi della Camera; ripescaggio proporzionale
        dei più votati fra i candidati non eletti per l'assegnazione del rimanente 25% dei seggi del Senato;
        proporzionale con liste bloccate,scorporo e soglia di sbarramento al 4% per il rimanente 25% dei seggi
        della Camera.
        <br />
        <br />

        <i class="fa fa-flag"></i>
        Nel 2005 con la legge Calderoli, detta "Porcellum", entrò in vigore un sistema proporzionale
        corretto con un cospicuo premio di maggioranza – attribuito su base regionale al Senato –
        e diverse clausole di accesso, senza voto di preferenza; nel 2013 però la Corte costituzionale
        ha dichiarato l'incostituzionalità di parte della legge, in riferimento al premio di maggioranza
        e all'eccessiva lunghezza delle liste bloccate.
        <br />
        <br />

        <i class="fa fa-flag"></i>
        Dal 2017 è in vigore il "Rosatellum", un sistema elettorale misto a separazione completa: sia in Senato
        che alla Camera il 37% dei seggi è attribuito con un sistema maggioritario uninominale a turno unico,
        mentre il 61% viene ripartito fra le liste concorrenti mediante un meccanismo proporzionale corretto
        con diverse clausole di sbarramento.
        <br />
        <br />

        <i class="fa fa-flag"></i>
        Ad oggi, subito dopo il referendum del 20 e 21 Settembre, si sta discutendo sulla possibilità 
        concreta
        di cambiare la legge elettorale passando al "Brescellum", un sistema proporzionale puro con soglia 
        di sbarramento al 5%.

        <br />
    </p>
</div>