@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Luci e ombre di Amazon";
    ViewData["Keywords"] = "politix italia,politixitalia";
    ViewData["Descrizione"] = "";
}

<div class="container text-center">
    <h1 class="text-primary">Luci e ombre di Amazon</h1>
    <br />
    <h5 class="font-italic">
        Fondata nel 1994 da Jeff Besos, diventato da poco l’uomo più ricco al mondo dopo aver
        superato Bill Gates con il suo Net Worth di 200 miliardi, Amazon è universalmente conosciuta
        come un sito affidabile dove comprare prodotti a basso prezzo e con tempistiche di consegna
        estremamente brevi. Ma come può una azienda di queste dimensioni riuscire a coniugare così tanta efficienza e a mantenere comunque un margine di guadagno
        tale da rendere il suo fondatore l’uomo più ricco del pianeta?
    </h5>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-orange"></i>
        L’utilizzo di Amazon e di altri store online per fare acquisti è diventato per molti
        un atto quasi immediato in risposta alla necessità di acquisire un particolare oggetto
        o bene di consumo. Lo shopping su questi store è reso particolarmente facile e
        conveniente grazie a una facile procedura di ordinazione del prodotto, a sconti
        con i quali i negozi locali non possono competere e alla consegna direttamente a
        casa, opzione che, specialmente durante l’emergenza da CoVID –19, ha aiutato molte
        persone a rimanere nelle proprie abitazioni senza però privarle del
        divertimento di fare shopping durante i saldi.
        <br />
        <br />
        <i class="fa fa-share text-orange"></i>
        Nel periodo del black friday in particolare era possibile vedere sulla piattaforma sconti
        su una grandissima fascia di prodotti che andavano dal semplice 20% fino
        a picchi di 80 - 90% di sconto su di un singolo articolo.
        <br />
        <br />
    </p>
    <br />
    <br />
    <img src="~/PoliticandoOggi/LuciEOmbreDiAmazon/BlackFridayAmazon.jpg" alt="Black Friday Amazon" class="immaginePolitiCult" />
    <figcaption class="font-italic">Banner pubblicitario per il Black Friday di Amazon che esorta a sfruttare le offerte e a fare acquisti sulla piattaforma </figcaption>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-orange"></i>
        Per poter sostenere sconti di questo tipo, la semplice vendita su grandi numeri non basta,
        è necessario un radicale ridimensionamento della figura professionale che lavora per Amazon secondo i canoni di rapidità ed efficienza. Dietro le quinte, all’interno dei centri di smistamento della compagnia, migliaia di dipendenti lavorano instancabilmente,
        spedendo e etichettando innumerevoli pacchi ogni giorno.
        <br />
        <br />
        <i class="fa fa-share text-orange"></i>
        Le regole per chi lavora in questi centri di smistamento sono ferree,
        al punto di rasentare la struttura delle prime catene di montaggio del
        periodo fordiano: non è permesso parlare con i colleghi, non è permesso
        andare in bagno più di una volta durante il turno e si è costantemente
        monitorati nelle tempistiche lavorative e ripresi nel caso l’efficienza
        del
        lavoratore scenda sotto lo “standard Amazon”
        <br />
        <br />
        <i class="fa fa-share text-orange"></i>
        In un ambiente di questo tipo dove ogni lavoratore è sottoposto a
        regole restrittive e repressive, si registra un certo fermento sindacale
        e un impegno proattivo rivolto ad affermare condizioni lavorative più “umane”.
        Proprio per contrastare questo fenomeno, secondo un report di Motherboard, Amazon
        ha creato una divisione di intelligence interna chiamata “Global Security
        Operations Centre” il cui compito è di monitorare
        e ispezionare i soggetti più attivi in ambito sindacale.
        <br />
        <br />
        <i class="fa fa-share text-orange"></i>
        Questa divisione avrebbe controllato, anche tramite l’utilizzo dei social,
        i dipendenti coinvolti in organizzazioni per i diritti dei lavoratori e avrebbe
        messo in atto pratiche atte a reperire il
        dissenso ed evitare il più possibile scioperi e proteste.

    </p>
    <br />
    <br />
    <img src="/PoliticandoOggi/LuciEOmbreDiAmazon/JeffBezos.jpg" alt="Jeff Bezos" class="immaginePolitiCult" />
    <figcaption class="font-italic">Jeff Besos, fondatore e CEO di Amazon, attualmente l’uomo più ricco del mondo </figcaption>
    <br />
    <br />

    <p class="text-left">
        <i class="fa fa-share text-orange"></i>
        Sempre secondo il report, Amazon avrebbe ingaggiato agenti della agenzia investigativa
        “Pinkerton”, molto nota tra l’800 e il 900 per le sue attività di infiltrazione e contrasto
        all’attività sindacale.
        <br />
        <br />
        <i class="fa fa-share text-orange"></i>
        Il consulente legale Stefan Clauwaert afferma che questo tipo di condotta da parte di Amazon
        rischia di violare le convenzioni e gli standard per il lavoro stabiliti dal comitato europeo.
        Se fosse effettivamente così, l’azienda si potrebbe trovare coinvolta in altre cause giudiziarie,
        oltre a quelle recenti scaturenti da accuse di concorrenza sleale e dalle contestazioni per le poche
        tasse pagate grazie a “loophole” finanziari.
        <br />
        <br />
        <i class="fa fa-share text-orange"></i>
        La compagnia sta infatti già affrontando due processi di AntiTrust promossi dalla comunità
        europea per mettere in luce le pratiche di monopolio del mondo dello shopping online e le irregolarità nella gestione dei dati privati dei propri user. Una commissione fondata nel Giugno 2019 ha scoperto che Amazon avrebbe sfruttato la propria posizione di vantaggio, essendo sia una piattaforma di shopping che un venditore diretto, per minimizzare e controllare i guadagni che terze parti (che vendono sul sito Amazon propri prodotti) ottengono attraverso il sito. Questo controllo sarebbe stato ottenuto attraverso un algoritmo automatizzato che avrebbe sfruttato anche dati privati degli
        user per poter ottenere una efficienza maggiore.
        La commissione incaricata dalla Comunità Europea di verificare questa vicenda ha
        dichiarato colpevole l’azienda di Jeff Besos, ma ha affermato che non avrebbe inflitto
        sanzioni o penalità fino a quando
        le indagini non sarebbero state completate.
        Un portavoce di
        Amazon ha affermato che la compagnia “è in disaccordo con le conclusioni preliminari della
        Commissione Europea e farà il possibile per garantire che si arrivi a una comprensione dei
        fatti”. Non è la prima volta che una compagnia di queste dimensioni finisce nel mirino della
        Comunità Europea per pratiche scorrette e non è da escludere che anche Amazon possa essere
        condannata a pagare multe per miliardi di dollari,
        simili a quelle inflitte a Google poco tempo fa.
        <br />
        <br />
        <i class="fa fa-share text-orange"></i>
        E ora che abbiamo appreso alcuni particolari sulla condotta di Amazon, dovremmo
        forse boicottare questa compagnia? La risposta è no, in quanto molte volte acquistare
        dal sito è l’unica opzione disponibile, però, la prossima volta che andremo a comprare
        qualcosa dal nostro shop online preferito, valutiamo se non vi sia una alternativa a livello
        locale che, oltre a sostenere le piccole e medie imprese sul territorio, ci aiuti ad affrancarsi
        da un sistema terribilmente
        efficiente, ma altamente “critico”, che Amazon ha creato.
        <br />
        <br />
    </p>
</div>