@{ 
    Layout = "_Layout";
    ViewData["Title"] = "MES";
    ViewData["Keywords"] = "mes, Europa, covid, prestito, italia, lockdown";
    ViewData["Description"] = "Ad oggi il Meccanismo Europeo di Stabilità ha salvato Cipro, Spagna e Grecia. L’Italia, dal canto suo, è una delle maggiori sostenitrici del fondo salva-Stati e anche per questo è oggi più che mai utile capire cos’è il MES, come funziona davvero</span> questo Meccanismo Europeo di Stabilità e perché nel Belpaese sono esplose così tante polemiche, prima sulle ipotesi di riforma e poi durante l’emergenza COVID-19 ";
}

<div class="container text-center">
    <h1 class="text-primary">MES Sì, o MES No?</h1>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Il <span class="text-dark font-weight-bold">Meccanismo Europeo di Stabilità</span> è stato istituito grazie 
        alle 
        modifiche apportate al Trattato di Lisbona, ratificate dal Consiglio UE nel marzo del 2011. L’entrata in
        vigore del fondo salva-Stati, prevista inizialmente per il 2013, è stata anticipata al luglio del 2012 a causa 
        di una crisi del debito sempre più pressante.
        E’ di fatto il  <span class="text-dark font-weight-bold">fondo monetario del Vecchio Continente</span>, ed ha
        l’obiettivo di dare sostegno ai Paesi membri in caso di crisi e di probabile default.
        Ad oggi il Meccanismo Europeo di Stabilità ha “salvato" Cipro, Spagna e Grecia. L’Italia, dal canto suo, è una
        delle maggiori sostenitrici del fondo salva-Stati e anche per questo è oggi più che mai utile capire 
        <span class="text-dark font-weight-bold">cos’è il MES, come funziona davvero</span> questo Meccanismo
        Europeo di Stabilità e perché nel Belpaese sono esplose così tante polemiche, prima sulle ipotesi di 
        riforma e poi durante l’emergenza COVID-19.

    </p>
    <br />
    <h2 class="text-primary">Che cos'è il MES?</h2>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Si può definire come un meccanismo volto a  <span class="text-dark font-weight-bold">
            mantenere
            la
            stabilità
            finanziaria della zona euro.
        </span>
        È Regolato dalla legislazione internazionale e, come organizzazione, ha una propria sede
        a Lussemburgo.
        Per garantire la tenuta del Vecchio Continente il fondo salva-Stati  <span class="text-dark font-weight-bold">
            emette prestiti sulla base di condizioni piuttosto rigide
        </span> e,
        in alcuni casi che verranno specificati nelle righe seguenti, può anche adottare atti sanzionatori.
    </p>
    <br />
    <h2 class="text-primary">Chi gestisce il MES?</h2>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Ha sede in Lussemburgo ed è gestito da: <br />
        • un  <span class="text-dark font-weight-bold">Board of Governors </span>(i ministri finanziari
        dell'area euro) presieduto dal portoghese Mario Centeno, Presidente dell'Eurogruppo;<br />
        • un  <span class="text-dark font-weight-bold">Board of Directors</span> (i cui membri vengono
        scelti dai ministri finanziari);<br />
        • un  <span class="text-dark font-weight-bold">direttore generale</span> (il tedesco Klaus Regling)
        che gestisce gli affari correnti del MES seguendo le indicazioni del Board of Directors. Inoltre presiede le riunioni
        del Board of Directors e partecipa a quelle del Board of Governors.<br />
        Il  <span class="text-dark font-weight-bold">Presidente della Bce</span> e il
        <span class="text-dark font-weight-bold">Commissario europeo agli Affari Economici</span>
        partecipano in qualità di osservatori.
    </p>
    <br />
    <h2 class="text-primary">Come funziona il MES?</h2>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Come agisce il Meccanismo Europeo di Stabilità e in che modo riesce a mantenere la salute
        finanziaria dell’Eurozona?
        L’organizzazione raccoglie fondi volti a sostenere gli Stati membri, ossia quelli che prima o
        dopo hanno adottato l’euro come moneta unica e che in un determinato periodo di tempo si trovano
        in forte difficoltà.
        Per capire come funziona il MES possiamo suddividere la sua azione in
        <span class="text-dark font-weight-bold">tre fasi distinte</span>: <br />
        <ol class="list-group-flush text-left">
            <li class="list-group-item">
                Lo Stato in difficoltà avanza al Presidente del Consiglio dei governatori del
                fondo salva-Stati una  <span class="text-dark font-weight-bold">richiesta di assistenza</span>.
            </li>
            <li class="list-group-item">
                Il MES chiede alla  <span class="text-dark font-weight-bold">Commissione UE</span> di valutare
                lo stato di salute del Paese in questione e di definire il suo fabbisogno finanziario.
                In questa fase l’esecutivo comunitario e la Banca Centrale Europea (e se necessario il Fondo
                Monetario Internazionale) analizzano se la crisi di quello Stato può contagiare il resto
                dell’Eurozona.
            </li>
            <li class="list-group-item">
                Dopo la valutazione, l’organo plenario del MES  <span class="text-dark font-weight-bold">
                    decide
                    di agire
                </span> e aiutare il Paese in difficoltà (il tutto più o meno nell’arco di 7 giorni dalla
                data di presentazione della richiesta formale di assistenza). Come lo aiuta? Attraverso prestiti.
            </li>
        </ol>
    </p>
    <br />
    <h2 class="text-primary">MES e Covid</h2>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Lo scorso aprile, durante un Eurogruppo, è stato raggiunto un accordo sul «Pandemic Crisis Support»,
        gestito dal Mes: una linea di credito dal valore, per ogni Paese, a somme non superiori al 2% del suo
        prodotto lordo del 2019. Per l’Italia,  <span class="text-dark font-weight-bold">
            circa 40 miliardi di euro
        </span>.
        <br />
        <i class="fa fa-share text-primary"></i>
        Il  <span class="text-dark font-weight-bold">tasso d’interesse</span> sarebbe
        <span class="text-dark font-weight-bold">negativo</span> (l’Italia dovrebbe rimborsare meno
        di quanto ha preso in prestito) nel caso di una scadenza a sette anni; e praticamente zero nel
        caso di una scadenza a dieci anni. Un prestito a dieci anni del Mes farebbe dunque risparmiare
        all’Italia 4,8 miliardi rispetto a un prestito che l’Italia dovesse cercare sul mercato collocando
        titoli di Stato.
        <br />
        <i class="fa fa-share text-primary"></i>
        Quei 4,8 miliardi sarebbero dunque un margine che questo governo o più probabilmente governi futuri
        potrebbero investire nella scuola, nella spesa sociale, in grandi opere o nella riduzione dell’enorme
        debito pubblico.
        <span class="text-dark font-weight-bold">
            A cosa dovrebbero servire questi fondi del Mes?
        </span> La sola  <span class="text-dark font-weight-bold">condizione</span> prevista per accedere
        questo strumento è che esso venga utilizzato solo per « <span class="text-dark font-weight-bold">
            spese
            sanitarie
        </span> dirette e indirette». In altri termini, quel prestito potrebbe essere speso per rafforzare
        i presidi ospedalieri, assumere personale medico e paramedico, ma anche per la prevenzione sanitaria in altri
        campi: la messa in sicurezza di aziende che riprendono la produzione, l’edilizia scolastica adesso che ci sarà
        bisogno di più aule per classi più piccole. In altri termini questo nuovo strumento del Mes richiede che si
        aumenti, anziché diminuire, la spesa sociale.
        <br />
        <i class="fa fa-share text-primary"></i>
        <span class="text-dark font-weight-bold">Ci sono vincoli preliminari?</span> No.
        L’Eurogruppo, che riunisce gli Stati azionisti del Mes, ha chiarito che il Pandemic Crisis Support
        è  <span class="text-dark font-weight-bold">disponibile per tutti gli Stati membri</span> e non prevede
        una «sorveglianza rafforzata» del tipo di quella vista in anni recenti per il salvataggio della Grecia,
        con i rappresentanti di Commissione Ue, Bce, Fmi. Non ci sono riforme economiche o di bilancio preliminari
        che vengono richieste.
        <br />
        <i class="fa fa-share text-primary"></i>
        Inoltre, l’intero esborso avverrebbe tutto entro il primo anno di vita della linea di credito e
        il Mes non sarebbe comunque in grado di vincolare nuovi trasferimenti di denaro a aggiustamenti
        macroeconomici che non siano già stati discussi preliminarmente.
        <br />
        <i class="fa fa-share text-primary"></i>
        Allora perché  <span class="text-dark font-weight-bold">
            il fronte del no al MES è più forte di quello del
            sì, in Parlamento?
        </span> (A favore ci sono il Pd, Italia Viva, il leader di Forza Italia Silvio Berlusconi;
        contro, i 5 Stelle, Lega, Fratelli d’Italia)?
        <br />
        <i class="fa fa-share text-primary"></i>
        Perché fra il 2010 e il 2012 il Fesf e il Mes hanno concesso circa 98 miliardi di prestiti al Portogallo,
        oltre duecento miliardi alla Grecia, 76 miliardi all’Irlanda, 41 miliardi alla Spagna: e
        <span class="text-dark font-weight-bold">
            in quel caso ci fu una «verifica esterna» dei programmi di
            risanamento dei Paesi da parte delle autorità europee.
        </span> Una condizione che il nuovo strumento non ha.
        <br />
        <i class="fa fa-share text-primary"></i>
        <span class="text-dark font-weight-bold">Perché altri Paesi non richiedono questo prestito
        del Mes?</span> Economie indebitate e colpite da Covid come Spagna e Portogallo hanno una buona 
        ragione per non farlo che l’Italia non ha: pagano già tassi d’interesse molto bassi per finanziarsi 
        sul mercato. Il rendimento del bond decennale di Madrid e di Lisbona è dello 0,45% e ciò rende il
        risparmio relativo dell’accesso al Mes molto più piccolo che per l’Italia. Da notare che da settimane
        persino il rendimento dei bond greci è più basso di quello che deve offrire l’Italia per trovare
        creditori sul mercati.       
    </p>
    <br />
</div>