@{
    Layout = "_Layout";
    ViewData["Title"] = "Paga le tasse e vinci! Ecco qua cosa spiegata la lotteria degli scontrini";
    ViewData["Descrizione"] = "Puoi vincere migliaia di euro semplicemente comportandoti da bravo cittadino davanti alla cassa: chiedere lo scontrino equivarrà ad aver giocato al Lotto. In che senso? Ecco qua cosa spiegata la lotteria degli scontrini.";
    ViewData["Keywords"] = "politixitalia, politix, italia, lotteria, scontrini, premi";
    }

<div class="container text-center">
    <h1 class="text-primary">Paga le tasse e vinci!</h1>
    <br />
    <h5> Puoi vincere migliaia di euro semplicemente comportandoti da bravo cittadino davanti alla cassa: chiedere lo scontrino equivarrà ad aver giocato al Lotto. In che senso? Ecco qua cosa spiegata la lotteria degli scontrini. </h5>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        <a href="https://www.lotteriadegliscontrini.gov.it/portale/documents/20128/138591/comunicato-stampa30novembre.pdf/ec608c78-bdac-7e36-fb09-9724594a26b4?t=1606800305903">Clicca qua per vedere il comunicato ufficiale</a>
        <br />
        <br />
    </p>
    <br />
    <h4 class="text-primary">Cos'è e come funziona</h4>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        “Se sei maggiorenne e residente in Italia parteciperai alla lotteria degli scontrini semplicemente acquistando -
        in contanti o senza - beni o servizi presso esercizi commerciali al minuto.
        <br />
        <br />

        <i class="fa fa-sharet ext-primary"></i>
        Partecipare alla lotteria sarà facile: basterà procurarsi in questo sito il codice lotteria e mostrarlo all'esercente al momento dell’acquisto. Così,
        il tuo scontrino elettronico ti consentirà di partecipare alla lotteria.”
        <br />
        <br />

        <i class="fa fa-share text-primary"></i>
        <a href="https://www.lotteriadegliscontrini.gov.it/portale/home">Così recita il sito ufficiale dell’iniziativa </a>
        <br />
        <br />

        <i class="fa fa-share text-primary"></i>
        In pratica tutti possiamo riscattare un codice sul sito sopra citato e, presentandolo alla cassa dei negozi
        (non vale per gli acquisti online!), ci verrà assegnato un biglietto virtuale della lotteria
        per ogni euro speso, fino ad un massimo di 1000 biglietti.
        <br />
        <br />

        <i class="fa fa-share text-primary"></i>
        Si terranno estrazioni settimanali, mensili ed annuali che possono essere ordinarie e “zerocontanti”. Che significa?
        <br />
        <br />

        <i class="fa fa-share text-primary"></i>
        Facciamo un esempio: entro in libreria dopo aver riscattato il mio codice personale sul sito,
        compro un libro a dieci euro e comunico il mio codice al negoziante alla cassa. Se pago in contanti
        ricevo dieci biglietti della lotteria, se pago con carta ricevo dieci biglietti della lotteria. E fin qui...
        Quello che cambia sono le estrazioni: se pago in contanti il mio biglietto varrà solo per le estrazioni ordinarie
        (settimanale, mensile annuale) se pago con carta lo stesso biglietto sarà valido pure per le estrazioni “zerocontanti”
        e di conseguenza avrà il doppio delle chance di vincere (con premi molto più ricchi per questa modalità).
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        <a href="https://www.lotteriadegliscontrini.gov.it/portale/quali-sono-i-premi ">Clicca qui per vedere i premi</a>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        <a href="https://www.lotteriadegliscontrini.gov.it/portale/come-riscuotere-i-premi ">Clicca qui per scoprire come riscattare le vincite</a>
        <br />
        <br />
    </p>
    <br />
    <h4 class="text-primary">Perchè viene fatta?</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Ok abbiamo capito cos’è ma perché viene fatta?
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Secondo il Governo, la possibilità di partecipare alla lotteria di Stato incentiverà i consumatori
        a richiedere l’emissione dello scontrino fiscale al rivenditore. Il gioco a premi anti-evasione si lega all’obbligo di memorizzazione e trasmissione telematica degli scontrini per tutti gli operatori IVA,
        il cosiddetto scontrino elettronico obbligatorio dal 1° gennaio 2020 per tutti.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        In poche parole: dare la possibilità di vincere un premio 
        a cittadini e negozianti (ci sono premi anche per loro) per chi richiede lo scontrino dovrebbe 
        incentivare tutti a rispettare le regole del fisco.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        <a href="https://www.lotteriadegliscontrini.gov.it/portale/normativa-di-riferimento ">Clicca qui per vedere i riferimenti normativi.</a>
    </p>
    <br />
    <h4 class="text-primary">Critiche</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
            Ci sono varie critiche intorno all’iniziativa in sé ed ai metodi con cui è realizzata, le principali però
            sono queste:
    </p>
    <ul class="list-group-flush text-left">
        <li class="list-group-item">
            •Sfruttare un gioco d’azzardo ed abituare i cittadini a partecipare a questo tipo
            di gioco(già piaga sociale nel nostro Paese anche senza bisogno di pubblicità) per incentivare gli italiani a
            far pagare le
            tasse è considerato da molti eticamente sbagliato e rischioso.
        </li>
        <li class="list-group-item">
            •Sebbene l’avvio di questa iniziativa fosse stato preparato già nel primo governo
            Conte (maggioranza 5stelle e lega), le tempistiche con cui l’attuale governo Conte (maggioranza 5stelle e pd)
            ha velocizzato il tutto (soprattutto la transizione allo scontrino elettronico obbligatorio) ha creato confusione
            per molte imprese e negozianti che si trovano impreparati rischiando di rimanere esclusi e quindi penalizzati oppure di dover
            investire più soldi per mettersi al passo rapidamente.
        </li>
        <li class="list-group-item">
            •Alcune forze d’opposizione la additano come un metodo del governo per conoscere tutti gli
            acquisti e le abitudini degli italiani. Agenzie delle Entrate ha però smentito ufficialmente alcun tipo tracciamento
            degli acquisti legando l’emissione
            dei biglietti solo all’importo speso e non al prodotto acquistato.
        </li>
    </ul>


    
</div>