@{
    Layout = "_Layout";
    ViewData["Title"] = "Come Reddit ha messo in ginocchio Wall Street";
    ViewData["Keywords"] = "wall street, azioni, Internet, web, index, politica, borsa, tech, www, ricerca, gamestop, link";
    ViewData["Descrizione"] = "Recentemente un gruppo di utenti del forum Reddit hanno intrapreso una azione finanziaria coordinata che ha rischiato di mandare in bancarotta diversi giganti di Wall Street.";
}
<div class="container text-center">
    <p class="text-right">
        14 Febbraio 2021
    </p>
    <h1 class="text-primary">Come Reddit ha messo in ginocchio Wall Street</h1>
    <br />
    <h6>
        Recentemente un gruppo di utenti del forum Reddit hanno intrapreso una azione finanziaria coordinata che ha rischiato
        di mandare in bancarotta diversi giganti di Wall Street
    </h6>
    <br />
    <p class="text-left">
        Per capire al meglio la vicenda dobbiamo prima analizzare le due parti coinvolte.
        <br />
    </p>
    <br />
    <h4 class="text-primary">r/wallstreetbets</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        L’origine dei nostri primi contendenti risiede presso Reddit, terzo sito più visitato negli Stati Uniti e che permette ai suoi
        utenti, comunemente chiamati “redditors”, di pubblicare video, immagini e intraprendere discussioni su praticamente qualsiasi
        tipo di argomento.
        <br />
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Proprio la varietà di argomenti ha dato vita ai “subreddit”, delle community dove si trattano dei temi più specifici e circoscritti.
        Il subreddit di cui parliamo oggi è r/wallstreetbets, un canale dedicato alla discussione aperta sul trading di azioni e che è ben
        conosciuto per la diffusione di strategie di trading particolarmente aggressive.Proprio la varietà di argomenti ha dato vita ai
        “subreddit”, delle community dove si trattano dei temi più specifici e circoscritti. Il subreddit di cui parliamo oggi è
        r/wallstreetbets, un canale dedicato alla discussione aperta sul trading di azioni e che è ben conosciuto per la diffusione
        di strategie di trading particolarmente aggressive.
        <br />
    </p>
    <br />
    <br />
    <h4 class="text-primary">Fondi speculativi</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Un fondo speculativo, in inglese Hedge fund, è un fondo comune di investimento privato che caratterizza la propria strategia
        di lucro sulla short selling, una strategia di investimento ad alto rischio ma che ha la possibilità di ottenere ritorni molto
        fruttuosi.
    </p>
    <br />
    <h4 class="text-primary">Come funziona lo Short selling?</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Lo short selling, che in italiano viene chiamato “vendita a nudo”, è un’operazione finanziaria che si basa sul vendere un titolo che il venditore stesso non possiede ancora (per cui deve prenderlo in prestito), per poi poterlo acquistare e restituire, quando poi il prezzo di quel titolo sarà più basso rispetto al prezzo a cui in precedenza lo si era venduto.
        <br />
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/RedditWallStreet/Neroinfo.jpeg" alt="Neroinfo" class="bigImagePolitiCult" />
        </div>
        <br />
    </p>
    <p class="text-left">
        Immagine che descrive la pratica dello short selling, il grafico rappresenta il costo di un’azione in funzione del tempo
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Dunque, una volta che un fondo speculativo si è impegnato nella pratica della vendita a nudo, è nel suo interesse far
        abbassare il valore di quel titolo in modo da poterlo acquistare a un valore minore di quello per cui è stato venduto a
        una terza parte.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Un esempio per capire questa pratica è supporre che io prenda in prestito una mela da un venditore quando il costo delle mele
        è 2€, la venda per 2€ e poi aspetti che il costo delle mele scenda a 1€. Quando questo si verifica, andrò dal venditore delle
        mele per pagargli il costo della mela presa in prestito, che essendo sceso da 2€ a 1€, mi consentirà di ottenere un guadagno di 1€.
        <br />
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/RedditWallStreet/Bluinfo.jpeg" alt="Bluinfo" class="bigImagePolitiCult" />
        </div>
        <br />
    </p>
    <p class="text-left">
        Rappresentazione di come avviene la pratica dello short selling
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Questa pratica però ha uno svantaggio quando si tratta di azioni e non di mele: più tempo si aspetta avendo un debito
        rispetto a una particolare azione, più interessi dovremo pagare per saldare il debito che abbiamo contratto, esattamente
        come accade con un debito convenzionale.
    </p>
    <br />
    <br />
    <h4 class="text-primary">La vicenda</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Ora che abbiamo compreso meglio chi sono le due parti in gioco e le basi dello short selling, scopriamo come si è svolta
        effettivamente la vicenda.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        A fine di questo gennaio, uno degli utenti del subreddit r/wallstreetbets fece un post pubblico, affermando che le azioni di Gamestop,
        una compagnia americana che gestisce moltissimi negozi di videogame e consolle in tutto il mondo, presentavano le caratteristiche
        per l’effettuazione di una manovra finanziaria chiamata “short squeeze”. Lo “short squeeze” è l’acquisto in massa di un titolo che è
        stato ampiamente shortato in modo da farne alzare il valore.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Gamestop (il cui nome in borsa è $GME) era infatti stata venduta tramite la pratica dello short selling per più del 130% delle
        azioni disponibili. I fondi speculativi contavano che l’avvento della pandemia e lo shift dai negozi fisici a quelli digitali
        avrebbe mandato in bancarotta la società e tramite lo shorting erano convinti di poter guadagnare su di una compagnia morente,
        prendendo in prestito quindi più azioni di quelle che effettivamente fosse possibile acquistare.
        <br />
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/RedditWallStreet/Gamestop.jpeg" alt="Gamestop" class="bigImagePolitiCult" />
        </div>
        <br />
    </p>
    <p class="text-left">
        Un negozio Gamestop
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Quello che gli hedge founds non avevano previsto era che una serie di notizie positive, come la collaborazione con Microsoft
        nella vendita delle nuove consolle Xbox e l’acquisto da parte del fondatore di Chewy del 9% degli share dell’azienda avrebbero
        dato una spinta positiva in borsa al titolo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Queste notizie non sono passate inosservate agli utenti di Reddit che, seguendo l’indicazione di un utente chiamato “deepfuckingvalue” hanno iniziato ad acquistare in massa titoli di Gamestop, facendone aumentare esponenzialmente il costo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ulteriore attenzione alla causa è stata data da Elon Musk che il 26 gennaio ha twittato “Gamestonk” su Twitter, facendo crescere notevolmente il prezzo della azione.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Melvin Capital, un Hedge found miliardario, che aveva contato sulla bancarotta di Gamestop è stato costretto a chiudere le sue posizioni sul fondo, ossia ad acquistare le azioni per un prezzo più alto di quelle per cui le aveva vendute, subendo una perdita di 3 miliardi di dollari. Un tale deficit avrebbe costretto il fondo a dichiarare bancarotta, se non avesse ricevuto un prestito da altri Hedge Found.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La situazione sembrava andare a gonfie vele, gli utenti di Reddit erano riusciti con i loro sforzi combinati ad abbattere un Hedge Found miliardario.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il 28 gennaio però molte piattaforme e siti di brokeraggio online hanno rimosso la possibilità di acquistare $GME. Questo a causa delle pressioni subite dagli Hedge Found coinvolti nel fondo che rischiavano di perdere miliardi di dollari e potenzialmente di finire in bancarotta. A causa di questo stop all’acquisto il valore del titolo in borsa è crollato drasticamente.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Dopo le proteste da parte degli utenti delle piattaforme e il boicottaggio delle stesse, le restrizioni imposte sul fondo sono state rimosse, permettendo al titolo di risalire nuovamente.
        <br />
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/RedditWallStreet/GraficoBianco.jpeg" alt="Gamestop" class="bigImagePolitiCult" />
        </div>
        <br />
    </p>
    <br />
    <h4 class="text-primary">Conclusioni</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Oggi, dopo vari alti e bassi, il titolo si è stabilizzato sulla quota di 50$ per azione che, rispetto al massimo di quasi 500 che aveva raggiunto durante il momento di maggiore attenzione su questa vicenda, potrebbe sembrare un risultato negativo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Quello che dobbiamo considerare però è non solo il valore di 16 $ che aveva pochi mesi fa e che è più che triplicato, ma anche il messaggio che gli utenti di Reddit hanno lanciato verso i grandi investitori di Wall Street. Dopo anni di manipolazione del mercato da parte di queste grandi compagnie contro cui il risparmiatore medio non poteva nulla, per la prima volta sono stati i piccoli investitori a controllare il mercato, mostrando che, se uniti verso un ideale comune, anche essi hanno il potere di rivaleggiare, e perfino abbattere completamente, i grandi fondi che fino ad adesso erano ritenuti intoccabili.
    </p>
</div>