@{
    Layout = "_Layout";
    ViewData["Title"] = "Riforma Brunetta";
    ViewData["Keywords"] = "brunetta, ministro, governo, Italia, economia, lavoro, disoccupazione, licenziamenti, assenteismo, riforma, riforma brunetta, politix";
    ViewData["Descrizione"] = "come funziona la riforma brunetta e perché i giovani temono di essere tagliati fuori dai concorsi pubblici";
}
<div class="container text-center">
    <p class="text-right">
        12 Aprile 2021
    </p>
    <h1 class="text-primary">Riforma Brunetta</h1>
    <br />
    <h6>
        <span class="font-italic">
            Renato Brunetta è di nuovo Ministro per la Pubblica Amministrazione. Di nuovo perché lo è già stato dal
            2008 al 2011 nel quarto governo Berlusconi. La sua vita comunque adesso non ci interessa (se volete sapere
            qualcosa in più ascoltatevi la puntata del nostro podcast dove parliamo di ogni ministro, link in bio), quello
            che ci interessa adesso è cosa sta facendo, dato che, nonostante la pandemia prevalga (a ragione) su ogni
            altro tema, le riforme della pubblica amministrazione suscitano sempre polemiche e cambiamenti e anche
            questa non sarà da meno. Meglio trovarsi preparati quindi no?
        </span>
    </h6>
    <br />
    <br />
    <p class="text-left">
        Se volete conoscere direttamente i cambiamenti che riguardano quest’anno saltate questo paragrafo, qui
        faremo un po’ di storia.
        <br />
        <br />
        <span class="font-weight-bold">La riforma Brunetta dell’amministrazione pubblica</span>
        <br />
        Parliamo della Legge 6 agosto 2008, n. 133; legge 4 marzo 2009, n. 15; decreto legislativo 27 ottobre 2009,
        n. 150 (provvedimenti costituenti la cd. Riforma Brunetta). Cos’è ed in cosa consiste? È un insieme di
        provvedimenti che miravano ad aumentare la produttività dell’apparato pubblico italiano, troppo spesso
        valutato lento, dispendioso ed inefficace rispetto alle controparti di altri paesi. La riforma Brunetta si
        poneva come obiettivo quello di tagliare sprechi e combattere fenomeni come l’assenteismo cercando di
        appianare le differenze di gestione tra il settore privato e quello pubblico.
        <br />
        Il corpo della riforma era composto da più norme. In primis introdurre nell’apparato statale criteri di
        accountability, ovvero “la responsabilità, da parte degli amministratori che impiegano risorse finanziarie
        pubbliche, di rendicontarne l'uso sia sul piano della regolarità dei conti sia su quello dell'efficacia della
        gestione.” [Oxford Dictionary] ed il concetto di performance. Insieme c’erano nuove norme per una
        maggiore trasparenza e pianificazione dettagliata delle performance, con l’obiettivo di tagliare sprechi e
        dispersione di risorse. C’era anche una forte volontà di combattere l’assenteismo che in Italia risultava
        molto al di sopra della media europea, per farlo vennero istituiti consistenti meccanismi di ispezione per i
        dipendenti in malattia e nacquero decurtazioni salariali legate all’assenza dal posto di lavoro. Altre
        importanti innovazioni riguardarono la previsione di uno stretto collegamento tra performance,
        valutazione, premialità e trasparenza; una procedura semplificata per le sanzioni disciplinari, con la
        definizione di un catalogo di infrazioni particolarmente gravi assoggettate al licenziamento; la riforma della
        contrattazione collettiva, volta a chiarire gli ambiti di competenza rispettivi dell’amministrazione; ed il rafforzamento delle responsabilità dirigenziali.
        <br />
        Ai più esperti consiglio un articolo de IlSole24ore per approfondire ed avere un quadro più dettagliato:
        <br />
        <br />
        <a href="https://www.econopoly.ilsole24ore.com/2021/02/25/riforma-brunetta-pa/?refresh_ce=1">Un bilancio della riforma Brunetta</a>
    </p>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Torniamo a noi! Il <span class="font-weight-bold">primo aprile 2021</span> è stato pubblicato in Gazzetta Ufficiale un nuovo decreto legge:
        il Decreto Legge n. 44 del 2021, cd. "DL Covid".
        <br />
        <br />
        Se nelle riforme precedenti il nostro ministro aveva mirato a ridurre i costi stavolta invece pensa ad
        assumere. Definendo la Pubblica Amministrazione come “il volto della Repubblica”, espressione coniata dal
        Presidente Mattarella, l’obiettivo è rinnovare. Troviamo quindi un piano per attuare un <span class="font-weight-bold">rapido “turn-over”</span>
        ovvero l’inserimento di tanti giovani nei posti lasciati vuoti dai vari pensionamenti. Per scovare e
        selezionare queste nuove forze sono state quindi introdotte delle norme per <span class="font-weight-bold">snellire i concorsi pubblici</span> e
        per tenerli il prima possibile dopo i ritardi causati dall’emergenza sanitaria.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        I punti salienti di questo
        cambiamento sono:
        <br />
        <br />
        ●   Eliminazione della prova preselettiva (normalmente composta da quesiti di logica) che verrà
        sostituita da una preselezione basata sui titoli e sull’esperienza personale. Serve ad accelerare i
        tempi, cambiare questo parametro di merito però rischia di escludere dalle assunzioni i giovani
        neolaureati.
        <br />
        <br />
        ●   <span class="font-italic">“Mai più carta e penna!”</span> ha esclamato Brunetta, <span class="font-italic">"la digitalizzazione è come un vento che deve
            attraversare i processi amministrativi"</span>. Quindi, molto semplicemente, concorsi totalmente
            digitalizzati.
    </p>
    <br />
    <p class="text-left">
        Tante tante critiche hanno già investito il primo punto sopracitato, ecco un articolo di Open: <a href="https://www.open.online/2021/04/11/problemi-riforma-brunetta-giovani-concorsi-pubblici/">Tutti i problemi della riforma Brunetta</a>
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Torniamo al resto della riforma. Questo era solo ciò che riguardava i concorsi… per i concorsi però, per
        quanto velocizzati, serve tempo. Il Recovery Plan e la sua attuazione non ne hanno però. Per questo il
        ministro ha spiegato la possibilità di introdurre "percorsi ad hoc destinati a selezionare i migliori laureati, i
        profili con le più alte qualifiche, nonché a favorire, anche attraverso modelli di mobilità innovativi, l'accesso
        da parte di persone che lavorano nel privato più qualificato, in organizzazioni internazionali, in università
        straniere o presso soggetti pubblici e privati all'estero".
        <br />
        <br />
        <span class="font-italic">
            "Il Recovery ha bisogno in tempi brevissimi di reclutamento di competenze e stavamo pensando</span> - spiega - <span class="font-italic">ad
            un meccanismo molto anglosassone, di avvalerci della scelta all'interno degli ordini professionali, delle
            università, e nel settore privato, con dei limiti e delle valutazioni"</span>, aggiunge.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Tra gli altri obbiettivi ci troviamo anche: assicurare la partecipazione attiva delle lavoratrici e dei
        lavoratori nell’innovazione dei settori pubblici, sostenuta dagli investimenti in digitalizzazione; valorizzare il
        personale pubblico in servizio e stabilire il diritto-dovere soggettivo di ogni pubblico dipendente
        alla formazione; avviare una nuova stagione di relazioni sindacali che punti sul confronto con le
        organizzazioni delle lavoratrici e dei lavoratori e porti a compimento i rinnovi contrattuali del triennio 2019-
        2021.
        <br />
        <br />
        Per fare tutto ciò verranno impiegati altrettanti <span class="font-weight-bold">strumenti</span>:
        <br />
        <br />
        →   Il Governo emanerà in tempi brevi gli atti di indirizzo all’Aran (Agenzia per la rappresentanza negoziale
        delle pubbliche amministrazioni) per il riavvio della stagione contrattuale: i rinnovi interessano 3,2 milioni
        di dipendenti pubblici per un aumento medio di circa 107 euro;
        <br />
        <br />
        →   Nei futuri ccnl (contratti collettivi nazionali di lavoro) del pubblico impiego sarà definita una disciplina
        normativa ed economica del lavoro agile che superi l’attuale assetto emergenziale garantendo condizioni di
        lavoro trasparenti;
        <br />
        <br />
        →   Attraverso i contratti del 2019-2021 si provvederà alla successiva rivisitazione degli ordinamenti
        professionali del personale, adeguando la disciplina contrattuale ai fabbisogni di nuove professionalità e
        competenze;
        <br />
        <br />
        →   Saranno disegnate politiche formative di ampio respiro: in particolare competenze informatiche e digitali;
        <br />
        <br />
        →   Sarà valorizzato il ruolo della contrattazione integrativa;
        <br />
        <br />
        →   Saranno implementati gli istituti di welfare contrattuale, anche con riferimento al sostegno alla
        genitorialità e all’estensione al pubblico impiego delle agevolazioni fiscali già riconosciute al settore privato
        per la previdenza complementare e i sistemi di premialità.
    </p>
    <p class="text-left">
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Per approfondire ancora (fonti e citazioni):
        <br />
        <br />
        <a href="https://www.iusexplorer.it/Publica/FascicoloDossier/La_riforma_Brunetta_e_la_disciplina_della_dirigenza_pubblica/?idDocMaster=4019351&idDataBanks=19&canale=13">La riforma Brunetta</a>
        <br />
        <br />
        <a href="https://www.repubblica.it/economia/2021/03/09/news/pa_brunetta_percorsi_di_selezione_digitali_ricerca_delle_migliori_professionalita_per_una_nuova_classe_dirigente_-291326353/">Brunetta al parlamento (09/03/21)</a>
        <br />
        <br />
        <a href="https://www.agi.it/economia/news/2021-03-10/riforma-pubblica-amministrazione-in-6-punti-11712319/">I punti della nuova riforma</a>
        <br />
        <br />
    </p>
</div>