@{
    Layout = "_Layout";
    ViewData["Title"] = "I riti della repubblica";
    ViewData["Keywords"] = "governo, riti, repubblica, draghi, mattarella, politica, italia, quirinale, campanella, protocollo, ministri, conte";
    ViewData["Descrizione"] = "Sabato abbiamo assistito alla cerimonia del Giuramento del nuovo governo ed al “rito della campanella”. Queste cerimonie estremamente formali e in pompa magna sono sconosciute ai più ma hanno un gran fascino e molti significati simbolici per la nostra Repubblica. ";
}
<div class="container text-center">
    <p class="text-right">
        16 Febbraio 2021
    </p>
    <h1 class="text-primary">I riti della Repubblica</h1>
    <br />
    <h6>
        <span class="font-italic">
            Sabato abbiamo assistito alla cerimonia del Giuramento del nuovo governo ed al “rito della campanella”. Queste cerimonie estremamente formali e in pompa magna sono sconosciute ai più ma hanno un gran fascino e molti significati simbolici per la nostra Repubblica.
        </span>
    </h6>
    <br />
    <p class="text-left">
        Partiamo dall’inizio.
        <br />
        Il primo passo dopo una crisi di governo (Se vuoi capire meglio come funziona una crisi di governo vai al nostro articolo
        <a asp-controller="PoliticandoOggi" asp-action="FiveMinutesCrisis">
            Five minutes crisis
        </a>
        e impara a fare la tua crisi di governo!) è la nomina del Presidente del Consiglio di un nuovo esecutivo.

    </p>
    <br />
    <h4 class="text-primary">La nomina</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        La nomina è l'atto che porta alla formazione del governo e che precede il giuramento del Consiglio dei ministri: infatti il presidente del Consiglio incaricato, dopo delle consultazioni, si reca dal capo dello Stato per sciogliere la riserva.
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/Riti/Matta1.jpg" alt="Mattarella" class="bigImagePolitiCult" />
        </div>
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Che significa sciogliere la riserva?
        Me lo chiedevo pure io…
        <br />
        Sciogliere la riserva è un’espressione che appartiene al gergo politico, e con essa si intende il fatto che una persona che ha accettato un incarico istituzionale con riserva (quindi riservandosi un lasso di tempo per riflettere se accettare o meno l’incarico) decida poi di confermare o rifiutare. Sciogliere la riserva significa prendere definitivamente questa decisione comunicandola al Presidente della Repubblica.
        <br />
        Subito dopo lo scioglimento della riserva si perviene alla firma e alla controfirma dei decreti di nomina del Capo dell'esecutivo e dei ministri. In sintesi il procedimento si conclude con l'emanazione di cinque o sei tipi di decreti del presidente della Repubblica:
    </p>
    <p class="text-left">
        •	Quello di nomina del presidente del Consiglio;
        <br />
        <br />
        •	Quello di nomina dei singoli ministri (controfirmato dal presidente del Consiglio);
        <br />
        <br />
        •	Quello di nomina del sottosegretario di Stato alla Presidenza del Consiglio dei ministri con funzioni di Segretario del Consiglio medesimo;
        <br />
        <br />
        •	Quello di nomina del presidente del Consiglio;
        <br />
        <br />
        •	Quello di un eventuale conferimento a uno o più ministri dell'incarico di Vicepresidente del Consiglio.
        <br />
        <br />
    </p>
    <p class="text-left">
        Per <span class="font-weight-bold">l’articolo 92 della Costituzione</span> infatti il Presidente del Consiglio dei Ministri è <span class="font-weight-bold">nominato direttamente</span> dal Presidente della Repubblica. Allo stesso modo anche i ministri vengono nominati dal Capo dello Stato <span class="font-weight-bold">su suggerimento</span> del Presidente del Consiglio dei Ministri. Per questo motivo tutti i membri del Consiglio dei ministri devono prestare giuramento secondo la formula rituale indicata dalla legge. Il giuramento rappresenta quindi l'espressione del dovere di fedeltà che incombe su tutti i cittadini e, in modo particolare, su coloro che svolgono funzioni pubbliche fondamentali.
    </p>
    <br />
    <h4 class="text-primary">Il giuramento</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Il <span class="font-weight-bold">giuramento</span> del Consiglio dei ministri della Repubblica Italiana è l'atto ufficiale col quale si forma il governo italiano, prestando giuramento <span class="font-weight-bold">davanti al Presidente della Repubblica</span> accompagnato dal suo Segretario Generale al Palazzo del <span class="font-weight-bold">Quirinale</span>.
    </p>
    <br />
    <br />
    <div class="container">
        <img src="~/PoliticandoOggi/Riti/Sala1.jpg" alt="Saladellefeste" class="bigImagePolitiCult" />
    </div>
    <p class="text-left">
        Sala delle feste
        <br />
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        l Presidente del Consiglio e i ministri giurano pronunciando la seguente formula rituale:
        <br />
        <br />
        <span class="font-italic">«Giuro di essere fedele alla Repubblica, di osservarne lealmente la Costituzione e le leggi e di esercitare le mie funzioni nell'interesse esclusivo della Nazione.»</span>
        <br />
        <br />
        Dopodiché si procede alla firma dell’atto ufficiale.
        <div class="container">
            <img src="~/PoliticandoOggi/Riti/Mattadraghi.jpg" alt="DraghiEMattarella" class="bigImagePolitiCult" />
        </div>
    </p>
    <p class="text-left">
        Giuramento Draghi
        
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        È bene precisare che il Presidente del Consiglio e i Ministri assumono le loro responsabilità sin dal giuramento e, quindi, prima del voto di fiducia.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La cerimonia del giuramento avviene nel salone delle feste del palazzo del Quirinale, l'ambiente più maestoso della Sede della Presidenza della Repubblica. Secondo la consuetudine il Presidente del Consiglio e i ministri vanno a giurare uno per volta davanti al Presidente della Repubblica, accompagnato dal Segretario generale che legge le formule di rito, presso un tavolo dove si trovano una copia originale della Costituzione Italiana, conservata presso gli Archivi Storici del Quirinale nel Palazzo Sant'Andrea, e i documenti ufficiali.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Per primo presta giuramento il premier, quindi i ministri senza portafoglio per concludere con i ministri con portafoglio. Dopo aver giurato il Presidente del Consiglio si pone di fianco al Presidente della Repubblica e lo accompagna nel giuramento dei ministri.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        A conclusione di tutto vi sono le foto ufficiali del nuovo Consiglio dei Ministri insieme con il Presidente della Repubblica.
        <br />
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/Riti/gov1.jpg" alt="GovernoDraghi" class="bigImagePolitiCult" />
        </div>
    </p>
    <p class="text-left">
        Foto di rito del nuovo governo
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ogni passo della cerimonia è programmato e si segue alla lettera ogni step nei minimi dettagli.
    </p>
    <br />
    <br />
    <h4 class="text-primary">Palazzo Chigi e la Campanella</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Dopo aver svolto il giuramento del nuovo governo nelle mani del Presidente della Repubblica al Palazzo del Quirinale il neo Presidente esce insieme ai ministri. In questa fase, a seconda del suo stile, carattere e strategia di comunicazione, può scegliere se rilasciare dichiarazioni ai giornalisti, così pure i ministri.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Una volta giunto a Palazzo Chigi, il presidente del Consiglio dei ministri entrante viene accompagnato dal consigliere militare con cui passa in rassegna la guardia d'onore schierata nel cortile interno.
        <br />
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/Riti/Draghi1.png" alt="Gamestop" class="bigImagePolitiCult" />
        </div>
        <br />
    </p>
    <p class="text-left">
        Guardia d’onore
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Salutato il segretario generale alla Presidenza del Consiglio, il neo presidente, venendo ancora accompagnato, sale attraverso lo Scalone d'Onore, giungendo dunque nella Sala delle Galere dove viene accolto dal presidente uscente. Assieme entrano nello Studio presidenziale per un incontro riservato, al termine del quale vengono raggiunti dal sottosegretario alla Presidenza del Consiglio entrante e da quello uscente, coi quali fanno rientro nel Salone delle Galere dove ha luogo la simbolica cerimonia di consegna della campanella.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La cerimonia della campanella (ufficialmente: cerimonia di insediamento del nuovo Governo) è un tradizionale rito simbolico che si svolge a Palazzo Chigi nel quale avviene la consegna dello strumento con cui si dà inizio a tutte le future riunioni del Consiglio dei ministri e che segna formalmente il passaggio di potere tra il presidente del Consiglio uscente e quello entrante.
        <br />
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/Riti/Draghiconte.jpg" alt="DraghiEConte" class="bigImagePolitiCult" />
        </div>
    </p>
    <p class="text-left">
        Passaggio della campanella
    </p>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Il neo presidente del Consiglio rientra quindi nel proprio studio, mentre il presidente uscente, accompagnato dal capo dell'Ufficio del cerimoniale di Stato e per le onorificenze attraverso lo Scalone d'Onore, giunge nel cortile interno e, dopo aver ricevuto gli onori militari da parte della guardia d'onore schierata, lascia Palazzo Chigi.
        <br />
    </p>
</div>