@{
    Layout = "_Layout";
    ViewData["Title"] = "State of the Union";
    ViewData["Keywords"] = "covid, razzismo, xenofobia, blm, usa, sociale, ambiente, anno, 2020, pandemia, virus, soldi, politix";
    ViewData["Descrizione"] = "Molti hanno definito il 2020 l’anno peggiore di sempre, sicuramente avrai sentito parlare delle cose brutte, ma sai cosa è successo di bello? Facciamo un sunto insieme.";
}
<div class="container text-center">
    <p class="text-right">
        11 Aprile 2021
    <p />
    <h1 class="text-primary">State of the Union</h1>
    <br />
    <h6>
        <span class="font-italic">
            Negli ultimi giorni hanno fatto scalpore le parole della Presidente della Commissione Europea Ursula Von Der Leyen sul nostro Paese ed in particolare su Firenze.
            <br />
        </span>
    </h6>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Come abbiamo già detto nell'articolo
        <a asp-controller="PolitiCult" asp-action="LItalianaUrsula">
            L'italiana Ursula
        </a>
        , la presidente ama l’Italia, ma è sempre bello sentire parole simili dette da stranieri (soprattutto a questi livelli). Se te lo sei perso ti consiglio di recuperarlo :
        <br />
        <br />
        <a href="https://www.youtube.com/watch?v=OzujI3OdZEA">Da Firenze il nuovo rinascimento d’Europa (youtube)</a>
        <br />
        <br />
        <a href="https://www.youtube.com/watch?v=IQ-xDKTHFKQ">Don Milani e Barbiana (youtube)</a>
        <br />
    </p>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Questo discorso rientra in una serie di eventi tenuta annualmente in questo periodo a Fiesole (FI) dall’European University Institute che prende il nome di “The State of the Union”. Consiste in “un vertice annuale per riflessioni ad alto livello sull'Unione Europea che funge da ponte tra il mondo accademico e il processo decisionale al più alto livello in Europa. Ogni anno la città di Firenze diventa un fulcro di dibattiti in quanto esperti di grande rilevanza istituzionale e accademica, business e opinion leader, ONG, think tank, giornalisti e rappresentanti della società civile si riuniscono per discutere e dibattere sulle principali sfide e opportunità per l'Europa e gli Europei. L'edizione ogni anno è incentrata su un unico focus, poiché i panel e i discorsi principali rispondono alle circostanze di un'Europa e di un mondo che cambia.”.
        <br />
        <br />
        Il punto a cui voglio arrivare è che leggendo dai giornali anche noi di PolitiX lo avevamo confuso con lo “State of the European Union” (sì, si chiamano allo stesso modo infatti…) il che ci ha dato lo spunto di affrontare il tema delle istituzioni europee e dei loro riti, sconosciuti ai più ma estremamente rilevanti.
    </p>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Partiremo quindi da qui, cos’è lo <span class="font-weight-bold">Stato dell'Unione europea</span>?
        <br />
        <br />
        <span class="font-italic">“Il dibattito sullo Stato dell'Unione è un'occasione fondamentale per dimostrare la responsabilità della Commissione europea nei confronti dei rappresentanti democraticamente eletti dell'UE. Si concentra su questioni importanti quali la futura ripresa economica, i cambiamenti climatici, la disoccupazione giovanile e i flussi migratori. Questo evento annuale serve a promuovere un'Unione più trasparente e democratica. Si tratta di un'opportunità per avvicinare l'Unione europea ai suoi cittadini, ponendo l'accento sui principali punti d'azione e le principali sfide dell'anno. Al cuore di questo dibattito in plenaria unico nel suo genere vi sono i diritti dei cittadini e il processo democratico.”</span>

        <br />
        <br />
        È stato istituito nel 2009 col Trattato di Lisbona con lo scopo di rendere la vita politica dell'Unione più democratica e trasparente rispetto a quello che era sino ad allora. Il discorso è seguito da un dibattito generale sulla situazione politica dell'Unione, il cosiddetto dibattito sullo stato dell'Unione. È uno dei momenti più importanti per la vita democratica dell’Unione poiché nella serie di eventi previsti vengono affrontate le aspettative, le paure, i dubbi e le proposte dei cittadini; si mette in discussione l’operato dell’UE nel corso dell’anno passato e si ragiona e si progetta quello che le istituzioni europee dovranno affrontare nel corso dell’anno successivo. Il momento più alto è il discorso sullo stato dell’Unione tenuto dal/dalla presidente della Commissione Europea, ispirato al discorso sullo stato dell’unione statunitense.
        <br />
    </p>
    <p class="text-left">
        <br />
        L’evento di Fiesole e di Strasburgo/Bruxelles sono connessi? Assolutamente sì, è per questo che prima (a maggio) si tiene l’evento di Fiesole: serve a connettere il mondo accademico, con le sue ricerche, critiche, dibattiti, alle istituzioni europee. A questo confronto vengono aggiunte le opinioni, le critiche e le domande dei cittadini attraverso il Parlamento Europeo e il tutto viene quindi affrontato in Commissione.
        <br />
        <br />
        Per approfondire tutti questi organi restate sintonizzati su PolitiX e sui prossimi Politicando Oggi!
        <br />
    </p>
</div>