@{
    Layout = "_Layout";
    ViewData["Title"] = "Tecnici Vs Politici";
    ViewData["Keywords"] = "covid, governo, crisi, draghi, ministri, tecnici, governo tecnico, crisi governo, 2021, pandemia, virus, soldi, politix";
    ViewData["Descrizione"] = "adesso ci concentreremo però sulla costituzione dell’entourage di ministri del nascente governo Draghi.";
}
<div class="container text-center">
    <p class="text-right">
        10 Febbraio 2021
    </p>
    <h1 class="text-primary"> Tecnici Vs Politici </h1>
    <br />
    <h6>
        Tra le tante sfide epocali come Ettore contro Achille, mostri contro alieni o Iron Man e Capitan America in questi giorni
        la contesa è stata fra due diversi tipi di classe dirigente: tecnici contro politici. È anche questa una sfida antica come
        le altre e composta da numerosi episodi nella storia d’Italia, adesso ci concentreremo però sulla costituzione dell’entourage
        di ministri del nascente governo Draghi.
    </h6>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Innanzitutto, se ancora non avete ben chiaro cosa sta succedendo o non sapete di cosa stiamo parlando,
        date un occhio al precedente articolo di PoliticandoOggi 
        <a asp-controller="PoliticandoOggi" asp-action="FiveMinutesCrisis">
            Five minutes crisis
        </a>
        dove potrete capire cos’è una crisi governo e come generarla e gestirla.
        <br />
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Per chi invece non aspetta altro che capire i nomi di spicco del prossimo esecutivo, andiamo avanti!
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Partiamo dalla domanda più banale (ma non per questo meno essenziale): qual è la differenza tra un governo tecnico
        ed un governo politico? Premettiamo intanto che tutti i governi stanno in piedi per una volontà politica, dato che
        tutti i governi per insediarsi necessitano si una maggioranza in Parlamento che approvi il voto di fiducia
        (ancora una volta, se non avete idea di queste cose passate dal link sopra). Nessun governo in Italia può quindi
        governare se non ci sono abbastanza parlamentari (votati direttamente dagli italiani) che lo supportino approvando le
        leggi e garantendogli l’appoggio.
        <br />
        <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Detto questo tra i due governi vi è una differenza sostanziale: quello politico è composto da Presidente del consiglio e
        ministri e viceministri che appartengono alla classe politica e che sono espressione del partito/coalizione che ha ottenuto la
        maggioranza dei voti alle elezioni; invece il governo tecnico è formato da premier e ministri esperti di varie branche scientifiche
        e sociali e dunque figure tecniche riguardo ad un particolare settore.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Di norma ogni governo è politico, dato che i suoi componenti sono espressione della maggioranza politica che è risultata vincitrice
        alle elezioni e che ha ottenuto il numero maggiore di seggi in parlamento. Il Presidente del consiglio nel governo politico può
        coincidere con il segretario del partito o essere un’altra figura ampiamente riconosciuta all’interno della maggioranza.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La cosa importante è che il programma e la tabella di marcia dell’esecutivo politico ricalcano i principi, gli ideali e gli
        obiettivi del partito o dei partiti che rappresenta.
        <br />
    </p>
    <p class="text-left">
        <br />
        <i class="fa fa-share text-primary"></i>
        Come indica il nome stesso, un esecutivo si dice “tecnico” quando invece suoi componenti, premier incluso, non rappresentano
        la volontà dei partiti di maggioranza ma sono personalità con competenze tecniche, soprattutto in materia di economia, finanza
        pubblica e statistica, spesso di fama internazionale.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il loro incarico serve a risolvere situazioni emergenziali, ad esempio la crisi finanziaria che ha richiesto l’intervento
        di Mario Monti come premier nel 2011. Allo stesso modo si ritiene adesso che per risollevare l’economia del Paese dai danni
        economici causati dal Covid-19, occorra una squadra al governo che non faccia gli interessi di nessun partito (dal momento in
        cui questi ultimi non sono riusciti a trovare punti di convergenza tali da formare una maggioranza politica) ma che, al contrario,
        guardi soltanto alle emergenze impellenti ed i gravi problemi che attanagliano il Pese in questo momento storico
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Simili al governo tecnico sono anche il governo istituzionale e di scopo, accomunati dal fatto che i loro componenti non
        appartengono a nessun partito o fazione. Quello di Draghi è stato battezzato dal Presidente della Repubblica un governo
        “di alto profilo” data l’importanza del cursus honorum del Premier incaricato.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ad oggi non sappiamo la squadra di ministri come sarà composta, se di solo tecnici o anche da figure politiche dei partiti
        che supporteranno il nuovo governo. In questo momento l’ipotesi più probabile sembri un esecutivo misto: con i ministeri più
        delicati e strategici affidati a tecnici competenti ed i ministeri meno rilevanti per le emergenze del momento invece saranno
        dati in mano a politici.
        <br />
        <br />
        Se però amate le scommesse ed il brivido di una sfida al fantacalcio, vi propongo di fare, in queste ore d’attesa che ci rimangono,
        il vostro FantaGoverno. Quale giocatori schierereste nei vari ministeri vacanti? Un link che vi darà alcuni spunti
        <a href="https://www.corriere.it/politica/21_febbraio_05/totoministri-conferme-nuovi-ingressi-speranza-bellanova-nomi-giorgetti-tajani-4972dea0-67f2-11eb-92aa-881f0caf741f.shtml">
            CORRIERE: Totoministri, conferme e nuovi ingressi: con Speranza e Bellanova
            i nomi di Giorgetti e Tajani
        </a>
    </p>
</div>