@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Tik Tok Vs America";
    ViewData["Keywords"] = "Tik Tok, TikTok, Usa, Cina, Trump, scontro, tech";
    ViewData["Description"] = "C'è chi lo ama e chi lo odia il social media cinese che ha scalato le classifiche di tutti gli store. Forse non sapevi però che l'applicazione è stata criticata aspramente da Trump e ha rischiato, e tutt'ora rischia, di essere bandita negli Stati Uniti.";
}
<div class="container text-center">
    <h1 class="text-primary">Tik Tok , lo scontro tra Cina e Usa – sicurezza nazionale o propaganda politica? </h1>
    <br />
    <h6>
        C'è chi lo ama e chi lo odia, ma tutti o quasi hanno sentito parlare di “Tik Tok”, il popolare
        social media cinese che ha rapidamente scalato le classifiche di tutti gli store. Forse non sapevi
        però che l'applicazione è stata criticata aspramente da Trump e ha rischiato, e tutt'ora rischia,
        di essere bandita negli Stati Uniti.
        Scopriamo le ragioni che stanno dietro a questa particolare vicenda.
    </h6>
    <br />
    <br />
    <h4 class="text-primary">Cos’è Tik Tok : una panoramica </h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Musical.ly, rinominata poi in Tik Tok il 2 Agosto 2018 con l’acquisizione da parte di ByteDance,
        è un social network cinese dove gli utenti possono caricare e modificare, con effetti e musica,
        clip da i 15 ai 60 secondi. Una introduzione non è quasi necessaria, date le dimensioni che questa
        app ha raggiunto, pensate che ha ottenuto un totale di 1.5 miliardi di download, con 738 milioni
        soltanto durante l’ultimo anno. Per comprendere meglio questi numeri, basti pensare che, nonostante
        sia attiva da molto meno tempo delle altre app nella lista, ha già raggiunto il 7° posto nella
        classifica delle applicazioni più scaricate di tutti i tempi e non accenna a rallentare la sua
        ascesa. Ma forse ti eri già accorto di quanto fosse onnipresente guardando i tuoi amici o
        addirittura tua nonna che ci passano giornate intere,
        guardando un video dopo l’altro o provando loro stessi le coreografie più famose.
        <br />
    </p>
    <br />
    <br />
    <div class="container">
        <img src="~/PoliticandoOggi/TikTokVsAmerica/TikTokVsAmerica-DownloadsTikTok.png" alt="Tik Tok downloads" class="bigImagePolitiCult" />
    </div>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Tra gli stati dove Tik Tok riscuote più successo troviamo la Cina stessa,
        l’India e gli Stati Uniti, dove l’applicazione è stata scaricata 41 milioni di
        volte soltanto nell’arco del 2019.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Secondo un report di emarketer.com soltanto il 9% degli americani usa Tik Tok, statistica
        che di per sé sembra abbastanza marginale. La prospettiva cambia però se andiamo a restringere
        il campo ai teenargers, dove quasi 1 americano su 2 afferma di aver usato l’applicazione
        nell’ultimo mese. Uno scenario che non sembra essere lontano da quello che abbiamo anche qua
        in Italia, almeno a giudicare dalla
        quantità di Tik Tok ripostati nei reels di Instagram.
    </p>
    <br />
    <h4 class="text-primary">Lo scontro con gli Usa </h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Poniamoci ora una domanda seria ossia: “come può una applicazione per coreografie e musica,
        che a molti di noi può sembrare un passatempo simpatico o tuttalpiù una cringe compilation
        condensata in app, rappresentare un pericolo per la sicurezza nazionale americana?”
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ancora prima di finire nel mirino di Trump, l’applicazione era stata colpita
        il 3 aprile 2019 da un ban di due settimane da parte del governo Indiano, 2° paese per
        numero di download, in quanto, a parere dell’Alta Corte di Madras, “incoraggia la pornografia”
        e mostra “contenuti inappropriati” a milioni di utenti minorenni. Per conformarsi alle linee
        guida indiane, Tik Tok ha rimosso oltre 6 milioni di video, ponendo fine così alla restrizione
        e venendo reinserita sugli store Android e Apple.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Questa manovra non ha però soddisfatto il governo indiano,
        che il 29 giugno 2020 ha deciso di bandire permanentemente Tik Tok e altre 58 app cinesi,
        motivando la decisione con presunte minacce alla sicurezza del paese. La manovra è piaciuta
        ancora meno a Tik Tok stessa, che non solo ha perso 6 miliardi di dollari di fatturato che
        era generato dall’utilizzo dell’app in India, ma soprattutto i video di fantastica qualità
        e regia che la gioventù Indiana era in grado di regalare al mondo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Il 3 Agosto 2020 gli Stati Uniti hanno deciso di seguire la linea indiana
        e hanno minacciato di vietare Tik Tok negli States. Trump in particolare deve aver visto
        che suo figlio passava troppo tempo sull’app piuttosto che a investire in borsa, al punto
        che ha firmato due ordini esecutivi che vietavano le transazioni statunitensi con
        l’applicazione cinese, nel caso essa non fosse stata venduta entro 45 giorni ad una
        società americana.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nonostante le proposte di acquisto da parte di colossi americani come Oracle e
        Microsoft, a oggi Tik Tok rimane ancora di proprietà di ByteDance, che ha affermato di voler 
        intraprendere azioni legali per contestare i divieti imposti da Trump.
        <br />
        </p>
    <br />
    <h4 class="text-primary">I rischi</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        A un osservatore esterno tutte queste misure contro una applicazione dove
        gran parte del contenuto consiste in coreografie e balletti più o meno elaborati,
        potrebbero sembrare eccessive, se non totalmente ingiustificate. Dunque qual è
        la ragione dietro ad una manovra così drastica da parte degli Usa?
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Per il presidente degli Stati Uniti, Tik Tok sarebbe utilizzata dal
        governo Cinese per ottenere grandi quantità di dati e informazioni sui cittadini americani,
        agendo quindi al pari di un malware che infetta un computer e lo spia senza essere rilevato.
        Secondo gli esperti però la quantità di dati che l’applicazione cinese ottiene da ogni user è
        in linea con quella di altri social media, come Facebook e Instagram. Infatti,
        anche se molti non lo sanno, i nostri social preferiti acquisiscono in modo legale,
        anzi proprio grazie al nostro consenso, una quantità esorbitante di informazioni
        sul nostro conto che vengono venduti alle aziende che li usano per “bombardarci” di
        pubblicità proprio del prodotto che più corrisponde ai nostri gusti e desideri (che coincidenza eh?).
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Inoltre un tentativo di reverse engineering, ossia una analisi
        molto accurata dei file che compongono l’app allo scopo di trovare anomalie, non ha
        rivelato alcuna anormalità che potesse giustificare le accuse di Trump.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Nonostante quindi l’improbabilità che informazioni su utenti americani siano raccolte da Tik Tok,
        l’influenza che il Governo Cinese può avere sulla userbase americana attraverso l’app non si limita
        solo a questo. Tramite la moderazione dei contenuti mostrati agli utenti e l’eliminazione di commenti
        che contrastano l’ideale governativo Cinese, l’applicazione ha la possibilità di avere un impatto
        molto più significativo rispetto alla semplice raccolta di dati. Scandali di questo tipo non
        sono assolutamente da escludere in quanto hanno coinvolto in passato anche social media di uso
        comune come Facebook e Twitter, che sono stati accusati di non aver moderato abbastanza la
        diffusione di fake news e di aver promosso la circolazione
        di alcune notizie rispetto ad altre.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Sono state inoltre dimostrati rapporti radicati tra ByteDance e il Partito Comunista Cinese,
        che in passato ha imposto alla azienda la rimozione di alcuni commenti contrari al sistema
        cinese o che facevano riferimento alle proteste di Hong Kong e alla strage di Tienanmen square
        del 1989.
    </p>
    <br />
    <br />
    <img src="~/PoliticandoOggi/TikTokVsAmerica/TikTokVsAmerica-Tianasquare.jpg" alt="Tik Tok" class="bigImagePolitiCult" />
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        A seguito di pressioni da parte del Governo cinese, l’azienda
        ha comunicato che assumerà tra i propri moderatori membri dello stesso per facilitare
        la gestione di temi controversi. In pratica è come se si fossero alleati con
        l’impostore di Among us per evitare di essere uccisi, strategia che porta o
        alla sconfitta, o all’essere scambiati per impostori, dunque non una mossa
        saggia da parte della compagnia cinese, ma forse l’unica che potevano
        intraprendere nella loro situazione.  In Cina il supporto del partito è
        cruciale per il successo dell’applicazione: spesso infatti applicazioni il
        cui contenuto non è in linea con le idee del governo sono state ristrette o
        addirittura eliminate completamente dall’accesso al pubblico proprio per
        l’intervento del governo Cinese. Bytedance stessa ha subito direttamente
        questo destino nel 2018, anno in cui il governo ha bandito una delle applicazioni
        sviluppate dalla compagnia in quanto contraria ai suoi principi.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Dunque, per quanto l’applicazione possa sembrare totalmente innocua, la possibilità che essa
        nasconda una problematica reale è presente e le accuse del governo americano, all’apparenza
        ingiustificate, acquistano una validità maggiore che non va trascurata.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Se la privacy non ti interessa, o non ritieni che tramite Tik Tok le tue opinioni
        possano essere influenzate, allora potrai continuare a goderti la tua applicazione preferita,
        però con una maggiore consapevolezza dei potenziali rischi a cui vai incontro aprendo l’app
        per un nuovo swipe.
    </p>
    <br />
</div>