@{
    Layout = "_Layout";
    ViewData["Title"] = "Un assembramento spaziale";
    ViewData["Keywords"] = "spazio, nasa, luna, marte, spacex, soldi, usa, politix, politixitalia, covid, starlink, satelliti, futuro";
    ViewData["Descrizione"] = "quanto effettivamente dipendiamo dalle migliaia di satelliti artificiali in orbita terrestre";
}
<div class="container text-center">
    <p class="text-right">
        10 Marzo 2021
    </p>
    <h1 class="text-primary">Un assembramento spaziale</h1>
    <br />
    <h6>
        <span class="font-italic">In un'epoca in cui ogni cosa è connessa a Internet e dove gran parte dei paesi del mondo sta avviando una campagna per una digitalizzazione sempre più accelerata, è facile dimenticarsi di come tutta questa interconnessione sia possibile e di quanto effettivamente dipendiamo dalle migliaia di satelliti artificiali in orbita terrestre.</span>
    </h6>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Con gran parte del mondo chiuso in casa dopo l’avvento del CoVid – 19, l’accesso a una buona connessione Internet è diventato estremamente utile se non indispensabile. Con un così grande aumento della domanda anche nelle aree più remote del pianeta, vi è stato nell’ultimo periodo anche un incremento di soluzioni alternative a quelle tradizionali.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Tra le più note vi è Starlink, compagnia fondata da Elon Musk nel 2015, che promette di portare Internet veloce a bassa latenza in ogni angolo del pianeta. Questo sarebbe possibile tramite l’uso di satelliti a bassa quota che potrebbero garantire una latenza compresa tra i 25 e i 35 ms e velocità di download di circa 1Gbps. Per mettere in moto la sua idea, Elon si sta affidando ai razzi sviluppati da SpaceX, un’altra delle sue molte compagnie, tramite la quale ha già portato in orbita più di mille satelliti.
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/UnAssembramentoSpaziale/Terra1.jpeg" alt="Terra" class="bigImagePolitiCult" />
        </div>

    </p>
    <p class="text-left">
        <span class="font-italic" inert>Immagine di un lancio SpaceX con lo scopo di rilasciare satelliti Starlink – 24 Maggio 2019</span>
    </p>
    <br />
    <p class="text-left">
        <br />
        <i class="fa fa-share text-primary"></i>
        Come per SpaceX, Musk ha trovato un concorrente accanito in Jeff Bezos, creatore di Amazon e uomo più ricco del mondo. Bezos ha infatti lanciato “Blue Origin”, la sua azienda di missili riutilizzabili, sulla scia di quella di Musk e sembra intenzionato a fare lo stesso con “Project Kuiper”, che promette anch’esso di garantire Internet veloce tramite l’utilizzo di satelliti, proprio come Starlink. A differenza di Musk però, il progetto di Bezosos è ancora in alto mare e, nonostante sia stato avviato nel 2019, non ha ancora portato in orbita nessun satellite.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        La disputa tra i due uomini più ricchi del mondo è sorta quando Starlink ha presentato una richiesta alla “Federal Communications Commission” per poter posizionare i propri satelliti a un’orbita più bassa di quella inizialmente programmata. Di fronte a questa richiesta, Bezosos si è intromesso, affermando che "Project Kuiper" è stata progettata proprio tenendo conto delle orbite dei satelliti lanciati da Musk e un cambio nelle orbite della flotta di Starlink avrebbe delle ripercussioni negative sul piano già elaborato. Elon ha ribattuto che non ha senso impedire lo spostamento ai satelliti della sua compagnia per favorire "Project Kuiper" quando esso è ancora a molti anni di distanza dall’essere operativo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Sebbene Starlink abbia già in orbità moltissimi satelliti, il piano finale prevede ne l’utilizzo di circa 12 mila, che garantirebbero una copertura globale e, grazie alla bassa quota a cui operano, anche con una velocità non indifferente.
    </p>
    <br />
    <div class="container">
        <img src="~/PoliticandoOggi/UnAssembramentoSpaziale/Reticolo.jpeg" alt="reticolo" class="bigImagePolitiCult" />
    </div>
    <p class="text-left">
        <span class="font-italic" inert>Rappresentazione della flotta Starlink che potrebbe coprire l’intero pianeta in futuro</span>
        <br />
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Ma come potremmo gestire in futuro il crescente numero di satelliti in orbita, soprattutto quando molti di loro diventeranno danneggiati o obsoleti?
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Secondo i ricercatori dell’Università Tecnica Statale di Mosca sarebbe possibile utilizzare dei laser diretti contro i satelliti per distruggerne in modo strategico alcune parti e ridurli in pezzi di dimensione minore e meno pericolosi. Questa metodologia sarebbe simile a quella usata nel trattamento laser applicata contro i tumori maligni che si presentano nel corpo umano e potrebbe rivelarsi un metodo di eliminazione promettente.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Visto dunque il crescente numero di satelliti in orbita, che non farà altro che aumentare negli anni a seguire, è necessario, non solo definire una legislatura internazionale che gestisca l’assegnazione di porzioni dello spazio a specifiche compagnie tramite procedure assimilabili a quelle di un bando per un’opera edilizia, ma anche sviluppare un modo sicuro ed efficace per individuare e distruggere i satelliti inattivi, così da scongiurare che in futuro la terra sia una discarica spaziale di satelliti in disuso.
        <br />
        <br />
    </p>
    <div class="container">
        <img src="~/PoliticandoOggi/UnAssembramentoSpaziale/Terra22.jpeg" alt="Terra2" class="bigImagePolitiCult" />
    </div>

    <p class="text-left">
        <span class="font-italic" inert>Illustrazione dei detriti spaziali (non in scala).</span>
        <br />
    </p>
    <br />
</div>