@{
    Layout = "_Layout";
    ViewData["Title"] = "Un’Australia senza Google";
    ViewData["Keywords"] = "Google, Internet, web, australia, politica, scontro, tech, www, ricerca, big tech, link";
    ViewData["Descrizione"] = "Mentre il mondo intero è in guerra contro il Coronavirus, l’Australia sta combattendo un’altra battaglia con altrettanta determinazione: quella contro Google.";
}
<div class="container text-center">
    <p class="text-right">
        26 Gennaio 2021
    </p>
        <h1 class="text-primary">Un’Australia senza Google</h1>
        <br />
        <h6>
            Mentre il mondo intero è in guerra contro il Coronavirus,
            l’Australia sta combattendo un’altra battaglia con altrettanta
            determinazione: quella contro Google.
        </h6>
        <br />
        <br />
    <p class="text-left">
        Recentemente un portavoce di Google ha espresso la possibilità di sospendere a tempo
        indeterminato il servizio “Google search” in Australia, nel caso che una proposta di
        legge attualmente in discussione nel paese entri in vigore.
        <br />
    </p>
    <br />
    <br />
    <h4 class="text-primary">In cosa consiste questa legge che tanto spaventa il colosso delle Big Tech?</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Il “New Media Barganing Code” si propone di ristabilire gli equilibri tra
        le Media Companies australiane e i grandi provider di notizie come Google e
        Facebook tramite un obbligo governativo che costringerebbe i due Tech Giants
        a remunerare gli autori per gli spezzoni e addirittura i link agli articoli
        che compaiono all’interno delle loro piattaforme.
        <br />
    </p>
    <br />
    <br />
    <div class="container">
        <img src="~/PoliticandoOggi/UnAustraliaSenzaGoogle/tribunale.jpeg" alt="googleLogo" class="bigImagePolitiCult" />
    </div>
    <br />
    <br />
    <h4 class="text-primary">Quali pagamenti sarebbero dovuti secondo la legge?</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Secondo quando descritto nella proposta di legge, i media outlet avrebbero la possibilità di
        stringere accordi individuali oppure a livello collettivo con Facebook e Google.
        Inoltre sarebbe prevista la possibilità di fare riferimento a un organo terzo che dovrebbe
        intervenire per decidere arbitrariamente un prezzo appropriato. Questo intervento si verificherebbe,
        o sotto richiesta esplicita da parte di compagnie meno affermate e quindi incapaci di sostenere un
        confronto diretto con Google, o nel caso in cui le trattative individuali tra le parti si protraessero
        per più di 3 mesi.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Inoltre, sempre secondo il “New Media Barganing Code”, qualsiasi cambiamento negli algoritmi
        delle piattaforme che presenti la possibilità di impattare in modo significativo le visite e
        quindi il ricavato ottenuto dai News Provider, dovrà essere comunicato agli interessati almeno
        14 giorni prima della sua implementazione, in modo che vi sia la possibilità di prepararsi e
        di prendere le misure necessarie per adattarsi al nuovo sistema.
    </p>
    <br />
    <h4 class="text-primary">Le ragioni e i commenti delle parti</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Secondo il governo australiano, mantenere delle piattaforme di diffusione delle notizie salde
        e indipendenti è uno dei capisaldi della democrazia e, soprattutto in questo periodo di
        transizione dalle news cartacee a quelle digitali, piattaforme come Google e Facebook si
        stanno arricchendo tramite le persone che ricercano queste notizie, senza pagare niente a
        coloro che di fatto le producono.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Dopo un’udienza con il Senato a Canberra, Mel Silva, consigliere delegato di Google in Australia.
        Ha affermato che “allo stato attuale, questo progetto di legge andrebbe a impattare il modo in cui
        milioni di utenti utilizzano l’Internet” e ha minacciato che “se dovesse diventare legge, non lascerebbe
        a Google altra scelta se non terminare completamente il proprio servizio in Australia”.
    </p>
    <br />
    <br />
    <h4 class="text-primary">Una possibile alternativa</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Secondo Silva il modello di Google è costruito sulla possibilità di “linkare liberamente
        tra i vari siti” e una legge di questo tipo eliminerebbe completamente la possibilità di farlo,
        salvo incorrere in sanzioni.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Una possibile alternativa proposta dal Tech Giant sarebbe l’ingresso delle compagnie australiane
        dell’informazione nel “News Showcase” un programma lanciato da Google lo scorso anno che ha come
        obiettivo quello di remunerare appropriatamente gli autori degli articoli per l’utilizzo che Google
        fa dei loro contenuti.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Inoltre, a parere di Silva, il provvedimento che obbligherebbe la preventiva comunicazione di ogni
        cambiamento negli algoritmi con 2 settimane di preavviso dovrebbe essere abrogato, in quanto Google
        andrebbe a farlo autonomamente nei casi in cui ogni eventuale modifica dovesse impattare sui News Provider.
        <br />
    </p>
    <br />
    <h4 class="text-primary">Questo decreto è un bene o un male per l’Internet?</h4>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Berners-Lee, il creatore di Internet ha commentato la faccenda affermando che quando ha creato
        il World Wide Web nel 1989, ha condiviso l’idea e il software correlato gratuitamente proprio
        nell’ottica che a nessuno fosse impedito l’accesso ai suoi servizi a causa dei costi da sostenere.
        <br />
        <div class="container">
            <img src="~/PoliticandoOggi/UnAustraliaSenzaGoogle/oldpc.jpeg" alt="BernersLee" class="bigImagePolitiCult" />
        </div>
    </p>
    <p class="text-left">
        Berners Lee – creatore del World Wide Web
        <br />
    </p>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Se però un decreto del genere dovesse diventare effettivamente legge porterebbe moltissimi paesi e
        organizzazioni private a copiare l’idea, introducendo moltissime complicazioni anche solo nella condivisione
        di un link. Infatti, sebbene sia giusto ricompensare coloro che creano gli articoli per l’utilizzo dei loro contenuti,
        è necessario che la premessa fondante di Internet, ossia una condivisione libera e gratuita dei contenuti,
        sia preservata nel raggiungimento di questo obiettivo.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Riguardo inoltre alla guerra sempre più accesa contro le Big Tech, Berners-Lee afferma che compagnie
        come Google e Facebook non si limitano a raccogliere link a articoli che ritengono validi, ma li presentano
        ai loro user in modi interessanti e creativi, aumentando quindi anche il traffico che questi articoli ricevono.
        Traffico che ha come conseguenza una maggiore esposizione alle pubblicità che di fatto permettono ai giornali
        di autosostenersi.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Quindi, per quanto le intenzioni di questa legge siano ottime, è necessario che sia modificata in alcuni
        aspetti fondamentali in modo che l’Internet non diventi bloccato da costi aggiuntivi e restrizioni soffocanti,
        ma possa rimanere il luogo di condivisione e creatività che il suo inventore aveva immaginato.
        <br />
    </p>
</div>