
@{
    Layout = "_Layout";
    ViewData["Title"] = "Chi Siamo";
}


<div class="container text-center">
    <h1 class="text-primary">Chi siamo?  </h1>
    <h5>
        PolitiXitalia è un progetto nato ad inizio 2020, quando, nel caos generale causato dal Covid19,
        abbiamo sentito la necessità di fare chiarezza sugli argomenti scottanti dell’attualità politica in Italia.
        Abbiamo voluto uno strumento di lettura e confronto che fosse imparziale e apartitico, e che permettesse a tutti, ed in particolare a noi giovani,
        di avvicinarsi da zero al mondo della politica in maniera rapida, semplice e diretta. Cerchiamo di ripensare
        l’informazione sullo stile delle tua serie tv preferite: puntate brevi, ricche di contenuti e curiosamente accattivanti.
    </h5>

    <br />
    <br />
    <br />
    <br />

    <h6>
        Alberto Generini – <a href="https://www.instagram.com/albertogenerini/" target="_blank">Instagram:albertogenerini</a>
        <br />
        <span class="font-weight-normal">UniFi - Studente di Scienze della Comunicazione  </span>
        <br />
        <span class="font-weight-normal">- Autore Contenuti - Fondatore</span>
    </h6>

    <h6>
        Lorenzo Lavacchini - <a href="https://www.instagram.com/lorenzo_lavacchini/" target="_blank">Instagram:lorenzo.lavacchini</a>
        <br />
        <span class="font-weight-normal">UniFi - Studente di Ingegneria Informatica </span>
        <br />
        <span class="font-weight-normal">- Sviluppo - Fondatore</span>
    </h6>

    <h6>
        Edoardo Marani - <a href="https://www.instagram.com/edo_mara_/" target="_blank">Instagram:edo_mara_</a>
        <br />
        <span class="font-weight-normal">Scuola Superiore Sant'Anna Pisa - Studente di Scienze Economiche e Manageriali </span>
        <br />
        <span class="font-weight-normal">- Autore Contenuti - Fondatore</span>
    </h6>

    <h6>
        Andrea Torrini - <a href="https://www.instagram.com/andreatorrini28/" target="_blank">Instagram:andreatorrini28</a>
        <br />
        <span class="font-weight-normal">UniFi - Studente di Ingegneria Elettronica</span>
        <br />
        <span class="font-weight-normal">- Sviluppo - Fondatore</span>
    </h6>

    <h6>
        Sergio Cibecchini - <a href="https://www.instagram.com/sergiocibecchini" target="_blank">Instagram:sergiocibecchini</a>
        <br />
        <span class="font-weight-normal">UniFi - Studente di Ingegneria Informatica</span>
        <br />
        <span class="font-weight-normal">- Autore Contenuti - Social Media </span>
    </h6>

    <h6>
        Olivia Passarella - <a href="https://www.instagram.com/olivia_passarella" target="_blank">Instagram:olivia_passarella</a>
        <br />
        <span class="font-weight-normal">UniFi - Studentessa di Scienze Politiche - Studi Internazionali</span>
        <br />
        <span class="font-weight-normal">- Social Media Manager - Autore Contenuti  </span>
    </h6>

    <h6>
        Piero Niccolai - <a href="https://www.instagram.com/pieroniccolai.exe" target="_blank">Instagram:pieroniccolai.exe</a>
        <br />
        <span class="font-weight-normal">UniPi - Studente di Ingegneria Meccanica</span>
        <br />
        <span class="font-weight-normal">- Sviluppo </span>
    </h6>
    <h6>
        Emma Giusti - <a href="https://www.instagram.com/emma_giust" target="_blank">Instagram:emma_giust</a>
        <br />
        <span class="font-weight-normal">UniFi - Studentessa di Disegno industriale</span>
        <br />
        <span class="font-weight-normal">- Design e grafiche </span>
    </h6>
   
</div>



