@{
    ViewData["Title"] = "Home Page";
}

    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm-4 colonna" style="color:red">
                <p>Sei atterrato su un progetto che ha l'ambizione di risultare un paladino digitale della democrazia.</p>
            </div>

            <div class="col-sm-4">
                <p>Sappi che democrazia per noi non significa soltanto poter esprimere il proprio parere politico.</p>
            </div>

            <div class="col-sm-4">
                <p>Democrazia significa avere tutti gli strumenti e la conoscenza a portata di mano per compiere delle scelte libere.</p>
            </div>


        </div>

        <hr />
    </div>
