@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center">
    <h1 class="text-primary">Chi Siamo?</h1>
    <h5>Cerchi qualcuno che ti spieghi la politica in vista dei prossimi impegni elettorali?  </h5>
    <h5>Ti piacerebbero spiegazioni lineari, veloci, dirette?</h5>
    <h5>Allora scegli una delle sezioni qui sotto, le abbiamo fatte proprio per questo.</h5>
</div>

<br />


<div class=" container">
    <div class="card-deck text-center marginecarddecks">
        <div class="card cardnumber1 cardhover p-1 " style="width: 100%;">
            <img src="~/ImmaginiIndex/ElezioniRegionaliQuadrato.png" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard">Elezioni Regionali</h5>
                <p class="card-text"></p>
                <a asp-controller="Home" asp-action="ElezioniRegionali" class="btn btn-primary">Scopri di più</a>
            </div>
        </div>

        <div class="card cardnumber2 cardhover p-1" style="width:100%">
            <img src="~/ImmaginiIndex/ReferendumQuadrato.png" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard">Referendum</h5>
                <p class="card-text"></p>
                <a asp-controller="Home" asp-action="Referendum" class="btn btn-primary" alt="immagine non trovata">Scopri di più</a>
            </div>
        </div>

        <div class="card cardnumber3 cardhover p-1" style="width: 100%;">
            <img src="~/ImmaginiIndex/PartitiQuadrato.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard">Partiti</h5>
                <p class="card-text"></p>
                <a asp-controller="Home" asp-action="Partiti" class="btn btn-primary" alt="immagine non trovata">Scopri di più</a>
            </div>
        </div>
    </div>
</div>




<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 colonna" style="color:red">
            <p>Sei atterrato su un progetto che ha l'ambizione di risultare un paladino digitale della democrazia.</p>
        </div>

        <div class="col-sm-4">
            <p>Sappi che democrazia per noi non significa soltanto poter esprimere il proprio parere politico.</p>
        </div>

        <div class="col-sm-4">
            <p>Democrazia significa avere tutti gli strumenti e la conoscenza a portata di mano per compiere delle scelte libere.</p>
        </div>


    </div>

    <hr />
</div>-->
