@{
    Layout = "_Layout";
    ViewData["Title"] = "Mes";
}

<div class="container text-center">
    <h1 class="text-primary">MES Sì, o MES No?</h1>
    <br />
    <p>
        <i class="fa fa-share"></i>
        Il <span class=”text-dark font-weight-bold”>Meccanismo Europeo di Stabilità</span> è stato
        istituito grazie alle modifiche apportate al Trattato di Lisbona, ratificate dal Consiglio UE
        nel marzo del 2011. L’entrata in vigore del fondo salva-Stati, prevista inizialmente per il 
        2013, è stata anticipata al luglio del 2012 a causa di una crisi del debito sempre più pressante.
        E’ di fatto il fondo monetario del Vecchio Continente, avente l’obiettivo di dare sostegno 
        ai Paesi membri in caso di crisi e di probabile default.
        Ad oggi il Meccanismo Europeo di Stabilità ha “salvato” Cipro, Spagna e Grecia. L’Italia,
        dal canto suo, è una delle maggiori sostenitrici del fondo salva-Stati e anche per questo è
        oggi più che mai utile capire cos’è il MES, come funziona davvero questo Meccanismo Europeo
        di Stabilità e perché nel Belpaese sono esplose così tante polemiche, prima sulle ipotesi di
        riforma e poi durante l’emergenza COVID-19.
    </p>
    <br />
</div>