
@{
    ViewData["Title"] = "Partiti";
}


    

<div class=" container">
    <div class="card-deck text-center marginecarddecks">
        <div class="card cardnumber1 cardhover p-1 " style="width: 100%;">
            <img src="~/ImagesJpg/forzaitalia.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard">Forza Italia</h5>
                <p class="card-text"></p>
                <a asp-controller="Home" asp-action="ForzaItalia"class="btn btn-primary">Scopri di più</a>
            </div>
        </div>

        <div class="card cardnumber2 cardhover p-1" style="width:100%">
            <img src="~/ImagesJpg/pd.png" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard">Partito Democratico</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Scopri di più</a>
            </div>
        </div>

        <div class="card cardnumber3 cardhover p-1" style="width: 100%;">
            <img src="~/ImagesJpg/leganew.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard">Lega </h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Scopri di più</a>
            </div>
        </div>
    </div>

    <div class="card-deck text-center marginecarddecks">

        <div class="card cardnumber4 cardhover p-1" style="width: 100%;">
            <img src="~/ImagesJpg/Movimento.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard">MoVimento 5 Stalle</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Scopri di più</a>
            </div>
        </div>

        <div class="card cardnumber5 cardhover p-1" style="width: 100%;">
            <img src="~/ImagesJpg/ItaliaViva.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard">Italia Viva</h5>
                <p class="card-text"></p>
                <a asp-controller="Home" asp-action="ItaliaViva" class="btn btn-primary">Scopri di più</a>
            </div> 
        </div>

        <div class="card cardnumber6 cardhover p-1" style="width: 100%;">
            <img src="~/ImagesJpg/FratelliDItalia.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard">Fratelli d'Italia </h5>                
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Scopri di più</a>
            </div>
        </div>

    </div>
</div>

