@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Referendum";

}



<div class="container text-center">
    <h1 class="text-primary">Referendum costituzionale del 20-21 settembre</h1>
    <br />
    <h5>Ogni cittadino con diritto di voto è chiamato a decidere se approvare o rifiutare le riforme costituzionali fortemente volute dal MoVimento 5 Stelle. Il  referendum del 20-21 settembre 2020 è  di tipo confermativo, e quindi non prevede il quorum. Il quorum è la percentuale
    minima di cittadini che deve andare a votare affinchè la votazione sia valida. Siccome questo referendum non lo prevede, il risultato che ne deriva
    sarà valido a prescindere da quante persone andranno ad esprimere il loro voto alle urne. Le modifiche principali che prevedono le riforme costituzionali sono 3:</h5>
    <br />
    <ul class="list-group-flush text-left">
        <li class="list-group-item">• Riduzione dei deputati dagli attuali 630 a 400 </li>
        <li class="list-group-item">• Riduzione dei senatori dagli attuali 315 a 200</li>
        <li class="list-group-item">• Imposizione di un limite massimo di 5 senatori a vita in carica contemporaneamente</li>
    </ul>
    <br />
    <h5>La domanda che verrà posta a tutti gli elettori che vanno a votare è la seguente:</h5>
    <h6 class="font-weight-normal">
        «Approvate il testo della legge costituzionale concernente"Modifiche agli articoli 56, 57 e 59 della
        Costituzione in materia di riduzione del numero dei parlamentari", approvato dal Parlamento e
        pubblicato nella Gazzetta Ufficiale della Repubblica italiana n.240 del 12 ottobre 2019?»
    </h6>
</div>
    <br />
    <hr class="lineaorizzontale" />
    <br />
<div class="container text-center">
    <h1 class="text-primary">Perchè votare <span class="text-success font-weight-bold">SI</span></h1>
    <br />
    <ul class="list-group text-left">
        <li class="list-group-item list-group-item-action">
            Stima che si aggira tra i 60 e i 100
            milioni di euro risparmiati all'anno grazie agli stipendi tagliati
            (500 milioni per legislazione), che potrebbero essere investiti altrove
            in settori più in difficoltà
        </li>

        <li class="list-group-item list-group-item-action">
            La rappresentatività corrisponderebbe ad un parlamentare ogni 100mila elettori,
            che in rapporto sarebbe in ogni caso sempre di più che in Francia, Germania,
            Regno Unito e USA
        </li>

        <li class="list-group-item list-group-item-action">
            I tre rappresentanti per regione insieme a Camera e Senato per votare il Presidente della Repubblica verrebbero comunque garantiti
        </li>

        <li class="list-group-item list-group-item-action">
            Servirebbe da pungolo per stimolare la proposta di una nuova e necessaria riforma elettorale che a quanto affermato seguirebbe subito
            dopo il referendum a ruota
        </li>

        <li class="list-group-item list-group-item-action">
            Ogni singolo parlamentare assumerebbe molta più
            importanza ai fini di votazione in bilico, così
            potrebbe finalmente emanciparsi dalla linea direttiva del proprio partito e votare seguendo
            una propria individuale coscienza politica
        </li>

        <li class="list-group-item list-group-item-action">
            Si eliminerebbe la frammentazione dei gruppi
            parlamentari, che in questo modo rappresenterebbero
            veramente le principali forze politiche del Paese,
            impedendo ai piccoli partiti di essere ago della
            bilancia nelle varie
            coalizioni
        </li>

        <li class="list-group-item list-group-item-action">
            Oltre a snellire la confusione lavorativa, i
            più ristretti parlamentari sarebbero portati a
            fare meno assenze e a non disertare le votazioni
            (in questa legislazione oltre il 30% dei parlamentari ha saltato una votazione
            su tre)
        </li>
    </ul>
</div>

<br />
<hr class="lineaorizzontale"/>
<br />

<div class="container text-center">
    <h1 class="text-primary">Perchè votare <span class="text-danger font-weight-bold">NO</span></h1>
    <br />
    <ul class="list-group text-left">
        <li class="list-group-item list-group-item-action">        
            Il risparmio sugli stipendi corrisponde circa solo allo 0.007% della spesa pubblica 
        </li>

        <li class="list-group-item list-group-item-action">
            Indebolimento del principio di rappresentatività del territorio: idealmente 
            ogni deputato o senatore dovrebbe rappresentare il suo collegio e fare gli interessi 
            peculiari del suo territorio; meno sono gli eletti, meno l'elettore viene singolarmente
            rappresentato
            
        </li>

        <li class="list-group-item list-group-item-action">
            La riduzione risulterebbe sproporzionata ed irragionevole da regione a  regione:
            alcune infatti perderebbero addirittura i 7 senatori garantiti dalla Costituzione
            (su questo ha lottato la regione Basilicata,
            il cui ricorso è stato bocciato dalla Corte Costituzionale)
        </li>

        <li class="list-group-item list-group-item-action">
            Non trovando un punto d'accordo tramite "correttivi" (piccoli ritocchi di post
            produzione richiesti dal PD a condizione del loro sì) il lasso di tempo tra referendum
            e riforma elettorale potrebbe essere fatale per future legislazioni
        </li>

        <li class="list-group-item list-group-item-action">
            Attualmente il problema del Parlamento è di tipo qualitativo (presenze e attività) 
            e non quantitativo; quindi decurtarne i deputati non sarebbe di nessun aiuto         
        </li>

        <li class="list-group-item list-group-item-action">
            La soglia di sbarramento diverrebbe invalicabile per piccoli e medi partiti 
            (si stima possa raggiungere quasi il 20% al Senato)
        </li>

        <li class="list-group-item list-group-item-action">
            Molti regolamenti parlamentari andrebbero riformulati del tutto, complicando
            a questo punto anche il lavoro delle comissioni
        </li>
    </ul>
</div>
<br />
