@{
    Layout = "_Layout";
    ViewData["Title"] = "Amarsi in Cina";
    ViewData["Keywords"] = "governo, cina, repubblica, famiglia, figli, politica, italia, campanella, protocollo, ministri, conte";
    ViewData["Descrizione"] = "La Cina è famosa per essere lo Stato più popoloso del mondo, con il suo miliardo di abitanti.";
}
<div class="container text-center">
    <p class="text-right">
        26 Maggio 2021
    </p>
    <h1 class="text-primary">Amarsi in Cina</h1>
    <br />
    <h6>
        <span class="font-italic">
            La Cina è famosa per essere lo Stato più popoloso del mondo, con il suo miliardo di
            abitanti. Proprio per questo motivo, nella seconda metà del ‘900 Il Governo Cinese
            ha messo in atto delle politiche per cercare di limitare la grande crescita demografica
            che con il passare degli anni è diventata un problema.
        </span>
    </h6>
    <br />
    <p class="text-left">
        La politica del figlio unico 一孩政策 è stata una delle riforme più significative attuate
        dal Governo Cinese sotto la guida di Deng Xiaoping a partire dal 1979, politica
        criticata da molti, infatti alcuni sono arrivati addirittura a definirla come un abuso dei
        diritti umani. Questa riforma ha creato molti problemi, soprattutto per la popolazione
        femminile. Infatti, le famiglie povere preferivano avere un maschio, che poteva
        costituire un prezioso aiuto nell’ambito lavorativo. Per questo motivo, moltissime
        bambine venivano abbandonate o addirittura uccise.
        <br />
        <br />
        La politica del figlio unico ha fatto della Cina una “one child nation”, dato che la
        riforma è stata abolita solo nel 2013. Oggi le coppie cinesi possono avere due figli
        senza incorrere in nessun tipo di tassazione supplementare, ma al terzo figlio
        possono incorrere in alcune sanzioni.
    </p>
    <br />
    <div class="container">
        <img src="~/PolitiWorld/China1.jpg" alt="Amarsiincina" class="bigImagePolitiCult" />
    </div>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        La politica del figlio unico sicuramente ha portato molti frutti, ma oggi le
        conseguenze si sentono. Infatti la popolazione cinese sta incontrando un forte calo
        demografico anche dovuto a questo motivo. Infatti, l’anno scorso il colosso asiatico
        ha visto la sua popolazione diminuire per la prima volta dal 1949.
        Questo ovviamente può avere delle conseguenze anche sull’economia cinese, a
        oggi quella che ha conosciuto uno sviluppo molto più veloce rispetto a altre potenze.
        <br />
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Ma quali sono le cause di questo enorme calo?
        <br />
        <br />
        Uno studio ha dimostrato che i cinesi tendono a sposarsi meno e questo calo è
        proporzionale a quanto più sviluppata è l’area in cui si svolge la ricerca. I tassi di
        matrimonio più bassi si sono presentati nella costa est della Cina, per esempio nelle
        aree di Shanghai, Zhejiang, Guangdong, Fujian e Tianjin si misura un tasso che va
        dal 4% al 5% su una media nazionale di 6,6%.
        <br />
        Il decremento in questione trova le sue radici nella consistente mobilità che si crea
        nelle aree più sviluppate economicamente. Infatti, con l’aumento della mobilità si
        fatica di più a instaurare relazioni durature e diventa più semplice che queste
        relazioni finiscano prima o poi.
        <br />
        <br />
        Questo ha molto a che fare anche con il tasso di divorzi, infatti un altro studio ha
        dimostrato che nelle stesse aree più sviluppate si trova una percentuale di divorzi
        molto maggiore.
        <br />
        <br />
        Proprio per contrastare le conseguenze di questa tendenza, il Governo Cinese ha
        intenzione di elaborare una propaganda che riesca a trasmettere valori sani per
        quanto riguarda la famiglia, l’amore e il matrimonio.
        <br />
        Concretamente, la Cina ha già fatto passi avanti. Infatti, dal 1 gennaio 2021 è stata
        attuata una modifica al Codice Civile cinese, la quale prevede che le coppie che
        abbiano intenzione di divorziare debbano aspettare 30 giorni prima di iniziare il
        processo. Questa legge è stata attuata per limitare il numero di divorzi e infatti nei
        primi mesi del 2021 si è registrato un calo del 70% per quanto riguarda lo
        scioglimento legale del matrimonio.
        <br />
        Per limitare il calo demografico, invece la Cina ha attuato norme che costituiscono
        l'esatto contrario di quelle di 50 anni fa. Infatti il Governo ha deciso di fornire degli
        incentivi alle coppie che decidano di avere più di un figlio.
        <br />
        <br />
        Insomma la Cina è sempre stato un Paese molto incentrato sugli obiettivi, sul profitto
        e sullo sviluppo economico, mai sui sentimenti e sulle relazioni umane.
        Che questa sia la svolta?
    </p>

</div>