@{ 
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container">
    <div class="card-deck text-center">
        <a asp-controller="PolitiWorld" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
            </div>
        </a>
        <a asp-controller="PolitiWorld" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
            </div>
        </a>
        <a asp-controller="PolitiWorld" asp-action="Index" class="card cardnumber2 cardhover p-1 text-decoration-none" style="width:100%">
            <img src="~/ImagesJpg/in arrivo.jpg" class="card-img-top" alt="immagine non trovata" />
            <div class="card-body">
                <h5 class="card-title nomepartitocard text-dark">In Arrivo...</h5>
            </div>
        </a>
    </div>
</div>