@{
    Layout = "_Layout";
    ViewData["Title"] = "Quando la storia non insegna";
    ViewData["Keywords"] = "governo, riti, repubblica, draghi, mattarella, politica, italia, quirinale, campanella, protocollo, ministri, conte";
    ViewData["Descrizione"] = "Sabato abbiamo assistito alla cerimonia del Giuramento del nuovo governo ed al “rito della campanella”. Queste cerimonie estremamente formali e in pompa magna sono sconosciute ai più ma hanno un gran fascino e molti significati simbolici per la nostra Repubblica. ";
}
<div class="container text-center">
    <p class="text-right">
        7 Aprile 2021
    </p>
    <h1 class="text-primary">Quando la storia non insegna</h1>
    <br />
    <h6>
        <span class="font-italic">
            Chi di noi non ha mai aperto un libro di storia lamentandosi per la poca voglia di studiare?
            Magari tanti si sono anche chiesti a cosa servisse ricordare tutte quelle date e quelle
            vicende di persone che ormai non ci sono neanche più da secoli.
            E se si venisse a scoprire che a circa un milione di persone si potesse salvare la vita se
            qualcuno davvero aprisse un libro di storia e iniziasse a imparare da esso?
        </span>
    </h6>
    <br />
    <p class="text-left">
        Stiamo parlando del popolo degli uiguri, una minoranza etnica di religione musulmana che
        vive nel nord-ovest della Cina nella regione dello Xinjiang (新疆). Questa regione è molto
        famosa per la sua ricchezza di risorse; per questo è da lì che passava la via della seta.
        È qui che sta avvenendo una delle più grandi violazioni dei diritti umani in tutto il mondo.
        Infatti, dove prima c’era solo il deserto, in questa regione sono comparse dal nulla molte
        strutture, che dai video satellitari potrebbero sembrare semplici scuole, ma che sono
        circondate da muri lunghi 1 km, con filo spinato e telecamere in ogni dove.
        Ma cosa contengono queste strutture e perchè il governo Cinese non ne ha mai fatto
        parola?
        <br />
        <br />
        <div class="container">
            <img src="~/PolitiWorld/China.jpg" alt="China" class="bigImagePolitiCult" />
        </div>
    </p>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Da recenti testimonianze di persone che sono state in quelle strutture sappiamo che in
        questa regione sono stati costruiti dei veri e propri campi di concentramento, i più significativi
        dalla seconda guerra mondiale.
        <br />
        Dopo aver appreso questa terribile notizia organizzazioni per la tutela dei diritti umani come
        l’ONU o il “Human Rights Watch” hanno richiesto spiegazioni dal governo Cinese, che ha
        francamente negato tutto ciò di cui lo si accusava.
        <br />
        Addirittura la tv nazionale ha anche realizzato un documentario in cui si vedono immagini di
        ragazzi felici che cantavano canzoni tradizionali cinesi, che cucinavano pane fresco, quando
        ciò che avviene lì è tutt’altro che allegro e spensierato.
        <br/>

    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Una donna che ha fatto testimonianza ha raccontato che la quotidianità era fatta da fame,
        lavoro forzato e soprattutto violenza, soprattutto nei confronti delle donne. Infatti, come
        racconta lei, gli stupri erano all’ordine del giorno. Molte donne sono picchiate, magari perchè
        si sono rifiutate di fare delle dichiarazioni o di rispondere alle domande. Le persone sono
        trattate come animali.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Ma quali sono le ragioni del Governo Cinese per internare così tante persone? I motivi sono
        principalmente tre:
        <br />
        <br />
         <span class="font-weight-bold">1.</span>	 motivazione preventiva: dall’11 settembre 2001 si sono verificati atti di
        discriminazione contro la popolazione musulmana, per paura che avvenissero
        episodi di terrorismo anche in Cina. Le persone sono arrestate anche per motivi
        estremamente infondati, come lo installare whatsapp sul cellulare o avere il Corano
        in casa. Quindi non solo una motivazione è l’aver commesso atti di terrorismo, ma
        solo il sospetto che possano essere commessi in futuro. Gli uiguri costituiscono solo
        una percentuale bassissima rispetto alla popolazione cinese, ma sono comunque
        vittime del 20% degli arresti nazionali;
        <br />
        <br />
        <span class="font-weight-bold">2.</span>	 motivazione pedagogica: l’interesse principale del Governo Cinese è quello di
        educare i bambini uiguri per farli partecipi di un processo di sinizzazione, cioè di
        accentramento culturale e linguistico nell’orbita della civiltà cinese;
        <br />
        <br />
        <span class="font-weight-bold">3.</span>	 motivazione economica: forse la più importante. Come succedeva nell’antichità
        anche oggi la nuova “via della seta” passa per lo XinJiang. Infatti, come spesso
        accade gli interessi economici nel commercio internazionale sono incentrati nel
        basso costo di manodopera. Grazie a questi campi di concentramento, infatti si può
        facilmente mantenere il costo della manodopera ad un livello bassissimo. In modo
        rilevante si ha la produzione di cotone;
        <br />
        <br />
    </p>
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Quindi è evidente come anche le nostre scelte quotidiane in fatto di abbigliamento possano
        cambiare questa orribile questione. Per esempio, marche importanti di abbigliamento come
        H&M e Nike si sono rifiutate di comprare cotone proveniente dallo XinJiang.
        <br />
        Recentemente l’Italia e la Cina hanno firmato un accordo per quanto riguarda il commercio
        tra i nostri paesi, senza però porre troppa attenzione ai diritti umani.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        In conclusione, è inaudito come nessuno di noi, che viviamo in un paese democratico
        avrebbe pensato che questi fatti accadessero ancora. Lo abbiamo solo studiato nei libri di
        storia. Ed è proprio questo che ci deve insegnare la storia: a non ripetere gli stessi errori nel
        passato e a lottare per conferire una vita dignitosa a tutte le persone.
        <br />
        Ovviamente noi nel nostro piccolo non potremo fermare un genocidio, ma possiamo fare
        delle scelte equosolidali per fermare il circolo vizioso che si è andato a formare.
        <br />
    </p>
</div>