@{
    Layout = "_Layout";
    ViewData["Title"] = "Sulla punta dell'iceberg";
    ViewData["Keywords"] = "politix italia, politixitalia, cultura, politicando oggi, attualità, 2020";
    ViewData["Descrizione"] = "Perché dovrebbe esistere PolitiX? Perché un gruppo di ragazzi che sta per affrontare la maturità 2020 nel bel mezzo dei primi terribili mesi di lockdown causati dalla pandemia si mette in testa di creare un sito sulla politica senza nessun tipo di guadagno?";
}

<div class="container text-center">
    <p class="text-right">
        21 Aprile 2021
    <p />
    <h1 class="text-primary">Sulla punta dell'iceberg</h1>
    <br />
    <h6>
        <span class="font-italic">
            Tutti abbiamo sentito parlare dello scioglimento dell'iceberg più grande del mondo,
            l’A68, blocco di ghiaccio che nel 2017 si era staccato dall’Antartide. Lo scioglimento
            dei ghiacciai e degli iceberg è una delle problematiche più gravi del nostro millennio
            e purtroppo si sta aggravando molto velocemente.
            <br />
        </span>
    </h6>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Infatti questa è una catastrofe nella catastrofe: innanzitutto quando i ghiacciai si
        sciolgono viene compromesso l’habitat per molti animali artici e antartici; in secondo
        luogo l’aumento di massa liquida sulla terra potrebbe portare a stravolgimenti
        climatici catastrofici quali cicloni e tempeste.
        <br />
        <br />
        Ma quali sono le cause che fanno alzare la temperatura sulla Terra?
        <br />
        <br />
        ●    produzione di CO2, che può provenire dai trasporti, dagli allevamenti e dalle
        industrie.
        <br />
        <br />
        ●    deforestazione
        <br />
        <br />
        ●    sfruttamento dei combustibili fossili per creare energia
        <br />
        <br />
        Questo ovviamente è un <span class="font-weight-bold">circolo vizioso</span>: infatti la diminuzione della massa bianca
        fa sì che le radiazioni solari vengano riflesse meno, causando un ulteriore aumento
        della temperatura.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Spesso sentiamo parlare delle piccole cose che possiamo fare nella nostra
        quotidianità per contrastare il cambiamento climatico, ma allo stesso modo
        sembriamo tutti essere troppo pigri per fare un passo verso l’ecosistema.
        <br />
        In poche parole prendiamo in considerazione solo la <span class="font-weight-bold">punta dell’iceberg</span>, vediamo il
        problema e lo percepiamo come troppo lontano e troppo grande per gestirlo.
        Per questo dovremmo provare a iniziare dalle piccole azioni quotidiane che possono
        salvare il nostro pianeta.
        <br />
        <br />
        <span class="font-weight-bold">Guida per salvare il mondo</span>:
        <br />
        <br />
        ●    prova a ridurre tu per primo il consumo di <span class="font-weight-bold">CO2</span>, privilegiando i trasporti
        pubblici all’auto;
        <br />
        <br />
        ●    limita il consumo di carne, prova a ridurre l’assunzione di <span class="font-weight-bold">carne</span> rossa a una
        volta a settimana e privilegia le carni che non provengono da allevamenti
        intensivi;
        <br />
        <br />
        ●    ottimizza i <span class="font-weight-bold">consumi energetici</span>, così facendo limiterai la produzione di CO2.
        Dai la priorità a elettrodomestici a basso consumo, sostituisci le vecchie
        lampadine con soluzioni a LED e prova a ridurre la temperatura del
        termostato;
        <br />
        <br />
        ●    se ne hai la possibilità opta per <span class="font-weight-bold">fonti di energia rinnovabile</span> per il tuo
        approvvigionamento personale. I pannelli solari sono un’ottima alternativa;
        <br />
        <br />
        ●    scegli alimenti a <span class="font-weight-bold">chilometro zero</span> e di stagione;
        <br />
        <br />
        ●    so che è dura, ma prova a privilegiare i negozi fisici a negozi online. Si è
        infatti stimato che i trasporti dovuti all’<span class="font-weight-bold">e-commerce</span> causano il 30%
        dell’inquinamento solo in italia.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Purtroppo lo scioglimento dei ghiacciai è solo uno dei problemi legati all’impatto
        ambientale dell’uomo. Infatti, anche l’inquinamento da plastica è una problematica
        urgente da affrontare.
        <br />
        Forse più che nell’altro caso, qui possiamo davvero dare una mano, facendo una
        spesa sostenibile e <span class="font-weight-bold">senza molto packaging</span>, smettere di utilizzare posate usa e
        getta e se possibile realizzare gli alimenti in casa, come il pane, i biscotti, i dolci e se
        si vuole anche lo yoghurt o il gelato.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        In conclusione, con poche piccole azioni possiamo davvero lasciare un’impronta per
        la nostra generazione e per le future, facendo delle scelte ecosostenibili e riuscendo
        a guardare oltre a solo la punta dell’iceberg.
        <br />
        <br />
    </p>
</div>
