
@{
    ViewData["Title"] = "TuttoAMaggio";
    Layout = "_Layout";
    ViewData["Descrizione"] = " La storia è sempre stata caratterizzata da movimenti, da guerre e rivendicazioni. No abbiamo sempre studiato la storia occidentale, sappiamo le date più importanti, ma ci accorgiamo di sapere ben poco di cosa sia successo negli altri paesi.";
    ViewData["Keywords"] = "politixitalia, politix italia, maggio, francia, napoleone";
}


<div class="container text-center">
    <p class="text-right">
        5 Maggio 2021
    </p>
    <h1 class="text-primary">Tutto a Maggio</h1>
    <br />
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        La storia è sempre stata caratterizzata da movimenti, da guerre e rivendicazioni. Noi
        abbiamo sempre studiato la storia occidentale, sappiamo le date più importanti, ma
        ci accorgiamo di sapere ben poco di cosa sia successo negli altri paesi. Può essere
        per un motivo di lontananza, oppure non sono stati abbastanza influenti da cambiare
        la storia dei paesi europei. Indipendentemente da quale sia stato il motivo anche i
        paesi più remoti rispetto a noi hanno delle date importanti e una storia che merita
        essere conosciuta.
        <br />
    </p>
    <br />
    <p class="text-left">
        <i class="fa fa-share text-primary"></i>
        Per esempio, siamo tutti venuti a sapere che ieri migliaia di cinesi sono andati a
        visitare la grande muraglia in occasione della festa del 4 maggio, ma non ci siamo
        ben chiesti il perchè. In Cina il 4 maggio è una festa molto importante perché è
        l’anniversario di una tra le numerose rivolte di studenti cinesi, che avvenendo
        ripetutamente sono sfociate in un vero e proprio movimento, appunto, il Movimento
        del 4 maggio (五四运动). Questo movimento studentesco denunciava le decisioni del
        governo di allora per quanto riguardava le disposizioni di Versailles, trattato in cui la
        Cina non aveva ricevuto un adeguato riconoscimento.
        Ovviamente, così come succede in Italia, le feste nazionali sono molto sentite negli
        animi cinesi, ma quest’anno l’evento è stato speciale dato che sono passati 100 anni
        dalla fondazione del Partito Comunista in Cina, partito che determina ancora oggi
        l’orientamento politico del Governo Cinese. La fondazione di questo gruppo partitico
        deve molto al movimento del 4 maggio, ed è per questo che così tante persone si
        sono riunite in questa giornata di festa.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Quasi per coincidenza, dall’altra parte del mondo oggi 5 maggio in Messico si
        festeggia il Cinco de Mayo, una festività che affonda le sue radici nella guerra tr
        messicani-statunitensi e francesi, che trova la sua fine il 5 maggio 1862 con la
        sconfitta francese. La festività è stata istituita grazie alla volontà della popolazio
        sia messicana che statunitense di continuare a esaltare i valori di indipendenza
        libertà e democrazia. L’evento è così importante perchè se la guerra fosse anda
        modo diverso, la popolazione messicana sicuramente non avrebbe avuto la ste
        storia che conosciamo e probabilmente sarebbe ancora sotto l’influenza della
        potenza francese.
        Insomma, per i francesi il 5 maggio non è proprio un bel giorno da ricordare!
        (Scusaci Napoleone!)
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Sempre a maggio abbiamo molte altre festività sparse nel mondo che ricorda
        cittadini dei vari paesi l’importanza di ricordare le date che hanno fatto la stor
        senza le quali l’assetto geopolitico di oggi forse non sarebbe lo stesso. Ovvia
        per noi e per il Vietnam il 1° maggio è la Festa del Lavoro (ne abbiamo già p
        nell’articolo precedente), il 3 maggio per la Polonia è la festa della prima
        Costituzione, per la Turchia il 19 maggio è la festa della gioventù, in ricordo di resistenza alle truppe di occupazione nel 1919. Per molte altri paesi, sempre a
        maggio ricorre la festa della Repubblica.
        <br />
        <br />
        <i class="fa fa-share text-primary"></i>
        Tutte queste festività hanno qualcosa in comune: persone che hanno lottato per il
        loro Paese, che hanno perseguito i valori di indipendenza e libertà. Questo mese,
        prendiamoci quindi un momento per pensare a quante libertà si danno per scontate.
        Continuiamo a difendere i valori per i quali le persone hanno lottato ieri, per fare in
        modo che oggi ci venga garantito di vivere in un mondo non più schiavo, ma libero.
    </p>
</div>
