<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PolitiXitalia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" href="~/css/StileDiProva.css"/>
</head>
<body>
    <header>
        <nav style="background-color:#f5a045" class="navbar navbar-expand-md navbar-dark fixed-top colorenavbar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"> <img src="~/ImagesPng/Logovoltabuona.png" alt="Brand Image" style="max-height : 50%; max-width: 6.5rem;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarResponsive">
                    <ul class="navbar-nav font-weight-bold" style="font-size:large">
                        <li class="nav-item "><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item "><a class="nav-link" asp-controller="Home" asp-action="ChiSiamo">Chi Siamo</a></li>
                        <li class="nav-item" ><a class="nav-link" asp-controller="Home" asp-action="ElezioniRegionali">Elezioni Regionali</a></li>
                        <li class="nav-item" ><a class="nav-link" asp-controller="Home" asp-action="Referendum">Referendum</a></li>
                        <li class="nav-item "><a class="nav-link" asp-controller="Home" asp-action="Partiti">Partiti</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    

    <!--Tutte le altre pagine inseriranno il body qui > scegli bene questo div se lo vuoi
      container oppure container-fluid-->
    <div class="container-fluid distaccamentoperilfixed azzeramentopadding p-0" > <!--Perchè se imposto il padding 0 attraverso una classe esterna non funziona?-->
        <!--  NOTA: Se togli questo div si incazza e apre il sito zoomato indietro un botto> Lascia sto Div!-->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color:#f5a045"class="border-top footer text-muted ">
        <div style="color:#FFFFFF80;"class="container coloretextfooter">
            &copy; 2020 - PolitiXitalia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
