@{
    Layout = "_Layout";
}

@RenderBody()


<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


    <div class="container-fluid backgroundcontainer angolismussaticontainer"> <!--Perchè angolismussaticontainer non fa come classe?-->
        <div class="container bg-dark">
            <div class="row ">
                <div class="col-md-3 col-sm-12 text-light">
                    <h1>@ViewData["NomePartito"]</h1>
                </div>
                <div class="col-md-3 mr-auto">
                    <img class="img-fluid img-thumbnail Immagine bg-dark" src="~/ImagesJpg/@ViewData["ImmaginePartito"]" alt="Immagine di Italia Viva" />
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title nomepartitocard">@ViewData["NomePartito"]</h5>
                            <p class="card-text">@ViewData["DescrizioneOggettivaPartito"]</p>
                            <a href="#" class="btn btn-primary">Scopri di più</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
