body{
   padding-top: 90px;
  
}

.arancione{
    background-color: orange;
}

.sfondo {
    background-color: #f5a045;
}

.angolismussati {
    border-radius: 0.25rem;
}
.citazione {
    color: black !important;
    font-weight: bold;
}

.immaginePianoMarshall{
    max-height:200px;
    max-width:300px;
}
.immagineSchedaElettorale{
    max-height: 200px;
    max-width : 300px;
}

.immaginePolitiCult{
     max-height: 200px;
    max-width: 300px;
    border: 2px solid;
    border-color: #007bff;
    border-color: #f5a045;
}
.bottone100percento{
    width:100%;
}
.lineaorizzontale {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 6;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.immaginegruppoeuropeo {
    max-height: 180px;
    max-width: 200px;
}
.immagineleaderpresentazionepartito{
    max-height:200px;
    max-width:265px;
    border: 2px solid;
    border-color: black;
}
.cardpresentazionepartito{
   
}
.immaginepresentazionepartito{
    max-height: 190px;
    max-width: 190px;
}

.immaginepartitopresentazionepartito{
    max-height: 100px;
    max-width: 100px;
}
.nomepartitopresentazionepartito{
    text-align: center;
}
.paddingmedia{
    padding: 5px;
}
.cardnumber1:hover{

    border-color:dodgerblue;
    background-color: dodgerblue;
}

.cardnumber2:hover{

    border-color:dodgerblue;
    background-color:dodgerblue;
}

.cardnumber3:hover{

    border-color:dodgerblue;
    background-color:dodgerblue;
}

.nomepartitocard{

    font-weight:bold;
}

.cardnumber4:hover{
    border-color:dodgerblue;
    background-color: dodgerblue;
}

.cardnumber5:hover{
    border-color:dodgerblue;
    background-color:dodgerblue;
}

.cardnumber6:hover{
    border-color:dodgerblue;
    background-color:dodgerblue;
}

.cardhover:hover{
    border-color: lightgrey;
    background-color:lightgrey;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: none;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.marginecarddecks{
    margin-bottom: 0.30rem;
}

.backgroundcontainer{
    background-color:lightgrey;
}

.angolismussaticontainer{
    border-radius: .25rem;
}

.colorenavbar {
    background-color: #f5a045;
}

.accauno{
    color: red;
}

