body{
   padding-top: 58px;
  
}
.cardnumber1:hover{

    border-color:dodgerblue;
    background-color: dodgerblue;
}

.cardnumber2:hover{

    border-color:dodgerblue;
    background-color:dodgerblue;
}

.cardnumber3:hover{

    border-color:dodgerblue;
    background-color:dodgerblue;
}

.nomepartitocard{

    font-weight:bold;
}

.cardnumber4:hover{
    border-color:dodgerblue;
    background-color: dodgerblue;
}

.cardnumber5:hover{
    border-color:dodgerblue;
    background-color:dodgerblue;
}

.cardnumber6:hover{
    border-color:dodgerblue;
    background-color:dodgerblue;
}

.cardhover:hover{
    border-color: lightgrey;
    background-color:lightgrey;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: none;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.marginecarddecks{
    margin-bottom: 0.30rem;
}

.backgroundcontainer{
    background-color:lightgrey;
}

.angolismussaticontainer{
    border-radius: .25rem;
}

.colorenavbar {
    background-color: #f5a045;
}

.accauno{
    color: red;
}

